/*ANIMATION*/
@-webkit-keyframes aniScrollDown { 
from{transform:translateX(55px)}
to{transform:translateX(-10px)}
}

@keyframes aniScrollDown { 
from{transform:translateX(55px)}
to{transform:translateX(-10px)}
}

@-webkit-keyframes Reveal {
from{-webkit-transform:scale(0.001);transform:scale(0.001)}
to{-webkit-transform:scale(1);transform:scale(1)}
}

@keyframes Reveal {
from{-webkit-transform:scale(0.001);transform:scale(0.001)}
to{-webkit-transform:scale(1);transform:scale(1)}
}

@-webkit-keyframes Slide {
  to {-webkit-transform:translateX(1.5em);transform:translateX(1.5em)}
}

@keyframes Slide {
  to {-webkit-transform:translateX(1.5em);transform:translateX(1.5em)}
}

@keyframes BgColor {
	from {background-color:rgba(0,72,53,1)}
	to {background-color:rgba(176, 92, 30, 1)}
}
@-webkit-keyframes BgColor {
	from {color:rgba(0,72,53,1)}
	to {color:rgba(176, 92, 30, 1)}
}

@keyframes BgColor1 {
	from {background-color:rgba(176, 92, 30, 1)}
	to {background-color:rgba(0,72,53,1)}
}
@-webkit-keyframes BgColor1 {
	from {background-color:rgba(176, 92, 30, 1)}
	to {background-color:rgba(0,72,53,1)}
}

@keyframes Color {
	from {color:rgba(0,72,53,1)}
	to {color:rgba(176, 92, 30, 1)}
}

@-webkit-keyframes Color {
	from {color:rgba(0,72,53,1)}
	to {color:rgba(176, 92, 30, 1)}
}

@keyframes Color1 {
	from {color:rgba(176, 92, 30, 1)}
	to {color:rgba(0,72,53,1)}
}

@-webkit-keyframes Color1 {
	from {color:rgba(176, 92, 30, 1)}
	to {color:rgba(0,72,53,1)}
}


@keyframes zezoWidth{
  to{width:0}
}

@-webkit-keyframes zezoWidth{
  to{width:0}
}

@keyframes aniWidth{
  to{width:100%}
}

@-webkit-keyframes aniWidth{
  to{width:100%}
}

@keyframes zezoHeight{
  to{height:0}
}

@-webkit-keyframes zezoHeight{
  to{height:0}
}

@keyframes aniHeight{
  to{height:100%}
}

@-webkit-keyframes aniHeight{
  to{height:100%}
}

@keyframes flowHeight{
  to{height:120px}
}

@-webkit-keyframes flowHeight{
  to{height:120px}
}

@-webkit-keyframes fallPerspective {
	100% {-webkit-transform:translateZ(0px) translateY(0px) rotateX(0deg);opacity:1}
}

@keyframes fallPerspective {
	100% {-webkit-transform:translateZ(0px) translateY(0px) rotateX(0deg);opacity:1}
}

@-webkit-keyframes Preloader {
100% {-webkit-transform:rotate(360deg)}
}
@keyframes Preloader {
100% {transform:rotate(360deg)}
}


@-webkit-keyframes Play{
  from{background-position:0px}
  to{background-position:-360px}
}
@keyframes Play{
  from{background-position:0px}
  to{background-position:-360px}
}

@-webkit-keyframes Ani{
0%{box-shadow:0 0 0 rgba(220,220,220,0);border:1px solid rgba(220,220,220,0);-webkit-transform:scale(0);transform:scale(0)}
70%{box-shadow:0 0 50px rgba(220,220,220,1);border:1px solid rgba(220,220,220,1);-webkit-transform:scale(1);transform:scale(1)}
100%{box-shadow:0 0 60px rgba(220,220,220,0);border:0 solid rgba(220,220,220,0);-webkit-transform:scale(1.5);transform:scale(1.5)}
}

@keyframes Ani{
0%{box-shadow:0 0 0 rgba(220,220,220,0);border:1px solid rgba(220,220,220,0);transform:scale(0)}
70%{box-shadow:0 0 50px rgba(220,220,220,1);border:1px solid rgba(220,220,220,1);transform:scale(1)}
100%{box-shadow:0 0 60px rgba(220,220,220,0);border:0 solid rgba(220,220,220,0);transform:scale(1.5)}
}
@-webkit-keyframes Bg-Animation {
0% {-webkit-transform:scale(1)}
70% {-webkit-transform:scale(1.15)}
100% {-webkit-transform:scale(1)}
}

@keyframes Bg-Animation {
0% {transform:scale(1)}
70% {transform:scale(1.15)}
100% {transform:scale(1)}
}


@keyframes Leftpage{
  from{left:-100%}
  to{left:100%}
}
@-webkit-keyframes Leftpage{
 from{left:-100%}
  to{left:100%}
}

@keyframes Rotate{
from{transform:rotate(0deg) translateZ(0)}
to{transform:rotate(360deg) translateZ(0)}
}
@-webkit-keyframes Rotate{
from{-webkit-transform:rotate(0deg) translateZ(0)}
to{-webkit-transform:rotate(360deg) translateZ(0)}
}



@-webkit-keyframes empty{
  0%{opacity:1}
}
@keyframes empty{
  0%{opacity:1}
}
@-webkit-keyframes fadeIn{
  0%{opacity:0}
  100%{opacity:1}
}
@keyframes fadeIn{
  0%{opacity:0}
  100%{opacity:1}
}
@-webkit-keyframes fadeOut{
  0%{opacity:1}
  100%{opacity:0}
}
@keyframes fadeOut{
  0%{opacity:1}
 100%{opacity:0}
}
@-webkit-keyframes fadeOff{
  0%{opacity:1}
  100%{opacity:0;-webkit-transform:scaleX(0);	 transform:scaleX(0)}
  
}

@keyframes fadeOff{
  0%{opacity:1}
  100%{opacity:0;-webkit-transform:scaleX(0);transform:scaleX(0)}
}

@-webkit-keyframes fadeOn{
  0%{opacity:0}
  100%{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}
  
}
@keyframes fadeOn{
   0%{opacity:0}
   100%{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}
   
}

@-webkit-keyframes backSlideOut{
  25%{opacity:.5;-webkit-transform:translateZ(-500px)}
  75%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%)}
  100%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%)}
}
@keyframes backSlideOut{
  25%{opacity:.5;transform:translateZ(-500px)}
  75%{opacity:.5;transform:translateZ(-500px) translateX(-200%)}
  100%{opacity:.5;transform:translateZ(-500px) translateX(-200%)}
}
@-webkit-keyframes backSlideIn{
  0%, 25%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(200%)}
  75%{opacity:.5;-webkit-transform:translateZ(-500px)}
  100%{opacity:1;-webkit-transform:translateZ(0) translateX(0)}
}
@keyframes backSlideIn{
  0%, 25%{opacity:.5;transform:translateZ(-500px) translateX(200%)}
  75%{opacity:.5;transform:translateZ(-500px)}
  100%{opacity:1;transform:translateZ(0) translateX(0)}
}
@-webkit-keyframes scaleToFade{
  to{opacity:0;-webkit-transform:scale(.8)}
}
@keyframes scaleToFade{
  to{opacity:0;transform:scale(.8)}
}
@-webkit-keyframes Go{
  from{background-position:center 50px}

  to{background-position:center 140px}
}
@keyframes Go{
  from{background-position:center 50px}
  to{background-position:center 140px}
}

@-webkit-keyframes goDown{
  from{-webkit-transform:translateY(-100%)}
}
@keyframes goDown{
  from{transform:translateY(-100%)}
}

@-webkit-keyframes scaleUpFrom{
  from{opacity:0;-webkit-transform:scale(1.5)}
}
@keyframes scaleUpFrom{
  from{opacity:0;transform:scale(1.5)}
}

@-webkit-keyframes scaleUpTo{
  to{opacity:0;-webkit-transform:scale(1.5)}
}
@keyframes scaleUpTo{
  to{opacity:0;transform:scale(1.5)}
}

@-webkit-keyframes fadeTop{
  0%{opacity:0;-webkit-transform:translate3d(0, -500px, 0);transform:translate3d(0, -500px, 0)}
  100%{opacity:1;-webkit-transform:none;transform:none}
}

@keyframes fadeTop{
  0%{opacity:0;-webkit-transform:translate3d(0, -500px, 0);transform:translate3d(0, -500px, 0)}
  100%{opacity:1;-webkit-transform:none;transform:none}
}


@-webkit-keyframes fadeInUp{
 0%{opacity:0;-webkit-transform:translateY(100px)}
 100%{opacity:1;-webkit-transform:translateY(0px)}
}

@keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translateY(100px)}
  100%{opacity:1;-webkit-transform:translateY(0px)}
}

@-webkit-keyframes fadeInDown{
  0%{opacity:0;-webkit-transform:translateY(-100px)}
  100%{opacity:1;-webkit-transform:translateY(0px)}
}

@keyframes fadeInDown{
  0%{opacity:0;transform:translateY(-100px)}
	100%{opacity:1;transform:translateY(0px)}
}


@-webkit-keyframes flipInX{
  0%{-webkit-transform:perspective(400px) rotateX(90deg)   scale(0.5);opacity:0}
  100%{-webkit-transform:perspective(400px) rotateX(0deg)  scale(1);opacity:1}
}

@keyframes flipInX{
  0%{transform:perspective(400px) rotateX(90deg)   scale(0.5);opacity:0}
  100%{transform:perspective(400px) rotateX(0deg)  scale(1);opacity:1}
}

@-webkit-keyframes flipOutX{
  0%{-webkit-transform:perspective(400px) rotateX(0deg)  scale(1);opacity:1}
  100%{-webkit-transform:perspective(400px) rotateX(90deg)   scale(0.5);opacity:0}
}

@keyframes flipOutX{
  0%{transform:perspective(400px) rotateX(0deg)  scale(1);opacity:1}
  100%{transform:perspective(400px) rotateX(90deg)  scale(0.5);opacity:0}
}

@-webkit-keyframes goRight{
 0%{opacity:0;-webkit-transform:translate3d(-100px, 0, 0);transform:translate3d(-100px, 0, 0)}
 100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}

@keyframes goRight{
 0%{opacity:0;-webkit-transform:translate3d(-100px, 0, 0);transform:translate3d(-100px, 0, 0)}
 100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}

@-webkit-keyframes goRightL{
 0%{opacity:0;-webkit-transform:translate3d(-50%, 0, 0);transform:translate3d(-50%, 0, 0)}
 100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}

@keyframes goRightL{
 0%{opacity:0;-webkit-transform:translate3d(-50%, 0, 0);transform:translate3d(-50%, 0, 0)}
 100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}

@-webkit-keyframes goLeft{
 0%{opacity:0;-webkit-transform:translate3d(100px, 0, 0);transform:translate3d(100px, 0, 0)}
 100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}

@keyframes goLeft{
 0%{opacity:0;-webkit-transform:translate3d(100px, 0, 0);transform:translate3d(100px, 0, 0)}
 100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}

@-webkit-keyframes goLeftL{
 0%{opacity:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0)}
 100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}

@keyframes goLeftL{
 0%{opacity:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0)}
 100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}

@-webkit-keyframes scaleSmall{
0%{opacity:0;-webkit-transform:scale(0.8)}
100%{opacity:1;-webkit-transform:scale(1)}
}
@keyframes scaleSmall{
0%{opacity:0;transform:scale(0.8)}
100%{opacity:1;transform:scale(1)}
}

@-webkit-keyframes scaleMidium{
0%{opacity:0;-webkit-transform:scale(0.96)}
100%{opacity:1;-webkit-transform:scale(1)}
}
@keyframes scaleMidium{
0%{opacity:0;transform:scale(0.96)}
100%{opacity:1;transform:scale(1)}
}


@-webkit-keyframes scaleLarge{
0%{opacity:0;-webkit-transform:scale(1.5)}
100%{opacity:1;-webkit-transform:scale(1)}
}
@keyframes scaleLarge{
0%{opacity:0;transform:scale(1.5)}
100%{opacity:1;transform:scale(1)}
}


@-webkit-keyframes trackBallSlide { 
 0% {opacity:1;-webkit-transform:translateY(-12px);transform:translateY(-12px)}
 15% {opacity:0;-webkit-transform:translateY(8px);transform:translateY(8px)}
 30% {opacity:1;-webkit-transform:translateY(-12px);transform:translateY(-12px)}
 50% {opacity:0;-webkit-transform:translateY(8px);transform:translateY(8px)}
 60% {opacity:1;-webkit-transform:translateY(-12px);transform:translateY(-12px)}
 100% {opacity:1;-webkit-transform:translateY(-12px);transform:translateY(-12px)}
}
@keyframes trackBallSlide { 
 0% {opacity:1;-webkit-transform:translateY(-12px);transform:translateY(-12px)}
 15% {opacity:0;-webkit-transform:translateY(8px);transform:translateY(8px)}
 30% {opacity:1;-webkit-transform:translateY(-12px);transform:translateY(-12px)}
 50% {opacity:0;-webkit-transform:translateY(8px);transform:translateY(8px)}
 60% {opacity:1;-webkit-transform:translateY(-12px);transform:translateY(-12px)}
 100% {opacity:1;-webkit-transform:translateY(-12px);transform:translateY(-12px)}
}


@-webkit-keyframes Start{
	from{visibility:hidden}
	to{visibility:visible}
}
@keyframes Start{
	from{visibility:hidden}
	to{visibility:visible}
}

@-webkit-keyframes DrawStroke {
0% {stroke-dashoffset:300; }
100%{stroke-dashoffset:0;}
}
@keyframes DrawStroke {
0% {stroke-dashoffset:300; }
100%{stroke-dashoffset:0; }
}


/*ANIMATION*/
.rotatenew{-webkit-animation-name:RotateNew;animation-name:RotateNew ;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-direction:alternate}
.fadein {-webkit-animation-name:fadeIn;animation-name:fadeIn;-webkit-animation-duration:0.8s;animation-duration:0.8s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.fadeout {-webkit-animation-name:fadeOut;animation-name:fadeOut;-webkit-animation-duration:0.5s;animation-duration:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.flipoutx {-webkit-backface-visibility:visible !important;backface-visibility:visible !important;-webkit-animation-name:flipOutX;animation-name:flipOutX;-webkit-animation-duration:0.8s;animation-duration:0.8s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.flipinx {-webkit-backface-visibility:visible !important ;backface-visibility:visible !important ;-webkit-animation-name:flipInX;animation-name:flipInX;-webkit-animation-duration:0.8s;animation-duration:0.8s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.fadeindown {-webkit-animation-name:fadeInDown;animation-name:fadeInDown;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.fadeinup {-webkit-animation-name:fadeInUp;animation-name:fadeInUp;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.fadeoff {-webkit-animation-name:fadeOff;animation-name:fadeOff;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.fadeon {-webkit-animation-name:fadeOn;animation-name:fadeOn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.goleft {-webkit-animation-name:goLeft;animation-name:goLeft;-webkit-animation-duration:0.8s;animation-duration:0.8s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.goright {-webkit-animation-name:goRight;animation-name:goRight;-webkit-animation-duration:0.8s;animation-duration:0.8s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.scalelarge{-webkit-animation:scaleLarge;animation:scaleLarge;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


/* fade */
.slide-fade-out {-webkit-animation:fadeOut;animation:fadeOut;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.slide-fade-in {z-index:10;-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
/* backSlide */
.slide-backSlide-out {-webkit-animation:backSlideOut;animation:backSlideOut;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.slide-backSlide-in {-webkit-animation:backSlideIn;animation:backSlideIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
/* goDown */
.slide-goDown-out {-webkit-animation:scaleToFade;animation:scaleToFade;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.slide-goDown-in { -webkit-animation:goDown;animation:goDown;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
/* scaleUp */
.slide-fadeUp-in {-webkit-animation:scaleUpFrom;animation:scaleUpFrom;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.slide-fadeUp-out {-webkit-animation:scaleUpTo;animation:scaleUpTo;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}




/*TITLE ANIMATION*/
.title, .outer-nav, .filter-outer{opacity:0}
.flow-line::before{height:0}
.flow-line.on-show::before{-webkit-animation:aniHeight;animation:aniHeight;-webkit-animation-duration:1.5s;animation-duration:1.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.title.on-show, .outer-nav.on-show, .filter-outer.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}



/*HOME ANIMATION*/
.welcome-item, .inspi-txt, .inspi-box, .designers-bg, .designers-txt, .general-item{opacity:0}
.welcome-item:nth-child(4n + 1).on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.3s;animation-delay:0.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.welcome-item:nth-child(4n + 2).on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.4s;animation-delay:0.4s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.welcome-item:nth-child(4n + 3).on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.welcome-item:nth-child(4n + 4).on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.6s;animation-delay:0.6s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}

.inspi-txt.on-show, .inspi-box.on-show, .designers-bg.on-show, .designers-txt.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.designers-content .title.on-show{-webkit-animation:fadeInUp;animation:fadeInUp;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.general-item:nth-child(1).on-show{-webkit-animation:goRight;animation:goRight;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.3s;animation-delay:0.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.general-item:nth-child(2).on-show{-webkit-animation:fadeInDown;animation:fadeInDown;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.3s;animation-delay:0.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.general-item:nth-child(3).on-show{-webkit-animation:fadeInUp;animation:fadeInUp;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.3s;animation-delay:0.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}

/*ABOUT ANIMATION*/
.video-box, .why-concept-txt, .why-aconcept-box, .our-design-box, .our-value-box, .line-intro{opacity:0}
.video-box.on-show, .why-concept-txt.on-show, .why-aconcept-box.on-show, .our-design-box.on-show, .our-value-box.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


/*FUNITURE ANIMATION*/
.line-item{opacity:0}
.line-item:nth-child(2n + 1).on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.3s;animation-delay:0.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.line-item:nth-child(2n + 2).on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.4s;animation-delay:0.4s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.line-intro.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


/*PRODUCT LIST*/
.product-list .product-item{opacity:0}
.product-list .product-item:nth-child(2n + 1).on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.3s;animation-delay:0.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.product-list .product-item:nth-child(2n + 2).on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.4s;animation-delay:0.4s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


/*PRODUCT DETAILS*/
.breadcrumb, .detail-wrap, .wishclick-box, .rate-box, .detail-name, .detail-pics, .detail-thumbs, .detail-info{opacity:0}
.horizon-line{-webkit-transform: scale3d(0, 1, 1);transform: scale3d(0, 1, 1);-webkit-transition:all 1.5s ease-in-out;transition:all 1.5s ease-in-out;}
.horizon-line.on-show{-webkit-transform:scale3d(1, 1, 1);transform: scale3d(1, 1, 1)}
.breadcrumb.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.detail-wrap.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:0.2s;animation-duration:0.2s;-webkit-animation-delay:0.3s;animation-delay:0.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.wishclick-box.on-show, .rate-box.on-show, .detail-name.on-show, .detail-pics.on-show, .detail-thumbs.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.detail-info.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.7s;animation-delay:0.7s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


/*OUR STORE*/
.store-txt, .store-details, .gallery-item{opacity:0}
.store-location::after{content:'';position:absolute;right:0;top:0;width:100%;height:100%;background-color:#fff}
.store-location.on-show::after{-webkit-animation:zezoHeight;animation:zezoHeight;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-delay:0.3s;animation-delay:0.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.store-txt.on-show, .store-details.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.gallery-item:nth-child(odd).on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.3s;animation-delay:0.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.gallery-item:nth-child(even).on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.4s;animation-delay:0.4s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}



/*SERVICE ANIMATION*/
.service-pic, .service-txt, .service-outer, .register-box{opacity:0}
.service-pic.on-show, .service-outer.on-show, .register-box.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.service-txt.on-show{-webkit-animation:fadeInUp;animation:fadeInUp;-webkit-animation-duration:1.5s;animation-duration:1.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


/*INSPIRATION*/
.catalogue-box, .interior-box{opacity:0}
.catalogue-box.on-show, .interior-box.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


/*NEWS*/
.relation-wrap, .load-content{opacity:0}
.relation-wrap.on-show, .load-content.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


/*DESIGNER ANIMATION*/
.designer-outer{opacity:0}
.designer-outer.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:.5s;animation-delay:.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


/*BOTTOM ANIMATION*/
.bottom::after{content:'';position:absolute;left:0;bottom:0;width:50%;height:100%;background-color:#7e7e7e}
.bottom::before{content:'';position:absolute;right:0;top:0;width:50%;height:100%;background-color:#000;z-index:1}
.bottom.on-show::after, .bottom.on-show::before{-webkit-animation:zezoHeight;animation:zezoHeight;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-delay:0.3s;animation-delay:0.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}

/*SEARCH ANIMATION*/
.search-box{opacity:0}
.search-box.on-show{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.5s;animation-delay:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


@media screen and (max-width:1100px) {
/*LAYOUT ANIMATION*/
section, .slider-inner + .outer-nav, .header{opacity:0 !important;-webkit-transition:opacity 0.3s ease-in-out !important;transition:opacity 0.3s ease-in-out !important}
section.show-sp, .slider-inner + .outer-nav.show-sp, .header.show-sp{opacity:1 !important}

/*TITLE ANIMATION*/
.title, .outer-nav, .filter-outer{opacity:1}
.flow-line::before{height:50px}
.flow-line.on-show::before, .title.on-show, .outer-nav.on-show, .filter-outer.on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}

/*HOME ANIMATION*/
.welcome-item, .inspi-txt, .inspi-box, .designers-bg, .designers-txt, .general-item{opacity:1}
.welcome-item:nth-child(4n + 1).on-show,.welcome-item:nth-child(4n + 2).on-show,.welcome-item:nth-child(4n + 3).on-show,.welcome-item:nth-child(4n + 4).on-show,.inspi-txt.on-show, .inspi-box.on-show, .designers-bg.on-show, .designers-txt.on-show,.designers-content .title.on-show,.general-item:nth-child(1).on-show,.general-item:nth-child(2).on-show,.general-item:nth-child(3).on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}

/*ABOUT ANIMATION*/
.video-box, .why-concept-txt, .why-aconcept-box, .our-design-box, .our-value-box, .line-intro{opacity:1}
.video-box.on-show, .why-concept-txt.on-show, .why-aconcept-box.on-show, .our-design-box.on-show, .our-value-box.on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}


/*FUNITURE ANIMATION*/
.line-item{opacity:1}
.line-item:nth-child(2n + 1).on-show,.line-item:nth-child(2n + 2).on-show,.line-intro.on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}


/*PRODUCT LIST*/
.product-list .product-item{opacity:1}
.product-list .product-item:nth-child(2n + 1).on-show,.product-list .product-item:nth-child(2n + 2).on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}

/*PRODUCT DETAILS*/
.breadcrumb, .detail-wrap, .wishclick-box, .rate-box, .detail-name, .detail-pics, .detail-thumbs, .detail-info{opacity:1}
.horizon-line, .horizon-line.on-show{-webkit-transform:none;transform:none;-webkit-transition:none;transition:none}
.breadcrumb.on-show,.detail-wrap.on-show,.wishclick-box.on-show, .rate-box.on-show, .detail-name.on-show, .detail-pics.on-show, .detail-thumbs.on-show,.detail-info.on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}

/*OUR STORE*/
.store-txt, .store-details, .gallery-item{opacity:1}
.store-location::after{display:none}
.store-location.on-show::after,.store-txt.on-show, .store-details.on-show,.gallery-item:nth-child(odd).on-show,.gallery-item:nth-child(even).on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}


/*SERVICE ANIMATION*/
.service-pic, .service-txt, .service-outer, .register-box{opacity:1}
.service-pic.on-show, .service-outer.on-show, .register-box.on-show,.service-txt.on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}

/*INSPIRATION*/
.catalogue-box, .interior-box{opacity:1}
.catalogue-box.on-show, .interior-box.on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}


/*NEWS*/
.relation-wrap, .load-content{opacity:1}
.relation-wrap.on-show, .load-content.on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}


/*DESIGNER ANIMATION*/
.designer-outer{opacity:1}
.designer-outer.on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important}

/*BOTTOM ANIMATION*/
.bottom::after,.bottom::before{display:none}

/*SEARCH ANIMATION*/
.search-box{opacity:1}
.search-box.on-show{-webkit-animation:none;animation:none;-webkit-animation-duration:0s;animation-duration:0s;-webkit-animation-delay:0s !important;animation-delay:0s !important;}

	
}

.nav::-webkit-scrollbar{width:0 !important; height:0 !important; display:none!important}
.scroll-slide::-webkit-scrollbar{width:0 !important; height:0 !important; display:none!important}
.sub-nav::-webkit-scrollbar{width:0 !important; height:0 !important; display:none!important}
.support-box::-webkit-scrollbar{width:0 !important; height:0 !important; display:none!important}
.best-scroll::-webkit-scrollbar{width:0 !important; height:0 !important; display:none!important}
.sub-inner::-webkit-scrollbar{width:0 !important; height:0 !important; display:none!important}
.content-table::-webkit-scrollbar{width:0 !important; height:0 !important; display:none!important}
.user-account input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px #f6f6f6 inset;}
.member-form-box input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px #fff inset;}
.login-box input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px #fff inset;}
@media screen and (max-width:1100px){
	.list-result::-webkit-scrollbar{width:0 !important; height:0 !important; display:none!important}
	
}