@charset "utf-8";


body{background-color:#fff;left:0;top:0;bottom:0;right:0;-webkit-animation:Start 1s steps(1, end) 0s 1 normal both;animation:Start 1s steps(1, end) 0s 1 normal both}

.header, .catalog-but{display:none}

.useFull{position:fixed;overflow:hidden;}
.content{position:relative;display:block;width:100%;height:auto;opacity:0}
.useFull .content, .useFull.fixJumpy .content{height:100%;overflow:hidden}


@-webkit-keyframes Start{
	from{visibility:hidden}
	to{visibility:visible}
}
@keyframes Start{
	from{visibility:hidden}
	to{visibility:visible}
}
