@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}

html{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none}
body{line-height:1;color:#000;font-family:'SamsungOne700';-webkit-text-size-adjust:none;left:0;top:0;bottom:0;right:0;margin:0;padding:0;overflow-x:hidden;background-color:#fff}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}


ol, ul{list-style:none}
blockquote, q{	quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
a{text-decoration:none}
strong{text-decoration:none;font-weight:bold}
cite, em, i{text-decoration:none;font-weight:normal;font-family:Arial, Helvetica, sans-serif;line-height:1;vertical-align:baseline}
pre, code{text-decoration:none}
ins{text-decoration:none}
sup{text-decoration:none;bottom:5px;font-size:70%;vertical-align:baseline;font-weight:normal;position:relative}
dl dt{text-decoration:none}
dd{text-decoration:none}
mark{text-decoration:none;font-weight:normal;vertical-align:baseline}
del{text-decoration:line-through}
img[alt]{font-size:0}

h1, h2, h3, h4, h5, h6{font-family:'iCielSamsungSharpSansBold';font-weight:normal;font-style:normal;line-height:1.7}
p{font-size:100%;line-height:1.6;font-style:normal;font-weight:normal;-webkit-text-size-adjust:none}

.no-scroll{overflow:hidden}

.header, .footer, .popup-content, .full-album, .go-down, .to-top{display:none}
.loadicon{position:fixed;left:0;top:0;display:inline-block;width:100%;height:100%;background-color:#fff;z-index:9999}
.loadicon::before{content:'';position:absolute;left:50%;top:50%;margin:-40px 0 0 -40px;width:80px;height:80px;background:url(../images/loading.svg) no-repeat center center}
.loadicon.is-processing{display:block !important;background-color:transparent}


/*LAYOUT*/
.wrap{padding-top:100px}
.header{position:fixed;left:0;top:0;width:100%;height:auto;display:block;z-index:5}
.bg-white{position:fixed;left:0;top:0;width:100%;height:75px;background-color:#eeeeee;box-shadow:0 0 30px rgba(0,0,0,0.2)}
.bg-black{display:none}

.logo{position:fixed;width:auto;height:75px;line-height:75px;left:11.4%;top:0;text-align:center;}
.logo a{display:inline-block;width:auto;height:auto;line-height:1;vertical-align:middle}
.logo img{display:inline-block;width:auto;height:auto;max-width:118px}

.user{position:fixed;right:21.3%;top:15px;display:block}
.user li{padding:0 0 0 30px}
.user li.account-name{margin-bottom:3px;padding:11px 0 1px 30px}
.user span, .user a{font-family:'SamsungOne600';font-weight:normal;font-style:normal}
.account-name{background:url(../images/user.png) no-repeat left center;-webkit-background-size:25px;background-size:25px;}
.account-name span{font-size:14px;color:#232d46;max-width: 140px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height:1.4}

.user a{position:relative;color:#0057a4;text-decoration:underline;font-size:12px;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.user a:hover{opacity:0.5}

.login-show{display:none}
.login-hide{display:block}
span.login-hide{opacity:0;visibility:hidden}
.user a.login-hide{top:-17px}

.isLogin .login-show{display:block}
.isLogin .login-hide{display:none}

.nav li{display:none}
.nav li.hotline{display:block;position:fixed;right:9.7%;top:21px;background:url(../images/hotline.png) no-repeat left center;padding:4px 0 4px 34px}
.nav li.hotline a{font-family:'SamsungOne800';font-weight:900;font-style:normal;font-size:18px;color:#232d46}
.nav li.hotline a span{font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:12px;color:#232d46}

.cart-shopping{position:fixed;right:32.2%;top:21px;width:auto;height:auto;display:block}
.cart-icon{position:relative;display:block;width:auto;height:auto;padding:9px 0 9px 40px;background:url(../images/cart.png) no-repeat left center;-webkit-background-size:28px;background-size:28px;font-size:14px;color:#232d46;}
.cart-text{position:absolute;left:1px;bottom:-1px;width:24px;height:24px;line-height:24px;text-align:center;font-family:'iCielSamsungSharpSansBold';font-style:normal;font-weight:normal;font-size:12px;color:#b61a30}
.animate .cart-icon{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg);-webkit-animation:zezoRotateY .4s ease-in-out forwards;animation:zezoRotateY .4s ease-in-out forwards}
.animate .cart-text{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);-webkit-animation:zezoRotateY .5s ease-in-out forwards;animation:zezoRotateY .5s ease-in-out forwards}

/*POPUP CONTENT*/
.popup-content{width:100%;height:0;position:fixed;left:0;bottom:0;display:block;background-color:rgba(0,8,0,0.7);z-index:200;text-align:center;transition:height 0.3s ease-in-out;-webkit-transition:height 0.3s ease-in-out;overflow:hidden}
.popup-wrap{width:100%;height:100%;position:relative;overflow:hidden;text-align:center}
.popup-wrap::before, .popup-wrap::after{content:'';display:inline-block;width:0;height:100%;vertical-align:middle}
.popup-box{position:relative;display:inline-block;width:90%;height:auto;max-width:500px;background-color:#fff;vertical-align:middle;opacity:0}

.close-pop{position:fixed;right:20px;top:20px;display:none;width:41px;height:41px;cursor:pointer;opacity:0;z-index:-1;}
.close-pop::before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/close.png) no-repeat center center;-webkit-transition:transform 0.3s ease-in-out;transition:transform 0.3s ease-in-out}
.close-pop.in-box{position:absolute;right:14px;top:14px}
.close-pop::before{-webkit-background-size:24px;background-size:24px}
.close-pop:hover::before{-webkit-transform:rotate(90deg);transform:rotate(90deg)}

.close-pop-extra{position:fixed;right:calc(50% - 420px);top:20px;width:41px;height:41px;cursor:pointer;opacity:0;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;-webkit-transition-delay:0.6s;transition-delay:0.6s}
.close-pop-extra::before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/close.png) no-repeat center center;-webkit-transition:transform 0.3s ease-in-out;transition:transform 0.3s ease-in-out}
.close-pop-extra:hover::before{-webkit-transform:rotate(90deg);transform:rotate(90deg)}

.active .popup-wrap{overflow-y:auto;}
.active .popup-box{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.2s;animation-delay:0.2s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.active .close-pop{display:block;z-index:1;-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.2s;animation-delay:0.2s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.active  .close-pop-extra{opacity:1}

/*login success*/
.success-login{position:relative;display:block;width:100%;height:auto;padding:40px 0 10px 0;text-align:center}
.success-login-pic{position:relative;display:block;width:100%;height:auto}
.success-login img{display:inline-block;width:43.4%;height:auto}
.success-login-txt{position:relative;display:block;width:100%;height:auto;margin-bottom:20px}
.success-login h2{position:relative;font-size:36px;line-height:1.26;margin-bottom:40px}
.success-login h2 br{display:none}
.success-login h2::after{content:'';position:absolute;left:50%;bottom:-20px;width:100px;height:4px;background-color:#0057a4;margin:0 0 0 -50px}
.success-login p{padding:0 8%;font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:18px;color:#2e2e2e;line-height:1.4}

.circle-icon{position:relative;display:inline-block;width:64px;height:64px;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(32,116,220,1)), color-stop(1%, rgba(32,116,220,1)), color-stop(100%, rgba(0,87,164,1)));
background:linear-gradient(90deg, rgba(32,116,220,1) 0%, rgba(32,116,220,1) 1%, rgba(0,87,164,1) 100%);background-color:#0057a4;margin:30px 0;-webkit-border-radius:50%;border-radius:50%}
.circle-icon::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/circle-check.png) no-repeat center center;-webkit-background-size:36px;background-size:36px}


/*error*/
.message-box{position:relative;display:block;width:100%;height:auto;padding:60px 0 20px 0;text-align:center}
.message-txt{position:relative;display:block;width:100%;height:auto;margin-bottom:20px}
.message-box h2{position:relative;font-size:36px;line-height:1.3;margin-bottom:40px}
.message-box h2 br{display:none}
.message-box h2::after{content:'';position:absolute;left:50%;bottom:-20px;width:100px;height:4px;background-color:#0057a4;margin:0 0 0 -50px}
.message-box p{padding:0 8%;font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:18px;color:#2e2e2e;line-height:1.4}



/*order success*/
.success-order{position:relative;display:block;width:100%;height:auto;text-align:center;padding:10px 50px 50px 50px}
.success-order h2{font-size:36px;color:#2e2e2f;text-transform:capitalize;line-height:1.3;margin:5px 0 80px 0}
.more{display:inline-block;margin-bottom:40px;color:#0057a4;font-family:'iCielSamsungSharpSansBold';font-weight:normal;font-style:normal;font-size:18px;text-transform:uppercase;text-decoration:underline}
.success-order .payment-but{margin-bottom:30px}

.success-login.hide, .message-box.hide, .success-order.hide, .condition-content.hide{display:none}


.is-condition .popup-box{max-width:900px}
.is-condition .close-pop{display:none}
.condition-content{padding:70px 5%;text-align:center}



