@charset "utf-8";html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}

html{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none}
body{line-height:1;color:#000;font-family:'SamsungOne700';-webkit-text-size-adjust:none}
body.show{-webkit-animation:Start 0.5s steps(1, end) 0s 1 normal both;animation:Start 0.5s steps(1, end) 0s 1 normal both}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}


ol, ul{list-style:none}
blockquote, q{	quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
a{text-decoration:none}
strong{text-decoration:none;font-weight:bold}
cite, em, i{text-decoration:none;font-weight:normal;font-family:Arial, Helvetica, sans-serif;line-height:1;vertical-align:baseline}
pre, code{text-decoration:none}
ins{text-decoration:none}
sup{text-decoration:none;bottom:5px;font-size:70%;vertical-align:baseline;font-weight:normal;position:relative}
dl dt{text-decoration:none}
dd{text-decoration:none}
mark{text-decoration:none;font-weight:normal;vertical-align:baseline}
del{text-decoration:line-through}
img[alt]{font-size:0}

h1, h2, h3, h4, h5, h6{font-family:'iCielSamsungSharpSansBold';font-weight:normal;font-style:normal;line-height:1.7}
p{font-size:100%;line-height:1.6;font-style:normal;font-weight:normal;-webkit-text-size-adjust:none}

.no-scroll{overflow:hidden}


/*LAYOUT*/
.header{position:fixed;left:0;top:0;width:100%;height:auto;display:block;z-index:5}
.bg-white{position:fixed;left:0;top:0;width:100%;height:75px;background-color:#eeeeee;box-shadow:0 0 30px rgba(0,0,0,0.2)}
.bg-black{display:none}

#home-page .header{display:none}

.logo{position:fixed;width:auto;height:75px;line-height:75px;left:11.4%;top:0;text-align:center;}
.logo a{display:inline-block;width:auto;height:auto;line-height:1;vertical-align:middle}
.logo img{display:inline-block;width:auto;height:auto;max-width:118px}

.user{position:fixed;right:21.3%;top:15px;display:block}
.user li{padding:0 0 0 30px}
.user li.account-name{margin-bottom:3px;padding:11px 0 1px 30px}
.user span, .user a{font-family:'SamsungOne600';font-weight:normal;font-style:normal}
.account-name{background:url(../images/user.png) no-repeat left center;-webkit-background-size:25px;background-size:25px;}
.account-name span{font-size:14px;color:#232d46;max-width: 140px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height:1.4}

.user a{position:relative;color:#0057a4;text-decoration:underline;font-size:12px;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.user a:hover{opacity:0.5}

.login-show{display:none}
.login-hide{display:block}
span.login-hide{opacity:0;visibility:hidden}
.user a.login-hide{top:-17px}

.isLogin .login-show{display:block}
.isLogin .login-hide{display:none}

.nav li{display:none}
.nav li.hotline{display:block;position:fixed;right:9.7%;top:21px;background:url(../images/hotline.png) no-repeat left center;padding:4px 0 4px 34px}
.nav li.hotline a{font-family:'SamsungOne800';font-weight:900;font-style:normal;font-size:18px;color:#232d46}
.nav li.hotline a span{font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:12px;color:#232d46}

.cart-shopping{position:fixed;right:32.2%;top:21px;width:auto;height:auto;display:block}
.cart-icon{position:relative;display:block;width:auto;height:auto;padding:9px 0 9px 40px;background:url(../images/cart.png) no-repeat left center;-webkit-background-size:28px;background-size:28px;font-size:14px;color:#232d46;}
.cart-text{position:absolute;left:1px;bottom:-1px;width:24px;height:24px;line-height:24px;text-align:center;font-family:'iCielSamsungSharpSansBold';font-style:normal;font-weight:normal;font-size:12px;color:#b61a30}
.animate .cart-icon{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg);-webkit-animation:zezoRotateY .4s ease-in-out forwards;animation:zezoRotateY .4s ease-in-out forwards}
.animate .cart-text{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);-webkit-animation:zezoRotateY .5s ease-in-out forwards;animation:zezoRotateY .5s ease-in-out forwards}



/*POPUP CONTENT*/
.popup-content{width:100%;height:0;position:fixed;left:0;bottom:0;display:block;background-color:rgba(0,8,0,0.7);z-index:200;text-align:center;transition:height 0.3s ease-in-out;-webkit-transition:height 0.3s ease-in-out;overflow:hidden}
.popup-wrap{width:100%;height:100%;position:relative;overflow:hidden;text-align:center}
.popup-wrap::before, .popup-wrap::after{content:'';display:inline-block;width:0;height:100%;vertical-align:middle}
.popup-box{position:relative;display:inline-block;width:90%;height:auto;max-width:500px;background-color:#fff;vertical-align:middle;opacity:0}

.close-pop{position:fixed;right:20px;top:20px;display:none;width:41px;height:41px;cursor:pointer;opacity:0;z-index:-1;}
.close-pop::before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/close.png) no-repeat center center;-webkit-transition:transform 0.3s ease-in-out;transition:transform 0.3s ease-in-out}
.close-pop.in-box{position:absolute;right:14px;top:14px}
.close-pop::before{-webkit-background-size:24px;background-size:24px}
.close-pop:hover::before{-webkit-transform:rotate(90deg);transform:rotate(90deg)}

.close-pop-extra{position:fixed;right:calc(50% - 420px);top:20px;width:41px;height:41px;cursor:pointer;opacity:0;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;-webkit-transition-delay:0.6s;transition-delay:0.6s}
.close-pop-extra::before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/close.png) no-repeat center center;-webkit-transition:transform 0.3s ease-in-out;transition:transform 0.3s ease-in-out}
.close-pop-extra:hover::before{-webkit-transform:rotate(90deg);transform:rotate(90deg)}

.active .popup-wrap{overflow-y:auto;}
.active .popup-box{-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.2s;animation-delay:0.2s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.active .close-pop{display:block;z-index:1;-webkit-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.2s;animation-delay:0.2s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.active  .close-pop-extra{opacity:1}

/*login success*/
.success-login{position:relative;display:block;width:100%;height:auto;padding:40px 0 10px 0;text-align:center}
.success-login-pic{position:relative;display:block;width:100%;height:auto}
.success-login img{display:inline-block;width:43.4%;height:auto}
.success-login-txt{position:relative;display:block;width:100%;height:auto;margin-bottom:20px}
.success-login h2{position:relative;font-size:36px;line-height:1.26;margin-bottom:40px}
.success-login h2 br{display:none}
.success-login h2::after{content:'';position:absolute;left:50%;bottom:-20px;width:100px;height:4px;background-color:#0057a4;margin:0 0 0 -50px}
.success-login p{padding:0 8%;font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:18px;color:#2e2e2e;line-height:1.4}

.circle-icon{position:relative;display:inline-block;width:64px;height:64px;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(32,116,220,1)), color-stop(1%, rgba(32,116,220,1)), color-stop(100%, rgba(0,87,164,1)));
background:linear-gradient(90deg, rgba(32,116,220,1) 0%, rgba(32,116,220,1) 1%, rgba(0,87,164,1) 100%);background-color:#0057a4;margin:30px 0;-webkit-border-radius:50%;border-radius:50%}
.circle-icon::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/circle-check.png) no-repeat center center;-webkit-background-size:36px;background-size:36px}


/*error*/
.message-box{position:relative;display:block;width:100%;height:auto;padding:60px 0 20px 0;text-align:center}
.message-txt{position:relative;display:block;width:100%;height:auto;margin-bottom:20px}
.message-box h2{position:relative;font-size:36px;line-height:1.3;margin-bottom:40px}
.message-box h2 br{display:none}
.message-box h2::after{content:'';position:absolute;left:50%;bottom:-20px;width:100px;height:4px;background-color:#0057a4;margin:0 0 0 -50px}
.message-box p{padding:0 8%;font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:18px;color:#2e2e2e;line-height:1.4}



/*order success*/
.success-order{position:relative;display:block;width:100%;height:auto;text-align:center;padding:10px 50px 50px 50px}
.success-order h2{font-size:36px;color:#2e2e2f;text-transform:capitalize;line-height:1.3;margin:5px 0 80px 0}
.more{display:inline-block;margin-bottom:40px;color:#0057a4;font-family:'iCielSamsungSharpSansBold';font-weight:normal;font-style:normal;font-size:18px;text-transform:uppercase;text-decoration:underline}
.success-order .payment-but{margin-bottom:30px}

.success-login.hide, .message-box.hide, .success-order.hide, .condition-content.hide{display:none}


.is-condition .popup-box{max-width:900px}
.is-condition .close-pop{display:none}
.condition-content{padding:70px 5%;text-align:center}





/*COMMON*/
.section-title {display:block;width:100%;height:auto;margin-bottom:30px}
.section-title h2{position:relative;font-size:50px;text-align:center;line-height:1.2}
.section-title p{text-align:center;font-size:17px}

/*NORMAL PAGE*/
.normal-content{width:100%;height:auto;position:relative;}
.normal-details{width:100%;height:auto;position:relative}


/*HIDE*/
.hide-pc{display:none}
.hide-sp{}

/*PICS*/
.pcPic{display:block}
.spPic{display:none}


/*BACKGROUND*/
.scroll-bg{width:100%;height:100%;position:absolute;left:0;top:0;background-repeat:no-repeat;background-position:center center;background-size:cover;background-attachment:scroll}
.pcBg{display:block}
.spBg{display:none}


/*FACILITIES*/
.to-top{width:40px;height:40px;display:block;position:fixed;right:3.2%;z-index:4;bottom:20px;background:url(../images/to-top.png) no-repeat center center;background-color:rgba(32,116,220,.5);-webkit-border-radius:50%;border-radius:50%;cursor:pointer;-webkit-background-size:cover;background-size:cover;opacity:0;visibility:hidden;-webkit-transition:0.3s ease-in-out;transition:0.3s ease-in-out}
.to-top.show{opacity:1;visibility:visible}


/*HOME PAGE*/
#home-page .content{padding:0}


/*BANNER*/
.banner-content{width:100%;height:auto;padding-top:55.5%;position:relative}
.banner-details{position:absolute;width:100%;height:100%;left:0;top:0}

#products-page .banner-content{padding-top:27.77%}

.banner-bg{position:absolute;left:0;top:0;width:100%;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;background-size:cover;}
.banner-shadow{display:none}


.banner-box{position:relative;display:block;width:100%;height:100%;z-index:1;text-align:center}
.banner-title{position:relative;left:21.6vw;width:23.66vw;padding:30px 0 0 0}
.banner-title h2{line-height:0;overflow:hidden;margin-bottom:13px;text-align:center}
.banner-title h2 img{display:inline-block;width:100%;height:auto;max-width:400px}

.banner-title h3{font-size:18px;color:#9f1e25;text-transform:uppercase;line-height:1}
.vin-logo{width:29.4%;height:auto;display:inline-block;vertical-align:middle;margin:-8px 0 0 10px}
.vin-logo img{display:block;width:100%;height:auto;max-width:126px}

.banner-txt{position:relative;left:20.93vw;width:25vw}
.banner-txt p{font-size:16px;color:#222c45;margin:5px 0 0 0}

.samsung-logo{width:20%;height:auto;display:inline-block;vertical-align:bottom;margin:0 5px -1px 5px;max-width:100px}
.samsung-logo img{width:100%;height:auto}

.banner-pic{width:36.25vw;height:auto;position:absolute;right:9.7vw;top:30px;line-height:0;overflow:hidden;text-align:right}
.banner-pic img{display:block;width:100%;height:auto}

.banner-box .btn{padding:0 15px;margin-top:15px;-webkit-border-radius:10px;border-radius:10px;height:40px;line-height:36px;border:2px solid #0057a4;font-size:14px;color:#0057a4}
.banner-box .btn span{position:relative;top:2px}
.banner-txt p, .banner-box .btn{font-family:'iCielSamsungSharpSansBold';font-weight:normal;font-style:normal;}

.shap{position:absolute;}
.shap-01{width:7vw;height:auto;max-width:31px;background:url(../images/shap-01.png) no-repeat center center / contain;right:100%;margin-right:30px}
.shap-01::before{content:'';position:relative;display:block;width:100%;height:auto;padding-top:103%;}
.shap-02{width:9.7vw;height:auto;max-width:73px;background:url(../images/shap-02.png) no-repeat center center / contain;left:100%;margin-left:5.5vw}
.shap-02::before{content:'';position:relative;display:block;width:100%;height:auto;padding-top:67%}

.shap-more{position:absolute;left:0;top:0;width:52vw;height:70%;z-index:-1}
.shap-more span{position:absolute}
.shap-more span::before{content:'';position:relative;display:block;width:100%;height:auto}

.more-01{left:4.5%;top:12%;width:26px;background:url(../images/shap01.png) no-repeat center center / contain;}
.more-01::before{padding-top:127%}
.more-02{left:33%;top:47%;width:32px;background:url(../images/shap02.png) no-repeat center center / contain;}
.more-02::before{padding-top:100%}
.more-03{left:42%;top:90%;width:24px;background:url(../images/shap03.png) no-repeat center center / contain;}
.more-03::before{padding-top:137.5%}
.more-04{right:1.5%;top:15%;width:60px;background:url(../images/shap04.png) no-repeat center center / contain;}
.more-04::before{padding-top:66.66%}
.more-05{right:15%;top:67%;width:33px;background:url(../images/shap05.png) no-repeat center center / contain;}
.more-05::before{padding-top:79%}
.more-06{right:25%;top:105%;width:33px;background:url(../images/shap06.png) no-repeat center center / contain;}
.more-06::before{padding-top:94%}


#home-page .content{height:100vh;overflow:hidden}
#home-page .banner-content{min-height:100vh}
#home-page .banner-title, #home-page .banner-txt{left:16vw;width:31.25vw}
#home-page .banner-title{padding-top:3vw}
#home-page .banner-title h2 img{width:78%;max-width:inherit}
#home-page .banner-title h2{margin-bottom:15px}
#home-page .banner-title h3{font-size:21px;margin-bottom:10px}
#home-page .banner-txt p{font-size:19px}
#home-page .banner-pic{position:fixed;width:50vw;right:auto;top:auto;bottom:5vw;left:5vw;max-width:900px}
#home-page .go-focus-box{display:none}

#home-page .shap{display:none}
#home-page .more-02{left:34%;top:19%}
#home-page .more-03{left:65%;top:50%}
#home-page .more-04{right:10%;top:21%}
#home-page .more-05{right:10%;top:10%}
#home-page .more-06{right:21%;top:40%}
#home-page .shap-more{width:54vw}


/*LOGIN*/
.login-box{position:fixed;right:5vw;bottom:5vw;display:block;width:34.7vw;height:auto;background-color:rgba(255,255,255,0.9);z-index:2;text-align:center}
.login-txt, .login-form{position:relative;display:block;width:100%;height:auto}
.login-txt{padding:0 10%;margin-bottom:30px;}
.login-txt h2{position:relative;font-size:42px;margin-bottom:40px}
.login-txt h2::after{content:'';position:absolute;left:50%;bottom:-17px;width:100px;height:4px;background-color:#0057a4;margin:0 0 0 -50px}
.login-txt p{font-family:'SamsungOne600';line-height:1.4;font-size:24px;color:#2e2f31}
.login-txt p br{display:none}
.login-pic{position:relative;display:block;width:100%;height:auto;line-height:0;overflow:hidden;text-align:center}
.login-pic img{display:inline-block;width:41.6%;height:auto}
.login-form{padding:0 10% 10% 10%}
.login-box .box-btn{padding-top:20px}
.login-box .field{margin-bottom:30px}
.login-box .nameformError{font-size:13px}




/*PRODUCTS*/
.banner-content + .normal-content{margin-top:-40px;background-color:#f7f7f7;z-index:1}

.catalog-box{position:relative;width:100%;height:auto;background-color:#000}
.catalog-list{position:relative;display:block;width:100%;height:auto;max-width:1306px;margin:0 auto}
.catalog-list::after{content:'';position:relative;display:block;width:100%;height:0;clear:both}
.catalog-list::before{content:'';position:absolute;width:calc(100% - 26px);height:4px;background-color:#0057a4;left:13px;bottom:-28px;z-index:1;}

.catalog-item{position:relative;display:block;float:left;width:25%;height:auto;padding:0 13px}
.catalog-item a{position:relative;display:block;width:auto;height:auto;}
.catalog-item a::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}

.catalog-pic{position:relative;width:100%;height:auto;background-repeat:no-repeat;background-position:center top;-webkit-background-size:cover;background-size:cover}
.catalog-pic::before{content:'';position:relative;display:block;width:100%;height:auto;padding-top:50%}
.catalog-name{position:absolute;left:0;bottom:0;width:100%;z-index:1;background-color:rgba(0,0,0,0.8);padding:10px 0 7px 0}
.catalog-name h2{color:#fff;font-size:18px;text-align:center;line-height:1.2}

.catalog-item a::before{content:'';position:absolute;left:0;top:0;width:100%;height:calc(100% + 28px);border:4px solid #0057a4;z-index:2;opacity:0}
.catalog-item::before{content:'';position:absolute;left:50%;bottom:-26px;margin:0 0 0 -12px;border:21px solid #0057a4;border-right:12px solid transparent;border-left:12px solid transparent;border-top:0;z-index:3;opacity:0}

.catalog-item.active::before, .catalog-item.active a::before{opacity:1}
.catalog-item.active a::after{opacity:0}

.catalog-item::before, .catalog-item a::before{-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.catalog-item:not(.active):hover::before, .catalog-item:not(.active):hover a::before{opacity:1}
.catalog-item:not(.active):hover a::after{opacity:0}



.product-filter{position:relative;width:100%;height:auto;max-width:1280px;margin:0 auto;padding:68px 110px 26px 110px;background-color:#fff;text-align:right}
.filter-box{position:relative;display:block;width:100%;height:auto}
.filter-box li{position:relative;display:inline-block;width:auto;height:auto;vertical-align:top;margin-right:25px}
.filter-box li:last-child{margin:0}

.filter-box li span, .product-name h3{font-family:'SamsungOne600';font-weight:normal;font-style:normal;}
.promotion span, .filter-box li.active span.filter-but, .red-large, .red-small{font-family:'SamsungOne800';font-weight:900;font-style:normal;}
.product-info span:first-child, .money del{font-family:'SamsungOne';font-weight:normal;font-style:normal}

.filter-box li span{position:relative;display:block;width:auto;height:auto;font-size:18px;color:#4c4c4c;line-height:1.4}
.filter-box li span.filter-but{cursor:pointer;color:#0057a4;text-decoration:underline;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.filter-box li.active span.filter-but{text-decoration:none}
.filter-box li.active::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%}
.filter-box li:not(.active):hover span.filter-but{text-decoration:none;font-family:'SamsungOne800';font-weight:900;font-style:normal}

.product-box{position:relative;display:block;width:100%;height:auto;max-width:1280px;min-height:70vh;margin:0 auto;padding:0 90px 40px 90px;background-color:#fff}
.product-box::after{content:'';position:relative;display:block;width:100%;height:0;clear:both}
.product-item{position:relative;display:block;float:left;width:25%;height:auto;text-align:center;margin:0 0 22px 0;box-shadow:0 0 60px rgba(204,204,204,0);-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;cursor:pointer}
.product-item:hover{box-shadow:0 0 60px rgba(204,204,204,1)}
.product-inr{position:relative;display:block;padding:20px 20px 30px 20px}
.promotion, .product-pic, .product-name, .product-price, .product-info, .product-but{position:relative;display:block;width:100%;height:auto}
.promotion{margin-bottom:10px;text-align:left;min-height:32px;display:none}
.promotion span{display:inline-block;padding:7px 15px;font-size:18px;background:-webkit-linear-gradient(0deg, rgba(0,87,164,1) 0%, rgba(0,87,164,1) 1%, rgba(0,156,166,1) 100%);background:linear-gradient(90deg, rgba(0,87,164,1) 0%, rgba(0,87,164,1) 1%, rgba(0,156,166,1) 100%);background-color:#009ca6;-webkit-border-radius:5px;border-radius:5px;color:#fff}

.product-pic{line-height:0;overflow:hidden;margin-bottom:15px}
.product-pic img{width:100%;height:auto}
.product-name{margin-bottom:15px}
.product-name h3{font-size:16px;line-height:1.2}
.product-price{margin-bottom:30px;display:none}
.product-info{margin-bottom:20px}
.product-info li{overflow:hidden}
.product-info span{float:left;color:#a40000}

.product-info span:first-child{width:50%;font-size:15px;text-align:left}
.product-info span:last-child{width:50%;text-align:right}
.product-info li .money{font-size:17px}
.product-but li{margin-bottom:14px}

.product-but .btn{display:block;width:100%;text-align:center;}
.money del{color:#a3a3a3;font-size:16px;}
.red-large{color:#de0303;font-size:24px}
.red-small{color:#a40000;font-size:16px}
.product-name{height:40px;overflow:hidden}
.product-price, .product-info, .product-but{padding:0 10px}

.refund-box{position:relative;display:block;width:100%;height:auto;padding:5px 0 0 10px}
.refund-box li{position:relative;display:block;width:100%;height:auto;padding:8px 0 8px 40px;background:url(../images/icon-cart.png) no-repeat left center;font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:14px;text-align:left}




/*CART*/
.cart-box{position:relative;display:block;width:90%;height:auto;max-width:1200px;margin:0 auto;padding:50px 0}
.cart-box h2{font-size:24px;color:#333;text-transform:uppercase;margin-bottom:20px}
.cart-list{position:relative;display:block;width:100%;height:auto;overflow:hidden}

.cart-item{position:relative;display:block;width:62.5%;height:auto;float:left;padding:50px 0;overflow:hidden;border-top:2px dotted #d6d6d6}
.cart-item:first-child{border-top:2px solid #d6d6d6}

.cart-pic{position:relative;float:left;width:24%;height:auto;line-height:0;overflow:hidden;padding:0 10px}
.cart-pic img{display:block;width:100%;height:auto}

.cart-txt{position:relative;float:left;width:76%;height:auto;padding:0 0 0 10px}
.cart-name{position:relative;display:block;width:220px;height:auto;float:left}
.cart-name h3{font-family:'SamsungOne600';font-weight:normal;font-style:normal;color:#000;font-size:18px;line-height:1.4}

.cart-price{position:relative;display:block;width:100%;height:auto;float:left;width:160px;margin-left:20px}
.cart-price .red-large{font-size:24px;color:#000}
.cart-price del{font-family:'SamsungOne';font-weight:normal;font-style:normal;font-size:18px;color:#7f7f7f;display:none;margin-top:3px}

.quantity-box{position:absolute;width:140px;right:0;top:0;text-align:right}
.quantity-box .quantity{display:inline-block;width:50px;height:28px;line-height:24px;padding:0 10px;background-color:#fff !important;border:2px solid #ececec;font-family:'SamsungOne600';font-weight:normal;font-style:normal;color:#000;font-size:18px;text-align:center;-webkit-border-radius:0;border-radius:0;margin:0 10px;vertical-align:middle;pointer-events:none}
.add-but, .sub-but{display:inline-block;width:30px;height:30px;vertical-align:middle;cursor:pointer}
.add-but{background:url(../images/add.png) no-repeat center center / contain}
.sub-but{background:url(../images/sub.png) no-repeat center center / contain}

.delete-box{position:absolute;width:180px;top:100%;left:10px;margin-top:17px}
.delete-but{display:block;color:#000;text-decoration:underline;font-family:'SamsungOne';font-weight:normal;font-style:normal;font-size:14px}
.delete-icon{position:relative;top:2px;display:inline-block;width:22px;height:24px;margin-right:7px;background:url(../images/delete.png) no-repeat center bottom / contain;vertical-align:bottom}
.cart-info{position:absolute;right:0;top:0;width:33.3333%;height:auto;display:block;padding:35px 30px 0 30px;background-color:#f3f3f3;height:172px;-webkit-border-radius:10px;border-radius:10px}
.cart-info li{position:relative;margin-bottom:5px}
.cart-info li::after{content:'';position:relative;display:block;width:100%;clear:both;height:0}
.cart-info li p{font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:18px}
.cart-info li p:first-child{float:left}
.cart-info li p:last-child{position:relative;top:-5px;text-align:right;font-family:'SamsungOne800';font-weight:900;font-style:normal}
.cart-info li p.red-large{font-size:28px;color:#000}
.cart-info li p.money-minus{font-size:24px;color:#a40000}
.vat-note{font-family:'SamsungOne600';font-weight:normal;font-style:normal;text-align:right;color:#aaa;font-size:16px}


.cart-box .box-btn{position:absolute;right:0;top:310px;width:33.3333%;height:auto;display:block;text-align:center}
.cart-box .payment-but{margin-bottom:30px}

.confirm-cart{padding:50px}
.confirm-cart .message-txt{margin-bottom:20px}
.confirm-cart button{display:inline-block;width:auto;width:106px;margin:0 2px;vertical-align:top;height:auto;line-height:1;padding:21px 0 15px 0;font-size:18px}
.condition-but{color:#0057a4}



.empty-cart{min-height:auto;text-align:center;padding:50px 5% !important}
.empty-cart h2{display:none}
.empty-cart h3{font-size:16px;text-transform:uppercase;padding-bottom:40px}
.empty-cart .box-btn{position:relative;right:auto;top:auto;padding:0;margin:0 auto}
.empty-cart .payment-but{display:none}


/*ORDER*/
.order-box{position:relative;display:block;width:100%;height:auto;margin:0 auto;max-width:942px;padding:50px 0 220px 0}
.order-box::after{content:'';position:relative;display:block;width:100%;height:0;clear:both}
.order-block{position:relative;display:block;width:100%}

.order-box h2{font-size:24px;color:#333;text-transform:uppercase;margin-bottom:30px;padding-bottom:16px;line-height:1.2}
.order-block.mb40{margin-bottom:40px}
.order-box .line{border-bottom:2px solid #d6d6d6;}

.is-customer, .is-company{display:none;opacity:0;-webkit-transition:opacity .15s linear;transition:opacity .15s linear;}
.is-customer.active, .is-company.active{display:block}
.is-customer.on, .is-company.on{opacity:1}

.request-edit::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;z-index:1}
.request-edit.allow-edit::after{height:0}

.order_left, .order_right{position:relative;display:block;width:43%;height:auto;max-width:400px}
.order_left{float:left}
.order_right{float:right}


.order-block .box-btn{text-align:center}
.order-block .box-btn .payment-next{margin-bottom:20px}
.order-txt{display:block;margin-bottom:22px}
.order-txt p{font-family:'SamsungOne600';font-size:18px;line-height:1.4}

/*CONDITION*/
.condition-content .condition-box{padding:0;max-width:inherit;}
.condition-box{width:100%;padding:50px 5% 100px 5%;max-width:1140px;margin:0 auto}
.condition-title{display:block;margin-bottom:30px}
.condition-title h2{font-size:24px;margin-bottom:10px;line-height:1.2;color:#333;text-align:center}
.condition-box h3{font-size:22px;margin:10px 0;line-height:1.2;color:#333}
.condition-box h3 span{font-family:'SamsungOne600';font-weight:normal;font-style:normal}
.condition-box p{font-size:16px;line-height:1.6;margin-bottom:20px;font-family:'SamsungOne600';color:#2e2f31}
.condition-box a{color:#0057a4}
.condition-content .condition-detail{text-align:left}
.table-wrap{display:block;width:100%;height:auto;padding:20px 0;overflow:hidden}
.table-wrap table{width:100%;border-top:1px dotted #ddd;border-left:1px dotted #ddd;border-collapse:separate}
.table-wrap th, .table-wrap td{padding:10px 20px;font-family:'SamsungOne600';color:#2e2f31;font-weight:normal;font-style:normal;font-size:16px;line-height:1.4;border-right:1px dotted #ddd;border-bottom:1px dotted #ddd}



/*ERROR PAGE*/
.txt-404{display:block;width:90%;height:auto;margin:0 auto;max-width:900px;text-align:center;padding:50px 0}
.txt-404 h2{font-size:208px;color:#0057a4;line-height:1.05}
.txt-404 h3{font-size:45px;color:#0057a4;line-height:1.29;text-transform:uppercase;margin:-20px 0 30px 0}
.txt-404 p{font-family:'SamsungOne600';font-size:20px;font-weight:normal;font-style:normal;color:#000;line-height:1.5;margin:-25px 0 40px 0;}



/*MEDIA*/

@media screen and (max-width:1660px) {
/*BANNER*/
.banner-title h2 img{max-width:340px}
.banner-txt p{font-size:14px}

}

@media screen and (max-width:1600px) {
/*LAYOUT*/
.user{right:23%}
.cart-shopping{right:36%}

/*BANNER*/
#home-page .shap-more{top:0;width:55vw}


}

@media screen and (max-width:1500px) {
/*BANNER*/
.banner-title{padding-top:24px}
.banner-pic{top:24px}
.banner-title h2 img{max-width:340px}
.banner-title h3{font-size:18px}
.banner-txt p{font-size:13px}

}

@media screen and (max-width:1380px) {
/*LAYOUT*/
.logo{left:7%}
.nav li.hotline{right:7%}
.user{right:22%}
.cart-shopping{right:36%}

}

@media screen and (max-width:1360px) {
/*BANNER*/
.banner-title{left:18vw}
.banner-txt{left:17.93vw}
.banner-title, .banner-txt{width:310px}
.banner-title h3{font-size:16px}
.banner-txt p{font-size:12px}
.banner-box .btn{font-size:12px;margin-top:10px}

}

@media screen and (max-width:1300px) {
/*LAYOUT*/
.logo{left:5%}
.nav li.hotline{right:5%}
.user{right:21%}
.cart-shopping{right:36%}


/*BANNER*/
#home-page .more-02{left:30%}
#home-page .banner-txt p{font-size:15px}


/*PRODUCTS*/
.product-filter{padding:48px 40px 26px 40px}
.product-box{padding:0 20px 40px 20px}




/*CART*/
.cart-name{width:180px}
.cart-name h3{font-size:15px}
.cart-price{width:140px;margin-left:10px}
.cart-price .red-large{font-size:20px}
.cart-price del{font-size:16px}
.cart-info li p.red-large{font-size:25px}

}

@media screen and (max-width:1200px) {
/*BANNER*/
.banner-title{padding-top:15px}
.banner-pic{top:15px}


}

@media screen and (min-width:1101px) and (max-height:900px) {
/*BANNER*/
#home-page .banner-txt p{font-size:15px}

/*LOGIN*/
.login-txt{margin-bottom:20px}
.login-txt h2{font-size:36px}
.login-txt p{font-size:18px}
.login-box .field{margin-bottom:24px}
.login-box .nameformError{font-size:12px}	
}


@media screen and (min-width:1101px) and (max-height:780px) {
/*BANNER*/
#home-page .banner-pic{bottom:3vw;max-width:720px}


/*LOGIN*/
.login-box{bottom:3vw;max-width:500px}
.login-txt h2{font-size:30px;margin-bottom:26px}
.login-txt h2::after{bottom:-12px}
.login-txt p{font-size:16px}
}

@media screen and (min-width:1101px) and (max-height:740px) {
/*BANNER*/
#home-page .banner-pic{bottom:2vw}

/*LOGIN*/
.login-box{max-width:476px}
.login-pic img{width:38%}	


}

@media screen and (min-width:1101px) and (max-height:640px) {
/*BANNER*/
#home-page .banner-pic{bottom:2vw;max-width:560px}
#home-page .banner-txt p{font-size:13px;margin-bottom:5px}
#home-page .banner-title{padding:2vw 0 0 0}

/*LOGIN*/
.login-txt{padding:0 5%;margin-bottom:15px}
.login-txt h2{font-size:22px}
.login-txt p{font-size:15px}
.login-form{padding:0 5% 7% 5%}
.login-box .field{margin-bottom:10px}
.login-pic img{width:36%}
.login-box .nameformError{top:70%;left:10px;background-color:#fff;padding:0 7px 5px 7px;-webkit-border-radius:30px;border-radius:30px;font-size:10px}
.login-box .box-btn{padding-top:5px}

}


@media screen and (max-width:1100px){
/*BUTTON*/
button{-webkit-transition:none;transition:none}


/*LAYOUT*/
.bg-white{height:98px}
#home-page .bg-white, #products-page .bg-white{background-color:#fff}

.logo{height:98px;line-height:98px;left:5%;top:0;}
.logo img{max-width:108px}

.nav-but{position:fixed;right:5%;top:33px;width:47px;height:32px;display:block;cursor:pointer;z-index:160}
.nav-but span:nth-child(1){position:absolute;left:0;top:14px;width:100%;height:4px;-webkit-border-radius:30px;border-radius:30px;background-color:#222c45;-webkit-transition:opacity 0.3s ease-in-out;transition:opacity 0.3s ease-in-out}
.nav-but span:nth-child(1)::before{content:'';position:absolute;left:0;top:-14px;width:100%;height:100%;background-color:#222c45;-webkit-border-radius:30px;border-radius:30px;}
.nav-but span:nth-child(1)::after{content:'';position:absolute;left:0;bottom:-14px;width:100%;height:100%;background-color:#222c45;-webkit-border-radius:30px;border-radius:30px;}
.nav-but span:nth-child(2), .nav-but span:nth-child(3){position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform-origin:50%;transform-origin:50%;opacity:0;-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:opacity 0.2s ease-in-out, transform 0.3s linear;transition:opacity 0.2s ease-in-out, transform 0.3s linear}
.nav-but span:nth-child(2)::before, .nav-but span:nth-child(3)::before{content:'';position:absolute;left:0;top:14px;width:100%;height:4px;background-color:#222c45}
.nav-but.active span:nth-child(1){opacity:0}
.nav-but.active span:nth-child(2){opacity:1;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.nav-but.active span:nth-child(3){opacity:1;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}

.cart-shopping{position:fixed;right:130px;top:25px;width:48px;height:43px;display:block}
.cart-icon{width:100%;height:100%;-webkit-background-size:contain;background-size:contain;font-size:0;}
.cart-text{left:12px;bottom:2px;width:24px;height:24px;line-height:24px}

.navigation{position:fixed;left:0;top:98px;width:100%;height:0;opacity:0;overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;visibility:hidden;background-color:rgba(0,0,0,0.5);z-index:8;-webkit-transition:height 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0.01s, opacity 0.3s ease-in-out 0.01s;transition:height 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0.01s, opacity 0.3s ease-in-out 0.01s}
.user{position:relative;right:auto;top:auto;width:100%;height:auto;border-bottom:2px solid #d3d3d3;padding:30px 0 30px 47px}
.user li.account-name{display:inline-block;width:auto;max-width:70%;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;padding:18px 0 12px 87px;-webkit-background-size:contain;background-size:contain}
.account-name span{font-family:'SamsungOne800';font-weight:900;font-style:normal;font-size:39px;max-width:inherit;text-overflow:unset;overflow:visible}

.user a.login-hide{top:auto}
.user li:nth-child(2){float:right;padding:15px 42px 0 0}
.user a{font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:30px;color:#0057a4;text-decoration:underline}
.nav-outer{position:relative;display:block;width:100%;height:auto;background-color:#eeeeee}
.nav-outer::before{content:'';position:absolute;left:0;top:0;width:100%;height:1px;box-shadow:0 0 10px rgba(0,0,0,0.3)}
.nav{position:relative;display:block;width:100%;height:auto;padding:20px 0}
.nav li{position:relative;display:block;margin-bottom:1px;}
.nav a{display:block;padding:31px 133px;font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:36px;color:#232d46}
.nav li.hotline{position:relative;right:auto;top:auto;padding:0;background:none}
.nav li.hotline a, .nav li.hotline a span{font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:36px;color:#232d46}
.navigation.active{visibility:visible;opacity:1}

.user a{-webkit-transition:none;transition:none}
.user a:hover{opacity:1}

.content{padding:98px 0 0 0}



/*HIDE*/
.hide-pc{display:block}
.hide-sp{display:none}

/*PICS*/
.pcPic{display:none}
.spPic{display:block}


/*BACKGROUND*/
.pcBg{display:none}
.spBg{display:block}

/*POPUP CONTENT*/
.popup-wrap{-webkit-overflow-scrolling:touch}
.popup-wrap > *{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.close-pop, .close-pop-extra{width:40px;height:40px;right:10px;top:10px}



/*HOME PAGE*/
#home-page .content{padding:98px 0 0 0}
#home-page .header{display:block}

/*BANNER*/
.banner-content{width:100%;height:auto;position:relative;background-color:#eeeeee;padding:0}
#products-page .banner-content{padding:0}
.banner-details{width:100%;height:auto;position:relative;left:auto;bottom:auto;max-width:inherit}
.banner-bg{position:absolute;left:0;top:0;width:100%;height:100%;background-position:center bottom;background-size:100%;background-repeat:no-repeat}
.banner-shadow{display:none}
.banner-box{position:relative;display:block;width:100%;height:auto;color:#fff;margin:0 auto;max-width:750px;padding:30px 5%;text-align:center;z-index:1}
#home-page .banner-title, .banner-title{padding:0;left:auto;top:auto;right:auto;bottom:auto;width:100%;margin:0}
.banner-title h2{line-height:0;overflow:hidden;margin-bottom:13px}
.banner-title h2 img{display:inline-block;width:auto;height:auto;max-width:70.2vw}
#home-page .banner-title h3, .banner-title h3{position:relative;display:inline-block;font-size:30px;color:#9f1e25;line-height:1;margin-bottom:17px}
#home-page .banner-pic, .banner-pic{width:100%;height:auto;line-height:0;overflow:hidden;text-align:right;position:relative;left:auto;bottom:auto;right:auto;top:auto;max-width:inherit}
.banner-pic img{display:inline-block;width:auto;height:auto;max-width:89%}
#home-page .banner-txt, .banner-txt{padding:0 0 40px 0;left:auto;width:100%}
#home-page .banner-txt p, .banner-txt p{font-size:22px;color:#222c45;margin-bottom:10px}
.banner-box .btn{font-size:22px;height:55px;line-height:51px;padding:0 35px}

.vin-logo{width:auto;height:auto;max-width:20.6vw;line-height:0;display:inline-block;overflow:hidden;vertical-align:middle;margin:-10px 0 0 20px}
.vin-logo img{width:auto;height:auto;max-width:100%}
.shap{position:absolute;}
.shap-01{max-width:52px}
.shap-01::before{content:'';position:relative;display:block;width:100%;height:auto;padding-top:103%;}
.shap-02{top:0;max-width:73px}
.shap-02::before{content:'';position:relative;display:block;width:100%;height:auto;padding-top:67%}
.samsung-logo{width:auto;height:auto;max-width:18vw;line-height:inherit;overflow:hidden;display:inline-block;vertical-align:bottom;margin:0 12px}
.samsung-logo img{width:auto;height:auto;max-width:100%}

#home-page .banner-box .btn{display:inline-block}
#home-page .banner-content{min-height:auto}
#home-page .content{height:auto}
#home-page .shap{display:block}

/*LOGIN*/
.login-box{position:relative;right:auto;bottom:auto;display:block;width:84%;height:auto;max-width:630px;margin:0 auto;padding:50px 0;text-align:center}
.login-txt{position:relative;display:block;width:100%;height:auto;margin-bottom:49px}
.login-txt h2{position:relative;font-size:60px;margin-bottom:66px}
.login-txt h2::after{content:'';position:absolute;left:50%;bottom:-25px;width:100px;height:4px;background-color:#0057a4;margin:0 0 0 -50px}
.login-txt p{font-size:28px;color:#333}
.login-txt p br{display:block}
.login-pic{position:relative;display:block;width:100%;height:auto;margin-bottom:10px;line-height:0;overflow:hidden;text-align:center}
.login-pic img{display:inline-block;width:80%;height:auto;max-width:380px}
.login-form{position:relative;display:block;width:100%;height:auto}
.login-box .box-btn{padding-top:10px}
.login-txt, .login-form{padding:0}
.login-box .nameformError{position:relative;left:auto;top:auto;margin-top:5px}



/*PRODUCTS*/
.banner-content + .normal-content{margin-top:auto;background-color:#fff}
.shap-more{display:none}

.catalog-list::before{display:none}
.catalog-item::before{bottom:-33px;margin:0 0 0 -12px;border:24px solid #0057a4;border-right:12px solid transparent;border-left:12px solid transparent;border-top:0;opacity:0}
.catalog-item a::before{height:calc(100% + 37px);z-index:2;opacity:0}
.catalog-pic::before{padding-top:54%}
.catalog-name{padding:10px 0}
.catalog-name h2{font-size:18px}

.catalog-item::before, .catalog-item a::before, .catalog-item a::after, .filter-box li span.filter-but{-webkit-transition:none;transition:none}
.catalog-item:not(.active):hover::before, .catalog-item:not(.active):hover a::before{opacity:0}
.catalog-item:not(.active):hover a::after{opacity:1}

.product-filter{padding:60px 0 20px 40px;text-align:left}
.filter-box li{margin-right:80px}
.filter-box li span{font-size:28px}
.filter-box li:not(.active):hover span.filter-but{text-decoration:underline;font-family:'SamsungOne600';font-weight:normal;font-style:normal}


.product-box{padding:0}
.product-item{width:50%;margin-bottom:0;-webkit-transition:none;transition:none}
.product-item:hover{box-shadow:none}
.product-inr{padding:40px;border-right:1px solid #ddd;border-top:1px solid #ddd}
.product-item:nth-child(2n) .product-inr{border-right:1px solid transparent}
.promotion{min-height:42px}
.promotion span{font-size:28px}
.product-name{height:56px;margin-bottom:20px}
.product-name h3{font-size:24px}
.product-price{margin-bottom:30px}
.product-info li{margin-bottom:10px}
.product-but li{margin-bottom:15px}
.money del{font-size:22px}
.red-large{font-size:32px}
.product-info li money, .red-small{font-size:22px}

.product-price, .product-info, .product-but{padding:0 10px}
.product-but .btn{font-size:22px;height:56px;line-height:52px}

.product-info span:first-child{font-size:18px}
.product-info li .money{font-size:20px}
.refund-box li{font-size:15px}


/*CART*/
.cart-box{width:100%;padding:50px 5%}
.cart-box h2{font-size:36px}

.cart-item{float:none;width:100%;padding:40px 0}
.cart-pic{width:26%;padding:0 12px}

.cart-txt{position:relative;float:left;width:74%;height:auto;padding:0 0 0 10px}
.cart-name{position:relative;display:block;width:100%;height:auto;margin-bottom:26px}
.cart-name h3{font-size:26px}

.cart-price{position:relative;display:block;width:100%;height:auto;margin:0 0 26px 0}
.cart-price .red-large{font-size:32px}
.cart-price del{font-size:24px;float:right}

.cart-tool{position:relative;display:block;width:100%;height:auto;clear:both}
.cart-tool::after{content:'';position:relative;display:block;width:100%;height:0;clear:both}
.quantity-box{display:block;width:50%;float:left;position:relative;right:auto;top:auto;text-align:left}
.quantity-box .quantity{width:62px;height:36px;font-size:22px;line-height:32px}
.add-but, .sub-but{width:34px;height:34px}
.delete-box{width:50%;float:left;text-align:right;margin-top:-2px;position:relative;left:auto;top:auto}
.delete-but{font-size:18px}
.delete-icon{width:36px;height:38px;margin-right:10px;top:auto}

.cart-info{position:relative;width:100%;right:auto;top:auto;height:auto;padding:30px 0 60px 0;background-color:transparent}
.cart-info::before{content:'';position:absolute;left:0;top:0;width:100%;height:2px;background-color:#d6d6d6}
.cart-info li{line-height:1.2;margin-bottom:10px}
.cart-info li p{font-size:26px}
.cart-info li p.red-large{font-size:32px}
.cart-info li p.money-minus{font-size:30px}
.vat-note{color:#7f7f7f;font-size:24px}
.cart-box .box-btn{position:relative;right:auto;top:auto;width:100%;text-align:center}
.cart-box .payment-but{margin-bottom:40px}
.cart-box .more{font-size:28px}



/*ORDER*/
.order-box{max-width:inherit;padding:50px 0 0 0}
.order_left, .order_right{float:none;width:100%;max-width:inherit}
.order-box h2{font-size:36px;padding-bottom:9px}
.order-block.mb40{margin-bottom:40px}

.order-block{width:90%;max-width:630px;margin:0 auto}
.order_right .order-block:last-child{margin-top:96px;padding:40px 5% 80px 5%;background-color:#ebebeb;max-width:inherit;width:100%}
.order_right .order-block:last-child > *{margin:0 auto;max-width:630px}
.order_left .order-block:nth-child(2) .field, .order_right .order-block:nth-child(1) .field, .order_right .order-block:nth-child(2) .field, .order_right .order-block:nth-child(3) .field{max-width:inherit}




}

@media screen and (max-width:840px) and (orientation :landscape){
/*LAYOUT*/
.user{padding:15px 5%}	
.account-name{font-size:20px;padding:15px 0 15px 44px;-webkit-background-size:30px;background-size:30px}
.user li:nth-child(2){padding:18px 0 0 0}
.user a{font-size:16px}
.nav a{padding:15px 20px 15px 62px;font-size:18px}


/*login success*/
.success-login{padding:30px 0 10px 0}
.success-login h2{font-size:26px}
.success-login p{font-size:14px}
.success-login-txt{margin-bottom:0}
.circle-icon{margin:20px 0}


/*error*/
.message-box{padding:40px 0}
.message-box.confirm-cart{padding:50px}
.message-txt{margin-bottom:0}
.message-box h2{font-size:26px}
.message-box p{font-size:18px}



/*order success*/
.success-order{padding:10px 50px 40px 50px}
.success-order h2{font-size:26px;margin:0 0 20px 0}
.success-order .payment-but{font-size:18px;line-height:50px;height:50px}
.success-order .more{margin-bottom:0;font-size:18px}


}


@media screen and (max-width:600px) and (orientation :landscape){
/*LAYOUT*/
.user{padding:9px 5% 5px 5%}	
.account-name{padding:14px 0 8px 44px}
.user li:nth-child(2){padding:15px 0 0 0}
.nav a{padding:10px 20px 10px 62px}

}

@media screen and (max-width:840px) {
/*LAYOUT*/
.cart-shopping{right:98px}

/*PRODUCTS*/
.product-inr{padding:37px 20px}
.product-filter{padding:0 0 20px 20px}
.catalog-name h2{font-size:26px}

.catalog-box{background-color:#fff}
.catalog-list{padding:15px 10px}
.catalog-item{width:50%;padding:10px}
.catalog-item::before, .catalog-item a::before{display:none}
.catalog-name{padding:10px 0}
.catalog-name h2{font-size:30px}

.product-box{padding-bottom:70px}
.product-box::before{content:'';position:absolute;left:50%;top:0;width:1px;height:100%;background-color:#ddd}

.product-item:nth-child(1) .product-inr, .product-item:nth-child(2)  .product-inr{border-top:none}
.product-filter{border-bottom:1px solid #ddd;margin-bottom:10px}

.product-item .product-inr{border-right:1px solid transparent !important}
.product-info span:first-child, .product-info li .money{font-size:17px}



/*CART*/
.empty-cart h3{font-size:19px}



/*CONDITION*/
.condition-box{max-width:inherit}
.condition-title h2{font-size:32px}
.condition-box h3{font-size:30px}
.condition-box p{font-size:18px}
.table-wrap th, .table-wrap td{font-size:18px;padding:10px}


/*POPUP*/
.is-condition .popup-box{width:100%}
.is-condition .popup-wrap::before, .is-condition .popup-wrap::after{margin:0 -10px}


}

@media screen and (max-width:840px)  and (orientation :portrait){
/*POPUP CONTENT*/
.popup-box{max-width:712px}
.close-pop.in-box, .close-pop-extra,{right:26px;top:26px}
.close-pop::before, .close-pop-extra::before{-webkit-background-size:cover;background-size:cover}

.more{font-size:28px}


/*login success*/
.success-login h2{font-size:60px;margin-bottom:70px}
.success-login h2 br{display:block}
.success-login h2::after{bottom:-30px}
.success-login p{font-size:28px;padding:0 5%}
.circle-icon{width:128px;height:128px}
.circle-icon::after{-webkit-background-size:64px;background-size:64px;}

/*error*/
.message-box{padding:50px 0}
.message-box h2{font-size:60px;margin-bottom:70px}
.message-box h2 br{display:block}
.message-box h2::after{bottom:-30px}
.message-box p{font-size:28px;padding:0 5%}

.message-box.confirm-cart{padding:50px}
.message-box.confirm-cart p{padding:0}


/*order success*/
.success-order{padding:125px 40px 115px 40px}
.success-order h2{font-size:36px;color:#333;text-transform:capitalize;line-height:1.3;margin:30px 0 110px 0}
.success-order .more{display:inline-block;margin-bottom:40px;font-size:28px}
.success-order button{margin-bottom:40px}

}


@media screen and  (max-width:740px){
/*LAYOUT*/
.user{padding:15px 5%}	
.user li.account-name{padding:15px 0 15px 44px;-webkit-background-size:30px;background-size:30px}
.account-name span{font-size:20px;}
.user li:nth-child(2){padding:20px 0 0 0}
.user a{font-size:16px}
.nav a{padding:15px 20px 15px 80px;font-size:18px}
.nav li.hotline a, .nav li.hotline a span{font-size:18px}


/*PRODUCTS*/
.catalog-name h2{font-size:26px}


/*ERROR PAGE*/
.txt-404 h2{font-size:180px}
.txt-404 h3{font-size:40px}


	
}

@media screen and  (max-width:700px){
/*LOGIN*/
.login-txt h2{font-size:58px}
.login-txt p{font-size:26px}


/*ORDER*/
.order-box h2{font-size:34px}

/*CART*/
.cart-box h2{font-size:34px;margin-bottom:15px}
.cart-item{padding:30px 0}
.cart-pic{padding:0 5px}
.cart-txt{padding:0 0 0 10px}
.cart-name {margin-bottom:15px}
.cart-name h3{font-size:22px}
.cart-price .red-large{font-size:22px}
.cart-price del{font-size:18px}
.delete-but{font-size:16px}
.cart-info li p.red-large{font-size:28px}
.cart-info li p.money-minus{font-size:26px}
.cart-info li p, .vat-note{font-size:20px}


/*PRODUCTS*/
.filter-box li{margin-right:5%}

}

@media screen and  (max-width:660px){
/*BANNER*/
#home-page .banner-title h2 img, .banner-title h2 img{width:70.2%}
#home-page .banner-title h3, .banner-title h3{font-size:24px}
.banner-title h3 span img{width:120px}

	
}


@media screen and  (max-width:600px){
/*BANNER*/
#home-page .banner-txt p, .banner-txt p{font-size:18px}
.banner-box .btn{font-size:14px;height:46px;line-height:42px}


/*LOGIN*/
.login-box{width:90%}
.login-txt h2{font-size:40px}
.login-txt p{font-size:18px}
.login-txt{margin-bottom:30px}


/*POPUP*/
.close-pop.in-box, .close-pop-extra{width:30px;height:30px;right:15px;top:15px}
.circle-icon{margin:20px 0;width:80px;height:80px}
.circle-icon::after{-webkit-background-size:46px;background-size:46px;}


/*login success*/
.success-login h2{font-size:30px;margin-bottom:40px}
.success-login h2::after{bottom:-20px}
.success-login p{font-size:15px}
.success-login-txt{margin-bottom:0}


/*error*/
.message-box h2{font-size:30px;margin-bottom:40px}
.message-txt{margin-bottom:0}
.message-box h2::after{bottom:-20px}
.message-box p{font-size:14px;padding:0 10%}
#order-page .message-box p{padding:0 10%}

/*order success*/
.success-order{padding:40px 5vw 20px 5vw}
.success-order h2{font-size:30px;margin:10px 0 40px 0}
.success-order button{font-size:20px}
.success-order .more, .more{font-size:20px}


/*ORDER*/
.order-box{padding:30px 0 0 0}
.order-box h2{font-size:22px}
.check-box.line{padding-bottom:18px}
.check-box.line h2{top:2px}


/*CART*/
.cart-box{padding:30px 5%}
.cart-box h2{font-size:22px}
.cart-txt{float:none;width:100%;padding:0}
.cart-pic{width:34%;padding:0}
.cart-price, .cart-name{float:right;width:66%;padding:0 0 0 15px;margin-bottom:15px}
.cart-name h3, .cart-price del{font-size:15px}
.cart-info li p.money-minus, .cart-price .red-large, .cart-info li p.red-large{font-size:17px}

.cart-info li p, .vat-note{font-size:15px}
.cart-tool{clear:both;width:100%;padding-top:30px}
.quantity-box .quantity{font-size:18px;width:50px}
.delete-but{font-size:15px}
.cart-box .more{font-size:15px}


/*PRODUCTS*/
.catalog-list{padding:15px 5px}
.catalog-item{padding:5px}
.catalog-name{padding:10px 0}
.catalog-name h2{font-size:22px}

.product-inr{padding:20px 10px}
.product-name{height:32px;padding:0 10px}
.product-name h3{font-size:13px}
.promotion{min-height:28px}
.promotion span{font-size:14px}
.product-item .red-large{font-size:16px}
.product-info span:first-child, .product-info li .money, .red-small{font-size:13px}

.product-price, .product-info, .product-but{padding:0 10px}
.product-name, .product-price, .product-info{margin-bottom:15px}
.product-but li{margin-bottom:10px}
.product-but .btn{font-size:13px;padding:0 10px;height:40px;line-height:36px}
.product-box{padding-bottom:30px}
.refund-box{padding:5px 0 0 10px}
.refund-box li{background-size:26px 22px;font-size:11px;padding:5px 0 5px 32px}

.filter-box li span{font-size:18px}






}

@media screen and  (max-width:520px){
/*LAYOUT*/
.user{padding:15px 5%}	
.user li.account-name{padding:15px 0 15px 44px;-webkit-background-size:30px;background-size:30px}
.user li.account-name span{font-size:20px;}
.user li:nth-child(2){padding:18px 0 0 0}
.user a{font-size:16px}
.nav a{padding:15px 20px 15px 62px;font-size:18px}
.nav li.hotline a, .nav li.hotline a span{font-size:18px}

.bg-white{height:50px}

.logo{height:50px;line-height:50px}
.logo img{height:21px;width:auto;max-width:inherit}

.cart-shopping{top:13px;right:58px;width:26px;height:23px}
.cart-icon{padding:0}
.cart-text{left:0;bottom:-3px;width:26px;height:20px;line-height:20px;font-size:10px;}

.nav-but{top:17px;width:25px;height:17px}
.nav-but span:nth-child(1){top:7px;height:3px}
.nav-but span:nth-child(1)::before{top:-7px}
.nav-but span:nth-child(1)::after{bottom:-7px}
.nav-but span:nth-child(2)::before, .nav-but span:nth-child(3)::before{top:7px;height:3px}


.navigation{top:50px}

#home-page .content, .content{padding-top:50px}

	
/*BANNER*/
#home-page .banner-title h3, .banner-title h3{font-size:15px;text-align:center;display:block;margin-bottom:6px}
#home-page .banner-title h2, .banner-title h2{margin-bottom:7px}
.vin-logo{width:21.3%;margin:-5px 0 0 7px;max-width:inherit}
.banner-title h3 span img{width:100%;height:auto;max-width:inherit}
.shap-01, .shap-02{top:-5px;margin-right:15px}
#home-page .banner-txt, .banner-txt{padding-bottom:20px}
#home-page .banner-title h2 img, .banner-title h2 img{width:70.6%;max-width:inherit}
#home-page .banner-txt p, .banner-txt p{font-size:12px;margin-bottom:3px}
.samsung-logo{width:18.13%;height:auto;max-width:inherit;margin:0 4px}
.samsung-logo img{width:100%;height:auto}
.banner-box{padding:10px 0 15px 0}
.banner-box .btn{font-size:11px;height:34px;line-height:30px;padding:0 17px;margin-top:3px}
.banner-pic img{width:88%;height:auto;max-width:inherit;margin-right:2%}

.shap-01{right:auto;left:14.4%;top:-2px;width:7.5vw;margin-right:0;}
.shap-02{width:9.2vw;right:11.7%;margin-right:0;max-width:inherit;left:auto;top:0;}


/*LOGIN*/
.login-box{width:100%;padding:25px 0 50px 0}
.login-pic{margin-bottom:0}
.login-pic img{width:38.2%}
.login-txt h2{font-size:30px;margin-bottom:32px}
.login-txt h2::after{bottom:-15px}
.login-txt p{font-size:14px}
.login-form{padding:0 8%}
.login-box .field{margin-bottom:20px}
.login-box .nameformError{font-size:10px}
.login-txt{margin-bottom:25px}
.login-txt p {padding:0 10%}

/*login success*/
.success-login h2{font-size:30px}
.success-login-txt p{font-size:14px}



/*PRODUCTS*/
.catalog-name{padding:8px 0}
.catalog-name h2{font-size:15px}
.product-inr{padding:15px 10px}
.product-filter{padding:0 0 15px 10px}
.filter-box li{margin-right:15px}
.filter-box li span{font-size:18px}


/*POPUP*/
.circle-icon{width:64px;height:64px}
.circle-icon::after{-webkit-background-size:36px;background-size:36px;}


/*order success*/
.success-order h2{font-size:18px}
.success-order .more, .more{font-size:15px}



/*ORDER*/
.order-block{width:84%}
.order-box h2{font-size:18px}
.order_right .order-block:last-child{margin-top:50px;padding:25px 5% 50px 5%}
.order-txt p{font-size:14px}

/*CART*/
.cart-box h2{font-size:18px}
.cart-info li p.money-minus, .cart-price .red-large, .cart-info li p.red-large{font-size:16px}
.cart-name h3, .cart-price del{font-size:13px}
.add-but, .sub-but{width:26px;height:26px}
.quantity-box .quantity{width:44px;font-size:14px;height:30px;line-height:26px}
.delete-but{font-size:11px}
.delete-icon{width:28px;height:30px;margin-right:4px}
.cart-info li p, .vat-note{font-size:13px}


/*CONDITION*/
.condition-box{padding:30px 5% 60px 5%}
.condition-title h2{font-size:16px}
.condition-box h3{font-size:15px}
.condition-box p{font-size:14px}
.table-wrap th, .table-wrap td{font-size:12px;padding:5px}



/*ERROR PAGE*/
.txt-404 h2{font-size:87px}
.txt-404 h3{font-size:24px;margin:-10px 0 30px 0}
.txt-404 p{font-size:17px;margin:-10px 0 30px 0;padding:0 15%}

}

@media screen and  (max-width:390px){

/*error*/
.message-box.confirm-cart{padding:60px 20px}


/*PRODUCTS*/
.product-item .red-large{font-size:14px}
.product-info span:first-child, .product-info li .money, .red-small{font-size:13px}
.product-but .btn{font-size:12px}
.product-price, .product-info, .product-but{padding:0}

.filter-box li{margin-right:10px}
.filter-box li span{font-size:17px}
.refund-box{padding:5px 0 0 0}
.refund-box li{font-size:10px}

/*CONDITION*/
.table-wrap th, .table-wrap td{font-size:12px}

}

@media screen and  (max-width:370px){
/*LAYOUT*/
.user li.account-name{padding:15px 0 15px 42px}
.user li.account-name span{font-size:17px;}
.user li:nth-child(2){padding:15px 0 0 0}
.user a{font-size:14px}
.nav a{padding:15px 20px 15px 58px}

/*login success*/
.success-login{padding:40px 10px 20px 10px}


/*PRODUCTS*/
.catalog-name{padding:10px 0}
.catalog-name h2{font-size:13px}

.filter-box li{margin-right:7px}
.filter-box li span{font-size:15px}


/*CART*/
.empty-cart h3{font-size:16px}

}

@media screen and  (max-width:350px){
/*BANNER*/
#home-page .banner-txt p, .banner-txt p{font-size:11px}

/*ORDER*/
.cart-box h2, .order-box h2{font-size:16px}

/*order success*/
.success-order h2{font-size:24px}

/*error*/
#order-page .message-box p{padding:0 5%;font-size:17px}

/*PRODUCTS*/
.product-info span:first-child{width:44%}
.product-info span:last-child{width:56%}


/*CONDITION*/
.table-wrap th, .table-wrap td{padding:5px;font-size:11px}

/*ERROR PAGE*/
.txt-404 p{font-size:15px}

}

