@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}

html{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none}
body{line-height:1;color:#000;font-family:'SamsungOne700';-webkit-text-size-adjust:none}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}


ol, ul{list-style:none}
blockquote, q{	quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
a{text-decoration:none}
strong{text-decoration:none;font-weight:bold}
cite, em, i{text-decoration:none;font-weight:normal;font-family:Arial, Helvetica, sans-serif;line-height:1;vertical-align:baseline}
pre, code{text-decoration:none}
ins{text-decoration:none}
sup{text-decoration:none;bottom:5px;font-size:70%;vertical-align:baseline;font-weight:normal;position:relative}
dl dt{text-decoration:none}
dd{text-decoration:none}
mark{text-decoration:none;font-weight:normal;vertical-align:baseline}
del{text-decoration:line-through}
img[alt]{font-size:0}

h1, h2, h3, h4, h5, h6{font-family:'iCielSamsungSharpSansBold';font-weight:normal;font-style:normal;line-height:1.7}
p{font-size:100%;line-height:1.6;font-style:normal;font-weight:normal;-webkit-text-size-adjust:none}

.no-scroll{overflow:hidden}

body{left:0;top:0;bottom:0;right:0;margin:0;padding:0;overflow-x:hidden;background-color:#fff}
.header, .footer, .popup-content, .full-album, .go-down, .to-top{display:none}
.loadicon{position:fixed;left:0;top:0;display:inline-block;width:100%;height:100%;background-color:#fff;z-index:9999}
.loadicon::before{content:'';position:absolute;left:50%;top:50%;margin:-40px 0 0 -40px;width:80px;height:80px;background:url(../images/loading.svg) no-repeat center center}
.loadicon.is-processing{display:block !important;background-color:transparent}
.content{width:100%;height:auto;padding:75px 0 0 0}

