@charset "utf-8";

/*
.ani-item{opacity:0}
.ani-item.on-show{-webkit-animation:fadeInUp;animation:fadeInUp;-webkit-animation-duration:1.2s;animation-duration:1.2s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
*/