.fs-popup-info {
	position: fixed;
	left:0;
  	top:0;
  	display:block;
	width:100vw;
  	height:100vh;
	background-color:rgba(0,0,0,0.9);
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  	color:#000;
  	text-align:center;
  	overflow:hidden;
  	overflow-y:auto;
  	z-index:999;
}
.fs-popup-info.active {
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}
.fs-ctn-pop-info{
    position: absolute;
    display: inline-block;
    top: 50%;
	left: 50%;
	width: 56.30vw;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.fs-ctn-pop-info .fs-box-but{
	position: absolute;
	display: block;
    left: 0;
    bottom: 1.25vw;
    width: 100%;
}
.fs-ctn-pop-info .fs-box-but .fs-btn{
	border: 1px solid #fff;
}
.fs-ctn-pop-info .fs-box-but .fs-btn span{
	color: #fff;
}
.fs-close-popup-info{
    position: absolute;
    top: 6.25vw;
    right: 1.25vw;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    z-index: 1;
}
.fs-close-popup-info::before, .fs-close-popup-info::after{
	content: '';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 2vw;
    height: 0.2vw;
    background-color: #fff;
}
.fs-close-popup-info::before{
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.fs-close-popup-info::after{
  -webkit-transform:translate(-50%, -50%) rotate(-45deg);
  transform:translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width:1100px) {
	.fs-ctn-pop-info{
		width: 83.6vw;
	}
	.fs-close-popup-info {
		top: 12vw;
		right: 2vw;
		width: 5vw;
		height: 5vw;
	}
	.fs-close-popup-info::before, .fs-close-popup-info::after{
		width: 5vw;
	}
	.fs-ctn-pop-info .fs-box-but .fs-btn span{
		font-size: 4vw;
		top: 0;
	}
	.fs-ctn-pop-info .fs-box-but{
		bottom: 5vw;
	}
	.fs-ctn-pop-info .fs-box-but .fs-btn{
		padding: 1.5vw 6vw;
	}
}

@media screen and (max-width:1100px) and (orientation :landscape){
	.fs-ctn-pop-info {
		width: 50vw;
	}
	.fs-close-popup-info {
		top: 7vw;
		right: 0.5vw;
		width: 4vw;
		height: 4vw;
	}
	.fs-close-popup-info::before, .fs-close-popup-info::after {
		width: 3vw;
	}
	.fs-ctn-pop-info .fs-box-but .fs-btn span{
		font-size: 1.75vw;
	}
	.fs-ctn-pop-info .fs-box-but{
		bottom: 3vw;
	}
}

@media screen and (max-width:840px) and (orientation :landscape){
	.fs-ctn-pop-info{
		width: 33vw;
	}
	.fs-ctn-pop-info .fs-box-but .fs-btn span{
		font-size: 1.2vw;
	}
	.fs-ctn-pop-info .fs-box-but .fs-btn{
		padding: 0.3vw 4vw;
	}
	.fs-ctn-pop-info .fs-box-but{
		bottom: 1.5vw;
	}
	.fs-ctn-pop-info .fs-box-but .fs-btn span{
		top: -2px;
	}
	.fs-close-popup-info{
		top: 6vw;
		right: 0.1vw;
		width: 4vw;
		height: 4vw;
	}
	.fs-close-popup-info::before, .fs-close-popup-info::after{
		width: 2vw;
	}
}

@media screen and (max-width:640px) and (orientation :landscape){
	.fs-ctn-pop-info .fs-box-but .fs-btn{
		padding: 0.1vw 4vw;
	}
	.fs-ctn-pop-info .fs-box-but .fs-btn span {
		top: -2px;
	}
}

@media screen and (max-width:520px) {
}

@media screen and (max-width:350px) {
	.fs-ctn-pop-info .fs-box-but .fs-btn span{
		top: -2px;
	}
	.fs-ctn-pop-info .fs-box-but{
		bottom: 4vw;
	}
}


