#footnote {padding:4vw 7vw;background:#000;color:#fff;}
#footnote a, .fn-txt a, .fn-txt span {padding:1vw 0;color:#fff;font-size:2.5vw;font-weight:400;line-height:initial;}
.fn-list .h2 {font-size:4vw;text-transform:none;padding-bottom:2vw;font-weight:700;line-height:initial;}
.fn-txt a, .fn-txt span {display:block;}
.fn-icons a {vertical-align:middle;display:inline-block;margin-right:1em;}

@media (max-width:1023px) {
	.fn-group {display:flex;justify-content:space-between;align-items:flex-start;margin:3vw 0;}
	.fn-group .fn-list {width:48%;}
	.fn-group .fn-list.fw {width:96%;}
	.fn-icons a img {max-height:7vw;margin-top:7vw;}
	.fn-group.inline {width:49%;display:inline-block;vertical-align:top;}
	.fn-group.inline .fn-list {width:100%;display:block;margin-bottom:3vw;}
}

@media (min-width:1024px) {
	#footnote {padding:3vw 0 calc(115px + 2vw) 5vw;}
	.fn-group.sm {max-width:22%;}
	.fn-group, .fn-list {display:inline-block;vertical-align:top;}
	.fn-list {padding-right:4.5vw;}
	#footnote a, .fn-txt a, .fn-txt span {font-size:0.8vw;padding:0.3vw 0;}
	.fn-list .h2 {padding-bottom:0.5vw;font-size:1.2vw;}
	.fn-icons a img {max-height:2vw;margin-top:4vw;}
}
