/*MARGIN*/
.mb32{margin-bottom:32px}
.mb40{margin-bottom:40px}

.mask-input, .nameformError, input[type="text"], input[type="password"], input[type="tel"], textarea, .check-box li p, .radio-box li p, .select-header span, .select-box li{font-family:'SamsungOne600';font-weight:normal;font-style:normal;}


/*INPUT*/
input[type="text"], input[type="password"], input[type="tel"]{width:100%;height:50px;line-height:50px;padding:0 20px;background-color:#fff;outline:none;border:1px solid #babcc2;-webkit-border-radius:10px;border-radius:10px;-webkit-appearance:none;color:#000;font-size:16px}
input[type="text"]:focus, input[type="tel"]:focus, .hide input[type="text"], .hide input[type="tel"]{background-color:#e5e5e5;}

textarea{width:100%;height:110px;padding:15px 20px;background-color:transparent;outline:none;border:none;-webkit-border-radius:10px;border-radius:10px;border:1px dashed #ccc;-webkit-appearance:none;overflow:hidden;overflow-y:auto;resize:none;font-style:italic;font-size:16px;color:#7f7f7f;line-height:1.4}
.bd-solid{border:1px solid #ccc;}

textarea:focus{background-color:#e5e5e5;color:#000}

.show-error input[type="text"], .show-error input[type="password"], .show-error input[type="tel"]{border:1px solid #ff0000}


/*BUTTON*/

@-webkit-keyframes rotateAnimation {
    0% {
        -webkit-transform: rotate(0);
		transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
		transform: rotate(360deg);
    }
}

@keyframes rotateAnimation {
    0% {
        -webkit-transform: rotate(0);
		transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
		transform: rotate(360deg);
    }
}

button, a.payment-but, a.payment-next{position:relative;display:block;width:100%;height:50px;line-height:50px;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(32,116,220,1)), color-stop(1%, rgba(32,116,220,1)), color-stop(100%, rgba(0,87,164,1)));background:linear-gradient(90deg, rgba(32,116,220,1) 0%, rgba(32,116,220,1) 1%, rgba(0,87,164,1) 100%);background-color:#0057a4;text-align:center;text-transform:uppercase;-webkit-border-radius:10px;border-radius:10px;border:none;outline:none;-webkit-appearance:none;cursor:pointer;font-family:'iCielSamsungSharpSansBold';font-style:normal;font-weight:normal;color:#fff;font-size:18px;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}

button.is-processing::before, a.payment-but.is-processing, a.payment-next.is-processing::before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;-webkit-border-radius:10px;border-radius:10px;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(32,116,220,1)), color-stop(1%, rgba(32,116,220,1)), color-stop(100%, rgba(0,87,164,1)));background:linear-gradient(90deg, rgba(32,116,220,1) 0%, rgba(32,116,220,1) 1%, rgba(0,87,164,1) 100%);background-color:#0057a4;z-index:1}
button.is-processing::after, a.payment-but.is-processing::after, a.payment-next.is-processing::after{content:'';position:absolute;left:50%;top:50%;display:block;width: 24px;height: 24px;margin:-12px 0 0 -12px;border-radius: 15px;border: 3px solid #fff;border-bottom: 3px solid rgba(255,255,255,0);border-left: 3px solid rgba(255,255,255,0);z-index:2;
    animation-name: rotateAnimation;
    -webkit-animation-name: rotateAnimation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.add-to-cart.is-processing::before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;-webkit-border-radius:5px;border-radius:5px;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(32,116,220,1)), color-stop(1%, rgba(32,116,220,1)), color-stop(100%, rgba(0,87,164,1)));background:linear-gradient(90deg, rgba(32,116,220,1) 0%, rgba(32,116,220,1) 1%, rgba(0,87,164,1) 100%);background-color:#0057a4;z-index:1}
.add-to-cart.is-processing::after{content:'';position:absolute;left:50%;top:50%;display:block;width: 24px;height: 24px;margin:-12px 0 0 -12px;-webkit-border-radius: 15px;border-radius: 15px;border: 3px solid #fff;border-bottom: 3px solid rgba(255,255,255,0);border-left: 3px solid rgba(255,255,255,0);z-index:2;
    animation-name: rotateAnimation;
    -webkit-animation-name: rotateAnimation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}


.grey.is-processing::before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;-webkit-border-radius:5px;border-radius:5px;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(32,116,220,1)), color-stop(1%, rgba(32,116,220,1)), color-stop(100%, rgba(0,87,164,1)));background:linear-gradient(90deg, rgba(32,116,220,1) 0%, rgba(32,116,220,1) 1%, rgba(0,87,164,1) 100%);background-color:#0057a4;z-index:1}
.grey.is-processing::after{content:'';position:absolute;left:50%;top:50%;display:block;width: 24px;height: 24px;margin:-12px 0 0 -12px;-webkit-border-radius: 15px;border-radius: 15px;border: 3px solid #fff;border-bottom: 3px solid rgba(255,255,255,0);border-left: 3px solid rgba(255,255,255,0);z-index:2;
    animation-name: rotateAnimation;
    -webkit-animation-name: rotateAnimation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}


.btn.add-to-cart{display:none !important}

.box-btn{display:block}


.btn{position:relative;display:inline-block;padding:0 15px;width:auto;height:40px;line-height:38px;border:1px solid #c7c7c7;font-family:'SamsungOne600';font-weight:normal;font-style:normal;font-size:16px;color:#333;text-transform:uppercase;border-radius:5px;-webkit-border-radius:5px;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.btn.grey{color:rgba(255,255,255,0.8);background-color:#0057a4;border:1px solid #0057a4;}

button:hover, a.payment-but:hover, a.payment-next:hover, .btn:hover{opacity:0.5}

/*CHECK BOX*/
.check-box{position:relative;display:block;width:100%;height:auto;text-align:left}
.check-box li{position:relative;display:block;width:100%;height:auto;margin-bottom:26px;line-height:24px;padding:0 0 0 34px}
.check-box li p, .check-box li h2{display:inline-block;vertical-align:middle;margin:0}
.check-box li p{position:relative;font-size:14px;top:-2px;line-height:1.2}

.check-box input[type="checkbox"]{display:block;width:24px;height:24px;position:absolute;left:0;top:0;margin:0;z-index:1;opacity:0;-webkit-appearance:none;background-color:transparent;outline:none;border:none;cursor:pointer;vertical-align:middle}
.check-mask{position:absolute;left:0;top:0;width:24px;height:24px;border:2px solid #969b9f;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.check-mask::before{content:'';position:absolute;left:0;top:0;display:block;width:100%;height:100%;background:url(../images/check.png) no-repeat center center;-webkit-background-size:17px;background-size:17px;opacity:0;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.check-box input[type="checkbox"]:checked + .check-mask{background-color:#0057a4;border:2px solid #0057a4;}
.check-box input[type="checkbox"]:checked + .check-mask::before{opacity:1}

.check-box.line{padding-bottom:16px;margin-bottom:30px}
.check-box.line h2{line-height:1.2;padding:0;margin:0;position:relative;top:1px}
.check-box.line li{margin:0}

/*CHECK BOX*/
.radio-box{position:relative;display:block;width:100%;height:auto;text-align:left}
.radio-box li{position:relative;display:block;width:100%;height:auto;margin-bottom:32px;line-height:25px;padding:0 0 0 35px}
.radio-box input[type="radio"]{display:block;width:25px;height:25px;position:absolute;left:0;top:0;margin:0;z-index:1;opacity:0;-webkit-appearance:none;background-color:transparent;outline:none;border:none;cursor:pointer;vertical-align:middle}
.radio-box li p{position:relative;top:-2px;display:inline-block;vertical-align:middle;font-size:18px;line-height:1.4}
.radio-mask{position:absolute;left:0;top:0;width:25px;height:25px;border:2px solid #969b9f;-webkit-border-radius:50%;border-radius:50%;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.radio-box input[type="radio"]:checked + .radio-mask{border:7px solid #0057a4}
.radio-box input[type="radio"]:checked + .radio-mask + p{text-decoration:underline}


/*SELECT LIST*/
.select-list{position:relative;display:block;width:100%;height:auto;z-index:1}
.select-header{position:relative;display:block;width:100%;height:50px;line-height:50px;border:1px solid #ccc;-webkit-border-radius:10px;border-radius:10px;cursor:pointer;z-index:2}
.select-header span{display:inline-block;width:auto;max-width:90%;position:relative;padding:0 20px;font-size:16px;color:#7f7f7f;line-height:1.2;vertical-align:middle;max-height:38px;overflow:hidden}
.select-header::after{content:'';position:absolute;right:20px;top:50%;margin-top:-6px;display:block;border:12px solid #b7b7b7;border-right:6px solid transparent;border-left:6px solid transparent;border-bottom:0;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}

.select-box{position:absolute;top:0;left:0;display:block;width:100%;height:auto;padding-top:56px;visibility:hidden;opacity:0;-webkit-transform:translateY(-30px);transform:translateY(-30px);transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s}
.select-box ul{position:relative;display:block;width:100%;height:auto;padding:0 10px 10px 10px;background-color:#e5e5e5;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;max-height:300px;overflow-x:hidden;overflow-y:auto}
.select-box li{position:relative;display:block;width:100%;height:auto;text-align:left;margin:0 auto 1px auto;background-color:#fff;padding:15px 20px;font-size:14px;color:#7f7f7f;cursor:pointer;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}

.select-box li:not(.selected):hover, .select-box li.selected{background-color:#ccc;color:#fff}
.select-box li.selected::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%}
.select-box li.hide{display:none}


.select-sort{background-color:#e5e5e5;padding:10px 10px 5px 10px;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0}
.select-sort input{background-color:#fff;border-radius:0;-webkit-border-radius:0;color:#999;padding:0 20px;line-height:38px;height:40px;font-size:14px}
.select-sort input:focus, .select-sort.hide input, .hide .select-sort input{background-color:#fff;}
.show-error .select-sort input{border:2px solid #dadada;}

.open .select-header, .hide .select-header{background-color:#e5e5e5}
.open .select-header::after{-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}
.open .select-box{opacity:1;visibility:visible;-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition-delay:0s, 0s;transition-delay:0s, 0s}


.is-city, .is-city-edit{z-index:4}
.is-district, .is-district-edit{z-index:3}
.is-town, .is-town-edit{z-index:1}
.is-distribution-hcm, .is-center{z-index:2}
.is-distribution-hn, .is-agen{z-index:1}
.show-error .select-header{border:1px solid #fe0000;}


/*FORM*/
.field-box{position:relative;display:block;width:100%;height:auto;text-align:left}
.field{position:relative;display:block;width:100%;height:auto;margin-bottom:22px}
.mask-input{position:absolute;left:0;top:0;width:auto;height:auto;color:#757578;font-size:16px;-webkit-transform:translate3d(20px,17px,0);transform:translate3d(20px,17px,0);-webkit-transition:transform 0.3s ease-in-out;transition:transform 0.3s ease-in-out}
.hide .mask-input{-webkit-transform:translate3d(20px,5px,0);transform:translate3d(20px,5px,0);font-size:10px}
.nameformError{position:absolute;left:0;top:100%;margin-top:2px;font-size:12px;color:#ff0000;line-height:1.2}



@media screen and (max-width:1100px){
.btn{-webkit-transition:none;transition:none}

.radio-box li p{top:-3px;font-size:28px;line-height:1.2}
.radio-box li{line-height:34px;padding:0 0 0 54px}
.radio-box input[type="radio"]{width:34px;height:34px}
.radio-mask{width:34px;height:34px;-webkit-transition:none;transition:none}
.radio-box input[type="radio"]:checked + .radio-mask{border:10px solid #0057a4}

.check-box li p{top:-3px;font-size:28px;line-height:1.2}
.check-box li{line-height:34px;padding:0 0 0 54px}
.check-box input[type="checkbox"]{width:34px;height:34px}
.check-mask{width:34px;height:34px;-webkit-transition:none;transition:none}
.check-mask::before{-webkit-background-size:22px;background-size:22px;-webkit-transition:none;transition:none}
.nameformError{position:relative;left:auto;top:auto;margin-top:5px}


/*INPUT*/
input[type="text"], input[type="password"], input[type="tel"]{padding:0 37px;height:90px;line-height:90px;font-size:28px;border:2px solid #ccc;}
.show-error input[type="text"], .show-error input[type="password"], .show-error input[type="tel"]{border:2px solid #ff0000}
textarea{font-size:28px;height:230px;padding:20px 37px}



/*BUTTON*/
button, a.payment-but, a.payment-next{height:90px;line-height:90px;font-size:28px}
.mask-input{font-size:28px;-webkit-transform:translate3d(37px,30px,0);transform:translate3d(37px,30px,0)}
.hide .mask-input{-webkit-transform:translate3d(37px,10px,0);transform:translate3d(37px,10px,0);font-size:12px}
button, a.payment-but, a.payment-next, .btn{-webkit-transition:none;transition:none}
button:hover, a.payment-but:hover, a.payment-next:hover, .btn:hover{opacity:1}

.select-header{height:90px;line-height:86px;border:2px solid #ccc}
.select-header span{max-height:66px;font-size:28px;padding:0 37px}
.select-box{padding-top:96px}
.select-box li{-webkit-transition:none;transition:none;font-size:20px}
.select-box li:not(.selected):hover{background-color:#fff;color:#4a4a4a}
.select-box ul{-webkit-overflow-scrolling:touch}
.select-sort input{height:60px;line-height:58px;padding:0 20px;font-size:20px}
.show-error .select-header{border:2px solid #fe0000;}

/*FORM*/
.field{margin-bottom:20px}
.nameformError{font-size:15px}
.mb32{margin-bottom:40px}
.bd-solid{border:2px solid #ccc;}

}

@media screen and (max-width:700px){
input[type="text"], input[type="password"], input[type="tel"], textarea, button, .mask-input, .select-header span, .check-box li p, .radio-box li p{font-size:26px}
.select-sort input, .select-box li{font-size:18px}
.select-header span{max-height:64px}
}

@media screen and (max-width:600px){
input[type="text"], input[type="password"], input[type="tel"], textarea, button, .mask-input, .select-header span, .check-box li p, .radio-box li p{font-size:18px}
input[type="text"], input[type="password"], input[type="tel"]{height:70px;line-height:70px;padding:0 20px}
textarea{padding:20px}
.select-header span{padding:0 20px}
.mask-input{-webkit-transform:translate3d(20px,25px,0);transform:translate3d(20px,25px,0)}
.hide .mask-input{-webkit-transform:translate3d(20px,7px,0);transform:translate3d(20px,7px,0);font-size:11px}
.nameformError{font-size:15px}
button, a.payment-but, a.payment-next{height:70px;line-height:70px;font-size:22px}
.select-header{height:70px;line-height:66px}
.select-box{padding-top:76px}
.select-sort input, .select-box li{font-size:17px}
.select-header::after{right:15px}
.select-header span{max-height:42px}
.select-sort input{line-height:42px;height:46px}

.check-box li, .radio-box li{padding:0 0 0 50px}

}

@media screen and (max-width:520px){
input[type="text"], input[type="password"], input[type="tel"], textarea, button, .mask-input, .select-header span, .check-box li p, .radio-box li p{font-size:14px}
input[type="text"], input[type="password"], input[type="tel"]{height:46px;line-height:42px;padding:0 20px}
textarea{padding:20px;height:115px}
.select-header span{padding:0 20px}
.mask-input{-webkit-transform:translate3d(20px,16px,0);transform:translate3d(20px,16px,0)}
.hide .mask-input{-webkit-transform:translate3d(20px,7px,0);transform:translate3d(20px,7px,0);font-size:9px}
.nameformError{font-size:10px}
button, a.payment-but, a.payment-next{height:46px;line-height:46px;font-size:16px}
.select-header{height:46px;line-height:42px}
.select-box{padding-top:52px}
.select-sort input, .select-box li{font-size:13px}
.select-header::after{right:15px;border:6px solid #b7b7b7;border-right:6px solid transparent;border-left:6px solid transparent;border-bottom:0;margin-top:-3px}

.select-header span{max-height:42px}
.select-sort input{height:46px;line-height:42px}


.radio-box li p{top:-1px}
.radio-box li{line-height:22px;padding:0 0 0 32px}
.radio-box input[type="radio"]{width:22px;height:22px}
.radio-mask{width:22px;height:22px}
.radio-box input[type="radio"]:checked + .radio-mask{border:5px solid #0057a4}
.radio-box li{margin-bottom:20px}


.check-box li p{top:-1px}
.check-box li{line-height:22px;padding:0 0 0 32px}
.check-box input[type="checkbox"]{width:22px;height:22px}
.check-mask{width:22px;height:22px}
.check-mask::before{-webkit-background-size:15px;background-size:15px}
.check-box li{margin-bottom:20px}

	
}

@media screen and (max-width:390px){
}

@media screen and (max-width:370px){
}

