
html, body {
	font-family:'SamsungOne';
	-webkit-text-size-adjust:none;
}


h1, h2, h3, h4, h5, h6 {
	font-family:'iCielSamsungSharpSansBold';
	font-weight:normal;
	font-style:normal;
}

.clear::after{
	content:'';
	display:block;
	width:100%;
	height:0;
	clear:both;
}

body{overflow-y:auto;}

#pageWrap,
#hdrWrap,
#cntWrap,
#ftrWrap,
.hdr_inr,
.cnt_inr,
.ftr_inr {
	display:block;
	width:100%;
	height:auto;	
}

#hdrWrap {
	position:absolute;
	z-index:2;
}


.section-box,
.section-inr {
	position:relative;
	width:100%;
	height:auto;
}

.title{}
.lvl-01{}
.lvl-02{}
.lvl-03{}

.lvl-01 h1{}
.lvl-01 h2{}
.lvl-01 h3{}
.lvl-01 h4{}

.lvl-02 h2{}
.lvl-02 h3{}
.lvl-02 h4{}

.lvl-03 h2{}
.lvl-03 h3{}
.lvl-03 h4{}

.box{
	position:relative;
	display:block;
	float:left;
}

.size-01{width:8.3333%}
.size-02{width:16.6666%}
.size-03{width:25%}
.size-04{width:33.3333%}
.size-05{width:41.6666%}
.size-06{width:50%}
.size-07{width:58.3333%}
.size-08{width:66.6666%}
.size-09{width:75%}
.size-10{width:83.3333%}
.size-11{width:91.6666%}
.size-12{width:100%}

.area-txt {

}

.area-pic {
	line-height:0;
	overflow:hidden;
}

.area-pic img {
	
}

.banner-slider{
	position:relative;
	display:block;
	width:100%;
	height:100vh;
}

/*
@-webkit-keyframes Start{
	from{visibility:hidden}
	to{visibility:visible}
}

@keyframes Start{
	from{visibility:hidden}
	to{visibility:visible}
}
body{visibility:visible;overflow-y:auto;}
*/

/*loading*/
.loadicon{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background-color:#fff;
	z-index:f8f8f89
}

.loadicon::before{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	margin:-40px 0 0 -40px;
	width:80px;
	height:80px;
	background:url(../images/loading.svg) no-repeat center center
}



