@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*html5*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	background:#fff;
	color:#333;
	line-height:1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input {
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
}

/*
body{width:100%;left:0;top:0;bottom:0;right:0;background-color:#fff;-webkit-animation:Start .7s steps(1, end) 0s 1 normal both;animation:Start .7s steps(1, end) 0s 1 normal both}

.header, .footer, .popup-content, .full-album, .go-down, .to-top, .loadicon{display:none}

.useFull{position:fixed;overflow:hidden;}
.content{position:relative;display:block;width:100%;height:auto;opacity:0}
.useFull .content{height:100%;overflow:hidden}
*/


/*Ie 10/11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html{overflow:hidden;height:100%}
	body{height:100%;overflow:hidden;overflow-y:auto}
}
*/


/*
@-webkit-keyframes Start{
	from{visibility:hidden}
	to{visibility:visible}
}

@keyframes Start{
	from{visibility:hidden}
	to{visibility:visible}
}
*/

