.fs-age{
    height: 100%;
}
.fs-age-inr{
    height: 100%;
	background: url(../images/bg-age.jpg) no-repeat center center;
	background-size: cover;
}
.logo-age{
    position: relative;
    width: 7.70833vw;
    margin: 0 auto 1.4583vw auto;
    padding-top: 5vw;
}
.fs-age-inr .fs-box{
    position: absolute;
    width: 35%;
    top: 11.197vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.fs-age-inr .fs-box .fs-txt{
    text-align: center;
}
.fs-age-inr h1, .fs-age-inr p{
    font-size: 1.3541vw;
    color: #fff;
    text-transform: uppercase;
}
.fs-age-inr h1{
    margin-bottom: 1.5625vw;
}

@media screen and (min-width:1101px) and (max-height:800px){ 

}

@media screen and (min-width:1101px) and (max-height:750px){ 
    .logo-age {
        margin: 0 auto 1.4583vw auto;
        padding-top: 4vw;
    }
}