.choose-can{
    height: 100%;
}
.choose-can-inr{
	background: url(../images/bg-all.jpg) no-repeat center bottom;
	background-size: auto 100%;
    height: 100%;
}
.box-heading{
    position: relative;
    display: block;
    width: 21.875%;
    margin: 0 auto;
    padding-top: 3.90625vw;
    text-align: center;
}
.box-heading .fs-pic{
    margin-bottom: 0.36458vw;
}
.box-heading h1{
    font-family: 'SVN-Futura Cond Book';
    font-weight: normal;
    font-size: 1.25vw;
    color: #fff;
    margin-bottom: 0.4166vw;
}

/* list can */
.list-can{
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 7.2916vw;
    width: 42.1875%;
    margin: 0 auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    justify-content: center;
}
.item-can{
    position: relative;
    flex: 0 0 20.15%;
    max-width: 20.15%;
}
.pic-extra{
    position: relative;
}
.pic-extra img{
    width: 100%;
}
.pic-extra img.headphone{
    position: absolute;
    top: -3vw;
    left: 50%;
    width: 16.53125vw;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.pic-extra img.wave{
    position: absolute;
    top: 0;
    left: 50%;
    width: 23.75vw;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.name-can-box{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 10.46875vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    opacity: 0;
}
.name-can-box h2{
    font-size: 0.98958vw;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.26041vw;
}


@media screen and (min-width:1101px) and (max-height:800px){ 
    .box-heading{
        width: 20%;
        padding-top: 3vw;
    }
    .box-heading h1 {
        font-size: 1.1vw;
    }
    .list-can {
        bottom: 5vw;
    }
    .item-can {
        flex: 0 0 18%;
        max-width: 18%;
    }
    .pic-extra img.headphone {
        width: 13vw;
    }
    .pic-extra img.wave {
        width: 20vw;
    }
    .name-can-box h2 {
        font-size: 0.7vw;
    }
    .but-create {
        height: 2.083333vw;
        line-height: 2.083333vw;
        font-size: 0.8333vw;
        background-size: 1.3vw auto;
    }
}

@media screen and (min-width:1101px) and (max-height:750px){ 
    .list-can {
        bottom: 4.5vw;
    }
    .item-can {
        flex: 0 0 16%;
        max-width: 16%;
    }
    .pic-extra img.headphone {
        width: 12vw;
    }
    .pic-extra img.wave {
        width: 21vw;
    }
    .name-can-box h2 {
        font-size: 0.7vw;
    }
    .but-create {
        height: 2vw;
        line-height: 2vw;
        font-size: 0.7vw;
        background-size: 1.2vw auto;
    }
}

@media screen and (min-width:1101px) and (max-height:700px){ 
    
}

