.popup-overlay{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0, 0, 0,0.9);
	z-index:1000;
	text-align:center;
}
.popup-overlay::before, .popup-overlay::after{
	content:'';
	position:relative;
	display:inline-block;
	width:0;
	height:100%;
	vertical-align:middle;
}
.popup-inr{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:75vw;
	height: auto;
	text-align:left;
	z-index:3;
}
.age-popup .fs-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box-inr{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 1.4583vw;
    text-align: center;
}
.logo-pop{
    width: 10.2777%;    
    margin: 0 auto 0.8vw auto;
}
.age-popup .fs-txt{
    text-align: center;
}
.age-popup .fs-txt p{    
    font-size: 2.45vw;
    color: #fff;
    text-transform: uppercase;
}
.age-box{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.8854vw;
    width: 29.1666%;
    margin: 0 auto 0.5208vw auto;
}
.item-age{
    position: relative;
    display: block;
    flex: 0 0 46.6666%;
    max-width: 46.6666%;
    text-align: center;
    cursor: pointer;
    padding:0.52083vw 0;
    border: 3px solid #ffffff;
    opacity: 0.5;
}
.item-age p, .item-age span{
    color: #fff;
    font-weight: bold;
}
.item-age p{
    font-size: 2.2395vw;
    line-height: 1;
}
.item-age span{
    font-size: 1.25vw;
}
.checkbox-age{
    position: relative;
    display: block;
    width: 29.16666%;
    margin: 0 auto;
    padding: 0 2.1vw;
}
.checkbox-age .fs-checkbox label{
    font-family: 'SVN-Futura Cond Book';
    font-weight: normal;
    padding-left: 0;
}
.checkbox-age .fs-checkbox label::before, 
.checkbox-age .fs-checkbox label::after, 
.checkbox-age .fs-checkbox input[type='checkbox'] {
    width: 1.04166vw;
    height: 1.04166vw;
}
.checkbox-age .fs-checkbox label::before,
.checkbox-age .fs-checkbox label::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.checkbox-age .fs-checkbox label::before{
    border: 1px solid #65ff42;
}
.checkbox-age .fs-checkbox label::after{
    background-color:rgba(101, 255, 66,0.5);
}


@media screen and (min-width: 1101px) {
    .item-age{
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .item-age:hover{
        opacity: 1;
        background-color: rgba(0, 127, 44, 0.3);
        -webkit-box-shadow: 0px 0px 7px 2px rgba(0,255,0,0.5), inset 0px 0px 7px 2px rgba(0,255,0,0.5); 
        box-shadow: 0px 0px 7px 2px rgba(0,255,0,0.5), inset 0px 0px 7px 2px rgba(0,255,0,0.5);
    }
}
