/*LAYOUT*/
.header, .footer, .popup-content, .full-album, .go-down, .to-top, .loadicon{display:none}
.useFull{position:fixed;overflow:hidden}
.content{position:relative;display:block;width:100%;height:auto}
.useFull .content{height:100%;overflow:hidden}

.header{display:block;width:100%;height:auto}
.header > span{width:100%;height:76px;position:fixed;left:0;top:0;background-color:#fff;z-index:90}
.isIE .header > span{width:calc(100% - 16px)}
.header.fixed > span{}

.nav-but{width:40px;height:40px;position:fixed;right:20px;top:20px;background-color:#000;z-index:100;color:#fff;cursor:pointer}
.nav-but.active{background-color:#fff}
    
.navigation{position:fixed;left:0;bottom:0;display:block;width:100%;height:0;background-color:rgba(0,0,0,0.9);-webkit-transition:height 0.3s ease-in-out;transition:height 0.3s ease-in-out;z-index:96;text-align:center;overflow:hidden}
.navigation::before, .navigation::after{content:'';position:relative;display:inline-block;width:0;height:100%;vertical-align:middle}
.navigation.active{}

.nav-outer{width:400px;height:80%;position:relative;display:inline-block;margin-right:17px;vertical-align:middle;overflow:hidden}
.nav{width:100%;height:auto;max-height:100%;position:absolute;left:17px;top:50%;transform:translate3d(0,-50%,0);-webkit-transform:translate3d(0,-50%,0);display:block;z-index:120;overflow:hidden;overflow-y:auto}

.nav ul{width:100%;position:relative}    
.nav li{width:100%;margin:0 0 1px 0}    
.nav li a{display:block;padding:15px 20px;color:#fff;font-size:16px;text-transform:uppercase}