<ion-header>
  <ion-toolbar>
    <ion-title>itelGame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-toolbar>
    <app-tab></app-tab>
  </ion-toolbar>
  <app-banner [type]="2"></app-banner>
  <app-slider [type]="2"></app-slider>
  <app-slider [type]="2"></app-slider>
  <app-slider [type]="2"></app-slider>
  <!-- <app-slide></app-slide> -->
  <!-- <ion-content class="fs-content">
    <app-slide></app-slide>
  </ion-content> -->
  <!-- <ng-template *ngIf="this.banner.bannerType === 1">
    <app-banner></app-banner>
  </ng-template> -->
  <!-- <ion-content class="fs-content">
    <app-slide></app-slide>
  </ion-content> -->
</ion-content>
