.fs-section h2, .fs-section h3, .fs-section h4{
    font-family: 'UTM Neo Sans Intel';
    font-weight:bold;
    font-size:2.5vw;
    line-height:3.47vw;
    letter-spacing:0.125vw;
}

.fs-section p {
    font-weight:400;
    font-style: normal;
    font-size:1.38888vw;
    /* line-height:1.6666vw; */
    line-height:2vw;
}
.fs-section p.fs-note{
    font-size:1.25vw;
    line-height:1.527vw;
}
.fs-section strong{
    font-weight:700;
}

.fs-but{
    display:inline-block;
    width:auto;
    padding:1.05vw 0;
    font-size:1.3888vw;
    background: linear-gradient(83.5deg, #04A5E0 34.9%, #0070BC 100%);
    -wenkit-border-radius:2.08vw;
    border-radius:2.08vw;
    color: #fff;
    font-weight:400;
}

.fs-line{
    position: relative;
    display: block;
    width:100%;
    height:auto;
    margin:0 auto;
}
.fs-line::before{
    content: '';
    position: absolute;
    left:0;
    top:50%;
    width:100%;
    height:1px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:0;
    background-color: #fff;
}
.fs-line span{
    display:inline-block;
    z-index: 1;
}
.fs-line span{
    position: relative;
    display:inline-block;
    padding:0 1.45vw;
    font-weight:400;
    color:#fff;
    font-size: 1.25vw;
    line-height:1.52777vw;
    z-index: 1;
}

.hero-banner {
    display: block;
}
.hero-banner .fs-box{
    position: absolute;
    width:30.5555%;
    height: auto;
    top:50%;
    right:18%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;    
}
.logo-trisure{
    margin-bottom:1.1vw;
}
.hero-banner .fs-txt p {
    color:#1E7BAC;
    margin-bottom:1.1vw;
}
.hero-banner .fs-but{
    display: block;
}


.number-talk{
    margin-bottom:5.5vw;
    padding: 2.43vw 0 1.1111vw 0;
    background-color: #229CC7;
    color: #fff;
    text-align: center;
}
.number-talk .fs-line span{
    background-color: #229CC7;
}
.number-talk .fs-title{
    margin-bottom:1.875vw;
}
.talk-item{
    display: inline-block;
    vertical-align: top;
    width:22.5%;
    margin-bottom:2.7vw;
}
.talk-item p {
    font-size:1.3888vw;
}
.number{
    font-size:4.1666vw;
    font-style: normal;
    font-weight:900;
    margin-bottom:0.9vw;
    line-height:5vw;
    letter-spacing:0.125vw;
}



.analysis-trisure{
    padding:0 3%;
    margin-bottom:6.94vw;
    font-size:0;
}
.analysis-trisure .fs-pic{
    display:inline-block;
    vertical-align: middle;
    width:46.4%;
    min-width:36.1111vw;
}
.analysis-trisure .fs-txt{
    display:inline-block;
    vertical-align: middle;
    width:53.6%;
    padding:0 0 0 3%;
}
.analysis-trisure h2{
    color:#1E7BAC;
    margin-bottom:1.1vw;
}
.analysis-trisure p{
    margin-bottom:1.5vw;
}




.gene-solution-strengths{
    padding:0 11%;
    margin-bottom:12.6333vw;
    text-align:center;
}
.gene-solution-strengths .fs-title{
    margin-bottom: 1.527777vw;
}
.gene-solution-strengths .fs-title span{
    color: #1E7BAC;
}
.strength-items{
    width:100%;
    font-size:0;
}
.strength-item{
    display: inline-block;
    vertical-align:top;
    width:49%;
    padding:3.7% 0.7% 2.84% 0.7%;
    margin-bottom:2%;
}
.strength-item:nth-child(2n+1) {
    margin-right:2%;
}
.strength-item:nth-child(3n+2), .strength-item:nth-child(3n+3) {
    background-color:#F5F5F5;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.strength-item:nth-child(3n+2) h3, .strength-item:nth-child(3n+3)  h3{
    color: #1E7BAC;
}
.strength-item .icon{
    margin-bottom:1.111vw;
}
.strength-item .icon{
    min-height:6.94444vw;
}
.strength-item .icon img{
    width: auto;
    height:6.94444vw;
}
.strength-item h3{
    font-size:1.6666vw;
    line-height:2.0138vw;
}




.benefit-implemented{
    padding:0 3% 0 10%;
    margin-bottom:6.94vw;
}
.benefit-implemented .fs-txt{
    float: left;
    width:55.44%;
    padding: 0 2.4% 0 0;
}
.benefit-implemented .fs-pic{
    float: right;
    width:44.56%;
    min-height:36.1111vw;
}
.benefit-implemented h2{
    color: #1E7BAC;
    margin-bottom: 1.1vw;
}
.benefit-implemented p {
    margin-bottom:1.5vw;
}
.benefit-items{
    font-size:0;
    text-align: center;
}
.benefit-item{
    display:inline-block;
    vertical-align: top;
    width:32%;
    margin:0 2% 2% 0;
}
.benefit-item:nth-child(3n){
    margin:0 0 2% 0;
}
.benefit-implemented .fs-small-txt p{
    font-size: 1.25vw;
    line-height:1.527vw;
}
.fs-small-pic {
    display: block;
    text-align: center;
    line-height:0;
    margin-bottom:1vw;
}
.fs-small-pic img{
    height:4vw;
    width: auto;
    max-width: 100%;
}




.trisure-who{
    padding:4.86vw 0 1.6666vw 0;
    text-align: center;
}
.trisure-who .fs-title{
    margin-bottom:5.07vw;
}
.trisure-who .fs-title h2{
   color: #1E7BAC;
}
.trisure-who .fs-pic{
    width:86.25%;
    margin:0 auto 5.07vw auto;
    min-height:30vw;
}
.trisure-who .fs-buts{
    margin-bottom:4vw;
}
.trisure-who .fs-but{
    padding:1.05vw 2.7vw;
}
.trisure-who .fs-txt{
    width:78%;
    margin:0 auto;
}
.trisure-who .fs-line {
    width:64%;
    margin:0 auto 1.1vw auto;
}
.trisure-who .fs-line::before{
    background-color:#666;
}
.trisure-who .fs-line .icon{
    padding:0 2.8vw;
    background-color:#fff;;
}
.trisure-who .fs-line .icon img{
    width:3.3333vw;
}
.trisure-who .fs-txt p:not(.fs-note){
    font-size:1.6666vw;
    margin-bottom:1.1vw;
}


.trisure-procedure{
    margin-bottom:6.94vw;
}
.trisure-procedure .fs-title{
    position: absolute;
    width:100%;
    text-align: center;
    left: 0;
    top:0;
    padding:2.3666vw 0 0 0;
    z-index: 1;
}
.trisure-procedure .fs-title h2{
    color: #fff;
}


.trisure-advantages{
    text-align:center;
    margin-bottom:5.84vw;
}
.trisure-advantages .fs-title{
    margin-bottom:2.1527vw;
}
.trisure-advantages h2{
    color: #1E7BAC;
}



.trisure-package-analysis{
    text-align:center;
    margin-bottom:3.8vw;
}
.trisure-package-analysis .fs-title{
    margin-bottom:2.1527vw;
}
.trisure-package-analysis h2{
    color: #1E7BAC;
}
.trisure-package-analysis .fs-pic{
    width:75%;
    margin:0 auto 3vw auto;
}
.trisure-package-analysis p {
    margin-bottom: 1.6666vw;
}
.trisure-package-analysis .fs-but{
    padding:1.05vw 2.7vw;
}

.trisure-qoute{
    padding:2.64vw 0;
    background: url(../images/products/qoute-bg.png) no-repeat center center;
    background-size: cover;
    background-color: #fff;
}
.trisure-qoute .fs-box{
    width:78%;
    background-color:#fff;
    margin:0 auto;
    padding:1.5% 3%;
    text-align:center;
}
.trisure-qoute .icon{
    width:3.3333vw;
    margin:0 auto 1.1vw auto;
}
.trisure-qoute p{
    color:#1E7BAC;
}
.trisure-qoute p:not(.fs-not){
    font-size: 1.6666vw;
    margin-bottom: 1.1vw;
}
.trisure-qoute p.fs-note{
    margin:0;
}




.customers-talk-about-trisure{
    padding:6.25vw 0;
    background-color: #FAFAFA;
}
.customers-talk-about-trisure .fs-title{
    margin-bottom:1.1vw;
}
.customers-talk-about-trisure h2{
    color: #1E7BAC;
}
.customers-talk-about-trisure .fs-box{
    width:66.6666%;
    padding:1.45% 0;

    text-align: center;
    margin:0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.customers-talk-about-trisure .icon{
    width:3.3333vw;
    margin:0 auto 1.1vw auto;
}

.talk-about-box{
    position: relative;
    display: block;
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.talk-about-box .fs-txt{
    padding:1vw 0;
    cursor: pointer;
}
.talk-about-box p {
    font-style: italic;
    line-height:1.6666vw;
    margin-bottom:1vw;
}
.talk-about-box p.fs-name{
    color: #1E7BAC;
    font-weight:700;
}

.talk-about-nav{
    position: relative;
    display: block;
    text-align: center;
}
.talk-about-nav .swiper-button-prev, .talk-about-nav .swiper-button-next{
    position: relative;
    display: inline-block;
    vertical-align: top;
    left:auto;
    top:auto;
    right:auto;
    bottom: auto;
    width:2.08vw;
    max-width: 30px;
    height: auto;
    margin:0 0.5vw;
}

.talk-about-nav .swiper-button-prev::before, .talk-about-nav .swiper-button-next::before{
    content: '';
    position: relative;
    display: block;
    width:100%;
    height: auto;
    padding-top:100%;
}


.trisure-register{
    padding:2.6vw 0;
    margin-bottom:6.94vw;
    background-color: #229CC7;
}
.trisure-register h2{
    margin-bottom:1.527vw;
    color: #fff;
    text-align: center;
    font-size:2.08vw;
}
.trisure-register .fs-inr{
    width: 60%;
    margin:0 auto;
}
.icon-conner{
    position: absolute;
    left:50%;
    top:0;
    width:5.5vw;
    height: auto;
    z-index: 1;
    line-height:0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.icon-conner img{
    width:100%;
}
.trisure-register .fs-group {
    float: left;
    width: 50%;
}
.trisure-register .fs-group:nth-child(1) {
    padding:0 1.13% 0 0;
}
.trisure-register .fs-group:nth-child(2) {
    padding:0 0 0 1.13%;
}
.trisure-register .fs-but{
    background: #fff;
    padding:1.05vw 2.7vw 0.8vw 2.7vw;
    color: #229CC7;
    line-height:1.6666vw;
}
.fs-col{
    display: block;
    line-height:0;
    margin-bottom:0.55555vw;
}


.consulting-process{
    margin-bottom:8vw;
}
.consulting-process .fs-title{
    margin-bottom: 2.2vw;
    text-align: center;
}
.consulting-process h2{
    color: #1E7BAC;
    margin-bottom: 1vw;
}

.consulting-process .fs-box{
    width:25%;
    margin:0 auto;
}


.fs-consulting-items{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.consulting-item {
    position: absolute;
    display: inline-block;
    width:22.5vw;
    height:3.8vw;
    border: 2px solid #1E7BAC;
    background: #1E7BAC;
    -webkit-border-radius: 2.08vw;
    border-radius: 2.08vw;
    line-height:3.8vw;
    text-align: center;
}
.consulting-item a{
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-style: normal;
    line-height: 1.6666vw;
    color:#fff;
}

.consulting-item::after{
    content: '';
    position: absolute;
    left: 100%;
    top:50%;
    width:4.583333vw;
    height:2.916666vw;
    background: url(../images/products/line-dot.png) no-repeat left center;
    background-size: cover;
}

.consulting-message, .consulting-facebook {
    background: #fff;
}
.consulting-message a, .consulting-facebook a{
    color: #1E7BAC;
}

.consulting-hotline{
    right: 100%;
    top:6.3vw;
    margin-right:4vw;
}
.consulting-facebook{
    right: 100%;
    bottom:6.3vw;
    margin-right:4vw;
}

.consulting-message{
    left:100%;
    top:6.3vw;
    margin-left:4vw;
}
.consulting-question{
    left:100%;
    bottom:6.3vw;
    margin-left:4vw;
}


.consulting-message::after{
    left:auto;
    right: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.consulting-question::after{
    left:auto;
    right: 100%;
    -webkit-transform: scale(-1);
    transform: scale(-1);
    top: -32%;
}

.consulting-facebook::after{
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    top: -32%;
}


.question-answer{
    padding:3.95vw 0 0 0;
    background: url(../images/products/faq-line.png) no-repeat center top;
    background-size: 100% auto;
    margin-bottom:4.5vw;
}
.question-answer .fs-inr{
    width: 80%;
    margin:0 auto;
}
.question-answer .fs-title{
    text-align: center;
    margin-bottom:4.16vw;
}

.question-answer .fs-pic{
    width:50%;
    float: left;
}
.faq-title{
    position: relative;
    padding:0.64vw 4.08vw 0.64vw 2.08vw;
    border: 1px solid #666;
    -webkit-border-radius: 2.08vw;
    border-radius: 2.08vw;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.faq-title::before, .faq-title::after{
    content: '';
    position: absolute;
    right:1.4vw;
    top:50%;
    width:1.4vw;
    height:1.4vw;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.faq-title::before{
    background:url(../images/icon-minus.png) no-repeat center center;
    background-size: cover;
    opacity:0;
}
.faq-title::after{
    background:url(../images/icon-plus.png) no-repeat center center;
    background-size: cover;
}

.question-answer .faq-items{
    width:50%;
    float: left;
    padding:0 0 0 3%;
}
.faq-item{
    margin-bottom: 1.1vw;
}
.faq-title h3{
    font-family: 'Lato';
    font-weight:500;
}
.faq-title h3, .faq-detail p{
    font-size:1.25vw;
    line-height: 1.44vw;
}

.faq-title.active {
    background-color: #666;
    cursor: pointer;
}
.faq-title.active  h3{
    color:#fff;
}
.faq-title.active::before{
    opacity:1;
}
.faq-title.active::after{
    opacity:0;
}

.faq-detail {
    margin-top:1.1vw;
    padding:1.5vw 2.08vw;
    border: 1px dashed #666666;
    -webkit-border-radius: 1.38888vw;
    border-radius: 1.38888vw;
    display: none;
}


