@charset "utf-8";html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}

html {
	font-size:62.5%;
}
html, body {
	margin:0;
	width:100%;
	height:100%;
}

ol, ul{list-style:none}
blockquote, q{	quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
:focus{outline:0;border:none}
a{text-decoration:none}
p{text-decoration:none;font-weight:normal;font-size:100%;-webkit-text-size-adjust:none;line-height:1.6}
strong{text-decoration:none;font-weight:bold}
cite, em, i{text-decoration:none;font-weight:normal;font-family:Arial, Helvetica, sans-serif;line-height:1;vertical-align:baseline}
pre, code{text-decoration:none}
ins{text-decoration:none}
sup{text-decoration:none;bottom:5px;font-size:70%;vertical-align:baseline;font-weight:normal;position:relative}
dl dt{text-decoration:none}
dd{text-decoration:none}
mark{text-decoration:none;font-weight:normal;vertical-align:baseline}
del{text-decoration:line-through}

img[alt]{font-size:0}
h1, h2, h3, h4, h5, h6{line-height:1.4}

.no-style {
	-webkit-font-smoothing:antialiased;
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -moz-osx-font-smoothing:grayscale;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
	user-select:none;
	outline:none;
	cursor:default;
}

.layout-visible {
	position:relative;
}

.layout-visible::after{
	content:'';
	display:block;
	width:100%;
	height:0;
	clear:both;
}

.flex-block{
	display:flex;
	flex:1 1 0%;
}

.flex-center {
	justify-content:space-between;
}

.text-left {
	text-align:left;
}

.text-center {
	text-align:center;
}

.bg-blue {
	background-color:rgba(78, 86, 255,1);
}

.bg-blue:hover{
	background-color:#3f47f7;
}

.bg-grey {
	background-color:rgba(52, 50, 54,1);
}

.bg-grey:hover {
	background-color:rgba(78, 86, 255,1);
}

button, input[type="text"] {
	-webkit-appearance:none;
	background-color:transparent;
	border:none;
	outline:none;
	cursor:pointer;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-family:Roboto,"Helvetica Neue",sans-serif;
}

button {
	position:relative;
	width:100%;
	height:28px;
	line-height:28px;
	margin:0;
	padding:0;
	-webkit-border-radius:0;
	border-radius:0;
	font-size:12px;
	text-align:center;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

input[type="text"] {
	padding:0 5px;
	font-size:11px;
}

input[readonly] {
	opacity:0.5;
	pointer-events:none;
}

button span {
	font-size:12px;
	font-weight:500;
	color:#fff;
	text-transform:capitalize;
}

.template-but button {
	margin-bottom:6px;
}

.export-but {
	padding-left:15px;
	text-align:left;
}

.export-but i{
    position:absolute;
	right:3px;
	top:2px;
	font-size:24px;
    text-align:center;
	color:#fff;
}

.crop-but, .view-but {
	margin-bottom:6px;
}

.view-but i {
    position:absolute;
    left:0;
    top:0;
	font-size:20px;
    width:32px;
    height:28px;
	line-height:28px;
	color:#fff;
}

.view-but a{
	display:block;
    font-size:12px;
    font-weight:500;
    color:#fff;
}



.hide {
	/*display:none !important;*/
}


.for-image, .for-rect, .for-arrow, .for-text {
	display:none;
}

.objects-info[data-type="for-image"] .for-image {
	display:block;
}
.objects-info[data-type="for-rect"] .for-rect {
	display:block;
}
.objects-info[data-type="for-arrow"] .for-arrow {
	display:block;
}
.objects-info[data-type="for-text"] .for-text {
	display:block;
}


.editor-wrapper {
	position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    background-color:rgb(24, 23, 26);
    -webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:Roboto,"Helvetica Neue",sans-serif;
}

.editor-wrapper * {
	-webkit-box-sizing:inherit;
	box-sizing:inherit;
}

.editor-header {
	display:flex;
	height:46px;
	justify-content:space-between;
	background-color:rgba(39, 37, 42,1);
}

.full-screen-but{
	position:absolute;
	right:5px;
	top:5px;
	display:block;
    color:rgb(255, 255, 255);
    cursor:pointer;
    width:36px;
    height:36px;
    line-height:36px;
    font-size:30px;
    -webkit-border-radius:5px;
	border-radius:5px;
    background-color:transparent;
    opacity:0.8;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.full-screen-but span{
	display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
	align-items:center;
	justify-content:center;
}

.full-screen-but:hover {
	background-color:rgba(255, 255, 255, 0.25);
}

		
.editor-content {
	display:flex;
    flex-direction:row;
    flex:1 1 0%;
    justify-content:flex-start;
    overflow:hidden;
}

.tools-panel,
.drawer-content,
.objects-panel {
	display:flex;
	flex-direction:column;
}

.drawer-area {
	position:relative;
    background-color:rgb(24, 23, 26);
    outline:none;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    overflow:hidden;
    flex:1 1 0%;
    border-radius:3px;
    -webkit-mask-image:-webkit-radial-gradient(center, white, black);
}

.drawer-middle{
    flex:0 0 32px;
}

.middle-inner {
  	display:flex;
    min-height:32px;
    -webkit-box-pack:justify;
    justify-content:space-between;
	padding:0 2px;
}

.middle-inner ul{
    display:flex;
    -webkit-box-pack:end;
    justify-content:flex-end;
    align-items:flex-end;
}

.middle-inner ul li{
	float:left;
}

.middle-inner ul:nth-child(2) li:first-child{
	margin-right:6px;
}

.zoom-per {
	float:left;
    width:auto;
    height:28px;
    line-height:28px;
    color:#fff;
    font-size:12px;
    text-align:center;
	padding:0 10px;
}

.middle-inner ul li button {
	display:block;
    min-width:36px;
    max-width:100%;
    height:28px;
    color:rgb(221, 221, 221);
    background-color:rgb(39, 37, 42);
    font-size:14px;
    white-space:nowrap;
    position:relative;
    -webkit-border-radius:3px;
	border-radius:3px;
	padding:0;
	margin:0;
}

.middle-inner ul li button i {
	display:inline-block;
    width:32px;
    height:28px;
    font-size:26px;
    margin:0px auto;
}

.middle-inner ul li button:hover {
	background-color:rgba(78, 86, 255,1);
}
	
.drawer-bottom{
	position:relative;
    flex:0 0 34px;
    padding:2px;
    overflow:hidden;
}

.bottom-inner{
	color:rgb(255, 255, 255);
    text-align:center;
    height:30px;
    line-height:30px;
    font-size:12px;
    background-color:rgb(39, 37, 42);
    border-radius:3px;
    overflow:hidden;
}

/*tools-panel*/
.tools-panel {
    width:44px;
    flex:0 0 44px;
	padding:4px;
	margin-top:2px;
	background-color:rgba(39, 37, 42,1);
}

.tools-panel div {
	display:block;
	margin-bottom:4px;
}

.tools-panel div.horizon-line {
	height:1px;
	background-color:rgba(68,66,70,1);
}
.tools-panel button {
	background-color:rgba(78, 86, 255,0);
	-webkit-border-radius:3px;
	border-radius:3px;
	width:100%;
	height:28px;
	color:#fff;
	padding:0;
	margin:0;
	position:relative;
}

.tools-panel button i {
	position:absolute;
	left:0;
	top:0;
	font-size:26px;
	width:100%;
	height:100%;
	pointer-events:none;
}

.tools-panel button.selected,
.tools-panel button:not(.selected):hover {
	background-color:rgba(78, 86, 255,1);
}


/*content-panel*/
.drawer-content {
    flex:1 1 0%;
	flex-direction:column;
}


/*objects-panel*/
.objects-panel {
	position:relative;
	flex:0 0 230px;
	margin-top:2px;
	background-color:rgb(39, 37, 42);
	height:100%;
}

.objects-title {
	padding:6px;
	border-bottom:2px solid rgb(24, 23, 26);
}

.objects-title h2 {
	color:rgb(255, 255, 255);
	font-size:12px;
	height:24px;
	font-weight:500;
}

.objects-title i {
	color:rgb(68, 66, 70);
	float:left;
	height:24px;
	line-height:24px;
	font-size:24px;
}

.objects-title span {
	float:left;
    height:24px;
    line-height:24px;
    max-width:151px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.objects-info {
	height:calc(100% - 36px);
	padding-bottom:60px;
	overflow:hidden;
	overflow-y:auto;
	display:none;
}

.objects-panel[data-object="slide"] .objects-info.slide{
	display:block;
}

.objects-panel[data-object="object"] .objects-info.object{
	display:block;
}

.objects-panel[data-object="drawing"] .objects-info.drawing{
	display:block;
}

.drawing {}

.info-item {
	position:relative;
	padding:15px 15px 7px;
	border-top:2px solid rgb(24, 23, 26);
	min-width:210px;
}

.info-item strong{
	display:inline-block;
    min-width:20px;
    color:#737373;
    font-size:12px;
    font-weight:500;
	line-height:1;
	vertical-align:middle;
}

.info-item strong.small-title {
	display:block;
	width:100%;
	background-color:rgba(78, 86, 255,1);
	color:#fff;
	padding:10px 15px;
	text-transform:uppercase;
	font-size:11px;
}

.item {
	position:relative;
	width:100%;
	height:auto;
	min-height:20px;
	text-align:left;
	margin-bottom:12px;
	display:block;
}

.bg-box {
	padding:10px;
	background-color:rgba(255,255,255,0.1);
}

.item.bg-box {
	margin-bottom:2px;
}

.item::after {
	content:'';
	display:block;
	clear:both;
	width:100%;
	height:0;
}

.item label {
	position:relative;
	display:inline-block;
	line-height:1;
}

.item input[type="checkbox"],
.item input[type="radio"] {
	position:relative;
	width:14px;
    height:14px;
	display:inline-block;
	vertical-align:middle;
	-webkit-appearance:none;
	margin:0;
	padding:0;
	border:none;
	background:none;
    cursor:pointer;
	z-index:1;
	opacity:0;
}

.check-mask,
.radio-mask {
	position:absolute;
	top:50%;
	left:auto;
	width:14px;
	height:14px;
	margin:-7px 0 0 -14px;
	background-color:#9b9b9b;
	-webkit-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	z-index:0;
}

.check-mask {
	-webkit-border-radius:3px;
	border-radius:3px;
}

.check-mask::after {
	content:'';
    position:absolute;
    width:5px;
    height:3px;
    border-left:2px solid #fff;
    border-bottom:2px solid #fff;
    left:4px;
    top:4px;
	-webkit-transform:rotate(-60deg);
    transform:rotate(-60deg);
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.radio-mask {
	-webkit-border-radius:50%;
	border-radius:50%;
}

.radio-mask::after {
	content:'';
    position:absolute;
    width:6px;
    height:6px;
	background-color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
    left:50%;
    top:50%;
	margin:-3px 0 0 -3px;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.item input[type="checkbox"]:checked + .check-mask,
.item input[type="radio"]:checked + .radio-mask{
	background-color:#4e56ff;
}

.item input[type="checkbox"]:checked + .check-mask::after,
.item input[type="radio"]:checked + .radio-mask::after {
	opacity:1;
}

.check-name,
.radio-name {
	width:auto;
	height:auto;
	max-width:60px;
	display:inline-block;
	vertical-align:middle;
	margin-left:4px;
	color:rgba(155, 155, 155,1);
    font-size:11px;
    font-weight:500;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.radio-box > *{
	float:left;
	width:33.3333%
}




.info-item.no-stroke {
	border-top:none;
}

.info-item.no-space {
	padding:0;
}

.info-item.small-space {
	padding:8px 15px 0 15px;
}

.number-input input[type="text"] {
	display:inline-block;
	vertical-align:middle;
    width:46px;
    height:18px;
    line-height:16px;
    color:#fff;
    background-color:#0a0a0a;
}


.item.size-02 > *{
	width:50%;
	float:left;
	display:block;
}

.item.size-02 > *:nth-child(2n + 2) {
	width:48%;
	margin-left:2%;	
}

.item.size-half > *{
	width:50%;
	float:left;
	display:block;
}

.item.size-half > * input[type="text"] {
	width:60px;	
}

.item.size-half > *:nth-child(2n + 2) {
	text-align:right;
}

.item.size-half > *:nth-child(2n + 2) strong {
	text-align:left;
}

/*.item.size-02 > *:nth-child(2n + 2) {
	width:48%;
	margin-left:2%;	
}*/

.size-06 > * {
	width:16.6666%;
	float:left;
	display:block;
}

.shadow-box .number-input {
	width:32%;
	float:left;
}

.shadow-box .number-input:nth-child(2) {
	width:30%;
}

.shadow-box .number-input:nth-child(3) {
	width:38%;
}

.shadow-box .number-input input {
	width:30px;
}

.shadow-box .number-input strong {
	min-width:14px;
}

.shadow-box .number-input:nth-child(3) {
	text-align:right;
}

.shadow-box .number-input:nth-child(3) strong {
	padding-right:8px;
}

.ALR {
	text-align:right;
}
.ALR strong {
	text-align:left;
}

.number-input img {
	display:inline-block;
	height:18px;
	width:auto;
	max-width:20px;
	vertical-align:middle;
}

.number-input.f-right {
	margin-bottom:6px;	
}
.number-input.f-right input[type="text"] {
	float:right;	
}

.number-input.f-right::after {
	content:'';
	display:block;
	width:100%;
	height:0;
	clear:both;	
}


/*Colorpicker*/
.colorpicker-box {
	position:relative;
    width:32px;
    height:16px;
	float:right;
}

.offset-top {
	position:absolute;
	right:0;
	top:0;
	float:none;	
}

.bg-box .offset-top {
	top:9px;
	right:10px;
}
 
.colorpicker-but{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	cursor:pointer;
    background:url(../img/transparent.png) no-repeat center center;
	-webkit-background-size:cover;
	background-size:cover;
    -webkit-border-radius:2px;
	border-radius:2px;
}

.colorpicker-but span{
	display:block;
	width:100%;
	height:100%;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.colorpicker-but.active {
	background:url(data:image/png;base64,R0lGODdhCgAKAPAAAOXl5f///ywAAAAACgAKAEACEIQdqXt9GxyETrI279OIgwIAOw==);
}
.color-inner{
	width:auto;
	height:212px;
	position:absolute;
	right:0;
	top:20px;
	background-color:#fff;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:10px;
	z-index:-1;
	display:none;
}

.colorpicker-but.active + .color-inner {
	display:block;	
	z-index:10;
}


/*list item*/
.list-but {
	text-align:left;
	padding-left:15px;
	-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}

.list-but i {
	position:absolute;
	right:0;
	top:0;
	width:30px;
    height:28px;
    line-height:28px;
    font-size:30px;
    text-align:center;
	color:#fff;
}

.list-but.open i:before {
    content:"\e910" !important;
}

.list-but:not(.open):hover, 
.list-but.open {
	background-color:rgba(78,86,255,1);
}

.list-item {
	display:none;
}

.list-but.open + .list-item {
	display:block;
}

.list-item li {
	position:relative;
    height:28px;
    padding:0 15px;
	color:#fff;
    font-size:12px;
    line-height:28px;
	font-weight:300;
	cursor:pointer;
    white-space:nowrap;
    text-overflow:ellipsis;
    background-color:rgb(10, 10, 10,1);
	-webkit-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}

.list-item li.has-line {
	border-top:1px solid rgba(39, 37, 42,1);
}

.list-item li.normal {
	border-bottom:1px solid rgba(39, 37, 42,1);
	margin-top:1px;
}

.list-item li:not(.selected):hover,
.list-item li.selected {
	background-color:rgb(78, 86, 255);
	box-shadow:0 1px 0 0 rgba(255,255,255,0.2) inset;
}


/*range input*/
.range-box{
	
}

.range-input {
	position:relative;
}

.view {
	width:100%;
	margin-bottom:4px;
}
.view input[type="text"] {
	width:46px;
    height:18px;
    line-height:16px;
    color:#fff;
    background-color:#0a0a0a;
	float:right;
}

.view input:focus, input[type="text"]:focus {
	background-color:rgba(78, 86, 255,1);
	color:#fff;
}

.range{
	position:absolute;
	display:block;
	width:100%;
	height:20px;
}

input[type="range"] {
	position:relative;
	width:100%;
	height:20px;
	padding:0;
	margin:0;
	outline:none;
	border:none;
	z-index:4;
	-webkit-appearance:none;
	margin:0;
	padding:0;
	background-color:transparent;
	opacity:0;
	cursor:pointer;
}

input[type="range"]:focus {
	background-color:transparent;
}

.bg-range{
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	height:4px;
	margin:-2px 0 0 0;
	background-color:#4e56ff;
	z-index:1;
}
.fill-range{
	position:absolute;
	left:0;
	right:0;
	top:50%;
	height:4px;
	margin:-2px 0 0 0;
	background-color:#666;
	z-index:2;
}
.track-range{
	position:absolute;
	left:0;
	top:50%;
	width:14px;
	height:14px;
	margin-top:-7px;
	-webkit-border-radius:50%;
	border-radius:50%;
	background-color:#4e56ff;
	z-index:3;
}

[type='range']::-ms-tooltip {
  display:none;
}


.preview {
	padding:4rem;
	background-color:rgba(0,0,0,0.5);
	text-align:center;
}



/*Align item*/
.size-06 button{
	display:block;
	height:29px;
}

.size-06 button span {
	position:absolute;
    left:0px;
    top:0px;
    display:block;
    width:100%;
    height:100%;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.size-06 button:hover span:last-child {
	opacity:1;
}

.align-left span:first-child { 
	background:rgba(155,155,155,0.1) url(../img/align-left.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.align-left span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/align-left-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.align-h-center span:first-child {
	background:rgba(155,155,155,0.1) url(../img/align-h-center.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.align-h-center span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/align-h-center-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.align-right span:first-child {
	background:rgba(155,155,155,0.1) url(../img/align-right.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.align-right span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/align-right-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.align-top span:first-child {
	background:rgba(155,155,155,0.1) url(../img/align-top.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.align-top span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/align-top-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.align-v-center span:first-child {
	background:rgba(155,155,155,0.1) url(../img/align-v-center.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.align-v-center span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/align-v-center-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.align-bottom span:first-child {
	background:rgba(155,155,155,0.1) url(../img/align-bottom.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.align-bottom span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/align-bottom-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.forward span:first-child { 
	background:rgba(155, 155, 155,0.1) url(../img/forward.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.forward span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/forward-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.backward span:first-child {
	background:rgba(155, 155, 155,0.1) url(../img/backward.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.backward span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/backward-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.fliph span:first-child {
	background:rgba(155, 155, 155,0.1) url(../img/fliph.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.fliph span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/fliph-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.flipv span:first-child {
	background:rgba(155, 155, 155,0.1) url(../img/flipv.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.flipv span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/flipv-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.enlarge span:first-child {
	background:rgba(155, 155, 155,0.1) url(../img/enlarge.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.enlarge span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/enlarge-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}

.lock span:first-child {
	background:rgba(155, 155, 155,0.1) url(../img/lock.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}
.lock span:last-child {
	opacity:0;
	background:rgba(78, 86, 255,1) url(../img/lock-hover.svg) center center no-repeat;
	-webkit-background-size:16px auto;
	background-size:16px auto;
}



.link-box input{
	width:100%;
	background-color:#0a0a0a;
	font-size:11px;
	padding:5px 10px;
	color:#737373;
}


/*Font list*/
.smart-but i {
    position:absolute;
    left:0;
    top:0;
	font-size:20px;
    width:32px;
    height:28px;
    line-height:28px;
	color:#fff;
}

.font-but {
	position:absolute;
    right:0;
    top:0;
	width:auto;
    height:20px;
	padding:0 15px 0 20px;
    font-size:12px;
    line-height:20px;
    color:#fff;
    -webkit-border-radius:10px;
	border-radius:10px;
	cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.font-but span {
	font-size:12px;
}

.font-but i {
	position:absolute;
	left:2px;
	top:0;
	font-size:18px;
	height:20px;
	line-height:20px;
}

.align-hoz {
	float:left;
	width:60%;
}

.align-ver {
	float:left;
	width:40%;
}

.align-hoz i, .align-ver i,
.text-decoration-box i {
	position:relative;
	background-color:rgb(24, 23, 26);
    color:rgba(217, 217, 217,1);
	cursor:pointer;
	text-align:center;
	-webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.align-hoz i:hover,
.align-ver i:hover,
.text-decoration-box i:hover,
.align-hoz i.selected,
.align-ver i.selected,
.text-decoration-box i.selected{
	background-color:rgb(78, 86, 255);
	box-shadow:-1px 0 0 0 rgba(255,255,255,0.15) inset
	
}

.align-hoz i {
	float:left;
	width:25%;
	height:26px;
    line-height:27px;
    font-size:24px;
}

.align-ver i {
	float:left;
	width:33.3333%;
	height:26px;
	font-size:24px;
	line-height:26px;
}

.text-decoration-box i {
	height:26px;
    line-height:26px;
    font-size:20px;
}

.align-ver i:before,
.align-ver i:before {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	line-height:26px;
}

.fabric-box{
	position:absolute;
	left:50%;
	top:50%;
	width:auto;
	height:auto;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
	
}

.mb-00{margin-bottom:0px}
.mb-01{margin-bottom:1px}
.mb-02{margin-bottom:2px}
.mb-03{margin-bottom:3px}
.mb-04{margin-bottom:4px}
.mb-05{margin-bottom:5px}
.mb-06{margin-bottom:6px}
.mb-07{margin-bottom:7px}
.mb-08{margin-bottom:8px}
.mb-09{margin-bottom:9px}
.mb-10{margin-bottom:10px}
.mb-11{margin-bottom:11px}
.mb-12{margin-bottom:12px}
.mb-13{margin-bottom:13px}
.mb-14{margin-bottom:14px}
.mb-15{margin-bottom:15px}
.mb-16{margin-bottom:16px}
.mb-17{margin-bottom:17px}
.mb-18{margin-bottom:18px}
.mb-19{margin-bottom:19px}
.mb-20{margin-bottom:20px}

.mt-01{margin-top:1px}
.mt-02{margin-top:2px}
.mt-03{margin-top:3px}
.mt-04{margin-top:4px}
.mt-05{margin-top:5px}
.mt-06{margin-top:6px}
.mt-07{margin-top:7px}
.mt-08{margin-top:8px}
.mt-09{margin-top:9px}
.mt-10{margin-top:10px}
.mt-11{margin-top:11px}
.mt-12{margin-top:12px}
.mt-13{margin-top:13px}
.mt-14{margin-top:14px}
.mt-15{margin-top:15px}
.mt-16{margin-top:16px}
.mt-17{margin-top:17px}
.mt-18{margin-top:18px}
.mt-19{margin-top:19px}
.mt-20{margin-top:20px}





