@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/*html5*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}
html, body{
	width:100%;
	height:auto;
	background:#fff;
	color:#333;
	line-height:1;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:-moz-none;
	-ms-user-select:none;
	font-size:100%;
}

ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
img{
	border:none;
	outline:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
button, input{
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	text-decoration:none;
	color:#333;
}
p a {
	color:#1da6c0;
	-webkit-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
}
p a:hover{
	color:#a05da6;
}
.clear::after{
	content:'';
	display:block;
	width:100%;
	height:0;
	clear:both;
}

.hide-text{
	font-size:0;
	text-indent:150%;
	overflow:hidden;
}

.page-wrap, .hdr-wrap, .cnt-wrap, .ftr-wrap {
	position:relative;
	display:block;
	width:100%;
	height:auto;
}

.hdr-inr, .cnt-inr, .ftr-inr {
	position:relative;
	display:block;
	width:100%;
	height:auto;
	margin:0 auto;
}


/*HEADER*/
.hdr-wrap {
	position:fixed;
	left:0;
	top:0;
	z-index:10;
}

.page-wrap {
	padding-top:57px;
}

/*CONTAINER*/
.section-box {
	position:relative;
	display:block;
	width:100%;
	height:auto;
}
.title {
	position:relative;
	display:block;
	width:100%;
	margin-bottom:16px;
}
.title h2, .title h3{
	position:relative;
	display:inline-block;
}

.section-inr {
	position:relative;
	display:block;
}

.section-inr::after, .ftr-inr::after, .separate-4::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}

.box{
	position:relative;
	display:block;
}
/*
.box.size-02{
}
.box.size-03{
	width:25%;
}
.box.size-04{
	width:33.3333%;
}
.box.size-05{
}
.box.size-06{
	width:50%;
}
.box.size-07{
}
.box.size-08{
	width:66.6666%;
}
.box.size-09{
}
.box.size-10{
}
.box.size-11{
}
.box.size-12{
}*/

.separate-2, .separate-3, .separate-6 {
	padding:0 8px;
	font-size:0;
}

.separate-2 .box, .separate-3 .box, .separate-6 .box {
	display:inline-block;
	vertical-align:top;
}

.box-inner {
	position:relative;
	display:block;
	padding:0 8px;
}

.box-inner > a {
	position:relative;
	display:block;	
}

.separate-2 .box{
	width:50%;
	margin-bottom:6px;
}

.separate-3 .box {
	width:50%;
	margin-bottom:16px;
}

.separate-3.text-separate .box {
	margin-bottom:6px;
}

.separate-4 .box {
	width:25%;
}

.separate-6 .box {
	width:33.3333%;
	margin-bottom:16px;
}

.separate-6 .box-inner {
	padding:0 8px;
}

.promotion-home .box {
	margin-bottom:22px;
}

.promotion-home .box-inner {
	padding:0 16px;
}


.area-bg,
.area-pic,
.area-txt {
	position:relative;
	display:block;
}

.area-pic img{
	display:block;
	width:100%;
	height:auto;
}

.area-bg::before{
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto;
	background-color:rgba(0,0,0,0.1);
}

.ratio-100 .area-bg::before{
	padding-top:100%;
}

.ratio-56 .area-bg::before{
	padding-top:56.25%;
}

.banner {
	z-index:1;
}

.banner .box-inner {
	padding:16px 16px 30px 16px;
}

.banner-slider, .owl-stage-outer, .banner-item, .banner-pic{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	overflow:hidden;
}

.banner-pic::before {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto;
	padding-top:56.3%;
}

.banner-full {
	padding:0 16px;
	margin-bottom:30px;
}

.banner-full.full-size {
	padding:0;
	margin:0;
}

.owl-item,.owl-wrapper{-webkit-backface-visibility:hidden}.owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-item,.owl-wrapper{-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-item{position:relative;min-height:1px;float:left;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.owl-dots.disabled,.owl-nav.disabled{display:none}.owl-dot,.owl-nav .owl-next,.owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-nav{position:static;width:100%;height:0}.owl-next,.owl-prev{position:absolute;top:50%;display:inline-block;padding:10px;margin:-20px 0 0;border:none;cursor:pointer;border-radius:0;-webkit-border-radius:0;-webkit-appearance:none;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:20px;color:#fff;z-index:100}.owl-next span,.owl-prev span{display:none}.owl-prev{left:5px}.owl-next{right:5px}.owl-next::before{content:"\e258"}.owl-prev::before{content:"\e257"}.owl-next:hover,.owl-prev:hover{opacity:.5}.owl-next.disabled,.owl-prev.disabled{pointer-events:none;opacity:.2}.owl-dots{position:absolute;left:0;bottom:10px;width:100%;height:auto;margin:0;text-align:center;z-index:2}.owl-dot{position:relative;width:auto;height:auto;display:inline-block;margin:0 4px;overflow:hidden}.owl-dot span{display:block;width:8px;height:8px;border:1px solid #a8adb0;background-color:rgba(255,255,255,0);-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-border-radius:50%;border-radius:50%}.owl-dot.active{pointer-events:none}.owl-dot.active span,.owl-dot:not(.active):hover span{border:1px solid #fff;background-color:rgba(255,255,255,1)}.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-grab{cursor:move;cursor:grab}.owl-rtl{direction:rtl}.owl-rtl .owl-item{float:right}.animated{animation-duration:1s;animation-fill-mode:both}


/*HIDDEN*/
.pcBg, .pcPic{
	display:block;
}

.spBg, .spPic{
	display:none;
}

.hide-pc {
	display:none;
}


/*media*/
@media screen and (max-width:1100px){
	/*HEADER
	.hdr-wrap{
		position:fixed;
		left:0;
		top:0;
		z-index:10;
	}
	.hdr-wrap::before {
		content:'';
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:57px;
		background-color:#fff;
	}
	
	.hdr-wrap.fixed::before {
		-webkit-box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.2);
    	box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.2);
	}*/
	
}

@media screen and (max-width:980px){
	/*COMMON
	.pcBg, .pcPic{
		display:none;
	}
	
	.spBg, .spPic{
		display:block;
	}
	
	.hide-sp {
		display:none !important;
	}
		
	.hide-pc {
		display:block;
	}

	.hdr-inr, .cnt-inr, .ftr-inr {
		width:100%;		
	}
	
	
	/*CONTAINER
	.title {
		margin-bottom:16px;
	}*/
	
	
	/*BOX
	.separate-2, .separate-3, .separate-6, .box-inner, .separate-6 .box-inner {
		padding:0 8px;
	}
	
	.separate-2 .box {
		margin-bottom:16px;
	}
	
	.separate-2 .area-bg {
		display:block;
		width:100%
	}
	
	.separate-3 .box {
		width:50%;
		margin-bottom:16px;
	}
	
	.separate-6 .box{
		width:33.3333%;
		margin-bottom:16px;
	}
	
	.box.size-08, .box.full-sp {
		width:100%;
	}
	
	.box.full-sp {
		margin:0 -8px 16px -8px;
	}
	
	.box.full-sp .box-inner {
		width:calc(100% + 16px);
		padding:0;	
	}
	
	.box.full-sp .area-bg {
		-webkit-border-radius:0;
		border-radius:0;
	}*/
	
	
	/*HOME PAGE
	.video-home .box {
		width:100%;
	}
	
	.video-home .area-bg {
		display:inline-block;
		width:37.5%;
		vertical-align:middle;
	}
	
	.video-home .area-txt {
		display:inline-block;
		width:calc(62.5% - 16px);
		vertical-align:middle;
		margin-left:16px;
	}
	
	.banner-collapse, .banner {
		margin-bottom:15px;
	}
	
	.banner-collapse .box-inner, .banner-full {
		padding:0;	
	}
	
	.small {
		display:none;
	}
	.big {
		display:block;
	}
	*/
	
	/*FOOTER
	.ftr-top .size-04 {
		display:none;
	}*/
	

/*
@media screen and (max-width:520px){
	.title {
		margin-bottom:10px;
	}
	
	.separate-2, .separate-3, .separate-6, .box-inner, .separate-6 .box-inner {
		padding:0 2.5px;
	}
	
	.separate-2 .box {
		margin-bottom:5px;
	}
	
	.separate-2 .area-bg {
		display:block;
		width:100%
	}
	
	.separate-3 .box {
		width:100%;
		margin-bottom:15px;
	}
	
	.gallery-section .box {
		margin-bottom:10px;
	}
	
	.separate-3 .box::after {
		content:'';
		position:absolute;
		left:-2.5px;
		bottom:0;
		width:calc(100% + 5px);
		height:1px;
		background-color:#e3e3e3;
	}
	
	.separate-6 .box{
		margin-bottom:5px;
	}
	
	
	.gallery-home .box, .service-home .box, .album-home .box {
		margin-bottom:5px;
	}
	
	.gallery-home .box::after, .service-home .box::after, .album-home .box::after, .video-home .box::after, .ratio-100 .box::after {
		display:none;
	}
	
	.gallery-home .box:not(.full-sp), .service-home .box, .album-home .box{
		width:50%;
	}
	
	.box.full-sp {
		margin:0 -5px 5px -5px;
	}
	
	.box.full-sp .box-inner {
		width:calc(100% + 10px);
	}
	
	.video-home .area-bg {
		display:inline-block;
		width:37.5%;
		vertical-align:middle;
	}
	
	.video-home .area-txt {
		width:calc(62.5% - 10px);
		margin-left:10px;
	}
	
	.banner-collapse, .banner {
		margin-bottom:10px;
	}
	
}
*/