html, body {
	font-family:'Roboto Condensed', sans-serif;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
	background-color:#f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Roboto Condensed', sans-serif;
	line-height:1.2;
}

/*HEADER*/
.hdr-inr {
	height:51px;
	padding-top:6px;
	background-color:#fff;
}

.logo {
	display:inline-block;
	position:relative;
	left:50px;
}

.logo a {
	display:block;
}

.logo img {
	display:block;
	height:36px;
	width:auto;
}

.navigation {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	z-index:10;
	-webkit-transition:0.3s;
	transition:0.3s;
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
}

.nav-inner {
	position:absolute;
	left:0;
	top:0;
	width:90%;
	height:100%;
	max-width:280px;
	background-color:#fff;
	-webkit-box-shadow:2px 0 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow:2px 0 2px 0 rgba(0, 0, 0, 0.2);
	z-index:1;
}

.overlay {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.79);
	opacity:0;
	-webkit-transition:opacity 0.3s ease-in-out 0.2s;
	transition:opacity 0.3s ease-in-out 0.2s;
}

.head-nav {
	position:relative;
	padding:20px 20px 17px 20px;
	z-index:1;
}

.head-nav a {
	display:inline-block;
	width:80%;
	max-width:257px;
	line-height:0;
	overflow:hidden;
}

.menu-logo {
	width:100%;
}

.close-nav {
	position:absolute;
	right:7px;
	top:50%;
	display:inline-block;
	width:auto;
	height:auto;
	margin-top:-10px;
	padding:12px;
	cursor:pointer;
}

.close-nav img {
	display:block;
	height:16px;
	width:auto;
}

.nav {
	position:relative;
	padding:0 20px;
}

.nav li {
	display:block;
}

.nav li a {
	position:relative;
	display:block;
	padding:16px 0 15px 0;
	font-weight:400;
	font-size:0.875rem;
	color:#666;
	line-height:1.4;
	border-top:1px solid #ebebeb;
    text-transform: uppercase;
}

.nav li.active a {
	color:#1da6c0;
}

.nav li a::before {
	content:"\f105";
	position:absolute;
	right:0;
	top:50%;
	margin-top:-14px;
	font-family:FontAwesome;
	font-size:20px;
	color:#767676;
}

.nav-but {
	position:absolute;
	left:0;
	top:0;
	padding:19px 16px 18px 16px;
	text-decoration:none;
	font-size:20px;
	display:block;
	color:#999;
	cursor:pointer;
}

.nav-but span {
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.nav-but span::before {
	content:"";
}

.navigation.show {
	-webkit-transform:translateX(0);
	transform:translateX(0);
}

.navigation.show .overlay {
	opacity:1;
}

#member-but, #search-but {
	position:absolute;
	top:12px;
	right:6px;
	width:41px;
	height:34px;
	line-height:34px;
	padding:0;
	border:none;
	font-size:0;
	-webkit-transition:none;
	transition:none;
	text-align:center;
	background-color:transparent;
	-webkit-border-radius:0;
	border-radius:0;
}

#member-but img {
	float:none;
	display:inline-block;
	width:auto;
	height:15px;
	margin:0;
	vertical-align:middle;
}

.search-box {
	position:static;
	right:auto;
	top:auto;
	width:auto;
	height:auto;
}

#search-but {
	right:48px;
	background: url(../images/search.svg) no-repeat center center;
}

.search-txt {
	position:absolute;
	left:0;
	top:57px;
	width:100%;
	height:0;
	-webkit-transition:height 0.3s ease-in-out;
	transition:height 0.3s ease-in-out;
}

.search-txt.active {
	height:46px;
}

.search-txt label {
	position:relative;
	display:block;
	padding-right:52px;
	height:100%;
	background-color:#fff;
}

.search-txt input {
	width:100%;
	padding:10px 0 10px 15px;
	height:46px;
	line-height:46px;
	background-color:transparent;
	font-size:1.125rem;
	color:#75757e;
}

.search-txt input:focus {
	color:#333;
}

.search-txt span {
	position:absolute;
	right:11px;
	top:50%;
	margin-top:-18px;
	width:36px;
	height:36px;
	line-height:36px;
	text-align:center;
	text-indent:initial;
}

.search-txt span img {
	display:inline-block;
	width:16px;
	height:auto;
	vertical-align:middle;
}


.text-separate .area-txt h3, .price, .post-logo, .post-info {
	-webkit-transition:none;
	transition:none;
}

.post-logo, .post-info, .box:hover .post-logo, .box:hover .post-info {
	opacity:1;
}

.box:hover .price {
	color:#1da6c0;
}

.text-separate .box:hover .area-txt h3 {
	color:#333;
}

.social {
	position:relative;
	margin:10px 20px;
	padding:20px;
	background-color:#e8e8e8;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.social span {
	display:block;
	margin-bottom:15px;
	font-size:0.875rem;
    color:#666;
}

.social ul {
	display:block;
	font-size:0;
}

.social li {
	display:inline-block;
	width:32px;
	height:32px;
	margin-right:3px;
	vertical-align:top;
}

.social li a {
	display:block;
	line-height:0;
	overflow:hidden;
}

.social li img {
	display:block;
	width:100%;
	height:auto;
}

/*CONTAINER*/
.cnt-inr {
	background-color:#fff;
}

.title {
	text-align:center;
}
.title h2 {
	font-size:1.875rem;
	font-weight:500;	
}

.title h3{
	padding:0 2rem;
	font-size:1.875rem;
	font-family:'Dancing Script', cursive;
	font-weight:normal;
	font-style:normal;
	line-height:1.1;
}
.title h3::before{
	content:url(../images/icon/icon-title1.png);
	position:absolute;
	top:5px;
	left:0;
}
.title h3::after{
	content:url(../images/icon/icon-title2.png);
	position:absolute;
	top:5px;
	right:0;
}

.section-box:last-child .section-inr{
	margin-bottom:0;
	padding-bottom:0;
}



/*this css is about box*/
.has-box .box-inner a{
	-webkit-box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.25);
	box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.25);
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
}

.has-box .area-bg {
	-webkit-border-radius:0;
	border-radius:0;
}

.has-box .area-txt {
	padding:0.9375rem;
}

.area-bg {
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:cover;
	background-size:cover;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
}

.bg-gradient .area-bg::after, .bg-color .area-bg::after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(255, 255, 255, 0.2);
	-webkit-border-radius:4px;
	border-radius:4px;
}

.bg-gradient .area-bg::after {
	background:url(../images/gradient-carousel-type-1.png) no-repeat center bottom;
	-webkit-background-size:contain;
	background-size:contain;
}

.bg-color .area-bg::after {
	background-color:rgba(0, 0, 0, 0.5);
}

.text-separate .area-txt {
	padding:10px 15px 0 15px;
}

.separate-2 .area-txt {
	padding:10px 0 0 0;
}

.area-txt h3, .area-txt p {
	font-weight:300;
}

.area-txt h3 {
	margin-bottom:0.3125rem;
	font-size:1.125rem;
	line-height:1.2;
	font-weight:300;
	color:#333;
	text-transform:capitalize;
}

.area-txt p {
	font-size:1rem;
	line-height:1.4;
	font-weight:300;
}

.note {
	display:block;
	margin-bottom:10px;
	font-size:0.75rem;
	line-height:1.4;
	font-weight:300;
	color:#999;
}

.text-separate .area-txt h3 {
	margin-bottom:10px;
}

.text-over .area-txt h3 {
	color:#fff;	
}
.text-over .area-txt p {
	margin-bottom:10px;	
	color:#999;
}

.text-over .area-txt {
	position:absolute;	
	left:0;
	right:0;
	bottom:0;
	padding:0 12px 3px 12px;
}

.separate-6.text-over .area-txt, .text-over.separate-6 .area-txt {
	padding:0 8px 3px 8px	
}

.expired{
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	height:50px;
	margin-top:-25px;
	line-height:50px;
	font-size:1.5rem;
	font-weight:300;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	background-color:rgba(160,102,171,0.7);
}

.post{
	margin-top:0.9375rem;
	font-size:0;
}

.price {
	color:#1da6c0;
	font-size:1.6875rem;
	font-weight:300;
	margin-bottom:0.9375rem;
}

.post-logo, .post-info {
	display:inline-block;
	vertical-align:bottom;
	opacity:0.5;
}

.service-section .post-logo, .service-section .post-info {
	opacity:1;
}

.post-logo{
	margin-right:10px;
}

.post-logo img {
	height:42px;
	width:auto;	
	opacity:0.7;
}

.post-info h5{
	font-size:0.75rem;
}

.text-separate .area-txt .post-info p {
	font-size:10px;
}

.post .note {
	font-size:0.75rem;
	margin-bottom:0.3125rem;
}

.play-video {
	position:absolute;
	left:50%;
	top:50%;
	width:50px;
	height:50px;
	margin:-25px 0 0 -25px;
	line-height:0;
	overflow:hidden;
	z-index:1;
}
.play-video img {
	display:block;
	width:100%;
	height:auto;
}

.icon-video {
	position:absolute;
	left:0;
	bottom:0;
	padding:5px;
	line-height:0;
	overflow:hidden;
}

.icon-video img {
	display:inline-block;
	height:16px;
	width:auto;
	opacity:0.7;
}


/*filter box*/
.block-search {
	font-size:0;
	text-align:center;
	margin-bottom:1.25rem;
}

.block-search .box {
	float:none;
	display:inline-block;
	width:auto;
	height:auto;
	margin:0 5px;
	vertical-align:middle;
}

.block-search .box-inner{
	padding:0;
}

.block-search.one-box{
	text-align:right;
}

.block-search.one-box .box{
	width:33.3333%;
	margin:0;
}

.block-search.one-box .box-inner {
	padding:0 0.9375rem;
}

.block-search.one-box .select-list{
	width:100%;
	text-align:center;
}

.block-search span {
	font-size:0.9375rem;
	color:#666;
}

.select-list{
	position:relative;
	display:block;
	width:180px;
	height:auto;
	z-index:1;
}

.select-header{
	position:relative;
	display:block;
	height:25px;
	padding:0 20px 0 10px;
	line-height:25px;
	border:1px solid #c5c6c8;
	cursor:pointer;
	z-index:2;
}

.select-header h3{
	display:inline-block;
	width:auto;
	max-width:100%;
	padding-top:2px;
	vertical-align:middle;
	font-size:0.875rem;
	color:#666;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.select-header::after{
	content:'';
	position:absolute;
	right:6px;
	top:50%;
	margin-top:-3px;
	display:block;
	border:6px solid #a066ab;
	border-right:4px solid transparent;
	border-left:4px solid transparent;
	border-bottom:0;
	opacity:0.6;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out
}

.select-box{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:auto;
	padding-top:26px;
	visibility:hidden;
	opacity:0;
	-webkit-transform:translateY(-30px);
	transform:translateY(-30px);
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
}

.select-box ul{
	position:relative;
	display:block;
	border:1px solid rgba(0, 0, 0, 0.15);
	max-height:540px;
	text-align:left;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow-x:hidden;
	scroll-behavior:smooth;
}

.select-box li:first-child {
	padding-top:12px;
}
.select-box li:last-child {
	padding-bottom:12px;
}

.select-box li {
	position:relative;
	display:block;
	font-size:0.875rem;
	padding:6px 20px 6px 30px;
	white-space:nowrap;
	text-overflow:ellipsis;
	max-width:100%;
	overflow:hidden;
	cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.select-box li:hover {
	background-color:#d1e8eb;
}

.select-box li.selected::before{
	content:'';
	position:absolute;
	top:50%;
	left:9px;
	margin-top:-6px;
	height:12px;
	width:13px;
	background:url("../images/icon/check-ico.png") no-repeat;
}

.select-box ul {
	background-color:#fff;
}
.open .select-header{
	border:1px solid #8c8c8c;
}
.open .select-header::after{
	-webkit-transform:rotate(-180deg);
	transform:rotate(-180deg);
}
.open .select-box{
	opacity:1;
	visibility:visible;
	-webkit-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}

.btn-search {
	display:block;
	width:auto;
	height:27px;
	font-weight:normal;
	vertical-align:middle;
	padding:0 16px;
	font-family:inherit;
	font-size:0.875rem;
	color:#fff;
	cursor:pointer;
	background-color:#999;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.btn-search:hover {
	background-color:rgba(160, 93, 166,1);
}


/*BREADCRUMB*/
.breadcrumb{
	position:relative;
	display:block;
	font-size:0;
	margin-bottom:1.25rem;
	overflow:hidden;
}

.breadcrumb li {
	position:relative;
	display:inline-block;
	width:auto;
	height:auto;
	font-size:0.875rem;
}

.breadcrumb li a, .breadcrumb li{
	color:#666;
}

.breadcrumb li a{
	display:inline-block;
	line-height:1.4;
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out;
}

.breadcrumb li:not(.active):hover a {
	color:#1da6c0;	
}

.breadcrumb li:first-child:not(.active):hover a {
	color:#a05da6;
}

.breadcrumb li::before{
	content:'>';
	padding:0 5px;
	color:#666;
	font-family:inherit;
	font-size:inherit;
}

.breadcrumb li:first-child::before{
	display:none;
}

.breadcrumb li:first-child + li::before {
	content:'∙ '
}


/*BUTTON*/
.btn {
	position:relative;
	padding:5px 12px 3px 10px;
	font-size:1rem;
	font-family:inherit;
	font-weight:300;
	background-color:#999;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	color:#fff;
	text-transform:uppercase;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.btn img {
	position:relative;
	top:-2px;
	margin-right:8px;
	display:inline-block;
	vertical-align:middle;
}

.bg-blue-light {
	background-color:#1da6c0;
}

.icon-phone{
  position:relative;
  top:1px;
  display:inline-block;
  margin-right:8px;
  font-family:'Glyphicons Halflings';
  font-style:normal;
  font-weight:normal;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-size:inherit;
}
.icon-phone:before {
	content:"\e182";
}

.btn:hover {
	background-color:#a05da6;
}



/*PAGING*/
.page-controls{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	padding-bottom:1.875rem;
	text-align:center;
	font-size:0;
}

.page-num{
	position:relative;
	width:auto;
	max-width:180px;
	height:32px;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	margin:0 3px;
}

.page-num ul{
	position:relative;
	display:inline-block;
}

.page-num li{
	position:relative;
	display:inline-block;
	margin:0 2px;
}

.page-num li a {
	position:relative;
	display:block;
	width:32px;
	height:32px;
	line-height:32px;
	font-size:.9rem;
	font-weight:300;
	background-color:#999;
	color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.page-num li.active a {
	background-color:#1da6c0;
}

.page-num li:not(.active):hover a {
	background-color:#a05da6;
}

.first, .last, .page-num{
	display:inline-block;
	vertical-align:top;
}

.first, .last{
	position:relative;
	width:32px;
	height:32px;
	background-color:rgba(212, 212, 212, 0.8);
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.first span, .last span {
	position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
	display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:22px;
	color:#fff;
	text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.last span::before {
  content:"";
}

.first span:before {
    content:"";
}

.first.disabled, .last.disabled{
	opacity:0.5;
	pointer-events:none
}

.last:not(.disabled):hover, .first:not(.disabled):hover{
	opacity:0.5;
}



/*banner*/
.banner-slider {
	-webkit-border-radius:6px;
	border-radius:6px;
}

.banner-pic::before {
	background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.8) 100%);
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.8) 100%);
}

.banner-pic {
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:cover;
	background-size:cover;
}

.banner-txt {
	position:absolute;
	left:0;
	right:0;
	bottom:30px;
	padding:0 1.8755rem;	
}
.banner-txt a {
	color:#fff;
	font-size:2rem;
	font-weight:300;
	line-height:1.2;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
}





/*HOME PAGE*/
.gallery-home .box:first-child {
	width:calc(100% + 16px);
	margin:0 -8px 16px -8px;
}

.gallery-home .box:first-child .box-inner {
	padding:0;
}

.gallery-home .box:first-child .area-bg {
	-webkit-border-radius:0;
	border-radius:0;	
}

.news-home, .video-home {
	margin-bottom:14px;
}

.gallery-home, .service-home, .album-home {
	margin-bottom:14px;
}

.distributor{
	margin-bottom:10px;
	text-align:center;
}

.distributor .area-pic {
	line-height:0;
	overflow:hidden;
}

.distributor .area-pic, .area-add {
	margin-bottom:0.75rem;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.distributor .area-pic img {
	display:inline-block;
	width:auto;
	height:80px;	
}
.area-add {
	position:relative;
	display:inline-block;
	width:80px;
	height:80px;
	background-color:rgba(29, 166, 192,1);
}
.icon-add {
	position:absolute;
	left:50%;
	top:50%;
	width:30px;
	height:30px;
	margin:-15px 0 0 -15px;
	text-align:center;
	line-height:30px;
	background-color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
	color:#9e6bab;	

}
.icon-add img{
	display:inline-block;
	width:auto;
	height:auto;
	max-width:12px;
	vertical-align:middle;
}
.distributor .area-txt{
	padding:0 1.125rem;
}
.area-txt.add h3 {
	font-size:0.875rem;
}

.register-box {
	margin-bottom:1.875rem;
	text-align:center;
}
.register-box .area-txt p {
	display:inline-block;
	width:90%;
	max-width:400px;
	margin-bottom:10px;
	font-size:1.125rem;
}
.area-form{
	position:relative;
	display:inline-block;
	width:90%;
	height:auto;
}

.area-form form {
	width:100%;
}

#register-input {
	display:inline-block;
	width:70%;
	max-width:400px;
	height:40px;
	margin-right:15px;
	padding:0 12px;
	line-height:40px;
	vertical-align:middle;
	font-family:inherit;
	font-size:0.875rem;
	color:#999;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
	border-radius:4px;
}
#register-input:focus {
	color:#333;
}

#register-but {
	display:inline-block;
	width:auto;
	height:40px;
	font-weight:normal;
	vertical-align:middle;
	padding:6px 20px;
	font-family:inherit;
	font-size:0.9375rem;
	color:#fff;
	cursor:pointer;
	background-color:#999;
	-webkit-border-radius:4px;
	border-radius:4px;
}

/*DISTRIBUTOR PAGE*/
.distributor-section{
	counter-reset:section;
}

.supplier-box {
	position:relative;
	display:block;
	margin-bottom:1.875rem;
	padding:0 4.375rem;
	font-size:0;
}

.supplier-box::before {
	counter-increment:section;
	content:counters(section, ".");
	position:absolute;
	left:32px;
	top:50%;
	width:22px;
	height:34px;
	margin-top:-17px;
	line-height:28px;
	background:url(../images/icon/number-ico.png) no-repeat center center;
	color:#fff;
	font-size:0.75rem;
	text-align:center;
	font-family:inherit;
}

.supplier{
	position:relative;
	display:block;
	padding:1.25rem 1.25rem 10px 1.25rem;
	border:1px solid #efefef;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.about-supplier, .info-supplier {
	display:inline-block;
	vertical-align:top;
}

.about-supplier {
	width:180px;
}

.about-supplier .box-inner {
	padding:0;
}

.about-supplier .area-txt h3 {
	font-size:1.25rem;
	font-weight:400;
}

.info-supplier {
	width:calc(100% - 195px);
	margin-left:15px;
}

.gallery {
	margin-right:-5px;
	font-size:0;
}

.gallery .box-inner{
	padding:0 5px;
}

.gallery li {
	width:25%;
	display:inline-block;
}

.gallery li a{
	display:block;
	padding:0 5px;	
}

.view-more .area-bg::after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:background-color .3s ease-in-out;
	transition:background-color .3s ease-in-out;
	opacity:1;
}

.view-more:hover .area-bg::after {
	background-color:rgba(0,0,0,0.3);
}

.view-more span {
	position:absolute;
	left:0;
	top:50%;
	margin-top:-10px;
	width:100%;
	height:20px;
	line-height:20px;
	font-size:1rem;
	color:#fff;
	font-weight:300;
	text-align:center;
	z-index:1;
}

.contact {
	position:relative;
	padding:10px 0;
}

.contact::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}

.menu {
	position:relative;
	top:2px;
	display:inline-block;
	vertical-align:middle;
}

.menu li {
	display:inline-block;
	vertical-align:top;
}

.menu a {
	position:relative;
	display:block;
	padding:5px 0;
	font-size:1rem;
	text-transform:uppercase;
	font-weight:300;
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out;
}
.menu a:hover{
	color:#a05da6;
}
.menu li a::after {
	content:'•';
	font-family:inherit;
	font-size:inherit;
	padding:0 4px;
	color:#333;
}

.hotline {
	float:right;
	display:inline-block;
	vertical-align:middle;
}

.hotline .btn{
	margin-left:6px;
}

.brief {
	position:absolute;
	left:50%;
	top:100%;
	width:280px;
	height:auto;
	margin:18px 0 0 -140px;
	padding:15px 20px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-align:center;
	border:1px solid rgba(0, 0, 0, 0.2);
	background-color:#fff;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	visibility:hidden;
	opacity:0;
	-webkit-transform:translateY(-10px);
	transform:translateY(-10px);
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}

.brief::before {
	content:'';
	position:absolute;
	left:50%;
	top:0;
	width:20px;
	height:20px;
	margin:-12px 0 0 -10px;
	background-color:#fff;
	border-left:1px solid rgba(0, 0, 0, 0.2);
	border-top:1px solid rgba(0, 0, 0, 0.2);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

.brief p {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:0.875rem;
	color:#333;
	font-weight:normal;
	text-transform:none;
	line-height:1.4;
}

.btn:hover .brief {
	opacity:1;
	visibility:visible;
	-webkit-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}

.description {
	padding-top:10px;
	border-top:1px solid #ccc;
}

.description p {
	font-size:1.125rem;
	font-weight:300;
	line-height:1.4;
	margin-bottom:10px;
}


/*BOTTOM*/
.ftr-wrap{
	background-color:rgba(29, 166, 192,1);
}

.ftr-top {
	background-color:#fff;
}

.ftr-inr p {
	color:#fff;
	font-size:0.75rem;
	line-height:1.6;
}

.ftr-inr .box-inner {
	padding:16px;
}

.ftr-inr span {
	position:relative;
	display:inline-block;
	font-size:0.875rem;
	font-weight:300;
}

.ftr-logo a {
	display:inline-block;
	width:auto;
	height:auto;
	vertical-align:middle;
	line-height:0;
	overflow:hidden;
}

.ftr-logo img {
	height:36px;
}

.ftr-logo span {
	top:10px;
	left:15px;
	color:#1da6c0;
}


#go-top{
	position:fixed;
	right:30px;
	bottom:30px;
	width:50px;
	height:50px;
	visibility:hidden;
	opacity:0;
	cursor:pointer;
	background:url(../images/icon-top.png) no-repeat center center;
	background-size:cover;
	background-color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
	box-shadow:0 0 0 0 rgba(3,172,226,0.5);
	-webkit-transition:visibility, opacity, box-shadow 0.3s ease-in-out;
	transition:visibility, opacity, box-shadow 0.3s ease-in-out;
	z-index:10;
}

#go-top.show{
	visibility:visible;
	opacity:1;
}

#go-top.show:hover {
	box-shadow:0 0 30px 0 rgba(3,172,226,0.5);
}


/*MIDIA*/
@media screen and (max-width:660px) {
	/*HOME PAGE*/
	.register-box {
		padding:0 10px;
	}
	.register-box .area-txt, .area-form {
		width:100%;
	}
	.register-box .area-txt p {
		width:100%
	}
	#register-input {
		width:calc(100% - 90px);
		margin-right:8px;
		height:34px;
		line-height:34px;
	}
	#register-but {
		padding:3px 16px;
		height:34px;
	}
	
}

@media screen and (max-width:520px) {
	/*FOOTER*/
	.ftr-inr .box-inner {
		padding:16px 10px;
	}
	
	.ftr-logo span{
		position:absolute;
		right:10px;
		top:25px;
		left:auto;
		font-size:0.8175rem;
	}
	.ftr-logo img {
		height:33px;
	}
	
}
