 .mb-30{
    margin-bottom: 2.0833vw;
 }
 .has-line{
     border-bottom: 1px solid #000;
 }
 .checkout-inr {
     padding:2.25vw 5% 15vw 5%;
 }
 .fs-checkout .fs-title{
     margin-bottom:2.222vw;
 }
 .fs-checkout h1{
     font-size:4.16666vw;
     font-weight:700;
}

.fs-checkout h2{
    font-size: 1.1111vw;
    font-weight: 700;
    margin-bottom: 2.0833vw;
}

.fs-checkout .lookbook-steps{
    width:100%;
    margin:6.1111vw auto 7.638888vw auto;
}
.checkout-box {
    position:relative;
    width:100%;
}
.checkout-info, .checkout-item {
     float:left;
     width:44%;
}
.checkout-info{
    margin-right:6.9444%;
}
.checkout-title, .collapse-title{
    position: relative;
    margin-bottom:0.69444vw;
    font-size:1.25vw;
    font-weight:600;
    text-transform:uppercase;
    color:#000;
}
.collapse-item.active .collapse-title{
    color: #aaa;
}
.collapse-item.active .collapse-content,
.collapse-title{
    display: none;
}
.collapse-item.active .collapse-title{
    display: block;
}
.billing-box .checkout-title{
    margin-bottom:1.3888vw;
}
.collapse-content .payment-box{
    padding: 0;
}
.shipping-detail{
    margin:0 0 2.08333vw -3.5%;
    padding:3.5%;
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    -webkit-border-radius:1.3888vw;
    border-radius:1.3888vw;
}
.by-vn .read-only input[type='text']{
	color: #c6c6c6;
}
.chose-address .chose-address-but{
    background-color:#323232;
    color:#fff;
    text-align:center;
}
.chose-address .cancel-but{
    margin-left:0.7vw;
    padding:0 0.5vw;
    width:auto;
    height:auto;
    line-height:1.4;
    text-decoration:underline;
}
.payment-box{
    padding:2vw 0 0 0;
}
.payment-detail{
    padding-top:0.7444vw;
}
.payment-detail .radio-box li{
    display:block;
    margin-bottom:1.3888vw;
}
.credit-cards{
    width:13.611vw;
    padding:1vw 0 0 2.1vw;
    display:none;
}
.radio-box input[type='radio']:checked ~ .credit-cards{
    display:block;
}
.checkout-item {
    padding:2.5% 1.54% 1.5% 1.54%;
    background-color:#eeeff3;
    -webkit-border-radius:1.38888vw;
    border-radius:1.38888vw;
}
.checkout-item .cart-items{
    height:auto;
}
.checkout-note{
    font-size:0.972222vw;
    font-weight:400;
    font-style: italic;
    color:#323232;
    padding-bottom:1.041666vw;
    border-bottom:1px solid #323232;
    margin-bottom:1.38888vw;
}

.checkout-item .small-title{
    margin-bottom:0.972222vw;
    font-size:1.25vw;
    font-weight:700;
    color:#000;
    text-transform:uppercase;
}
.fee-cap{
    color:#7c7c7c;
    font-weight:400;
    font-size:0.694444vw;
    text-transform: initial;
}
.checkout-item .cart-item{
    margin-bottom:1.38888vw;
    padding-bottom:1.3888vw;
}
.checkout-item .item-txt h3, .checkout-item .item-txt p{
    margin-bottom:0.3666vw;
}
.checkout-item .item-txt p strong:nth-child(3){
    position: absolute;
    top:0;
    right:0;
}
.checkout-item .item-txt li{
    font-weight:400;
    color:#000;
    font-size:0.9722222vw;
    margin-bottom:0.3vw;
}
.checkout-item .cart-quantity{
    padding:0.6vw 0;
}
.promotion-input{
    position: relative;
    display:block;
    width:66%;
    margin-bottom:1.3888vw;
}
.checkout-item .item-info {
    position: relative;
}
.checkout-item .item-info .cart-delete{
    position: absolute;
    left:3.78%;
    bottom:0;
}

.promotion-input input[type="text"]{
	width:100%;
	height:2.7777vw;
	line-height:2.7777vw;
	padding:0 7.638888vw 0 0;
	border:none;
	border-bottom:1px solid #323232;
	-webkit-border-radius:0;
	border-radius:0;
	font-size:0.83333vw;
}
.promotion-input input[type="text"]::placeholder{
    color:#323232;
    font-style:italic;
}
.promotion-input input[type="text"]::placeholder {
    color:#323232;
    font-style:italic;
}
.promotion-input input[type="text"]:-ms-input-placeholder { 
    color:#323232;
    font-style:italic;
}
.promotion-input input[type="text"]::-moz-placeholder {
    color:#323232;
    font-style:italic;
	opacity:1;
}
.promotion-but{
	position:absolute;
	top:0;
	right:0;
	width:6.94444vw;
	height:2.7777vw;
	line-height:2.7777vw;
	font-size:0.83333vw;
	color:#fff;
	background-color:#323232;
	cursor:pointer;
	font-weight:700;
}
.promotion-box, .fee-box, .tax-box{
    padding: 1.3888vw 0 0 0;
    border-top:1px solid #323232;
}
.total-block {
    padding: 1.3888vw 0;
    border-top:1px solid #323232;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.checkout-item .total-block .small-title{
    margin-bottom: 0;
}
.total-block-value{
    font-weight:0.83333vw;
    font-weight:700;
    color:#323232;
}
.fee-item, .tax-item, .promotion-item {
    display:flex;
    align-items:center;
    margin-bottom:1.18888vw;
}
.promotion-item {
    flex-wrap:wrap;
    margin-bottom: 1.3888vw;
}
.fee-title, .fee-value, .tax-title, .tax-value, .promotion-title, .promotion-value{
    flex:0 0 50%;
    max-width:50%;
    font-size:0.83333vw;
}
.promotion-item-child {
    flex:0 0 100%;
    max-width:100%;
    padding-top:0.5vw;
}
.promotion-item-lv2 {
    font-size:0.83333vw;
    font-weight:400;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    margin-bottom:0.3vw;
}
.promotion-title-lv2 {
    flex:0 0 16%;
    max-width:16%;
    padding-left:1.2%;
}
.fee-title, .tax-title, .promotion-title {
    font-weight:400;
}
.promotion-title strong{
    font-weight:700
}
.fee-value, .tax-value, .promotion-value{
    text-align:right;
    font-weight:700;
}
.promotion-del{
    position: relative;
    top:-0.1vw;
    display:inline-block;
    width:1.38888vw;
    vertical-align:middle;
    margin-left:0.5vw;
    cursor:pointer;
}
.promotion-del img{
    width:100%;
}
.shipping-item{
    position:relative;
    margin:0 0 1.3888vw -3.5%;
    padding:3.5%;
    -webkit-border-radius:1.3888vw;
    border-radius:1.3888vw;
    background-color:#fff;
    border:1px solid #eeeff3;
}
.shipping-item.is-default{
    background-color:#eeeff3;
}
.shipping-buts{
    position: absolute;
    right:3.5%;
    top:1.7vw;
    font-size:0;
}
.shipping-but{
    display:inline-block;
    vertical-align:top;
    text-decoration:underline;
    color:#000;
    font-size:0.8333vw;
    font-weight:400;
    margin-left:1.041666vw;
    cursor:pointer;
}
.checkout-title .shipping-buts {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.checkout-title .shipping-but{
    font-weight: 700;
    text-transform: initial;
}

.shipping-name{
    margin-bottom:1.6666vw;
}
.shipping-name strong, .shipping-name span{
    color:#000;
    font-size:1.1111vw;
}
.shipping-name strong{
    margin-right:1.6666vw;
}
.shipping-name .choose-address{
    display: inline-block;
    font-size: 0.8333vw;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}
.shipping-item li{
    display:flex;
    margin-bottom:0.83333vw;
}
.shipping-title, .shipping-value,
.method-confirm p{
    font-size:0.83333vw;   
}
.shipping-title{
    flex:0 0 17%;
    max-width:17%;
    font-weight:400;
    color:#666666;
}
.shipping-value{
    flex:0 0 83%;
    max-width:83%;
    font-weight:400;
    color:#000;
}
.checkout-info .fs-checkbox label, .checkout-info .radio-box label{
    color:#000;
}
.new-address-but{
    display:inline-block;
    color:#000;
    text-transform:uppercase;
    font-size:0.83333vw;
    text-transform:uppercase;
    font-weight:600;
    text-decoration:underline;
    cursor:pointer;
}
.checkout-total{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:auto;
    z-index:2;
}
.total-box{
    background-color:#eeeff3;
    text-align:right;
    padding:2vh 9.5% 2vh 0;
}
.total-box.bg-black{
    background-color:#323232;
}
.total-item{
    display:flex;
    align-items:center;
    justify-content: flex-end;
}
.total-item .small-title{
    flex:0 0 20%;
    max-width:20%;
    font-size:4.16666vw;
    font-weight:700;
    text-transform:uppercase;
    text-align:left;
}
.total-info{
    flex:0 0 23.6%;
    max-width:23.6%;
    color:#000;
}
.total-number{
    font-size:0.833333vw;
    font-weight:700;
}
.total-value{
    font-size:1.66666vw;
    font-weight:700;
}
.checkout-total .fs-but{
    text-align:left;
    padding:0 1vw;
    background-position: 93% center;
    font-size:0.972222vw;
}

.by-cart .checkout-inr{
    padding: 2.25vw 5% 4.1666vw 5%;
}
.by-cart .checkout-item .fs-but{
    width: 100%;
}

.spr-120-size{
    width: 8.3333vw;
}
.spr-240-size{
    width: 16.6666vw;
}
.but-continue .spr-120-size{
    margin-left: 1.3888vw;
}

.method-confirm p{
    color: #000;
}
.method-confirm .credit-cards{
    display: block;
    padding: 1vw 0 0 0;
}

.pb-15{
    padding-bottom: 1.0416vw;
}
.pt-25{
    padding-top: 1.7361vw;
}

@media screen and (max-width: 1100px){
    .checkout-info, .checkout-item {
        float: none;
        width: 100%;
    }
    .checkout-inr {
        padding: 7.4666vw 5% 42.6666vw 5%;
    }
    .by-cart .checkout-inr {
        padding: 7.2vw 5% 5.3333vw 5%;
    }
    .fs-checkout .fs-title {
        margin-bottom: 6.1333vw;
    }
    .fs-checkout h1 {
        font-size: 9.6vw;
    }
    .checkout-info {
        margin: 0 0 5.333vw 0;
    }
    .checkout-title, .collapse-title {
        margin-bottom: 4.2666vw;
        font-size: 3.7333vw;
    }
    .shipping-detail {
        margin: 0 0 5.3333vw 0;
        padding: 5.333vw;
        -webkit-border-radius: 2.6666vw;
        border-radius: 2.6666vw;
    }
    .chose-address{
        text-align: center;
    }
    .chose-address .chose-address-but {
        width: 100%;
        margin-bottom: 5.3333vw;
    }
    .chose-address .cancel-but {
        margin: 0;
        padding: 0 1.3333vw;
    }

    .fs-checkout h2 {
        font-size: 3.7333vw;
        margin-bottom: 9.3333vw;
    }
    div.item-cart {
        margin-bottom: 2.4vw;
    }

    .checkout-item {
        padding: 5.3333vw 2.6666vw 5.3333vw 2.6666vw;
        -webkit-border-radius: 5.3333vw;
        border-radius: 5.3333vw;
    }
    .promotion-box, .fee-box, .tax-box {
		padding: 5.3333vw 0 0 0;
    }
    .checkout-item .small-title {
        margin-bottom: 1.8666vw;
        font-size: 3.7333vw;
    }
    .promotion-input {
        width: 76.1904%;
        margin-bottom: 6.9333vw;
    }
    .promotion-input input[type="text"] {
        height: 8vw;
        line-height: 8vw;
        padding: 0 22.6666vw 0 0;
        font-size: 2.6666vw;
    }
    .promotion-but {
        width: 21.3333vw;
        height: 8vw;
        line-height: 8vw;
        font-size: 2.9333vw;
    }

    .shipping-but {
        font-size: 2.9333vw;
        margin-left: 2.9333vw;
    }
    .shipping-item {
        margin: 0 0 2.6666vw 0;
        padding: 2.1333vw 3.4666vw 2.1333vw 5.3333vw;
        -webkit-border-radius: 2.6666vw;
        border-radius: 2.6666vw;
    }
    .shipping-name {
        margin-bottom: 1.3333vw;
    }
    .shipping-name strong {
        margin-right: 1.3333vw;
    }
    .shipping-name strong, .shipping-name span {
        font-size: 2.9333vw;
    }
    .shipping-item li {
        display: block;
        margin-bottom: 1.8666vw;
    }
    .shipping-item li:last-child {
        margin-bottom: 0;
    }
    .shipping-title, .shipping-value {
        display: block;
        flex: 0 0 auto;
        max-width: 100%;
    }
    .shipping-title{
        margin-bottom: 0.5333vw;
    }
    .shipping-title, .shipping-value, .method-confirm p {
        font-size: 2.9333vw;
    }
    .shipping-name .choose-address, .new-address-but {
        font-size: 2.9333vw;
    }
    .mb-16-sp{
        margin-bottom: 4.2666vw;
    }
    .mb-30 {
        margin-bottom: 5.333vw;
    }
    .but-continue .fs-but{
        width: 100%;
        margin-bottom: 2.6666vw;
    }
    .pt-25 {
        padding-top: 5.3333vw;
    }
    .pb-15{
        padding-bottom: 0.8vw;
    }
    .billing-box .checkout-title {
        margin-bottom: 4.5333vw;
    }
    .but-continue .spr-120-size {
        margin-left: 0;
    }
    .but-confirm .fs-but{
        width: 100%;
    }
    .payment-detail {
        padding-top: 0;
    }
    .payment-detail .radio-box li {
        margin: 0 0 3.2vw 0;
    }
    .credit-cards {
        width: 40vw;
        padding: 1.866vw 0 0 9vw;
    }
    .method-confirm .credit-cards {
        padding: 1.866vw 0 0 0;
    }
    .has-line-sp{
        border-bottom: 1px solid #000;
    }
    .method-confirm{
        padding-bottom: 8vw;
    }
    .checkout-item .cart-item {
        margin-bottom: 5.3333vw;
        padding-bottom: 5.3333vw;
    }
    .checkout-item .cart-item:last-child{
        margin-bottom: 0;
    }
    .fee-item, .tax-item, .promotion-item {
        margin-bottom: 4.2666vw;
    }
    .fee-title, .fee-value, .tax-title, .tax-value, .promotion-title, .promotion-value{
        font-size: 2.9333vw;
    }
    .checkout-item .item-txt h3, .checkout-item .item-txt p {
        margin-bottom: 1.8666vw;
    }


    .total-box {
        padding: 3.2vw 5.3333vw;
    }
    .total-item {
        justify-content: space-between;
    }
    .total-item .small-title {
        flex: 0 0 35%;
        max-width: 35%;
        font-size: 9.6vw;
    }
    .total-info {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .total-number {
        font-size: 2.9333vw;
    }
    .total-value {
        font-size: 3.7333vw;
    }
    .checkout-total .fs-but {
        width: 100%;
        padding: 0 6.6666vw 0 2.6666vw;
        background-position: 93% center;
        font-size: 2.9333vw;
    }

    .promotion-del {
        top: 0;
        width: 4.2666vw;
        margin-left: 1vw;
    }


    /* Cart Teamwear */
    .fs-checkout .lookbook-steps {
        width: 52%;
        margin: 0 auto 9.3333vw auto;
    }
    .by-teamwear h1 {
        font-size: 9.6vw;
        margin-bottom: 17.3333vw;
        text-transform: uppercase;
    }
    .checkout-note, .fee-cap {
        font-size: 2.6666vw;
    }
    .checkout-note {
        padding-bottom: 1.8666vw;
        margin-bottom: 4vw;
    }
    .checkout-item .item-txt li {
        font-size: 2.3999vw;
        margin-bottom: 0.8vw;
    }
    .total-block {
        padding: 3.2vw 0;
    }
    .promotion-item-child {
        padding-top: 2vw;
    }
    .promotion-item-lv2 {
        font-size: 2.9333vw;
        margin-bottom: 1.0666vw;
    }
    .promotion-title-lv2 {
        flex: 0 0 30%;
        max-width: 30%;
        padding-left: 4vw;
    }
}