.fs-lookbook {
	padding:1.875vw 0 0 0;
}
.fs-lookbook h1{
	text-align:center;
	font-weight:700;
	font-size:4.1666vw;
	margin-bottom:5.5555vw;
}

.fs-content{
	padding:0 5%;
	display:flex;
	align-items: flex-start;
	margin-bottom:3.125vw;
}
.side-content{
	flex:0 0 17%;
	max-width:17%; 
	padding-top: 2.08333vw;
}
.side-content li{
	margin-bottom:2vw;
}
.side-content li a {
	position:relative;
	color:#aaa;
	font-weight:400;
	font-size:1.25vw;
}
.side-content li span{
	color:#323232;
	font-weight:700;
	font-size:1.25vw;
}
.side-items a{
	display:block;
	margin:1vw 0;
}
.side-content li a::before{
	content:'';
	position: relative;
	display:inline-block;
	vertical-align:bottom;
	width:1vw;
	height:0.13888vw;
	min-height:2px;
	background-color:#323232;
	vertical-align:middle;
	margin-right:0.5vw;
	display:none;
}
.side-content li.active a{
	color:#323232;
	font-weight:700;
}
.side-items a.current{
	color:#323232;
	font-weight:700;
}
.side-content li.active a::before{
	display:inline-block;
}
.main-content{
	flex:0 0 83%;
	max-width:83%; 
}
.pr-10{
	padding-right:10%;
}
.fs-navbar{
	margin-bottom:0.52083vw;
	padding:0.7vw 0;
	background-color:#323232;
	display:flex;
	justify-content: space-between;
	align-items:center;
}
.nav-sort{
	display:flex;
	width:60%;
	justify-content: center;
	align-items: center;
}
.nav-sort .fs-select-header{
	text-align:right;
	padding:0 3.5vw 0 0;
}
.nav-sort .fs-select-header::after{
	width:1.041666vw;
	height:0.5555vw;
	background:url(../images/select-arrow-white-size-mid.png) no-repeat center center;
	background-size:100% auto;
}
.nav-sort .fs-select-header span{
	color:#fff;
	font-size:0.97222vw;
}
.nav-sort .fs-select-box{
	left:auto;
	right:0;
}
.sort-box {
	width:24%;
	margin:0 3%;
}
.sort-box .fs-select-box{
	margin:0
}
.sort-box .fs-select-box ul{
	padding:0.4vw 0;
}
.sort-box .fs-select-box::before{
	content:'';
    position:absolute;
    width:22px;
    height:18px;
    background:url(../images/select-up.png) no-repeat center 0;
    right:1.1vw;
    top:-18px;
    z-index:2;
}
.show-all{
	margin-right:5.46875vw;
	font-size:0.97222vw;
	font-weight:400;
	color:#fff;
	padding:5px;
	cursor:pointer;
}
.lookbook-items{
	display:flex;
	flex-wrap:wrap;
	margin-bottom:3.125vw;
}
.lookbook-item {
	position:relative;
	flex:0 0 33.3333%;
	max-width:33.3333%;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.lookbook-item .fs-bg::before{
	padding-top:100%;
}

.by-package{
	padding-top:1.195vw;
	justify-content:space-between;
}
.by-package .lookbook-item{
	flex:0 0 48%;
	max-width:48%;
	margin-bottom:4%;
}
.by-package .lookbook-item .fs-bg::before{
	padding-top:107%;
}
.by-package .lookbook-item:nth-child(2n) {
	margin-top:4%;
	margin-bottom:0;
}

.view-more{
	padding:0;
	width:auto;
	height:auto;
	line-height:initial;
	display:inline-block;
	font-size:1.111vw;
	text-decoration:underline;
	text-transform:uppercase;
}

.bg-dark{
	opacity:0;
	background-color:rgba(0,0,0,0.7);
}
.bg-dark.not-hide{
	opacity:1;
}
.is-team, .is-lookbook{
	width:856px;
	height:560px;
}
.lb-main {
	position: absolute;
	left:0;
	top:0;
	width:61%;
	height:100%;
}
.lb-products{
	position: absolute;
	right:0;
	top:0;
	width:36%;
	height:100%;
	padding:40px 30px 40px 20px;
}
.lb-products h2{
	font-size:24px;
	color:#323232;
	font-weight:300;
	margin-bottom:20px;
}
.lb-outer{
	position:relative;
	width:100%;
	height:430px;
}
.lb-items{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.lb-items .nicescroll-rails{
	margin-left:18px;
}
.lb-scroll{
	width:100%;
	height:100%;
	overflow: hidden;
}
.lb-item{
	display:flex;
	font-size:12px;
	font-weight:400;
	border-bottom:1px solid #eeeff3;
	padding-bottom:25px;
	margin-bottom:25px;
}
.lb-item .item-pic{
	flex:0 0 30%;
	max-width:30%;
}
.lb-item .item-info{
	flex:0 0 70%;
	max-width:70%;
}
.lb-item h3{
	font-size:16px;
	color:#323232;
	font-weight:700;
	margin-bottom:10px;
}
.popup-inr .lb-item .item-price,
.lb-item .fs-link{
	font-size:12px;
	margin-bottom:5px;
}
.lb-item .fs-link {
	margin-bottom:10px;
	text-decoration:underline;
	cursor:pointer;
}
.lb-item .fs-but{
	width:160px;
	height:40px;
	font-size:12px;
	line-height:40px;
	padding:0 40px 0 20px;
}
.lb-item .fs-but.color-black{
	background-size:8px auto;
}


.type-packages .lb-outer{
	height:380px;
}
.type-packages .lb-scroll{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.type-packages .lb-item {
	position:relative;
	border:none;
}
.type-packages .lb-item .fs-link{
	position: absolute;
	left:0;
	bottom:0;
}
.type-packages .lb-item .item-pic{
	flex:0 0 100%;
	max-width:100%;
	margin:0;
}
.type-packages .lb-item .item-info{
	flex:0 0 100%;
	max-width:100%;
	padding:0;
}
.type-packages .lb-item {
	flex:0 0 48%;
	max-width:48%;
	flex-wrap:wrap;
}
.type-packages .fs-buts{
	position: absolute;
	left:0;
	bottom:-65px;
	width:100%;
}
.type-packages .fs-but{
	width:100%;
	height:40px;
	line-height:40px;
	padding:0 20px;
	font-size:12px;
	background-size:10px auto;
	background-position:94% center;
}

.is-gallery{
	width:520px;
	height:auto;
	overflow:hidden;
	padding:10px;
}
.is-gallery .close-but{
	right:10px;
	top:10px;
}
.main-gallery.fs-bg::before{
	padding-top:110%;
}
.thumb-gallery{
	padding:10px 0 0 0;
}
.thumb-gallery-slider{
	width:40%;
	margin:0 auto;
}
.thumb-gallery-slider .fs-pic{
	border:2px solid  rgba(163,163,163,0);
	cursor:pointer;
}
.thumb-gallery-slider .fs-pic.active{
	border:2px solid  rgba(163,163,163,1);
}
.thumb-gallery-slider .fs-pic::before{
	content:'';
	position: relative;
	display: block;
	width:100%;
	height:auto;
	padding-top:100%;
}
.thumb-gallery-slider .fs-pic img{
	position: absolute;
	left:50%;
	top:50%;
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.thumb-gallery{
	position: relative;
}
.thumb-gallery .swiper-button-next, .thumb-gallery .swiper-button-prev{
	width:2vw;
	top:1.2vw;
}
.thumb-gallery .swiper-button-next {
	right:3%;
	background:url(../images/next2.png) no-repeat center center;
	background-size:100% auto;
}
.thumb-gallery .swiper-button-prev {
	left:3%;
	background:url(../images/prev2.png) no-repeat center center;
	background-size:100% auto;
}


.lookbook-info{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(235,235,235,0.9);
	color:#323232;
	padding:1.1458333vw;
	opacity:0;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}
.lookbook-info h2{
	font-size:2.5vw;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:1.5625vw;
}
.package-info{
	position: absolute;
	right:1.1458333vw;
	top:1.1458333vw;
	text-align:right;
}
.package-price{
	font-size:1.6666vw;
	font-weight:700;
	color:#323232;
}
.package-per, .package-note{
	font-size:0.97222vw;
	color:#323232;
	margin-bottom:0.3vw;
}
.package-per{
	font-weight:700;
}
.lookbook-info .fs-buts{
	position: absolute;
	left:1.1458333vw;
	bottom:1.5vw;
}
.lookbook-info p{
	font-size:0.97222vw;
	color:#000;
	margin-bottom:0.5vw;
}
.view-photo{
	display:inline-block;
	vertical-align:middle;
	color:#323232;
	font-size:0.83333vw;
	font-weight:400;
	margin-left:1vw;
	text-decoration:underline;
}
.lookbook-item:hover .lookbook-info{
	opacity:1;
}

.choose-block {
	padding-left:2.5%;
	border-top:2px solid #323232;
}
.ss-title {
	margin-bottom:1.5vw;
	padding-top:2.08333vw;
	color:#323232;
}
.ss-title + .radio-block{
	margin:0 0 1.5vw 0;
}
.ss-title h2{
	font-size:1.25vw;
	font-weight:700;
	margin-bottom:0.5vw;
	text-transform:uppercase;
}
.ss-title p{
	font-size:0.83333vw;
	font-weight:400;
}

.color-item{
	display:flex;
	font-size:0.83333vw;
	color:#323232;
	font-weight:400;
	align-items:flex-start;
	margin-bottom:2vw;
}
.color-title {
	flex:0 0 9.5vw;
	max-width:9.5vw;
}
.color-title span{
	display:block;
	color:#aaa;
}
.color-block{
	display:none;
}
.color-cirlce{
	width:5.6vw;
	height:2.3vw;
}
.color-name{
	margin:0 1.5vw 0 1vw;
}
.color-delete-but{
	width:1.38888vw;
	height:1.38888vw;
	-webkit-border-radius:100%;
	border-radius:100%;
	background:url(../images/close-color.png) no-repeat center center;
	background-size: 0.6vw auto;
	background-color:#eeeff3;
	cursor: pointer;
}
.color-change-but{
	flex:0 0 100%;
	max-width:100%;
	margin-top:0.2vw;
}
.chose-color-but, .color-change-but {
	text-decoration:underline;
	cursor:pointer;
}

.has-color .color-block{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.has-color .chose-color-but{
	display:none;
}


.pattern-items {
	display:flex;
	align-items: flex-start;
	flex-wrap:wrap;
	margin-bottom:1.5vw;
}
.pattern-item{
	position:relative;
	flex:0 0 22.6%;
	max-width:22.6%;
	margin:0 3% 1vw 0;
	cursor:pointer;
	text-align:center
}
.pattern-item .fs-pic{
	margin-bottom:1vw;
}
.pattern-item::after{
	content:'';
	display:inline-block;
	width:1.38888vw;
	height:1.38888vw;
	border:1px solid #373737;
	-webkit-border-radius:100%;
	border-radius:100%;
}
.pattern-item.active::after{
	background-color:#373737;
}

.has-alpha .pattern-item{
	padding-bottom:1vw;
}
.pattern-alpha{
	position: absolute;
	left:50%;
	bottom:0;
	font-size:0.83333vw;
	color:#323232;
	font-weight:400;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

.width-item {
	display:flex;
	align-items:flex-end;
	margin-bottom:2.083333vw;
}
.width-item .fs-pic{
	flex:0 0 22%;
	max-width:22%;
}
.choice-cap {
	font-size:0.83333vw;
	font-weight:400;
}
.width-item .radio-block,
.hemero-logo-request .radio-block{
	display:block;
	margin:0 0 0 3%;
}
.width-item .radio-block .radio-box li,
.hemero-logo-request .radio-block .radio-box li {
	display:block;
	margin-top:1.3888vw;
}



.graphic-items{
	display:flex;
	align-items: flex-start;
	flex-wrap:wrap;
}
.graphic-item{
	position:relative;
	flex:0 0 30%;
	max-width:30%;
	margin:0 3% 3% 0;
}
.graphic-item.short-side{
    flex: 0 0 34.75%;
    max-width: 34.75%;
}
.dot{
	position: absolute;
	width:2.2222vw;
	height:2.2222vw;
	line-height:2.2222vw;
	text-align:center;
	-webkit-border-radius:100%;
	border-radius:100%;
	font-weight:700;
	color:#fff;
	background-color:#f05a29;
	font-size:1.2vw;
}
.dot.active{
	background-color:#01a0dd;
}
.dot:nth-child(1){
	top: 4.88vw;
    left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.dot:nth-child(2){
	top: 9.4vw;
    left: 22%;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
.dot:nth-child(3){
	top: 9.4vw;
    right: 22%;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.jersey-font .dot, .jersey-back .dot{
	-webkit-transform:scale(0.6);
	transform:scale(0.6);
}
.jersey-font .dot:nth-child(1){
	top:4vw;
	left:30%;
}
.jersey-font .dot:nth-child(2){
	top:5.2vw;
	left:44%;
}
.jersey-font .dot:nth-child(3){
	top:4vw;
	left:auto;
	right:30%;
}
.jersey-font .dot:nth-child(4){
	top:14.2vw;
	left:44%;
}
.jersey-font .dot:nth-child(5){
	bottom:4vw;
	right:22%;
}

.jersey-back .dot:nth-child(1), .jersey-back .dot:nth-child(2), 
.jersey-back .dot:nth-child(3), .jersey-back .dot:nth-child(4){
	left:44%;
}
.jersey-back .dot:nth-child(1){
	top:2.4vw;
}
.jersey-back .dot:nth-child(2){
	top:5.2vw;
}
.jersey-back .dot:nth-child(3){
	top:14.2vw;
}
.jersey-back .dot:nth-child(4){
	bottom:4vw;
}


.short-font .dot, .short-side .dot{
	-webkit-transform:scale(0.6);
	transform:scale(0.6);
}
.short-font .dot:nth-child(1){
	top:41.85%;
	left:25.3333%;
}
.short-font .dot:nth-child(2){
	top:54.71%;
	left:23.3333%;
}
.short-font .dot:nth-child(3){
	top:60.5%;
	left:22.66666%;
}
.short-font .dot:nth-child(4){
	top:66.62%;
	left:22%;
}
.short-font .dot:nth-child(5){
	top:41.85%;
	right:25.3333%;
}
.short-font .dot:nth-child(6){
	top:54.71%;
	right:23.3333%;
}
.short-font .dot:nth-child(7){
	top:60.5%;
	right:22.66666%;
}
.short-font .dot:nth-child(8){
	top:66.62%;
	right:22%;
}

.short-side .dot:nth-child(1){
	top:56.71%;
	left:23.2%;
}
.short-side .dot:nth-child(2){
	top:67%;
	left:23.2%;
}
.short-side .dot:nth-child(3){
	top:56.71%;
	right:23.2%;
}
.short-side .dot:nth-child(4){
	top:67%;
	right:23.2%;
}


.graphic-name {
	position: absolute;
	left:0;
	bottom:1vw;
	width:100%;
	color:#323232;
	font-size:0.83333vw;
	font-weight:700;
	text-transform:uppercase;
	text-align:center;
}

.jersey-back .graphic-name,
.jersey-font .graphic-name{
	bottom:0.5vw;
}
.graphic-notes {
	display:flex;
	align-items:center;
	margin-bottom:1.5625vw;
}
.graphic-caption{
	font-weight:700;
	text-transform:uppercase;
	font-size:0.972222vw;
	color:#323232;
}
.for-blank, .for-logo{
	position: relative;
	color:#000;
	font-size:0.83333vw;
	font-weight:400;
	margin-left:2.7777vw;
}
.for-blank::before, .for-logo::before{
	content: '';
	position: relative;
	display:inline-block;
	width:1.38888vw;
	height:1.38888vw;
	-webkit-border-radius:100%;
	border-radius:100%;
	vertical-align:middle;
	margin-right:0.5vw;
}
.for-blank::before{
	background-color:#f05a29;
}
.for-logo::before{
	background-color:#01a0dd;
}

.block-tie {
	border-bottom:1px solid #eeeff3;
	margin-bottom:1.5625vw;
	padding-bottom:1.45vw;
}
.block-tie:last-child{
	border-bottom:none;
}
.block-title {
	margin-bottom:1.14583333vw;
}
.block-title h3{
	color:#323232;
	font-size:0.97222vw;
	font-weight:700;
	text-transform:uppercase;
}
.hemero-logo-request {
	display: flex;
	align-items:flex-end;
	margin-bottom:1.14583333vw;
}
.hemero-logo{
	width: 22%;
	margin-bottom:1.14583333vw;
}
.hemero-logo-request .hemero-logo{
	margin:0;
}
.block-cap {
	font-size:0.83333vw;
	font-weight:400;
	margin-bottom:0.8333vw;
}
.choose-position {
	display:flex;
	flex-wrap:wrap;
	margin-bottom:0.5vw;
}
.choose-position li{
	position: relative;
	margin:0 4.1vw 0.694vw 0;
	min-width:6vw;
}
.choose-position li:nth-child(6n){
	margin:0 0 0.694vw 0;
}
.fs-checkbox.choose-position label::before, 
.fs-checkbox.choose-position label::after, 
.fs-checkbox.choose-position input[type='checkbox']{
	width:1.38888vw;
	height:1.38888vw;
}
.fs-checkbox.choose-position label{
	font-size:0.83333vw;
	vertical-align:middle;
	margin:0;
	padding-left:0.5vw;
}

.upload-block{
	position: relative;
	margin-bottom:1.041666vw;
	display:inline-block;
}
.upload-block input{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	opacity:0;
	cursor:pointer;
}
.upload-cap {
	display:block;
	width:8.3333vw;
	padding:0.8vw 0;
	background-color:#323232;
	font-size:0.83333vw;
	color:#fff;
	font-weight:700;
	text-align:center;
}
.attach-type .upload-cap{
	width:auto;
	padding:0.8vw 2vw 0.8vw 4vw;
	background:url(../images/attach-icon.png) no-repeat 1.6vw center;
	background-size:1.31944vw auto;
	background-color:#323232;
}

.radio-block {
	display:flex;
	align-items:center;
	margin:1vw 0 1.5vw 0;
}
.radio-block .radio-box li{
	position: relative;
	margin-right:6.25vw;
}
.radio-cap, .radio-block .radio-box label {
	font-size:0.83333vw;
	vertical-align:middle;
	margin:0;
}
.radio-block .radio-box label {
	padding-left:0.5vw;
}
.radio-cap{
	flex: 0 0 9.5vw;
	max-width: 9.5vw;
}

.radio-block .radio-box input[type="radio"], 
.radio-block .radio-box label::before, 
.radio-block .radio-box label::after{
	width:1.38888vw;
	height:1.3888vw;
}
.block-input{
	width:43%;
	margin-bottom:1vw;
}
.comment-type {
	width:80%;
}
.comment-type textarea{
	height:8.3333vw;
}

.fs-buts.on-head-tie {
	padding:2vw 0 0 0;
	text-align:right;
	border-top:2px solid #000;
	font-size:0;
}
.fs-buts.on-head-tie .fs-but {
	width:auto;
	padding:0 3vw 0 1.38888vw;
	margin-right:2%;
}
.fs-buts.on-head-tie .fs-but.color-black{
	background-position:94% center;
}

.choose-block .form-box{
	width:43%;
	margin-bottom:3vw;
}
.choose-block .fs-caption{
	color:#aaa;
}
.form-box .block-cap{
	color:#000;
}
.form-box .radio-block .radio-box li{
	margin-right:2vw;
}
.form-box .radio-block .radio-box li:last-child{
	margin:0;
}

.is-color {
	width:458px;
	padding:20px;
	margin:30px 0;
}
.is-color h2{
	font-size:18px;
	font-weight:700;
	color:#323232;
}
.is-color p{
	font-size:12px;
	color:#323232;
	font-weight:400;
	margin-bottom:5px;
}
.is-color p.cl-brief{
	color:#aaa;
	font-style:italic;
}
.cl-items{
	padding-top:10px;
}
.cl-row{
	display:flex;
}
.cl-col{
	text-align:center;
	width:80px;
	margin:0 20px 10px 0;
}
.cl-value{
	position:relative;
	width:100%;
	padding-top:50%;
	margin-bottom:5px;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.cl-col.js-selected .cl-value{
	border: 1px solid #323232;
	-webkit-box-shadow: inset 0 0 0 4px #fff;
	box-shadow: inset 0 0 0 4px #fff;
}
.has-stroke::before{
	content:'';
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:1px solid #323232;
}
.cl-name{
	font-size:10px;
	font-weight:400;
	color:#323232;
	line-height:1.1;
}

.cl-search{
	display:flex;
	justify-content: space-between;
	align-items:center;
	margin:5px 0 15px 0;
}
.cl-cap{
	width:74%;
}
.cl-input{
	width:32%;
}
.cl-input input[type="text"]{
	height:40px;
	font-size:12px;
	text-align:right;
	padding:0 10px;
}
.is-color .fs-buts{
	border-top:1px solid #c9c9c9;
	padding-top:15px;
	text-align:right;
	font-size:0;
}
.is-color .fs-but {
	display:inline-block;
	width:auto;
	background-image:none;
	height:40px;
	line-height:40px;
	margin-left:5px;
	font-size:12px;
	padding:0 20px;
}
.is-color .fs-but.color-grey-white{
	padding:0 30px;
}
.color-cancel{
	text-decoration:underline;
}

.upload-content{
	display:flex;
	flex-wrap:wrap;
	padding-right:10%;
}
.upload-item{
	position: relative;
	width:8.3333vw;
	height:5.5555vw;
	line-height:5.5555vw;
	border:1px solid #eeeff3;
	margin:0 3% 3% 0;
	text-align:center;
}
.upload-item img{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}
.upload-delete{
	position: absolute;
	right:0;
	bottom:0;
	margin:0 -0.69444vw -0.69444vw 0;
	width:1.38888vw;
	height:1.38888vw;
	-webkit-border-radius:100%;
	border-radius:100%;
	background:url(../images/close-color.png) no-repeat center center;
	background-size: 0.6vw auto;
	background-color:#eeeff3;
	cursor: pointer;
	z-index:1;
}

@media screen and (min-width:1101px) and (max-height:700px) {
	.is-gallery{
		width:420px;
	}
}


@media screen and (min-width: 1101px){
	.lookbook-item:hover{
		-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.8); 
		box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.8);
		z-index: 1;
	}
	.cl-col:not(.js-selected):hover .cl-value{
		-webkit-box-shadow: 0px 0px 6px 1px #000000; 
		box-shadow: 0px 0px 6px 1px #000000;
	}
}

@media screen and (max-width: 1100px){
	/* Time line lookbook */
	.fs-lookbook {
		padding: 7.2vw 0 0 0;
	}
	.fs-lookbook h1 {
		font-size: 9.6vw;
		margin-bottom: 17.3333vw;
		text-transform: uppercase;
	}

	/* fs-content */
	.fs-content {
		padding: 0;
		display: block;
		margin-bottom: 10.6666vw;
	}
	.side-content {
		flex: 0 0 auto;
		max-width: 100%;
		padding-top: 0;
		font-size: 0;
	}
	.main-content {
		flex: 0 0 auto;
		max-width: 100%;
	}
	.side-content li{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		text-align: center;
		margin-bottom: 0;
	}
	.side-content li a::before, .side-content li.active a::before{
		display: none;
	}
	.side-content li.active{
		background-color: #323232;
	}
	.side-content li a {
		display: block;
		font-size: 2.9333vw;
		padding: 1.8666vw 0;
		text-transform: uppercase;
	}
	.side-content li.active a{
		color: #fff;
	}


	/* Main */
	.fs-navbar {
		margin-bottom: 0;
		padding: 1.34vw 0;
		background-color: #fff;
		border-top: 1px solid #323232;
	}
	.show-all {
		display: none;
	}
	.nav-sort {
		width: 100%;
	}
	.sort-box{
		position: relative;
		margin: 0;
	}
	.sort-box:nth-child(1) {
		width: 36%;
	}
	.sort-box:nth-child(2) {
		width: 29.6%;
	}
	.sort-box:nth-child(3) {
		width: 34.1333%;
	}
	.nav-sort .fs-select-header span {
		color: #323232;
		font-size: 2.9333vw;
		font-weight: 700;
	}
	.nav-sort .fs-select-header {
		text-align: left;
		padding: 0 3.5vw 0 3.5vw;
		border: none;
	}
	.nav-sort .fs-select-header::after {
		width: 4.5333vw;
		height: 2.4vw;
		background: url(../images/select-arrow.png) no-repeat center center;
		background-size: 100% auto;
	}
	.lookbook-items {
		margin-bottom: 4.5333vw;
	}
	.view-more {
		padding: 0 0 0 5.3333vw;
		font-size: 2.9333vw;
	}
	.sl-gender::before, .sl-times::before{
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 2px;
		height: 5.3333vw;
		background-color: #EEEFF3;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.sort-box .fs-select-box::before {
		display: none;
	}

	/* Package */
	.by-package {
		padding: 0 5%;
	}
	.by-package .lookbook-item:nth-child(2n) {
		margin-top: 0;
	}
	.by-package .lookbook-item {
		margin-bottom: 5.9701%;
	}
	.lookbook-info {
		position: relative;
		left: auto;
		top: auto;
		width: 100%;
		height: auto;
		background-color:#fff;
		padding: 1.8666vw 0 0 0;
		opacity: 1;
		-webkit-transition: none;
		transition: none;
	}
	.lookbook-info .fs-buts {
		position: relative;
		left: auto;
		bottom: auto;
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
		margin-top: 2.666vw;
	}
	.lookbook-info h2 {
		font-size: 3.7333vw;
		margin-bottom: 1.3333vw;
	}
	.package-info {
		position: relative;
		right: auto;
		top: auto;
		text-align: left;
		margin-bottom: 0.8vw;
	}
	.package-price, .package-per {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 2.9333vw;
		margin-bottom: 0;
	}
	.package-price{
		margin-right: 1.3333vw;
		margin-bottom: 0;
	}
	.lookbook-info p {
		font-size: 2.9333vw;
		margin-bottom: 0.8vw;
	}
	.view-photo {
		width: 100%;
		flex: 0 0 100%;
		font-size: 2.9333vw;
		margin: 0 0 2.1333vw 0;
	}
	.lookbook-info .fs-but{
		width: 100%;
	}

	.no-line li{
		width: 100%;
	}
	.side-items{
		display: block;
		padding: 0 5%;
		font-size: 0;
		text-align: left;
	}
	.no-line .side-items a{
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin: 0 6.6666vw 0 0;
	}
	.no-line .side-items a:last-child{
		margin-right: 0;
	}
	.pr-10 {
		padding: 0 5%;
	}

	.choose-block {
		padding-left: 0;
		border-top: 1px solid #323232;
	}
	.ss-title {
		margin-bottom: 4vw;
		padding-top: 4.8vw;
	}
	.ss-title h2 {
		font-size: 2.9333vw;
		margin-bottom: 1.0666vw;
	}
	.ss-title + .radio-block {
		margin: 0 0 5.3333vw 0;
	}
	.radio-block .radio-box li {
		margin-right: 15.733vw;
	}
	.radio-block .radio-box li:last-child{
		margin-right: 0;
	}
	.radio-block .radio-box input[type="radio"], .radio-block .radio-box label::before, .radio-block .radio-box label::after {
		width: 5.3333vw;
		height: 5.3333vw;
	}
	.radio-cap, .radio-block .radio-box label {
		font-size: 2.933vw;
	}
	.radio-block .radio-box label {
		padding-left: 2.6666vw;
	}

	.choose-block:nth-child(2) .ss-title{
		padding-top: 2.1333vw;
	}
	.ss-title p {
		font-size: 2.9333vw;
	}
	.color-item {
		font-size: 2.9333vw;
		margin-bottom: 4.5333vw;
	}
	.color-title {
		flex: 0 0 33.4328%;
		max-width: 33.4328%;
	}
	.color-cirlce {
		width: 10.6666vw;
		height: 5.3333vw;
	}
	.color-name {
		margin: 0 4.8vw 0 2.6666vw;
	}
	.color-delete-but {
		width: 4.2666vw;
		height: 4.2666vw;
		background-size: 2.1333vw auto;
	}
	.color-change-but {
		margin-top: 0.5333vw;
	}
	.pattern-items {
		margin-bottom: 5.3333vw;
	}
	.pattern-item {
		flex: 0 0 29.8507%;
		max-width: 29.8507%;
		margin: 0 5.15% 2.6666vw 0;
	}
	.pattern-item .fs-pic {
		margin-bottom: 2.6666vw;
	}
	.pattern-item::after {
		width: 5.3333vw;
		height: 5.3333vw;
	}
	.pattern-item:nth-child(3n){
		margin: 0 0 2.6666vw 0;
	}
	.width-item {
		margin-bottom: 8vw;
	}
	.width-item .fs-pic {
		flex: 0 0 29.8507%;
		max-width: 29.8507%;
	}
	.width-item .radio-block {
		margin: 0 0 0 5.3333vw;
	}
	.choice-cap {
		font-size: 2.9333vw;
	}
	.width-item .radio-block .radio-box li {
		margin-top: 5.3333vw;
	}
	.choose-block .form-box {
		width: 100%;
		margin-bottom: 8vw;
	}
	.radio-block {
		margin: 0 0 1.0666vw 0;
	}
	.form-box .radio-block .radio-box li, 
	.radio-block .radio-box input[type="radio"], 
	.radio-block .radio-box label {
		vertical-align: middle;
	}
	.align-top .radio-block .radio-box li, 
	.align-top .radio-block .radio-box input[type="radio"], 
	.align-top .radio-block .radio-box label {
		vertical-align: top;
	}
	.form-box .radio-block .radio-box li{
		margin-right: 8vw;
	}
	.block-cap {
		font-size: 2.9333vw;
		margin-bottom: 1.6vw;
	}
	.graphic-items {
		justify-content: space-between;
	}
	.graphic-item {
		flex: 0 0 47.7611%;
		max-width: 47.7611%;
		margin: 0 0 8vw 0;
	}
	.graphic-item.short-font{
		flex: 0 0 44.776%;
		max-width: 44.776%;
	}
	.graphic-item.short-side{
		flex: 0 0 51.9402%;
		max-width: 51.9402%;
	}
	.graphic-name{
		display: none;
	}
	.dot {
		width: 5.3333vw;
		height: 5.3333vw;
		line-height: 4.8vw;
		font-size: 2.9333vw;
		border: 1px solid #fff;
	}
	.jersey-font .dot, .jersey-back .dot, 
	.short-font .dot, .short-side .dot,
	.short-font .dot:nth-child(2), .short-font .dot:nth-child(3),
	.short-side .dot:nth-child(2), .short-side .dot:nth-child(3) {
		-webkit-transform: none;
		transform: none;
	}
	.jersey-font .dot:nth-child(1) {
		top: 9.8666vw;
		left: 10.6666vw;
	}
	.jersey-font .dot:nth-child(2) {
		top: 12.5333vw;
		left: 19.2vw;
		-webkit-transform: none;
		transform: none;
	}
	.jersey-font .dot:nth-child(3) {
		top: 9.8666vw;
		left: auto;
		right: 10.6666vw;
		-webkit-transform: none;
		transform: none;
	}
	.jersey-font .dot:nth-child(4) {
		top: 32vw;
		left: 19.2vw;
	}
	.jersey-font .dot:nth-child(5) {
		bottom: 9.8666vw;
		right: 10.6666vw;
	}
	.jersey-back .dot:nth-child(1), 
	.jersey-back .dot:nth-child(2), 
	.jersey-back .dot:nth-child(3), 
	.jersey-back .dot:nth-child(4) {
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.jersey-back .dot:nth-child(1) {
		top: 4vw;
	}
	.jersey-back .dot:nth-child(2) {
		top: 10.6666vw;
	}
	.jersey-back .dot:nth-child(3) {
		top: 30.2666vw;
	}
	.jersey-back .dot:nth-child(4) {
		bottom: 7vw;
	}
	.graphic-notes {
		margin-bottom: 7.4666vw;
	}
	.graphic-caption {
		font-size: 2.9333vw;
	}
	.for-blank, .for-logo {
		font-size: 2.9333vw;
		margin-left: 8.8vw;
		text-transform: capitalize;
	}
	.for-blank::before, .for-logo::before {
		width: 5.3333vw;
		height: 5.3333vw;
		margin-right: 2.6666vw;
	}
	.block-tie {
		margin-bottom: 4.8vw;
		padding-bottom: 5.3333vw;
	}
	.block-title {
		margin-bottom: 1.6vw;
	}
	.block-title h3 {
		font-size: 2.9333vw;
	}
	.hemero-logo-request {
		display: block;
		margin-bottom: 0;
	}
	.hemero-logo {
		width: 59.7014%;
		margin-bottom:2.1333vw;
	}
	.hemero-logo-request .hemero-logo {
		margin: 0 0 4.8vw 0;
	}
	.hemero-logo-request .radio-block{
		margin: 0;
	}
	.hemero-logo-request .radio-block .radio-box li{
		display: inline-block;
		vertical-align: middle;
		margin: 4.2666vw 8vw 0 0;
	}
	.hemero-logo-request .radio-block .radio-box label,
	.hemero-logo-request .radio-block .radio-box input[type="radio"], 
	.hemero-logo-request .radio-block .radio-box label{
		vertical-align: middle;
	}

	.upload-block {
		margin-bottom: 2.1333vw;
	}
	.upload-cap {
		width: 38.6666vw;
		padding: 2.666vw 0;
		font-size: 2.9333vw;
	}
	.choose-position {
		margin-bottom:0;
		padding: 2.6666vw 13% 0 0;
		font-size: 0;
	}
	.choose-position li {
		flex: 0 0 27%;
		max-width: 27%;
		margin: 0 7.1641% 5.3333vw 0;
		min-width: 0;
	}
	.choose-position li:nth-child(3n){
		margin: 0 0 5.3333vw 0;
	}
	.fs-checkbox.choose-position label::before, 
	.fs-checkbox.choose-position label::after, 
	.fs-checkbox.choose-position input[type='checkbox'] {
		width: 5.3333vw;
		height: 5.3333vw;
		vertical-align: middle;
	}
	.fs-checkbox.choose-position label {
		font-size: 2.9333vw;
		padding-left: 2vw;
	}
	.pb-0{
		padding-bottom: 0;
	}

	.upload-content {
		padding-right: 0;
		padding-bottom: 2.666vw;
	}
	.upload-item {
		flex: 0 0 28%;
		width: 28%;
		height: 15.5555vw;
		line-height: 14.5555vw;
		margin: 0 3% 4% 0;
	}
	.upload-item:nth-child(3n){
		margin: 0 0 4% 0;
	}
	.upload-item img {
		max-width: 75%;
		max-height: 75%;
	}
	.upload-delete {
		margin: 0 -1.7vw -2vw 0;
		width: 5.3333vw;
		height: 5.3333vw;
		background-size: 2.1333vw auto;
	}
	.attach-type .upload-cap {
		padding: 3.4666vw 5.6vw 3.4666vw 14.9333vw;
		background: url(../images/attach-icon.png) no-repeat 4.6vw center;
		background-size: 6.4vw auto;
		background-color: #323232;
	}
	.comment-type {
		width: 100%;
	}
	.block-input{
		margin-bottom: 5.3333vw;
	}
	.comment-type textarea {
		height: 32vw;
	}
	.block-tie:last-child {
		margin-bottom: 0;
		padding-bottom: 2.666vw;
	}
	.mr-30 .radio-box li{
		margin-right: 8vw;
	}
	.mb-20{
		margin-bottom: 5.3333vw;
	}
	.fs-buts.on-head-tie {
		padding: 5.3333vw 0 0 0;
		text-align: left;
		border-top: 1px solid #000;
	}
	.fs-buts.on-head-tie .fs-but {
		width: 100%;
		padding: 0 2.6666vw;
		margin-right: 0;
		margin-bottom: 2.6666vw;
	}
	.fs-buts.on-head-tie .fs-but.color-black, .fs-buts.on-head-tie .fs-but.color-grey-white {
		background-position: 97% center;
	}

	.dot:nth-child(1) {
		top: 10.8vw;
	}
	.dot:nth-child(2), .dot:nth-child(3) {
		top: 21.4vw;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}
	.dot:nth-child(2){
		left: 9.5vw;
	}
	.dot:nth-child(3) {
		right: 9.5vw;
	}
	.radio-cap {
		flex: 0 0 30%;
		max-width: 30%;
	}
	.mb-30{
		margin-bottom: 8vw;
	}
	.mb-15{
		margin-bottom: 4vw;
	}
	.block-input {
		width: 100%;
		margin-bottom: 2.1333vw;
	}
	.has-alpha .pattern-item {
		padding-bottom: 6vw;
	}
	.pattern-alpha {
		font-size: 2.9333vw;
	}

	.short-font .dot:nth-child(1) {
		top: 21.0666vw;
		left: 9.3333vw;
	}
	.short-font .dot:nth-child(2) {
		top: 28vw;
		left: 8.3333vw;
	}
	.short-font .dot:nth-child(3) {
		top: 33.4vw;
		left: 8.2vw;
	}
	.short-font .dot:nth-child(4) {
		top: 39vw;
		left: 8vw;
	}

	.short-font .dot:nth-child(5) {
		top: 21.0666vw;
		right: 9.3333vw;
	}
	.short-font .dot:nth-child(6) {
		top: 28vw;
		right: 8.3333vw;
	}
	.short-font .dot:nth-child(7) {
		top: 33.4vw;
		right: 8.2vw;
	}
	.short-font .dot:nth-child(8) {
		top: 39vw;
		right: 8vw;
	}


	.short-side .dot:nth-child(1), 
	.short-side .dot:nth-child(3) {
		top: 28vw;
	}
	.short-side .dot:nth-child(2), 
	.short-side .dot:nth-child(4){
		top: 35.7333vw;
	}
	.short-side .dot:nth-child(1), 
	.short-side .dot:nth-child(2){
		left: 10.4vw;
	}
	.short-side .dot:nth-child(3), 
	.short-side .dot:nth-child(4) {
		right: 10.4vw;
	}

	/* Popup color */
	.full-size-sp::before,
	.full-size-sp::after{
		display: none;
	}
	.full-size-sp .is-color{
		width: 100%;
		padding: 14.9333vw 5% 27vw 5%;
		margin: 0;
	}
	.is-color h2 {
		font-size: 3.7333vw;
	}
	.is-color p {
		font-size: 2.9333vw;
		margin-bottom: 1.0666vw;
	}
	.cl-items {
		padding-top: 2.6666vw;
	}
	.cl-col {
		width: 20.895%;
		margin: 0 4.8vw 2.4vw 0;
	}
	.cl-col:last-child{
		margin: 0 0 2.4vw 0;
	}
	.cl-value {
		padding-top: 56.75%;
		margin-bottom: 1.3333vw;
	}
	.cl-name {
		font-size: 2.9333vw;
	}
	.cl-search {
		display: block;
		margin: 2.6666vw 0 7.7333vw 0;
	}
	.cl-cap, .cl-input {
		width: 100%;
	}
	.cl-input input[type="text"] {
		height: 10.6666vw;
		font-size: 2.9333vw;
		text-align: left;
		padding: 0 2.6666vw;
	}
	.is-color .fs-buts {
		border-top: none;
		padding-top: 0;
	}
	.is-color .fs-but {
		height: 10.6666vw;
		line-height: 10.6666vw;
		margin-left: 2.6666vw;
		font-size: 2.9333vw;
		padding: 0 8vw;
	}
	.is-color .fs-but.color-grey-white {
		padding: 0 15.2vw;
	}
	.cl-col.js-selected .cl-value {
		-webkit-box-shadow: inset 0 0 0 1.0666vw #fff;
		box-shadow: inset 0 0 0 1.0666vw #fff;
	}
}