.fs-shop .fs-title, .fs-feed .fs-title{
    padding:2.25vw 5%;
}
.fs-shop .fs-title h1, .fs-feed .fs-title h1{
    font-size:4.1666vw;
    font-weight:700;
}
.fs-navbar {
    display:flex;
    padding:0.66vw 5%;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}
.fs-feed .fs-navbar {
    border:none;
}
.nav-filter {
    flex:0 0 50%;
    max-width:50%;
    font-size:0;
}
.nav-filter li{
    display:inline-block;
    vertical-align:middle;
    color:#777777;
    font-size:1.25vw;
    margin-right:2.7777vw;
    font-weight:400;
    cursor:pointer;
    text-transform:uppercase;
}
.nav-filter li.active{
    font-weight:700;
    color:#323232;
}
.nav-sort{
    flex:0 0 50%;
    max-width:50%;
    text-align:right;
    font-size:0;
}
.sort-box{
    display:inline-block;
    vertical-align:middle;
}
.sl-filter.fs-sp{
    display: none;
}
.sl-times{
    width:9.7222vw;
}
.sl-gender{
    margin-left:1.8333vw;
    width:6.25vw;
}
.sort-box .fs-select-header{
    text-align:right;
    padding:0 3vw 0 0;
    border:none;
}
.sort-box .fs-select-header span{
    color:#000;
}
.sort-box .fs-select-box{
    left:auto;
    right:0;
    margin:1px 0 0 0;
}
.sort-box .fs-select-box::before{
	content:'';
    position:absolute;
    width:22px;
    height:18px;
    background:url(../images/select-up.png) no-repeat center 0;
    right:1.1vw;
    top:-18px;
    z-index:1;
}
.shop-inr{
    padding:0 5% 5.5555vw 5%;
    background-color:#eeeff3;
}
.feed-inr{
    padding:0 5% 5.5555vw 5%;
    background-color:#fff;
}
.others .fs-title {
    margin-bottom:-2vw;
    padding:0;
    text-align:center;
    z-index:1;
}
.others .fs-title h2{
    font-size:4.16666vw;
    font-weight:700;
}
.others .feed-inr{
    padding:5.5555vw 5%;
    background-color:#f3f3f3;
}
.others .content-body{
    margin:0;
}
.product-available {
    padding:2.08333vw 0 2.57vw 0;
    font-size:0.972222vw;
    color:#000;
    font-weight:400;
}
.content-body {
    display:flex;
    width:100%;
    flex-flow:wrap;
    margin-bottom:4.5555vw;
}
.shop-type .content-body-mid{
    flex:0 0 23.84%;
    max-width:23.84%;
    margin-right:1.54%;
    color:#000;
}
.shop-type .content-body-mid:nth-child(4n) {
    margin:0;
}
.feed-type .content-body-mid{
    flex:0 0 32.306666%;
    max-width:32.306666%;
    margin-right:1.54%;
    color:#000;
}
.feed-type .content-body-mid:nth-child(3n) {
    margin:0;
}
.content-body-mid .fs-bg::before{
    padding-top:66.82577%;
}
.date-post{
    font-size:0.97222vw;
    color:#323232;
}
.content-body .fs-pic{
    position:relative;
    background-color:#fff;
    text-align:center;
    overflow:hidden;
}
.content-body .fs-pic img{
    display:inline-block;
    width:auto;
    height:25vw;
    margin:0 -50%;
}
.content-body .fs-txt{
    padding:0.76vw 0 1.8vw 0;
}
.content-body h3{
    margin:0.5555vw 0 0.972222vw 0;
    font-weight:700;
    font-size:1.25vw;
    text-overflow:ellipsis;
    -webkit-line-clamp:2;
    max-height:3.16vw;
    min-height:3.16vw;
    overflow:hidden;
    display:-webkit-box;
    line-height:1.3;
    color:#000;
}
.prices del{
    /* color:#919191; */
    font-size:0.83333vw;
    opacity:1;
}
.link-mask{
    position:relative;
    display:inline-block;
    color:#323232;
    font-size:0.972222vw;
    font-weight:600;
}
.link-mask::before{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    width:43%;
    height:1px;
    background-color:#323232;
}
.blog-main{
    width:100%;
    margin:1vw 0 3.47vw 0;
    background-color:#e5e5e5;
}
.blog-main a{
    display:flex;
}
.blog-main .fs-bg{
    flex:0 0 66%;
    max-width:66%;
}
.blog-main .fs-bg::before{
    padding-top:56%;
}
.blog-main .fs-txt{
    flex:0 0 34%;
    max-width:34%;
    padding:3% 5% 3% 1.54%;
}
.blog-main h2, .blog-main h3{
    font-size:1.6666vw;
    font-weight:700;
    color:#000;
    text-transform:uppercase;
    margin-bottom:10vw;
}
.blog-main .fs-but{
    text-transform:uppercase;
    font-weight:700;
}
.blog-main .date-post{
    color:#000;
}

.pagination-input li.pagination-but{
    padding:0 2.5vw;
    background-color:#000;
    color:#fff;
    font-size:1.25vw;
    font-weight:600;
    text-transform:uppercase;
    cursor: pointer;
}


.feed-content{
    padding:4.25vw 0 0 0;
}
.content-inr{
    padding:0 5%;
}
.blog-box {
    display:flex;
    align-items:center;
    width:100%;
    color:#323232;
}
.blog-box .fs-text {
    flex:0 0 50.7716%;
    max-width:50.7716%;
    padding-right:8%;
}
.blog-box .fs-pic {
    flex:0 0 49.2284%;
    max-width:49.2284%;
}
.new-caption{
    font-size:0.972vw;
    font-weight:400;
    margin-bottom:0.8vw;
}
.blog-box h1 {
    text-transform:uppercase;
    font-size:1.94444vw;
    font-weight:700;
    margin-bottom:1.266vw;
}
.modify-timing {
    display:block;
    font-size:0.972vw;
    font-weight:400;
    margin-bottom:1.266vw;
}
.blog-box p{
    font-weight:600;
    font-size:1.25vw;
}

.blog-content{
    position:relative;
    display:flex;
    padding:7.63888vw 0 6.63888vw 8.48%;
}
.blog-detail{
    flex:0 0 63%;
    max-width:63%;
    color:#323232;
}
.blog-detail h2, .blog-detail h3, .blog-detail h4, .blog-detail h5, .blog-detail h6{
    font-size:1.25vw;
    font-weight:700;
    margin-bottom:1.6666vw;
}
.blog-detail p{
    font-size:0.972222vw;
    font-weight:400;
    margin-bottom:1.6666vw;
}
.blog-detail img{
    width:auto;
    height:auto;
    max-width:100%;
}
.blog-share{
    position: absolute;
    right:1.5%;
    top:7.63888vw;
}
.blog-share li{
    display:block;
    margin:0 auto 1.3888vw auto;
    font-size:0.97222vw;
    font-weight:400;
    text-transform:uppercase;
}
.bl-facebook, .bl-twitter{
    width:2.013888vw;
}
.bl-tinder{
    width:1.805555vw;
}
.search-inr{
    padding:3.25vw 5% 5.555vw 5%;
}
.search-input{
    position: relative;
    margin-bottom:1.3888vw;
}
.search-input input[type="text"]{
    padding:0 7vw 0 4vw;
    -webkit-border-radius:1.38888vw;
    border-radius:1.38888vw;
    background:url(../images/hdr-icon-search.png) no-repeat 1vw center;
    background-size:25px auto;
    color:#000;
}
.search-go{
    position: absolute;
    right:0;
    top:0;
    width: 6.9444vw;
    height:100%;
    background-color:#323232;
    -webkit-border-radius:0 1.38888vw 1.38888vw 0;
    border-radius:0 1.38888vw 1.38888vw 0;
    font-weight:700;
    color:#fff;
    text-transform:uppercase;
    cursor:pointer;
    z-index: 2;
}
.search-nav{
    overflow:hidden;
    margin-bottom:1.38888vw;
}
.search-nav li{
    float:left;
    margin-right:1.3888vw;
    padding:0.5vw 1vw;
    min-width:5.5555vw;
    vertical-align: top;
    font-size:0.83333vw;
    font-weight:400;
    color:#323232;
    border:1px solid #323232;
    -webkit-border-radius:0.347vw;
    border-radius:0.347vw;
    text-align:center;
    cursor: pointer;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.search-nav li.active, .search-nav li:not(.active):hover{
    border:1px solid #000;
    background-color:#000;;
    color:#fff;
}
@media screen and (max-width:1440px) {
    .search-input input[type="text"]{
        background-size:1.5vw auto;
    }
    
}

@media screen and (max-width: 1100px){
    .fs-shop{
        background-color: #F8F8F8;
    }
    .fs-shop .fs-title, .fs-feed .fs-title {
        padding: 7.2vw 5.333vw 5.333vw 5.333vw;
    }
    .fs-shop .fs-title h1, .fs-feed .fs-title h1 {
        font-size: 9.6vw;
    }
    .fs-navbar {
        display: block;
        padding: 0 5.333vw 3vw 5.333vw;
        border-top: none;
        border-bottom: none;
    }
    .nav-sort {
        flex: 0 0 auto;
        max-width: 100%;
        text-align: left;
    }
    .sl-filter.fs-sp {
        display: inline-block;
    }
    .sl-times, .sl-gender, .sl-filter{
        width: 24.5333vw;
        margin-left: 5.333vw;
    }
    .sl-filter{
        margin-left: 0;
    }
    .sort-box .fs-select-header {
        text-align: left;
        padding: 0 5vw 0 0;
        border: none;
        height: 4.2666vw;
        line-height: 4.2666vw;
    }
    .sort-box .fs-select-header::after {
		right: 0;
	}
    .sort-box .fs-select-box::before {
        display: none;
    }
    .sort-box .fs-select-box {
        margin: 1.333vw 0 0 0;
        min-width: 100%;
    }
    .shop-inr {
        padding: 0 5.333vw 21.3333vw 5.333vw;
        background-color: #F8F8F8;
    }
    .product-available {
        padding: 0 0 4vw 0;
        font-size: 2.9333vw;
    }
    .content-body {
        padding: 0 2.6666vw;
        margin-bottom: 8vw;
        justify-content: space-between;
    }
    .shop-type .content-body-mid {
        flex: 0 0 37.3333vw;
        max-width: 37.3333vw;
        margin-right: 0;
        margin-bottom: 3.7333vw;
    }
    .content-body .fs-pic img {
        height: 45.3333vw;
    }
    .content-body .fs-txt {
        padding: 2.6666vw 0 1.8vw 0;
    }
    .content-body h3 {
        margin: 1.0666vw 0 1.0666vw 0;
        font-size: 3.2vw;
        max-height: 8.5vw;
        min-height: 8.5vw;
    }
    .prices del {
        font-size: 2.6666vw;
    }

    /* The feed */
    .fs-feed .fs-navbar{
        display: none;
    }
    .feed-inr {
        padding: 0 5.333vw 21.3333vw 5.333vw;
    }
    .blog-main {
        width: 100%;
        margin: 0 0 5.3333vw 0;
    }
    .blog-main a {
        display: block;
    }
    .blog-main .fs-bg {
        flex: 0 0 auto;
        max-width: 100%;
    }
    .blog-main .fs-txt {
        flex: 0 0 auto;
        max-width: 100%;
        padding: 5.333vw;
    }
    .date-post {
        font-size: 2.6666vw;
    }
    .blog-main h2, .blog-main h3 {
        font-size: 3.2vw;
        margin-bottom: 6.4vw;
    }
    .feed-type.content-body{
        padding: 0;
    }
    .feed-type .content-body-mid {
        flex: 0 0 47%;
        max-width: 47%;
        margin-right: 0;
        margin-bottom: 5.333vw;
    }
    .link-mask {
        font-size: 2.9333vw;
    }
    .link-mask::before {
        width: 100%;
    }

    /* Feed Content */
    .blog-box {
        display: block;
    }
    .blog-box .fs-text {
        flex: 0 0 auto;
        max-width: 100%;
        padding-right:0;
        margin-bottom: 5.333vw;
    }
    .blog-box .fs-pic {
        flex: 0 0 auto;
        max-width: 100%;
    }
    .blog-box h1 {
        font-size: 3.733vw;
        margin-bottom: 5.3333vw;
    }
    .wrap-social{
        position: relative;
        display: block;
        font-size: 0;
        margin-bottom: 4.8vw;
    }
    .modify-timing, .blog-share {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
    .modify-timing{
        font-size: 2.666vw;
        margin-bottom: 0;
    }
    .blog-share {
        text-align: right;
        right: auto;
        top: auto;
    }
    .blog-share li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 5.333vw;
        font-size: 2.9333vw;
        width: 5.333vw;
    }
    .blog-share li:first-child{
        width: auto;
        margin: 0;
    }
    .blog-share .fs-pic{
        max-width: inherit;
    }
    .blog-box p {
        font-size: 2.9333vw;
    }
    .blog-share.fs-pc{
        display: none;
    }
    .blog-content {
        position: relative;
        display: block;
        padding: 5.333vw 0 8vw 0;
    }
    .blog-detail {
        flex: 0 0 auto;
        max-width: 100%;
    }
    .blog-detail h2, .blog-detail h3, .blog-detail h4, .blog-detail h5, .blog-detail h6 {
        font-size: 2.9333vw;
        margin-bottom: 2.6666vw;
    }
    .blog-detail p {
        font-size: 2.9333vw;
        margin-bottom: 2.6666vw;
    }
    .others .fs-title{
        padding: 0;
        top: 2.2vw;
    }
    .others .fs-title h2 {
        font-size: 9.6vw;
    }
    .others .feed-inr {
        padding: 10.6666vw 5.3333vw;
    }

    /* Search */
    .fs-search{
        background: #F8F8F8;
    }
    .search-inr {
        padding: 2.6666vw 5.3333vw 10.666vw 5.3333vw;
    }
    .search-input {
        margin-bottom: 4.5333vw;
    }
    .search-input input[type="text"] {
        padding: 0 10vw 0 2.6666vw;
        -webkit-border-radius: 0;
        border-radius: 0;
        background: url(../images/hdr-icon-search.png) no-repeat 97% center;
        background-size: 4vw auto;
        background-color: #fff;
        border: 1px solid #aaa;
    }
    .search-inr .fs-title{
        margin-bottom: 2.6666vw;
    }
    .search-inr .fs-title h2{
        font-size: 9.6vw;
        font-weight: 700;
    }
    .search-go {
        width: 9vw;
        opacity: 0;
    }
    .search-nav {
        margin-bottom: 5.333vw;
    }
    .search-nav li {
        margin-right: 2.6666vw;
        padding: 1.8666vw 5.3333vw;
        min-width: 18.4vw;
        font-size: 2.9333vw;
        -webkit-border-radius: 2.6666vw;
        border-radius: 2.6666vw;
        border: none;
        background-color: #EEEFF3;
        font-weight: 700;
    }
}