.banners{
    display:flex;
    width:100%;
}
.left-banner{
    position:relative;
    border-right:1px solid #fff;
    flex:0 0 65%;
}
.right-banner{
    position:relative;
    flex:0 0 35%;
}
.hero-banner{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.reten-banner, .aov-banner{
    position:relative;
    width:100%;
    height:auto;
}
.reten-banner::before, .aov-banner::before{
    content: '';
    position: relative;
    display:block;
    width:100%;
    height:auto;
}
.reten-banner::before, .aov-banner::before{
    padding-top:36.32881%;
}
.hero-slider, .reten-slider, .aov-slider{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.banners .fs-bg{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.reten-banner{
    border-bottom:1px solid #fff;
}
.banner-box{
    position:absolute;
    top:50%;
    width:40%;
    height:auto;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    color:#fff;
    line-height:1.2;
}
.hero-banner .banner-box, .reten-banner .banner-box{
    left:7.14%;
}
.aov-banner .banner-box{
    right:7.14%;
}
.banner-box h2{
    line-height:1;
    font-size:2.8125vw;
    text-transform:uppercase;
}
.aov-banner h2{
    color:#e8c074;
}
.banner-box p{
    margin-bottom:0.5vw;
    font-size:1.0416666vw;
}
.cate-pic{
    width:auto;
    height:auto;
    max-width:100%;
    margin-bottom:0.5vw;
}
.only-txt, .price-txt{
    display:inline-block;
    vertical-align:middle;
}
.price-txt small{
    font-size:inherit;
    font-weight:inherit;
    line-height:inherit;
    text-decoration:underline;
}
.hero-banner .only-txt, .hero-banner .price-txt, .reten-banner .price-txt{
    font-size:1.927vw;
}
.banner-title, .aov-banner .price-txt{
    font-size:1.5625vw;
}
.banner-title{
    line-height:1;
    text-transform:uppercase;
}
.reten-banner .banner-title{
    margin-bottom:0.3vw;
}
.only-txt{
    margin-right:0.5208333vw;
}
.reten-banner .only-txt{
    display:block;
}
.aov-banner{
    text-align:right;
}
.banner-box .fs-but{
    display:inline-block;
    color:#fff;
    -webkit-border-radius:4px;
    border-radius:4px;
    text-transform:uppercase;
    background-color:#e91c27;
}
.hero-banner .banner-price{
    margin-bottom:1.2vw;
}
.reten-banner .banner-price{
    margin-bottom:0.5vw;
}
.aov-banner .banner-price{
    margin:-0.3vw 0 0.3vw 0;
}
.hero-banner .price-txt{
    color:#e91c27;
}
.reten-banner .price-txt{
    color:#fb6018;
}
.hero-banner .fs-but{
    padding:0.7vw 2vw;
    font-size:1.041666vw;
}
.reten-banner .fs-but{
    background-color:#fb6018;
}
.reten-banner .fs-but, .aov-banner .fs-but{
    padding:0.5vw 1.4vw;
    font-size:0.73vw;
}
.hero-banner .swiper-pagination{
    display:none;
    width:100%;
    bottom:1.6666vw;
}
.hero-banner.show-controls .swiper-pagination{
    display:block;
}
.hero-banner .swiper-pagination-bullet-active{
    width:30px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.flash-deals-inr, .brands-inr, .hot-product-inr, .suggest-inr{
  position:relative;
	width:92%;
	margin:0 auto;
}
.tip-inr{
  position:relative;
  width:100%;
}
.load-more{
  padding:2.5vw 0 0 0;
  text-align:center;
}
.brands .load-more{
  padding:1.5vw 0 0 0;
}
.view-more{
  display:inline-block;
  padding:0.5vw 2vw;
  font-size:1.041666vw;
  text-transform:uppercase;
  border:1px solid #000;
  -webkit-border-radius:1.041666vw;
  border-radius:1.041666vw;
  color:#000;
  cursor: pointer;
}

@media screen and (min-width:1101px) {
  .flash-deals-flex{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
  .flash-deals-flex .swiper-slide{
    flex:0 0 24.6%;
    margin:0 0.4% 0.4% 0;
  }
  .flash-deals-flex .swiper-slide:nth-child(4n){
    margin:0 0 0.4% 0;
  }
  .view-box{
    display:none;
  }
  
}
.flash-deals-item{
    position:relative;
    overflow:hidden;
    border:1px solid #d3d3d3;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.flash-deals-item::before{
    content: '';
    position:absolute;
    right:-38%;
    top: 0;
    width:80%;
    height:102%;
    background-color:#f17776;
    -webkit-transform:skewX(-32deg);
    transform:skewX(-32deg);
}
.deals-promotion{
    position: absolute;
    right:3%;
    top:3%;
    padding:1.7% 2.4%;
    font-size:0.58vw;
    text-transform:uppercase;
    background-color:#fccc3a;
    -webkit-border-radius:5px;
    border-radius:5px;
    line-height:1;
    text-align:center;
    color:#000;
    z-index:1;
}
.deals-promotion strong{
    display:block;
    font-size:200%;
}
.deals-txt{
    position:absolute;
    left:3%;
    bottom:1.40625vw;
    width:49%;
    height:auto;
    z-index:1;
}
.deals-txt h3, .deals-only, .flash-deals-item .fs-but{
    color:#000;
    font-size:0.78125vw;
}
.deals-txt h3{
    margin-bottom:0.26vw;
    min-height:1.875vw;
}
.deals-price-only{
    margin-bottom:0.677vw;
}
.deals-only{
    display:block;
    line-height:1.2;
}
.deals-price{
    line-height:1;
    color:#e91c27;
    font-size:1.4583333vw;
}
.deals-price small{
    font-size:inherit;
    font-weight:inherit;
    font-family:inherit;
    text-decoration:underline;
}
.flash-deals-item .fs-but{
    display:inline-block;
    padding:0.26vw 0.7vw;
    border:1px solid #000;
    -webkit-border-radius:1.041666vw;
  border-radius:1.041666vw;
    text-transform:uppercase;
}
.deals-pic{
    padding:18% 2% 8% 0;
    width:66.57%;
    float:right;
}

.brand-item.fs-pc {
	display:flex;
	flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin-bottom:1vw;
}
.brand-item a{
  display:block;
  padding:0 10px;
}

.flex-box{
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
  margin:0 auto;
  border-top:1px solid #e8e8e8;
  border-left:1px solid #e8e8e8;

}
.flex-box.tip-flex{
  border:none;
}
.flex-box .product-item{
  flex:0 0 25%;
  max-width:25%;
  overflow:hidden;
}
.tip-item{
  position:relative;
  display: block;
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  background-color:#000;
}
.tip-item:nth-child(1), .tip-item:nth-child(6){
  flex:0 0 50%;
  max-width:50%;
}
.tip-item:nth-child(2), .tip-item:nth-child(3), .tip-item:nth-child(4), .tip-item:nth-child(5){
  flex:0 0 25%;
  max-width:25%;
}
.tip-item:nth-child(3), .tip-item:nth-child(6){
  border-right:none;
}

.tip-txt{
  height:6.14583333vw;
  line-height:6.14583333vw;
  padding:0 1.5625vw;
  background-color:#000;
}
.tip-item h3{
  display:inline-block;
  max-height:3.75vw;
  vertical-align:middle;
  font-size:1.5625vw;
  color:#fff;
  line-height:1.2;
  overflow:hidden;
}
.tip-item:nth-child(1) .fs-bg::before, .tip-item:nth-child(6) .fs-bg::before{
  padding-top:37.41677%;
}
.tip-item:nth-child(2) .fs-bg::before, .tip-item:nth-child(3) .fs-bg::before, .tip-item:nth-child(4) .fs-bg::before, .tip-item:nth-child(5) .fs-bg::before{
  padding-top:74.93333%;
}

.support-inr{
  padding:5vw 0 3.64583333vw 0;
  text-align:center;
  font-size:0;
}
.support-item{
  display:inline-block;
  vertical-align:top;
  width:18%;
  height:auto;
  margin:0 2.34375vw;
}
.support-pic{
  width:38.8%;
  margin:0 auto 1.77vw auto;
}
.support-txt h3{
  font-size:0.9375vw;
  margin-bottom:0.73vw;
}
.support-txt p{
  font-size:0.78125vw;
}



/*Clock*/
.fs-clock-box{
    position:absolute;
    left:3%;
    top:3%;
    width:100%;
    height:auto;
}
.time-caption{
    display:inline-block;
    vertical-align:middle;
    font-size:12px;
    color:#000;
    margin-right:0.3125vw;
}
.flip-clock-wrapper * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
}
.flip-clock-wrapper a {
  cursor:pointer;
  text-decoration:none;
  color:#ccc;
}
.flip-clock-wrapper a:hover {
  color:#fff;
}
.flip-clock-wrapper ul {
  list-style:none;
}
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content:" ";
  display:table;
}
.flip-clock-wrapper.clearfix:after {
  clear:both;
}
.flip-clock-wrapper.clearfix {
  *zoom:1;
}
.flip-clock-wrapper {
  -webkit-user-select:none;
}
.flip-clock-meridium {
  background:none !important;
  box-shadow:0 0 0 !important;
  font-size:36px !important;
}
.flip-clock-meridium a { 
    color:#fff;
}
.flip-clock-wrapper {
  display:inline-block;
  vertical-align:middle;
}
.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content:" ";
    display:table;
}
.flip-clock-wrapper:after {
    clear:both;
}
.flip-clock-wrapper ul {
  position:relative;
  float:left;
  width:10px;
  height:24px;
}
.flip-clock-wrapper ul li {
  z-index:1;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
.flip-clock-wrapper ul li:first-child {
  z-index:2;
}
.flip-clock-wrapper ul li a {
  display:block;
  height:100%;
  -webkit-perspective:200px;
  -moz-perspective:200px;
  perspective:200px;
  margin:0 !important;
  overflow:visible !important;
  cursor:default !important;
}
.flip-clock-wrapper ul li a div {
  position:absolute;
  left:0;
  width:100%;
  height:50%;
  overflow:hidden;
  outline:1px solid transparent;
  z-index:1;
}
.flip-clock-wrapper ul li a div .shadow {
  position:absolute;
  width:100%;
  height:100%;
  z-index:2;
}
.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin:50% 100%;
  -moz-transform-origin:50% 100%;
  -ms-transform-origin:50% 100%;
  -o-transform-origin:50% 100%;
  transform-origin:50% 100%;
  top:0;
}
.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin:50% 0;
  -moz-transform-origin:50% 0;
  -ms-transform-origin:50% 0;
  -o-transform-origin:50% 0;
  transform-origin:50% 0;
  bottom:0;
}
.flip-clock-wrapper ul li a div div.inn {
  position:absolute;
  left:0;
  z-index:1;
  width:100%;
  height:200%;
  color:#fff;
  text-align:center;
  background-color:#000;
}
.flip-clock-wrapper ul li{
  z-index:2;
}
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-wrapper ul li a div.down {
  font-size:12px;
}
.flip-clock-wrapper ul li a div.up div.inn {
  top:0;
}
.flip-clock-wrapper ul li a div.down div.inn {
  bottom:0;
}
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index:3; 
}
.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation:asd 0.01s 0.49s linear both;
  animation:asd 0.01s 0.49s linear both;
  z-index:5;
}
.flip-clock-dot {
  display:none;
}
.flip-clock-wrapper{
  margin:0;
}
.flip-clock-wrapper ul,
.flip-clock-wrapper ul li,
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-wrapper ul li a div.down{
  line-height:24px;
}
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-wrapper ul li a div.down{
  font-size:12px;
}
.flip-clock-divider{
    float:left;
    width:12px;
    height:24px;
}
.flip-clock-divider .flip-clock-label, .flip-clock-divider.hours{
    display:none;
}
.flip-clock-divider.hours + .flip::before, .flip-clock-divider.hours + .flip + .flip::before,
.flip-clock-divider.minutes + .flip::before, .flip-clock-divider.minutes + .flip + .flip::before,
.flip-clock-divider.seconds + .flip::before, .flip-clock-divider.seconds + .flip + .flip::before{
  content:'';
  position: absolute;
  top:0;
  width:140%;
  height:100%;
  background-color:#000;
  z-index:0;
}
.flip-clock-divider.hours + .flip::before, .flip-clock-divider.minutes + .flip::before, .flip-clock-divider.seconds + .flip::before{
  left:-4px;
  border-radius:4px 0 0 4px;
}
.flip-clock-divider.hours + .flip + .flip::before, .flip-clock-divider.minutes + .flip + .flip::before, .flip-clock-divider.seconds + .flip + .flip::before {
  right:-4px;
  border-radius:0 4px 4px 0;
}

@-webkit-keyframes asd {
  0% {
    z-index:2; 
  }
  100% {
    z-index:4; 
  } 
}
@keyframes asd {
  0% {
    z-index:2; 
  }
  100% {
    z-index:4; 
  }
}
.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index:2;
  -webkit-animation:turn 0.5s 0.5s linear both;
  animation:turn 0.5s 0.5s linear both; 
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform:rotateX(90deg);
  }
  100% {
    -webkit-transform:rotateX(0deg); 
  } 
}
@keyframes turn {
  0% {
    transform:rotateX(90deg); 
  }
  100% {
    transform:rotateX(0deg); 
  }
}
.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index:2;
  -webkit-animation:turn2 0.5s linear both;
  animation:turn2 0.5s linear both; 
}
@-webkit-keyframes turn2 {
  0% {
    -webkit-transform:rotateX(0deg); 
  }
  100% {
    -webkit-transform:rotateX(-90deg);
  } 
}
@keyframes turn2 {
  0% {
    transform:rotateX(0deg); 
  }
  100% {
    transform:rotateX(-90deg);
  } 
}
.flip-clock-wrapper ul li.flip-clock-active {
  z-index:3; 
}



/*RESPONSIVE*/
@media screen and (max-width:1100px) {

  .load-more{
    padding:6.6666vw 0 0 0;
  }
  .view-more{
    padding:0.8vw 3.6vw;
    font-size:3.4666vw;
    -webkit-border-radius:2.6666vw;
    border-radius:2.6666vw;
    color:#000;
  }
  .flash-deals-inr .load-more, .brands .load-more, .tip .load-more{
    position:absolute;
    right:0;
    top:-13.7vw;
    padding:0;
    right:2.6666%;
  }
  .flash-deals-inr .view-more, .brands .view-more, .tip .view-more{
    padding:0;
    text-decoration:underline;
    border:none;
    -webkit-border-radius:0;
    border-radius:0;
  }


  .flash-deals, .brands, .hot-product, .suggest, .tip{
    margin-bottom:12vw;
  }
  .flash-deals-inr, .brands-inr, .hot-product-inr, .suggest-inr{
      width:100%;
  }
  .flash-deals-inr{
    padding:0 0 0 2.6666vw;
    text-align:left;
  }
  .brands-inr{
    padding:0 2.6666vw;
  }


  .banners, .left-banner{
    display:block;
  }
  .left-banner{
    flex:none;
    border:none;
  }
  .hero-banner, .banners .fs-bg, .hero-slider, .reten-slider, .aov-slider{
    position:relative;
    left:auto;
    top:auto;
    height:auto;
  }
  .banners .fs-bg::before{
    padding-top:50.6666vw;
  }
  .hero-banner .banner-box {
    left:5.6666%;
    width:52.8%;
  }
  .banner-box p, .cate-pic{
    margin-bottom:1.3333vw;
  }
  .banner-box p{
    font-size:3.2vw;
  }
  .hero-banner .only-txt, .hero-banner .price-txt, .reten-banner .price-txt{
    font-size:5.06666vw;
  }
  .hero-banner .banner-price{
    margin-bottom:3.06666vw;
  }
  .hero-banner .fs-but{
    padding:1.7vw 5.2vw;
    font-size:2.6666vw;
  }
  .flash-slider{
    display:inline-block;
    width:76vw;
    overflow:visible;
  }
  .fs-clock-box{
    left:2.4vw;
    top:3.2vw;
  }
  .time-caption, .flip-clock-wrapper ul li a div div.inn, .flip-clock-wrapper ul li a div.down{
    font-size:3.06666vw;
  }
  .time-caption{
    margin-right:3vw;
  }
  .flip-clock-wrapper ul{
    width:2.8vw;
    height:5.6vw;
  }
  .flip-clock-wrapper ul, .flip-clock-wrapper ul li, .flip-clock-wrapper ul li a div div.inn, .flip-clock-wrapper ul li a div.down{
    line-height:5.6vw;
  }
  .flip-clock-divider{
    width:3vw;
    height:5.6vw;
  }
  .deals-promotion{
    padding:1vw 1.5vw 0.6vw 1.5vw;
    font-size:2.8vw;
  }
  .deals-txt{
    width:58%;
    left:2.4vw;
    bottom:4.26666vw;
  }
  .deals-txt h3, .deals-only{
    font-size:3.46666vw;
  }
  .deals-txt h3{
    margin-bottom:1.73333vw;
    min-height:8.26666vw;
  }
  .deals-price-only{
    margin-bottom:6.66666vw;
  }
  .deals-price{
    font-size:6.53333vw;
  }
  .flash-deals-item .fs-but{
    padding:1.6vw 6.2vw;
    font-size:4.26666vw;
    -webkit-border-radius:2.6666vw;
    border-radius:2.6666vw;
  }
  .brand-item.fs-sp {
    display:flex !important;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-bottom:5.06666vw;
  }
  .brand-item a{
    margin-right:4.839vw;
    padding:0;
  }
  .brand-item a:last-child{
    margin:0;
  }
  .flex-box .product-item{
    flex:0 0 50%;
    max-width:50%;
    padding:8vw 4.222vw 15.3333vw 4.222vw;
  }
  .product-pics{
    width:88%;
  }
  .product-txt{
    margin-bottom:1.6vw;
  }
  .product-txt h3{
    font-size:4vw;
    min-height:9.6vw;
  }
  .product-off-price .off-percent, .product-promotion p{
    font-size:3.2vw;
  }
  .product-off-price{
    margin:0 auto 1.7333vw auto
  }
  .product-off-price .off-percent{
    margin-bottom:1.06666vw;
  }
  .product-off-price .price{
    font-size:4.8vw;
  }
  .add-to-cart{
    padding:1vw 4.2vw;
    font-size:3.73333vw;
    -webkit-border-radius:2.6666vw;
    border-radius:2.6666vw;
    border:1px solid #121212;
    color:#000;
  }
  .product-item .fs-buts{
    bottom:4.6666vw;
  }
  .new-caption, .installment-caption{
    top:4vw;
    padding:0.1vw 0.8vw;
    font-size:2.6666vw;
  }
  .new-caption{
    left:3.2vw;;
  }
  .installment-caption{
    right:3.2vw;
  }

  .page-controls{
    margin-bottom:4vw; 
    padding:0 8vw;
  }
  .page-num{
    height:7.2vw;
    line-height:7.2vw;
  }
  .page-num li{
    width:8.8vw;
  }
  .page-num li span{
    width:4vw;
    height:4vw;
  }
  .first, .last{
    top:1.5vw;
    width:4.4vw;
    height:4.4vw;
    background-size:2.6666vw auto;
  }

  .tip-item:nth-child(1), .tip-item:nth-child(6){
    flex:0 0 100%;
    max-width:100%;
  }
  .tip-item:nth-child(2), .tip-item:nth-child(3), .tip-item:nth-child(4), .tip-item:nth-child(5){
    flex:0 0 50%;
    max-width:50%;
  }
  .tip-item:nth-child(1), .tip-item:nth-child(3), .tip-item:nth-child(5){
    border-right: none;
  }
  .tip-txt{
    padding:0 3.7vw;
    height:15.7vw;
    line-height:15.7vw;
  }
  .tip-item h3{
    font-size:4vw;
    max-height:9.6vw;
  }

  .nav-support{
    padding-bottom:6vw;
  }
  .support-inr{
    padding:0 2.6666vw;
  }
  .support-item{
    display:block;
    width:82%;
    margin:0 auto 9.8666vw auto;
    overflow:hidden;
    text-align:left;
  }
  .support-pic{
    float:left;
    width:11.86%;
    margin-right:2.6666vw;
  }
  .support-txt{
    overflow:hidden;
  }
  .support-txt h3{
    font-size:4.53333vw; 
  }
  .support-txt p{
    font-size:4vw;
  }
  .flash-deals-flex .swiper-slide:last-child{
    width:97.3333vw !important;
    text-align:left;
  }
  .flash-deals-flex .swiper-slide:last-child .flash-deals-item{
    width:76vw;
  }
  .view-box{
    position:absolute;
    right:3.5%;
    top:50%;
    width:16vw;
    height:16vw;
    line-height:16vw;
    text-align:center;
    border:1px solid #464646;
    -webkit-border-radius:2.6666vw;
    border-radius:2.6666vw;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    font-size:3.4vw;
    color:#464646;
  }
  .view-box span{
    position:relative;
    display:inline-block;
    line-height:initial;
    vertical-align:middle;
  }
  .view-box span::before{
    content: '';
    display:block;
    width:3.2vw;
    height:5.06666vw;
    margin:0 auto;
    background:url(../images/arrow-next.png) no-repeat center center;
    background-size:2.6vw auto;
  }
}

@media screen and (max-width:520px) {
  .page-num li{
    padding:5px 0;
  }
  .page-num li span{
    max-width:16px;
    max-height:16px;
  }
  .first, .last{
    top:50%;
    width:30px;
    height:30px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
  }

}