
html, body{
    font-family:'Asap';
    font-weight:400;
	font-style:normal;
}
.slogan h1{
    font-weight:700;
    letter-spacing:1.5px;
}
.slogan span, .search-top span, .search-top input[type="text"], .commitment, .cart-number, .nav-inr a, 
.fs-footer .small-title, .footer-bot .genuine-guarantee p, .side-nav a, .side-voucher p, .voucher-register-but, .side-chat .small-title, 
.side-chat p, .footer-bot .genuine-guarantee p, .menu-item, .sub-title{
	font-weight:500;
}
.search-top input[type="text"] {
    font-style:italic;
}
.genuine strong, .guarantee strong, .hotline strong, .footer-bot .genuine-guarantee strong, .side-voucher .small-title{
    font-weight:700;
}
.fs-footer a, .subscribe input, .footer-bot p{
	font-weight:400;
}

/*Page*/
.fs-title h2{
    font-weight:700;
}
.product-txt h3, .product-off-price .off-percent, .product-off-price .price, .add-to-cart, .new-caption, .installment-caption, .go-top{
  font-weight:500;
}

.product-pics::after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	display:none;
	margin:-25px 0 0 -25px;
	width:50px;
	height:50px;
	border-left:3px solid #e91c27;
	border-top:3px solid #e91c27;
	-webkit-border-radius:50%;
	border-radius:50%;
	z-index:10;
}
.product-pics.is-loading::after{
	display:block;
	-webkit-animation:rotate360 1.5s infinite;
	animation:rotate360 1.5s infinite linear;
}
/*waiting*/
.fs-waiting{
	position:absolute;
	left:50%;
	bottom:120px;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
	width:50px;
	height:50px;
	z-index:10;
	display:none;
}
.fs-waiting::before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border-left:3px solid #f04e27;
	border-top:3px solid #f04e27;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.fs-waiting.show-loading::before{
    -webkit-animation:rotate360 1s infinite;
	animation:rotate360 1s infinite linear;
}

@-webkit-keyframes rotate360 {
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@keyframes rotate360{
	0%{
		-webkit-transform:rotate(0deg);
			transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
			transform:rotate(360deg);
	}
}

@media screen and (min-width:1101px) {
	.open-menu{
		height:100%;
		overflow:hidden;
	}
	.open-menu .fs-navigation{
		-webkit-transform:none;
		transform:none;
	}

	.cart-toggle, .user-toggle, .menu-open, .open-menu .menu-close, .open-menu .nav-inr a, .fs-footer a, .side-nav li a, .voucher-register-but, 
	.chat-box, .logo a, .side-logo, .subscribe-but, .brand-item a, .commitment a, .side-nav img {
		-webkit-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
	}
	.side-nav li a:hover img:not(.img-active){
		opacity:0;
	}
	.side-nav li a:hover img.img-active{
		opacity:1;
	}
	.nav-inr a:hover, .fs-footer a:hover, .side-nav li a:hover{
		color:#e91c27;
	}

	.agentcy-pgi .tel:hover{
		color:#fff;
	}
	.voucher-register-but:hover {
		background-color:#e91c27;
	}
	.cart-toggle:hover, .user-toggle:hover, .menu-open:hover, .fs-social li a:hover, .chat-box:hover, .logo a:hover, 
	.side-logo:hover, .logo-bot:hover, .gov:hover, .brand-item a:hover, .commitment a:hover {
		opacity:0.5;
	}
	.fs-footer .genuine-guarantee:hover{
		background-color:#000;
		color:#fff;
	}
	.menu-close:hover, .subscribe-but:hover{
		background-color:#000;
	}
	.fs-navigation{
		position:fixed;
		right:0;
		top:0;
		width:294px;
		height:100vh;
		-webkit-transition:transform 0.3s ease-in-out;
		transition:transform 0.3s ease-in-out;   
		z-index:13;
		display:block;
		-webkit-transition:transform 0.3s ease-in-out;
		transition:transform 0.3s ease-in-out;   
	}
	.nav-inr{
		position:absolute;
		top:0;
		right:0;
		width:100%;
		height:100%;
		background-color:#464646;
		text-align:right;
	}
}

@media screen and (max-width:1100px) {
	.open-tab {
		height:100%;
		overflow:hidden;
	}
	.fs-navigation, .side-content, .tab-item.fs-sp{
		display:block;
	}
	.tab-item {
		-webkit-transition:transform 0.3s ease-in-out;
		transition:transform 0.3s ease-in-out;
	}
	.tab-item.active{
		-webkit-transform:none;
		transform:none;
	}
}