@charset "UTF-8";a:active,a:focus,a:hover{outline:0}html,mark{color:#000}legend,ul{padding:0}h1,h2,h3,h4,h5,h6,p{margin:0;letter-spacing:.04rem;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}iframe,img,legend{border:0}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}button,html,input,select,textarea{font-family:sans-serif}a{background:0 0;color:inherit;text-decoration:inherit;cursor:inherit;cursor:pointer}h1{font-size:2em}h2{font-size:1.5em}h3{font-size:1.17em}h4{font-size:1em}h5{font-size:.83em}h6{font-size:.75em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}mark{background:#ff0}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:"\201C" "\201D" "\2018" "\2019"}q::after,q::before{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{white-space:normal}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline}body,html{background:#fff;font-size:62.5%}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}.clearfix::after{content:url(data:image/gif;base64,R0lGODlhZAAUAIAAAAD//wAAACH5BAEAAAAALAAAAABkABQAAAIshI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKZwUAOw==);display:block;clear:both;height:0;visibility:hidden}.clearfix{zoom:100%;display:block}*{-webkit-font-smoothing:antialiased;-ms-interpolation-mode:bicubic}*,::after,::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}@font-face{font-family:'SVN-Adobe Caslon Pro';src:url(../../fonts/SVN-AdobeCaslonPro.eot);src:url(../../fonts/SVN-AdobeCaslonPro.eot?#iefix) format('embedded-opentype'),url(../../fonts/SVN-AdobeCaslonPro.woff2) format('woff2'),url(../../fonts/SVN-AdobeCaslonPro.woff) format('woff'),url(../../fonts/SVN-AdobeCaslonPro.ttf) format('truetype'),url(../../fonts/SVN-AdobeCaslonPro.svg#SVN-AdobeCaslonPro) format('svg');font-weight:400;font-style:normal}body,input,select,textarea{color:#000;font-family:'SVN-Adobe Caslon Pro';font-weight:400;font-style:normal;-webkit-font-feature-settings:"palt" 1;font-feature-settings:"palt" 1}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0;-webkit-font-feature-settings:"palt" 1;font-feature-settings:"palt" 1}body.loadend{opacity:1}body>img{display:none}li{list-style-type:none}div,p,span{font-size:14px;font-size:1.4rem}


/*facebook box*/
#cfacebook{
    padding:8px 0px 8px 8px;
    position:fixed;
	width:250px;
    bottom:5px;
    right:0px;
    height:62px;
    overflow:hidden;
    z-index:9;
    border:1px solid #b0212e;
    border-right-width:0px;
    border-top-left-radius:33px;
    border-bottom-left-radius:33px;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
	box-shadow:0 0 0 1px rgba(255,255,255,0.5);
}
#cfacebook.active{
    height:332px
}
#cfacebook a{
    letter-spacing:0.2px;
    color:#fff;
    padding-left:16px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:24px;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    overflow:hidden;
    background-color:#b0212e;
    display:block;
    height:44px;
	font-size:16px;
	box-shadow:0 0 0 1px rgba(255,255,255,0.5);
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
#cfacebook .facebook-mesage{
    vertical-align:middle;
    display:inline-block;
    height:24px;
    width:24px;
    margin-right:12px;
    background-image:url('../img/message.svg');
    background-size:contain;
    background-repeat:no-repeat;
}
#cfacebook .facebook-down{
    vertical-align:middle;
    display:inline-block;
    height:8px;
    width:17px;
    margin-left:14px;
    background-image:url('../img/down.svg');
    background-size:contain;
    background-repeat:no-repeat;
}
#cfacebook .fchat{
    float:left;
	opacity:0;
    width:100%;
    height:270px;
    overflow:hidden;
    background-color:#fff;
    border-bottom-left-radius:25px;
	-webkit-transition-delay:0.1s;
	transition-delay:0.1s;
	-webkit-transition:opacity 0.05s ease-in-out;
	transition:opacity 0.05s ease-in-out;
}
#cfacebook.active .fchat{
	opacity:1;
}
#cfacebook .fchat .fb-page{
    margin-top:-130px;
    float:left;
}
#cfacebook.active .chat_fb{
    border-bottom-left-radius:0px;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

@media all and (max-width:1100px){

	#cfacebook{
        width:57px;
    }
    #cfacebook.active{
        width:246px;
    }
    #cfacebook .chat_fb i{
        display:none;
    }
    #cfacebook .chat_fb{
        padding-right:10px;
    }
    #cfacebook.active .chat_fb i{
        display:inline-block;
    }
    #cfacebook .chat_fb .facebook-mesage{
        display:inline-block;
        margin-right:0px;
    }
	
}