.slide-slidebox{position:relative;-ms-touch-action:pan-y;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none}
.slide-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);height:auto}
.slide-wrapper::after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.slide-wrapper-outer{overflow:hidden;position:relative;width:100%}
.slide-wrapper-outer.autoheight{-webkit-transition:height 300ms ease-in-out;transition:height 300ms ease-in-out}
.slide-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}
.slide-loaded{display:block}
.slide-loading{opacity:0;display:block}
.slide-controls{text-align:center;width:100%;position:relative;height:auto;margin:0 auto;z-index:2}
.slide-pagination{position:relative;width:100%;height:auto;margin:20px 0}
.slide-page, .slide-buttons div{cursor:pointer}
.slide-page{display:inline-block;position:relative;width:auto;height:auto;margin:0 4px;-webkit-border-radius:50%;border-radius:50%;overflow:hidden}
.slide-page span:not(.slide-numbers){display:block;width:12px;height:12px;background-color:rgba(0,0,0,0);-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-webkit-border-radius:50%;border-radius:50%;margin:0}
.slide-page span:not(.slide-numbers)::before{border:1px solid #bfbfbf;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-webkit-border-radius:50%;border-radius:50%;position:absolute;display:block;content:"";width:12px;height:12px;left:0;top:0}
.slide-page:hover span:not(.slide-numbers)::before{border:3px solid rgba(191,191,191,1)}
.slide-page:hover span:not(.slide-numbers){background-color:rgba(191,191,191,1)}
.slide-page.active span:not(.slide-numbers)::before{pointer-events:none;border:1px solid rgba(191,191,191,1)}
.slide-page.active span:not(.slide-numbers){pointer-events:none;background-color:rgba(191,191,191,1)}
.slide-page span.slide-numbers{color:#333;padding:0;font-size:30px;line-height:50px;text-align:center;display:block;width:50px;height:50px;border:1px solid #bfbfbf;background-color:rgba(191,191,191,0);-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-webkit-border-radius:50%;border-radius:50%;margin:10px 0;pointer-events:auto}
.slide-page:hover span.slide-numbers{background-color:rgba(191,191,191,1);border:1px solid rgba(191,191,191,0);color:#fff}
.slide-page.active span.slide-numbers{pointer-events:none;background-color:rgba(191,191,191,1);border:1px solid rgba(191,191,191,0);color:#fff}
.slide-page.active{pointer-events:none}
.slide-buttons{position:relative;width:100%;height:auto}
.slide-prev, .slide-next{position:absolute;top:50%;height:50px;width:50px;-webkit-border-radius:50%;border-radius:50%;margin:-45px 0 0 0;cursor:pointer;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;z-index:100}
.slide-prev{left:-50px;background:url(../img/prev.png) no-repeat center center;background-color:rgba(214,180,60,0.7)}
.slide-next{right:-50px;background:url(../img/next.png) no-repeat center center;background-color:rgba(214,180,60,0.7)}
.slide-prev:hover, .slide-next:hover{background-color:rgba(214,180,60,1)}
.campaign-box .slide-controls, .campaign-box .slide-buttons{position:static}
.slide-prev.disabled, .slide-next.disabled{pointer-events:none;opacity:0.2}
.preloader{width:100%;height:100%;min-height:300px;position:absolute;left:0;top:0;border:none;background-color:transparent;display:none;z-index:10}
.preloader::before{content:"";width:82px;height:82px;position:absolute;left:50%;top:50%;margin:-41px 0 0 -41px;background-image:url(../images/cycle.png);background-position:center center;background-repeat:no-repeat;-webkit-animation:Preloader 1s steps(12, end) infinite;animation:Preloader 1s steps(12, end) infinite}
.preloader::after{content:"";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.loading .preloader{display:block}
.preloader.done{display:none}
.slide-container, .slide-container-horizontal, .slide-container-vertical{position:relative;overflow:hidden}
.slide-container-no-flexbox .item-container{float:left}
.slide-container-vertical > .item-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}
.item-wrapper{position:relative;width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:flex;-webkit-transition-property:-webkit-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;box-sizing:content-box;z-index:1}
.item-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.slide-container-android .item-container, .item-wrapper{-webkit-transform:translate3d(0px, 0, 0);transform:translate3d(0px, 0, 0)}
.slide-container-multirow > .item-wrapper{-webkit-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}
.slide-container-free-mode > .item-wrapper{-webkit-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}
.item-container{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:auto;position:relative}
.item-container{text-align:center;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.slide-container-autoheight, .slide-container-autoheight .item-container{height:auto}
.slide-container-autoheight .item-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform, height;-ms-transition-property:-ms-transform, height;transition-property:transform, height}
.slide-container .notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}
.wp8-horizontal{-ms-touch-action:pan-y}
.wp8-vertical{-ms-touch-action:pan-x}
.button-prev, .button-next{position:absolute;top:50%;height:100px;width:50px;margin:-58px 0 0 0;cursor:pointer;opacity:0.8;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-webkit-transform:scale(0.8);transform:scale(0.8);z-index:100}
.pagination{position:relative;width:100%;margin:10px auto;text-align:center;z-index:10}
.pagination.pagination-hidden{opacity:0}
.pagination-fraction, .pagination-custom{font-family:Arial, Helvetica, sans-serif;font-weight:normal;color:#fff;width:100%}
.pagination-current, .pagination-total{font-size:24px;line-height:1;font-family:Arial, Helvetica, sans-serif;font-weight:normal;color:#fff}
.pagination-bullet{width:12px;height:12px;-webkit-border-radius:50%;border-radius:50%;display:inline-block;position:relative}
.pagination-bullet i{width:100%;height:100%;position:relative;display:block;margin:0;border:1px solid #afac8d;background-color:rgba(175,172,141,0);-webkit-border-radius:50%;border-radius:50%;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.pagination-bullet:hover{background-color:rgba(255,255,255,1)}
.pagination-bullet:hover i{background-color:rgba(179,176,146,1)}
.pagination-clickable .pagination-bullet{cursor:pointer}
.pagination-bullet-active{background-color:rgba(179,176,146,1)}
.pagination-bullet-active i{background-color:rgba(179,176,146,1)}
.slide-container-vertical > .pagination-bullets .pagination-bullet{margin:3px;display:block}
.slide-container-horizontal > .pagination-bullets .pagination-bullet{margin:8px 5px}
.slide-container-coverflow .item-wrapper, .slide-container-flip .item-wrapper{-ms-perspective:1200px}
.slide-container-fade.slide-container-free-mode .item-container{-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.slide-container-fade .item-container{pointer-events:none;-webkit-transition-property:opacity;transition-property:opacity}
.slide-container-fade .item-container .item-container{pointer-events:none}
.slide-container-fade .item-active, .slide-container-fade .item-active .item-active{pointer-events:auto}
.lazy-preloader{width:100%;min-height:100%;position:absolute;left:0;top:0;border:none;background-color:transparent;z-index:1}
.lazy-preloader::before{content:"";width:82px;height:82px;position:absolute;left:50%;top:50%;margin:-41px 0 0 -41px;background-image:url(../images/cycle.png);background-position:center center;background-repeat:no-repeat;-webkit-animation:Preloader 1s steps(12, end) infinite;animation:Preloader 1s steps(12, end) infinite}
.lazy-preloader::after{content:"";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.container-zoom{width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:flex;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;text-align:center}
.container-zoom > img, .container-zoom > svg, .container-zoom > canvas{object-fit:contain}
.isIE .container-zoom{display:block;position:relative}
.isIE .container-zoom::before, .isIE .container-zoom::after{content:'';position:relative;display:inline-block;width:0;height:100%;vertical-align:middle}
@-webkit-keyframes fadeOut{0%{opacity:1}
100%{opacity:0}
}
@keyframes fadeOut{0%{opacity:1}
100%{opacity:0}
}
.fadein{-webkit-animation-name:fadeIn;animation-name:fadeIn;-webkit-animation-duration:0.8s;animation-duration:0.8s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.fadeout{-webkit-animation-name:fadeOut;animation-name:fadeOut;-webkit-animation-duration:0.5s;animation-duration:0.5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
@media screen and (max-width:1100px){.slide-prev, .slide-next, .full-next, .full-prev{height:40px;width:40px;display:none}
.container-zoom{height:100%}
.container-zoom.zoomin{height:90vh}
.slide-page{margin:0 5px}
.slide-page span:not(.slide-numbers), .slide-page span:not(.slide-numbers)::before{width:10px;height:10px}
}