html, body {
	font-family:'VL_Sofia';
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'VL_SofiaB';
}

/*header*/
.hdr-inr {
	background-color:#029fcf;	
}

.logo {
	z-index:2;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.logo a, .logo img {
	display:block;
	line-height:0;
}

.logo img {
	width:100%;
	height:auto;
}

.logo:hover {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}

.nav {
	text-align:center;
}

.nav ul {
	font-size:0;
}

.nav ul:first-child{
	right:80px;
}

.nav ul:last-child{
	left:95px;
}

.nav li {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin:0 30px;
}

.nav a {
	position:relative;
	display:block;
	padding:0 10px;
	font-size:1.125rem;
	color:#fff;
}

.nav a::after {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:3px;
	background-color:#fbd700;
	-webkit-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform:scale3d(0, 1, 1);
	transform:scale3d(0, 1, 1);
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.nav li.active a {
	font-family:'VL_SofiaB';
}

.nav li:not(.active):hover a::after, .nav li.active a::after {
	-webkit-transform:scale3d(1, 1, 1);
	transform:scale3d(1, 1, 1);
}


/*search*/
.search-box{
	position:absolute;
	right:5%;
	top:12px;
	width:240px;
	height:36px;
}

.search-txt {
	position:absolute;
	right:18px;
	top:0;
	width:0;
	height:100%;
	background-color:#fff;
	-webkit-border-radius:30px 0 0 30px;
	border-radius:30px 0 0 30px;
	-webkit-transition:width 0.3s ease-in-out;
	transition:width 0.3s ease-in-out;
}

.search-txt.active {
	width:222px;
}

.search-txt label {
	display:block;
	padding:0 15px;
	height:100%;
}
.search-txt input {
	width:100%;
	height:36px;
	line-height:36px;
}

#search-but {
	position:absolute;
	right:0;
	top:0;
	width:36px;
	height:36px;
	background:url(../images/search-icon.png) no-repeat center center;
	-webkit-background-size:30px auto;
	background-size:30px auto;
	background-color:#fff;
	border-radius:50%;
	-webkit-border-radius:50%;
	cursor:pointer;
}


/*bottom*/
#go-top{
	position:fixed;
	right:30px;
	bottom:30px;
	width:50px;
	height:50px;
	visibility:hidden;
	opacity:0;
	cursor:pointer;
	background:url(../images/icon-top.png) no-repeat center center;
	background-size:cover;
	background-color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
	box-shadow:0 0 0 0 rgba(3,172,226,0.5);
	-webkit-transition:visibility, opacity, box-shadow 0.3s ease-in-out;
	transition:visibility, opacity, box-shadow 0.3s ease-in-out;
	z-index:10;
}

#go-top.show{
	visibility:visible;
	opacity:1;
}

#go-top.show:hover {
	box-shadow:0 0 30px 0 rgba(3,172,226,0.5);
}


/*banner*/
.item{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100vh;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:cover;
	background-size:cover;
}


/*title*/
.title{
	padding:1.875rem 0;
	text-align:center;
}

.title h2 {
	font-size:1.875rem;
	text-transform:uppercase;
}


/*area*/
.area-txt,
.area-pic,
.area-bg {
	position:relative;
}

.area-bg {
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:cover;
	background-size:cover;
}



/*button*/
.box-but {
	display:block;
}

.box-but a {
	position:relative;
	display:inline-block;
	font-family:'VL_SofiaB';
	font-size:1.125rem;
	-webkit-transition:transform 0.15s ease-in-out;
	transition:transform 0.15s ease-in-out
}

.btn-detail {
	padding:15px 56px 13px 32px;
	background-color:#fff;
	border:1px solid #039fd0;
	-webkit-border-radius:30px;
	border-radius:30px;
	text-transform:uppercase;
	box-shadow:0 2px 6px rgba(84,74,59,0.2);
}

.btn-detail::after{
	content:'';
	position:absolute;
	right:10px;
	top:50%;
	width:40px;
	height:40px;
	margin-top:-20px;
	background:url(../images/next.png) no-repeat center center;
}

.box-but a:hover {
	-webkit-transform:translateY(-5%);
	transform:translateY(-5%);
}

/*home page*/
.uv, .aqua, .sunscreen, .index {
	margin:0;
	font-size:0;
	color:#666;
	line-height:1.4;
}

.uv h2, .aqua h2, .index h2, .sunscreen h2, .shortcut h2 {
	color:#039fcf;
	font-size:2.25rem;
	line-height:1.2;
	margin:1rem 0 1.25rem 0;
	position:relative;
}

.uv p, .aqua p, .index p, .sunscreen p {
	margin-bottom:1rem;
	font-size:1.125rem;
}

.uv {
	margin-bottom:-10px;
	padding-top:6.25rem;
	text-align:center;
}

.uv .box{
	float:none;
	display:inline-block;
	vertical-align:top;
}

.uv .box:first-child {
	width:480px;
}

.uv .box:last-child {
	width:500px;
}

.uv .area-txt {
	margin-bottom:3.75rem;
	text-align:left;
}

.uv .area-pic {
	position:relative;
	z-index:1;
}

.uv .area-pic img {
	width:100%;
	margin-bottom:-370px;
}

.aqua .box {
	float:none;
	display:inline-block;
	vertical-align:middle;
}

.aqua .box:first-child {
	width:42%;
}

.aqua .box:last-child {
	width:58%;
}

.aqua .area-pic, .aqua .area-txt {
	display:block;
}

.aqua img {
	width:100%;
}

.aqua .area-txt {
	padding:9.375rem 25% 6.25rem 25%;
	background-color:#e5f5fb;	
}

.index {
	padding:6.25rem 0 3.75rem 0;
	text-align:center;
}

.index .box {
	float:none;
	display:inline-block;
	vertical-align:middle;
}

.index .box:first-child {
	width:540px;
}

.index .box:last-child {
	width:540px;
}

.index .area-txt {
	text-align:left;
	padding-right:40px;
}

.sunscreen {
	padding:6.25rem 0 10rem 0;
	background-color:#fffbcc;
	text-align:center;
}

.sunscreen .box {
	float:none;
	display:inline-block;
	vertical-align:top;
}

.sunscreen .box:first-child {
	width:500px;
}

.sunscreen .box:last-child {
	width:480px;
}

.sunscreen .area-txt {
	text-align:left;
}
.sunscreen h2 {
	margin:4rem 0 0.625rem;
}

.sunscreen h2, .sunscreen p {
	color:#86744e;
}

.color-note {
	display:inline-block;
	margin:1rem 0 2rem 0;
    padding:20px 40px 15px 40px;
    background-color:#fbeb5c;
    color:#826440;
    font-family: 'VL_SofiaB';
    font-size:1rem;
    text-transform:uppercase;
	line-height:1;
}

.explan-icon {
	display:block;
	margin-bottom:2rem;
}

.explan-icon li {
	position:relative;
	margin-bottom:0.625rem;
	padding-left:56px;
	line-height:40px;
	font-size:1.125rem;
	color:#826440;
}

.explan-icon li::before {
	content:'';
	position:absolute;
	left:0;
	top:50%;
	width:40px;
	height:40px;
	margin-top:-20px;
}

.booster-icon::before {
	background:url(../images/icon-booster.png) no-repeat center center
}

.essence-icon::before {
	background:url(../images/icon-essence.png) no-repeat center center
}

.proof-icon::before {
	background:url(../images/icon-proof.png) no-repeat center center
}

.soap-icon::before {
	background:url(../images/icon-soap.png) no-repeat center center
}

.explan-icon li span {
	display:inline-block;
	line-height:1;
}


.shortcut {
	background-color:#fbeb5c;
	text-align:center;
}

.shortcut .box {
	float:none;
	top:-6.25rem;
	width:540px;
	display:inline-block;
	margin:0 10px;
	vertical-align:top;
	
}

.shortcut .area-bg::before {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto;	
	padding-top:38%;
}

.shortcut .area-txt {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	text-align:center;
}

.shortcut .area-txt::before, .shortcut .area-txt::after {
	content:'';
	position:relative;
	display:inline-block;
	width:0;
	height:100%;
	vertical-align:middle;
}

.shortcut h2 {
	margin:0 0 .7rem 0;
	font-size:2rem;
}

.shortcut .box:last-child h2 {
	color:#fff;
}

.shortcut .area-center {
	display:inline-block;
	width:90%;
	vertical-align:middle;
}

.article {
	height:100vh;
	text-align:right;
}

.article-bg {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	background-attachment:fixed;
}

.article-wrap {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
}

.article-wrap::before, .article-wrap::after {
	content:'';
	position:relative;
	display:inline-block;
	width:0;
	height:100%;
	vertical-align:middle;
}

.article-block{
	position:relative;
	right:12.4%;
	width:90%;
	max-width:500px;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	color:#fff;
}

.date{
	font-size:1rem;
}

.article-block h3 {
	margin:0.5rem 0 1.5rem 0;
	font-size:2.25rem;
}


.article-list {
	padding:3.125rem 0;
	background-color:#039fd6;
	text-align:right;
	
}

.article-item{
	position:relative;
	display:block;
	margin:0 7px;
	border:8px solid #fbeb5c;
	overflow:hidden;
}

.article-box .slide-wrapper-outer{
	overflow:visible
}

.article-pic{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.article-item::before{
	content:'';
	display:block;
	width:100%;
	height:auto;
	padding:60% 0 0 0
}

.article-txt {
	position:absolute;
	left:0;
	right:0;
	bottom:30px;
	padding:0 10%;
	height:auto;
	color:#fff;
	text-align:center;
}

.article-txt h3 {
	margin:0.5rem 0 1.5rem 0;
	font-size:1.75rem;
}



/*MIDIA*/
/*pcs*/
@media screen and (min-width:1101px) and (max-height:800px){
}

/*devices*/
@media screen and (max-width:1100px){
}

@media screen and (max-width:980px){
	
	/*common*/
	.swiper-button-prev, .swiper-button-next {
		display:none;	
	}
	
	/*header*/
	.navigation {
		display:none;
	}
	
	.nav ul {
		display:block;
		width:100%;
	}
	
	.nav ul:first-child,
	.nav ul:last-child { 
		left:auto;
		right:auto;
	}
	
	
	
	/*home page*/
	.uv .box, .aqua .box,
	.index .box, .sunscreen .box,
	.shortcut .box {
		display:block;
	}
	
	.uv .box:first-child,
	.uv .box:last-child,
	.aqua .box:first-child,
	.aqua .box:last-child,
	.index .box:first-child,
	.index .box:last-child,
	.sunscreen .box:first-child,
	.sunscreen .box:last-child,
	.shortcut .box {
		width:100%;
	}
	
	.uv h2, .aqua h2, 
	.index h2, 
	.sunscreen h2, 
	.shortcut h2 {
		margin:0 0 .5rem 0;
	}
	
	.uv,
	.index,
	.sunscreen {
		padding:0;
		margin-bottom:0;
	}
	
	.uv h2 br, .aqua h2 br, .index h2 br, .sunscreen h2 br,
	.uv p br, .aqua p br, .index p br, .sunscreen p br{
		display:none;
	}
	
	.uv .area-txt {
		padding:3.5rem 3rem 0 3rem;	
		margin-bottom:auto;
	}
	
	.uv .area-pic {
		padding:0 3rem
		margin-bottom:auto;
	}
	
	.aqua .area-txt,
	.index .area-txt {
		padding:3.5rem 3rem 2.5rem 3rem;
	}
	
	.sunscreen .area-pic {
		padding:1.5rem 0 0 0;
	}
	.sunscreen .area-txt {
		padding:0 4rem 4.5rem 4rem;	
	}
	
	.uv .area-pic img {
		margin-bottom:0;
	}
	
	.shortcut {
		padding:1rem 0;
	}
	
	.shortcut .box {
		top:auto;
		margin:0 1rem;
		width:auto;
	}
	
	.shortcut .box:first-child {
		margin-bottom:1rem;
	}
	
	.article {
		text-align:center;	
	}
	
	.article-bg {
		background-attachment:scroll;
	}
	
	.article-block {
		right:auto;
	}
	
	.article-list {
		text-align:center;
	}
	
	.article-txt {
		bottom:1rem;	
	}
	
	.article-txt h3 {
		margin:0.5rem 0 0 0;
	}
	
	.article-box .slide-next, .article-box .slide-prev{
		display:none;	
	}
	
}

@media screen and  (max-width:640px) {

}

@media screen and  (max-width:520px) {
	
}

@media screen and  (max-width:390px){

}

@media screen and  (max-width:350px){

}

/*devices ratio*/
@media screen and  (max-width:1100px) and (orientation:portrait){
}
@media screen and  (max-width:1100px) and (orientation :landscape){
}
