@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
h1, h2, h3, h4, h5, h6 {
	line-height:1.2;
	font-size:100%;
}
p {
	line-height:1.4;
	font-size:100%;
}
img{
	border:none;
	outline:none;
}
a{
	text-decoration:none;
	color:#000;
}
button, input, textarea{
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
	font-family:inherit;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
html, body{
	background:#fff;
	color:#000;
	line-height:1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:transparent;
	-webkit-user-select:none;
	user-select:none;
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

.fs-no-scroll {
	height:100%;
    overflow:hidden;
}
.fs-has-layout::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}

/*FONTS*/
@font-face {
	font-family:'SFProDisplay-Regular';
	font-weight:normal;
	font-style:normal;
	font-display:swap;
	src:url('../fonts/sf-pro-display_regular.eot');
	src:url('../fonts/sf-pro-display_regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/sf-pro-display_regular.woff2') format('woff2'),
		url('../fonts/sf-pro-display_regular.woff') format('woff');
}

/*LAYOUT COMMON*/
.fs-page,
.fs-header,
.fs-container,
.fs-footer{
	position:relative;
	display:block;
	width:100%;
	height:auto;
}

.fs-page {
	overflow:hidden;
}

.fs-section, 
.fs-section-inr,
.fs-title,
.fs-box,
.fs-box-inr{
	width:100%;
	height:auto;
}

.fs-size-01{width:8.3333%}
.fs-size-02{width:16.6666%}
.fs-size-03{width:25%}
.fs-size-04{width:33.3333%}
.fs-size-05{width:41.6666%}
.fs-size-06{width:50%}
.fs-size-07{width:58.3333%}
.fs-size-08{width:66.6666%}
.fs-size-09{width:75%}
.fs-size-10{width:83.3333%}
.fs-size-11{width:91.6666%}
.fs-size-12{width:100%}

.fs-area-bg,
.fs-area-pic,
.fs-area-txt{
	position:relative;
	display:block
}
.fs-area-bg{
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.fs-area-bg::before {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto
}
.fs-area-pic img{	
	width:auto;
	max-width:100%;
}
.fs-bg {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
.fs-bg div {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.fs-pc{
	display:block;
}
.fs-sp {
	display:none;
}

/*SELECT LIST*/
.fs-select{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	text-align:left;
	z-index:2;
}
.fs-select-header {
    position:relative;
    display:block;
    height:48px;
    padding:0 10px 0 10px;
	line-height:44px;
	border:1px solid #808080;
	-webkit-border-radius:5px;
    border-radius:5px;
	cursor:pointer;
	z-index:2;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.fs-select-header span {
	display:inline-block;
	vertical-align:middle;
	width:auto;
	line-height:1.4;
	max-width:100%;
	font-size:14px;
	color:#313131;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.fs-select-box{
	position:absolute;
	top:100%;
	left:0;
	display:block;
	width:100%;
	min-width:140px;
	height:auto;
	margin:2px 0 0 0;
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}
.fs-select-box ul{
	position:relative;
	display:block;
	max-height:160px;
	background-color:#fff;
	border:1px solid #ddd;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
}
.fs-select-box li {
	position:relative;
	display:block;
	font-size:14px;
	color:#313131;
	margin-bottom:1px;
	border-bottom:1px solid#ddd;
	padding:10px;
	cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.fs-select-box li span{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:22px;
	height:22px;
	margin:0 7px 0 0;
	overflow:hidden;
}
.fs-select-box li.selected, .fs-select-box li:not(.selected):hover {
	color:#ff5450;
}
.fs-open-select .fs-select-box{
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s;
}
.fs-select-header::after{
	position:absolute;
	content:"";
	top:16px;
	right:10px;
	width:0;
	height:0;
	border:8px solid transparent;
	border-color:#fff transparent transparent transparent;
}
.fs-open-select .fs-select-header {
	border-color:#5fc3b2;
}
.fs-open-select .fs-select-header::after {
	border-color:transparent transparent #fff transparent;
	top:8px;
}

/*BUTTON*/
.fs-box-but{
	position:relative;
	display:block;
}
.fs-btn {
	position:relative;
	display:inline-block;
	vertical-align:top;
	padding:12px 40px 13px 40px;
	border:1px solid #808080;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
}
.fs-btn span{
	position:relative;
	top:1px;
	line-height:1;
	font-size:18px;
	color:#313131;
	z-index:1;
}
.fs-btn-event{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	font-size:0;
	opacity:0;
}

/*CHECKBOX*/
.fs-checkbox label {
	position:relative;
	display:inline-block;
	vertical-align:top;
	padding:3px 0 0 32px;
	font-size:14px;
	line-height:1.4;
	cursor:pointer;
}
.fs-checkbox label::before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:24px;
	height:24px;
	border:1px solid #313131;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.fs-checkbox input[type='checkbox']{
	position:absolute;
	display:block;
	width:24px;
	height:24px;
	left:0;
	top:0;
	opacity:0;
	cursor:pointer;
}
.fs-checkbox label::after {
    content:"";
    position:absolute;
    left:5px;
    top:5px;
    height:8px;
    width:14px;
    border:2px solid transparent;
    border-color:transparent transparent #313131 #313131;
	-webkit-transform:rotate(-52deg);
	transform:rotate(-52deg);
	opacity:0;
}
.fs-checkbox input[type='checkbox']:checked + label::after {
    opacity:1;
}
.fs-checkbox label a{
	color:#029fcf;
}


/*FORM*/
.fs-hide-label{
	font-size:0;
}
.fs-group {
	position:relative;
	display:block;
	margin-bottom:26px;
}
.fs-group input[type='text'],
.fs-group input[type='password'],
.fs-group textarea {
	display:block;
	width:100%;
	height:auto;
	padding:15px 12px;
	font-size:14px;
	color:#313131;
	border:1px solid #808080;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.fs-group input[type='text']::placeholder,
.fs-group input[type='password']::placeholder,
.fs-group textarea::placeholder {
	color:#313131;
}
.fs-group input[type='text']:-ms-input-placeholder,
.fs-group input[type='password']:-ms-input-placeholder,
.fs-group textarea:-ms-input-placeholder { 
  color:#313131;
}
.fs-group input[type='text']::-ms-input-placeholder,
.fs-group input[type='password']::-ms-input-placeholder,
.fs-group textarea::-ms-input-placeholder{
	color:#313131;
}
.fs-group input[type='text']::-moz-placeholder,
.fs-group input[type='password']::-moz-placeholder,
.fs-group textarea::-moz-placeholder {
	color:#313131; 
	opacity:1;
}
.fs-group textarea{
	height:80px;
	resize:none;
	overflow:auto;
}
.fs-group input[type='text']:focus,
.fs-group input[type='password']:focus,
.fs-group textarea:focus {
	border-color:#5fc3b2;
}
.fs-caption{
	display:block;
	margin-bottom:8px;
	font-size:14px;
	color:#313131;
}
.fs-error-txt{
	position:absolute;
	left:0;
	bottom:100%;
	width:100%;
	height:auto;
	margin-bottom:2px;
	visibility:hidden;
}
.fs-show-error .fs-error-txt{
	visibility:visible;
}
.fs-error-txt p {
	color:#f00;
	font-size:10px;
}

/*OVERLAY POPUP*/
.fs-overlay{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.9);
	z-index:100;
	visibility:hidden;
	opacity:0;
	-webkit-transition:opacity 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:opacity 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
	overflow:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
}
.fs-overlay.fs-show-overlay {
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}
.fs-close-overlay {
	position:fixed;
	width:60px;
	height:60px;
	right:20px;
    top:10px;
	background:url(../images/close.png) no-repeat center center;
	background-size:cover;
	cursor:pointer;
	z-index:1;
	font-size:0;
	-webkit-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.fs-close-overlay:hover {
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}


/*LOADING*/
.fs-loading{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0);
	z-index:100;
}
.fs-loading span {
	position:absolute;
	left:50%;
	bottom:50px;
	width:60px;
	height:60px;
	margin:0 0 0 -30px;
}
.fs-loading span::before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border-left:3px solid #ff5450;
	border-top:3px solid #ff5450;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.fs-loading span::before {
	-webkit-animation:rotate360 1.5s infinite linear running;
	animation:rotate360 1.5s infinite linear running;
}


/*HEADER AREA*/
.fs-header{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:70px;
	z-index:50;
}
.fs-header-bg{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
	background-color:rgba(255,255,255,0.5);
	background:-webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
	background:linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
}

/*LOGO*/
.fs-logo{
	position:absolute;
	left:50px;
	top:10px;
	width:160px;
	z-index:2;
}
.fs-logo a{
	display:block;
	line-height:0;
}
.fs-logo a img{
	display:block;
	width:100%;
	height:auto;
}

/*NAVIGATION*/
.fs-navigation{
	position:absolute;
	right:40px;
	top:20px;
	width:auto;
	height:auto;
	z-index:2;
}
.fs-nav, .fs-nav ul{
	display:block;
	text-align:right;
}
.fs-nav li{
	display:inline-block;
	width:auto;
	height:auto;
}
.fs-nav li a{
	display:block;
	padding:6px 10px 5px 10px;
	font-size:18px;
	line-height:1.2;
}

/*NAV BUTTON*/
.fs-nav-but{
	position:absolute;
	right:13px;
	top:8.5px;
	padding:7px;
	z-index: 9;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
}
.fs-nav-line{
	position:relative;
    display:block;
    width:30px;
    height:3px;
    background-color:#313131;
	-webkit-border-radius:10px;
	border-radius:10px;
    -webkit-transition:.3s;
    transition:.3s;
}
.fs-nav-line:nth-child(1),
.fs-nav-line:nth-child(3) {
	margin:0;
}
.fs-nav-line:nth-child(2){
	margin:5px 0;
}
.fs-nav-but:not(.active):hover .fs-nav-line:nth-child(1){
	-webkit-transform: translateY(0.7px) rotate(4.5deg);
    transform: translateY(0.7px) rotate(4.5deg);
}
.fs-nav-but:not(.active):hover .fs-nav-line:nth-child(3){
	-webkit-transform: translateY(-0.7px) rotate(-4.5deg);
    transform: translateY(-0.7px) rotate(-4.5deg);
}
.fs-nav-but.active .fs-nav-line:nth-child(1){
	-webkit-transform: translateY(7.7px) rotate(45deg);
	transform: translateY(7.7px) rotate(45deg);
	background-color:#ff5450;
}
.fs-nav-but.active .fs-nav-line:nth-child(2){
	opacity:0;
}
.fs-nav-but.active .fs-nav-line:nth-child(3){
	-webkit-transform: translateY(-7.7px) rotate(-45deg);
	transform: translateY(-7.7px) rotate(-45deg);
	background-color:#ff5450;
}

/*FOOTER*/
.fs-top{
	position:fixed;
	right:20px;
	bottom:20px;
	width:50px;
	height:50px;
	background:#fff url(../images/icon-top.png) no-repeat center center;
	background-size:cover;
	box-shadow:0 0 5px rgba(255, 0, 0,0.7);
	-webkit-border-radius:50%;
	border-radius:50%;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	cursor:pointer;
}
.fs-top.fs-show-top{
	opacity:1;
	visibility:visible;
}


/*SLIDE SETTING*/
.item-slide{
	position:relative;
	display:block;
	width:100%;
	height:auto;
}
.is-visible-slide .swiper-container{
	overflow:visible;
}
.fs-slide-full{
	width:100%;
	height:100vh;
}
.fs-slide-full .item-slide{
	height:100%;
}
.fs-slide-full .fs-bg{
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}


/*AREA STYLES FOR PAGES*/
.fs-title{
	margin-bottom:20px;
}
.fs-title h2{
	font-size:3.125vw;
	text-align:center;
	text-transform:uppercase;
	font-family:'SFProDisplay-Regular';
}


/* THIS AREA ONLY SHOW HOW TO USE*/
/*Example slider*/
.is-exaple{
	padding:50px 5%;
}
.is-exaple .fs-slide-three{
	margin:0 -5px;
}
.is-exaple .item-slide{
	padding:0 5px;
}
.is-exaple .fs-area-bg::before{
	padding-top:56.25%;
}

/*Example form*/
.fs-form{
	max-width:800px;
	margin:0 auto 100px auto;
	padding:60px 30px;
	border:1px solid #ddd;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.fs-form .fs-box-but{
	text-align:right;
}
#fs_date{
	z-index:4;
}
#fs_month{
	z-index:3;
}
#fs_year{
	z-index:2;
}


/*OVERLAY POPUP OVERWRITE*/
.fs-overlay{
	padding:50px 0;
	text-align:center;
}
.fs-overlay::before,
.fs-overlay::after {
	content:'';
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:0;
	height:100%;
}
.fs-overlay-inr{
	display:inline-block;
	vertical-align:middle;
	width:90%;
	max-width:400px;
}
.fs-overlay-inr .fs-form{
	margin:0;
	padding:40px 30px;
	text-align:left;
}
.fs-overlay-inr .fs-group:last-child{
	margin:0;
}
.fs-overlay-inr .fs-group input[type='text']::placeholder,
.fs-overlay-inr .fs-group input[type='password']::placeholder,
.fs-overlay-inr .fs-group textarea::placeholder {
	color:#fff;
}
.fs-overlay-inr .fs-group input[type='text']:-ms-input-placeholder,
.fs-overlay-inr .fs-group input[type='password']:-ms-input-placeholder,
.fs-overlay-inr .fs-group textarea:-ms-input-placeholder { 
  color:#fff;
}
.fs-overlay-inr .fs-group input[type='text']::-ms-input-placeholder,
.fs-overlay-inr .fs-group input[type='password']::-ms-input-placeholder,
.fs-overlay-inr .fs-group textarea::-ms-input-placeholder{
	color:#fff;
}
.fs-overlay-inr .fs-group input[type='text']::-moz-placeholder,
.fs-overlay-inr .fs-group input[type='password']::-moz-placeholder,
.fs-overlay-inr .fs-group textarea::-moz-placeholder {
	color:#fff; 
	opacity:1;
}
.fs-overlay-inr .fs-checkbox label::before {
	border-color:#fff;
}
.fs-overlay-inr .fs-checkbox label::after {
	border-color:transparent transparent #fff #fff;
}
.fs-overlay-inr .fs-checkbox label,
.fs-overlay-inr .fs-btn span{
	color:#fff;
}


/*AREA SLIDER*/



/*AREA ANIMATIONS*/


/*KEYFRAMES*/
@-webkit-keyframes rotate360 {
    0%{
		-webkit-transform:rotate(0deg);
        transform:rotate(0deg);
	}
    100%{
		-webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@keyframes rotate360{
	0%{
		-webkit-transform:rotate(0deg);
        transform:rotate(0deg);
	}
    100%{
		-webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

@-webkit-keyframes fadeInUp{
	0%{
		opacity:0;
		-webkit-transform:translate3d(0, 30px, 0);
		transform:translate3d(0, 30px, 0);
	}
	100%{
		opacity:1;
		-webkit-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0);
	}
}
@keyframes fadeInUp{
	0%{
		opacity:0;
		-webkit-transform:translate3d(0, 30px, 0);
		transform:translate3d(0, 30px, 0);
	}
	100%{
		opacity:1;
		-webkit-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeInDown{
	0%{
		opacity:0;
		-webkit-transform:translate3d(0, -30px, 0);
		transform:translate3d(0, -30px, 0);
	}
	100%{
		opacity:1;
		-webkit-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0);
	}
}
@keyframes fadeInDown{
	0%{
		opacity:0;
		-webkit-transform:translate3d(0, -30px, 0);
		transform:translate3d(0, -30px, 0);
	}
	100%{
		opacity:1;
		-webkit-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeIn{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
@keyframes fadeIn{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}


/*RESPONSIVE*/
@media screen and (max-width:1640px) { }

@media screen and (max-width:1440px) { }

@media screen and (max-width:1380px) { }

@media screen and (max-width:1320px) { }

@media screen and (max-width:1200px) { }

@media screen and (max-width:1150px) { }


/*IPAD*/
@media screen and (max-width:1100px) { 
	/*LAYOUT COMMON*/
	.fs-pc {
		display:none !important;
	}
	.fs-sp {
		display:block;
	}


	/*HEADER AREA*/
	.fs-header{
		height:50px;
	}
	.fs-header-bg{
		background:#fff;
	}

	/*LOGO*/
	.fs-logo{
		width:100px;
		left:20px;
	}

	/*NAVIGATION*/
	.fs-navigation{
		position: fixed;
		right:0;
		top:0;
		background-color:#fff;
		width:100%;
		height:100%;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
		overflow: hidden;
		overflow-y:auto;
		-webkit-overflow-scrolling:touch;
	}
	.fs-navigation.active{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	.fs-nav, .fs-nav ul {
		display:block;
	}
	.fs-nav{
		padding:50px 0;
	}
	.fs-nav li{
		display: block;
	}
	.fs-nav li a{
		padding:7px 20px;
		font-size:16px;
	}

	/*NAV BUTTON*/
	.fs-nav-but{
		opacity:1;
		visibility: visible;
	}
	.fs-nav-but:not(.active):hover .fs-nav-line:nth-child(1),
	.fs-nav-but:not(.active):hover .fs-nav-line:nth-child(3){
		-webkit-transform: none;
		transform:none;
	}




	/*AREA ANIMATIONS RESET*/






	/*PAGE SETTING AREA*/
	.fs-container{
		padding-top:50px;
	}

		
	/*SLIDE SETTING*/
	.fs-slide-full{
		height:auto;
	}
	.fs-slide-full .item-slide{
		height:auto;
	}
	.fs-slide-full .item-slide::before{
		content:'';
		position:relative;
		display:block;
		width:100%;
		height:auto;
		padding-top:56.25%;
	}

}

/*IPAD Landscape*/
@media screen and  (max-width:1100px) and (orientation :landscape){
	/*LAYOUT COMMON*/
}

/*IPAD Portrait*/
@media screen and  (max-width:1100px) and (orientation :portrait){
	/*LAYOUT COMMON*/
}

@media screen and (max-width:840px) {
	/*LAYOUT COMMON*/
}

@media screen and (max-width:740px) {
	/*LAYOUT COMMON*/
}

@media screen and (max-width:520px) {
	/*LAYOUT COMMON*/
}

@media screen and (max-width:390px) {
	/*LAYOUT COMMON*/
}

@media screen and (max-width:370px) {
	/*LAYOUT COMMON*/
}

@media screen and (max-width:350px) {
	/*LAYOUT COMMON*/
}