@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
h1, h2, h3, h4, h5, h6 {
	line-height:1.2;
	font-size:100%;
}
p {
	line-height:1.4;
	font-size:100%;
}
img{
	border:none;
	outline:none;
}
a{
	text-decoration:none;
	color:#000;
}
html, body{
	background:#fff;
	color:#000;
	line-height:1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:transparent;
	-webkit-user-select:none;
	user-select:none;
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

button, input, textarea{
	/* padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
	font-family:inherit; */
}

.fs-no-scroll {
	height:100%;
    overflow:hidden;
}
.fs-has-layout::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}

/*FONTS*/

/*LAYOUT COMMON*/
.fs-page{
	position:relative;
	display:block;
	width:100%;
}
.editor-content{
	width:100%;
	height:auto;
	padding:50px 0;
	background-color:#fff;
	text-align:center;
}
.editor-box {
	position: relative;
	display:inline-block;
	width:auto;
	height:auto;
}
.controls{
	padding:20px 0;
	text-align:center;
}
.controls input{
	padding:10px;
	margin-right:20px;
	cursor: pointer;
}
.controls button{
	padding:10px;
	cursor: pointer;
}