@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
h1, h2, h3, h4, h5, h6 {
	line-height:1.4;
	font-size:100%;
	font-weight:bold;
}
p {
	line-height:1.4;
	font-size:100%;
}
img{
	border:none;
	outline:none;
}
a{
	text-decoration:none;
	color:#337ab7;
}
button, input, textarea{
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
	font-family:inherit;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
html, body{
	background:#fff;
	color:#000;
	line-height:1.4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:62.5%;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:transparent;
	-webkit-user-select:none;
	user-select:none;
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/*FONTS*/
@font-face {
	font-family:'FontAwesome';
	font-weight:400;
	font-style:normal;
	font-display:swap;
	src:local('FontAwesome'),
		url(../fonts/fontawesome-webfont.woff2) format('woff2');
}
.fa {
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
}
.fa-home:before {
    content:'\f015';
}
.fa-user:before {
    content:'\f007';
}
.fa-caret-left:before{
	content:'\f0d9';
}
.fa-caret-right:before{
	content:'\f0da';
}
.fa-caret-right.hide, .fa-caret-left.hide{
	opacity:0;
	visibility:hidden;
}

/*LAYOUT COMMON*/
.fs-page,
.fs-header,
.fs-footer,
.fs-container {
	position:relative;
	display:block;
	width:100%;
	height:auto;
}

.fs-header, .fs-container, .fs-footer {
	max-width:104rem;
	margin:0 auto;
}
.has-layout::after{
	content:'';
	position:relative;
	display:block;
	clear:both;
}
.hide-label{
	display:block;
	font-size:0;
	line-height:0;
}

.size-01{width:8.3333%}
.size-02{width:16.6666%}
.size-03{width:25%}
.size-04{width:33.3333%}
.size-05{width:41.6666%}
.size-06{width:50%}
.size-07{width:58.3333%}
.size-08{width:66.6666%}
.size-09{width:75%}
.size-10{width:83.3333%}
.size-11{width:91.6666%}
.size-12{width:100%}


/*Header*/
.main-menu{
	display:flex;
    width:100%;
    justify-content:space-between;
	background-color:#c00;
}
.main-menu > li {
	position:relative;
	padding:1.5rem 2rem;
	cursor:pointer;
}
.main-menu > li a{
	font-size:1.5rem;
	font-weight:bold;
	color:#fff;
}
.main-menu > li > a i{
	font-size:2.2rem;
}
.menu-lv2{
	position:absolute;
	left:0;
	top:100%;
	width:16rem;
	background-color:#fff;
	box-shadow:2px 6px 12px rgba(0,0,0,.175);
	display:none;
	z-index:10;
}
.menu-lv2 li{
	background-color:#f2f2f2;
	margin-bottom:1px;
	padding:0.7rem 1rem;
}
.menu-lv2 li:last-child{
	margin:0;
}
.menu-lv2 li a{
	color:#c00;
}


/*Footer*/
.ft-inr{
	padding:3rem 0 5rem 0;
	border-top:2px solid #c00;
	display:flex;
    width:100%;
    justify-content:space-between;
}
.ft-inr .col h3{
	font-size:1.7rem;
	margin-bottom:1rem;
}
.ft-inr .col li{
	margin-bottom:0.5rem;
}
.ft-inr .col a{
	background:url(../images/list-icon.png) no-repeat left center;
    font-size:1.5rem;
    background-size:1.3rem auto;
	padding:0 0 0 2rem;
	color:#000;
}




/*Container*/
.fs-page{
	overflow:hidden;
}
.fs-container{
	padding:3rem 0;
}
.section-chuky{
	width:100%;
	height:100vh;
	overflow:initial;
}
.section-chuky .fs-container {
	padding:8rem 0;
	width:auto;
	max-width:inherit;
}
.section-chuky .form-statistic{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:8rem;
	padding:2rem 2rem 0 2rem;
	background-color:#fff;
}
.section-chuky .form-inline{
	display:block;
	width:60rem;
}
.main-content{
	position:relative;
	float:left;
	width:66.6666%;
}
.side-content{
	position:relative;
	float:right;
	width:31.25%;
}
.full-size .main-content{
	width:100%;
}
.full-size .side-content{
	display:none;
}

/*Side content*/
.side-menu, .side-title, .side-detail{
	position:relative;
	width:100%;
	height:auto;
}
.side-menu{
	margin-bottom:1rem;
}
.side-title {
	padding:0.5rem 1.2rem;
	background-color:#e8e8e8;
	cursor:pointer;
}
.no-radius{
	-webkit-border-radius:0;
	border-radius:0;
}
.side-title h3{
	display:inline-block;
	padding:0.5rem;
	color:#900;
    font-weight:bold;
    font-size:1.8rem;
}
.side-detail, .level2 {
	padding:1.5rem;
	background-color:#e8e8e8;
	border-top:1px solid #fff;
	display:none;
}
.side-title.active + .side-detail,
.side-title.active + .level2{
	display:block;
}
.side-detail li, .level2 li{
	position:relative;
	display:block;
	margin-bottom:1px;
	padding:0.3rem 2rem;
}
.side-detail li a, .level2 li a{
	position:relative;
	display:inline-block;
	padding:0.3rem 0.5rem;
	font-size:1.5rem;
	color:#444;
}
.side-detail > ul > li > a::before{
	content:'';
	position:absolute;
	left:-1.5rem;
	top:1rem;
	width:6px;
	height:6px;
	background-color:#000;
}
.side-detail > ul > li ul li{
	padding:0 2rem;
}
.side-detail > ul > li ul a::before, .level2 li a::before{
	content:'-';
	position:absolute;
	top:0;
	left:-0.5rem;
}
.side-detail li a.current {
	color:#900;
}
.side-detail li a.current::before{
	background-color:#900;
}

.form-doveso{
	padding:1rem;
	border:1px solid #e8e8e8;
	border-top:none;
}
.form-group{
	margin-bottom:1rem;
}
.form-doveso label{
	display:block;
	font-size:1.5rem;
	color:#000;
	font-weight:700;
	margin-bottom:0.5rem;
}
.form-group .col{
	float:left;
	padding:0 0.5rem;
}
.form-group input {
	width:100%;
	height:4rem;
	padding:0 1.5rem;
	font-size:1.4rem;
	background-color:#fff;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
	border-radius:4px;
}
#datepicker{
	cursor:pointer;
}
.form-group input:focus{
	border:1px solid #5fc3b2;
}
.form-group .fs-but{
	display:block;
	width:100%;
	height:4rem;
	line-height:4rem;
	background-color:#c00;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-size:1.4rem;
	color:#fff;
	text-align:center;
	cursor:pointer;
}
.form-group button{
	width:100%;
	height:4rem;
	background-color:#c00;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-size:1.4rem;
	color:#fff;
	cursor:pointer;
}

.form-inline{
	margin:0 -0.5rem;
}


/*SELECT LIST*/
.fs-select{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	text-align:left;
	z-index:2;
}
.fs-select-header {
    position:relative;
    display:block;
    height:4rem;
    padding:0 1.5rem;
	line-height:3.8rem;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
    border-radius:4px;
	cursor:pointer;
	z-index:2;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.fs-select-header span {
	display:inline-block;
	vertical-align:middle;
	width:auto;
	line-height:1.4;
	max-width:100%;
	font-size:1.4rem;
	color:#313131;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.fs-select-box{
	position:absolute;
	top:100%;
	left:0;
	display:block;
	width:100%;
	min-width:140px;
	height:auto;
	margin:2px 0 0 0;
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}
.fs-select-box ul{
	position:relative;
	display:block;
	max-height:300px;
	background-color:#fff;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
}
.fs-select-box li {
	position:relative;
	display:block;
	font-size:1.3rem;
	color:#313131;
	margin-bottom:1px;
	border-bottom:1px solid#ccc;
	padding:1rem;
	cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.fs-select-box li:last-child{
	border:none;
}
.fs-select-box li.selected, .fs-select-box li:not(.selected):hover {
	color:#ff5450;
}
.fs-open-select .fs-select-box{
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s;
}
.fs-select-header::after{
	position:absolute;
	content:"";
	top:1.6rem;
	right:1rem;
	width:0;
	height:0;
	border:7px solid transparent;
	border-color:#ccc transparent transparent transparent;
}
.fs-open-select .fs-select-header {
	border-color:#5fc3b2;
}
.fs-open-select .fs-select-header::after {
	border-color:transparent transparent #ccc transparent;
	top:8px;
}


/*Radio*/
.radio-box {
	padding:1rem 0;
}
.radio-box li{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin-right:2rem;
}
.radio-box input[type="radio"], .radio-box label::before, .radio-box label::after{
	width:2rem;
	height:2rem;
}
.radio-box input[type="radio"], .radio-box label {
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
}
.radio-box label {
	margin-left:0.7rem;
	font-size:1.5rem;
	color:#000;
	font-weight:bold;
}
.radio-box label::before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	border:1px solid #e91c27;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.radio-box label::after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	background-color:#e91c27;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-transform:scale(0.6);
	transform:scale(0.6);
	opacity:0;
}
.radio-box input[type='radio']:checked + label::after{
	opacity:1;
}



/*Block Main*/
.block-main-content{
	width:100%;
	font-size:1.5rem;
}


/*Headings*/
.title {
	position:relative;
	background-color:#c00;
	height:4.4rem;
	line-height:4.4rem;
	box-shadow:-1.5rem -2.2rem 0px rgba(0,0,0,0.05) inset;
	overflow:hidden;
}
.title::after{
	content:'';
    position:absolute;
    right:-1.8rem;
    top:-3.6rem;
    width:4.4rem;
    height:8.8rem;
    background-color:#fff;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.title h1, .title h2{
	display:inline-block;
	vertical-align:middle;
	padding:0 2rem;
	color:#fff;
    font-size:1.8rem;
}


/*Flow Links*/
.flow-links{
	position:relative;
	left:-0.8rem;
	overflow:hidden;
}
.flow-links a, .flow-links span {
	float:left;
	color:#900;
    font-weight:bold;
	font-size:1.5rem;
}
.flow-links a{
	margin:0.8rem;
	text-decoration:underline;
}
.flow-links span {
	margin:0.8rem 0;
}
.flow-links a.current{
	color:#444;
	cursor:default;
	pointer-events:none;
}


/*Colors*/
.special-prize-lg{
	font-size:3.4rem;
	color:#f40819;
	font-weight:bold;
}
.number-black-bold{
	display:block;
	padding:0.5rem 0;
	font-size:2.8rem;
	color:#000;
	font-weight:bold;
}
.text-red, .color-red{
	color:#c00;
}
.text-blue{
	color:#1f10e2;
}
.color-blue{
	color:#00F;
}
.color-white{
	color:#fff;
}
.number-color{
	display:block;
	margin:0.5rem auto 0 auto;
	color:#f00;
}

.caumbchon{
	color:#00f;
}
.caumbresult{
	color:#f00;
}

/*Title*/
.block-title{
	padding:1rem 0;
	font-weight:bold;
	font-size:1.8rem;
}
.small-title {
	padding:1rem 0;
	font-size:1.5rem;
	text-transform:uppercase;
	font-style:normal;
}


/*Tab link*/
.tab-links ul{
	display:flex;
	flex-wrap:nowrap;
	align-items:center;
	justify-content:space-between;
	background-color:#f2f2f2;
}
.tab-links li{
	display:block;
	text-align:center;
	border-right:1px solid #ccc;
}
.tab-links li.active{
	background-color:#ccc;
}
.tab-links li:last-child{
	border:none;
}
.spr-03 li{
	width:33.3333%;
}
.tab-links li a{
	display:block;
	padding:1rem;
	color:#ed1c24;
	font-size:1.5rem;
	font-weight:bold;
}

/*Tables*/
.table{
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
	font-size:1.5rem;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;
	margin-bottom:2rem;
}
.table th, .table td{
	padding:1rem;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	line-height:1;
	vertical-align:middle;
}
.table th{
	background-color:#e8e8e8;
}


/*KQ-XKKT MN*/
.table-xsmn a{
	text-decoration:underline;
	color:#337ab7;
}
.table-xsmn th, .table-xsmn td{
	text-align:center;
}
.table-xsmn td span{
	display:block;
	font-size:3rem;
	font-weight:bold;
	margin:1rem 0;
}
.table-xsmn tbody tr:first-child td:nth-child(2),
.table-xsmn tbody tr:first-child td:nth-child(3),
.table-xsmn tbody tr:first-child td:nth-child(4),
.table-xsmn tbody tr:last-child td:nth-child(2),
.table-xsmn tbody tr:last-child td:nth-child(3),
.table-xsmn tbody tr:last-child td:nth-child(4){
	color:#f40819;
}

/*Loto*/
.table-loto th{
	color:#900;
}
.table-loto th, .table-loto td{
	padding:1rem 2rem;
	font-weight:bold;
	text-align:left;
}
.table-loto th:nth-child(1), .table-loto td:nth-child(1){
	padding:1rem;
	width:7rem;
	text-align:center;
}
.table-loto td:nth-child(2){
	font-size:1.7rem;
}


/*Thong Ke*/

/*Lan Xuat Hien*/
.table-lanxh th{
	color:#900;
}
.table-lanxh th, .table-lanxh td{
	text-align:center;
}


/*Gan Cuc Dai*/
.table-gancd th, .table-gancd td{
	padding:0.7rem;
	text-align:center;
}
.table-gancd tr:first-child td{
	color:#900;
	font-weight:bold;
}
.table-gancd tr:last-child td{
	border-bottom:none;
}


/*Lo Xien*/
.table-loxien th{
	color:#900;
}
.table-loxien th:nth-child(1), .table-loxien td:nth-child(1){
	width:13.2rem;
}
.table-loxien td:nth-child(1){
	text-align:center;
}
.table-loxien th:nth-child(2){
	padding-left:3.4rem;
	text-align:left;
}
.table-loxien td:nth-child(2){
	text-align:right;
}


/*Lo Kep*/
.table-lokep th{
	color:#900;
}
.table-lokep th:nth-child(1), .table-lokep td:nth-child(1){
	width:8.2rem;
}
.table-lokep td:nth-child(1){
	text-align:center;
}
.table-lokep th:nth-child(2){
	padding-left:2.4rem;
	text-align:left;
}
.table-lokep td:nth-child(2){
	text-align:right;
}


/*Lo Dau*/
.table-lodau th{
	color:#00f;
}
.table-lodau th:first-child{
	color:#900;
}
.table-lodau th, .table-lodau td{
	text-align:center;
}

/*Lo Duoi*/
.table-loduoi th{
	color:#00f;
}
.table-loduoi th:first-child{
	color:#900;
}
.table-loduoi th, .table-loduoi td{
	text-align:center;
}

/*Lo Duoi*/
.table-tkgdb th {
	color:#900;
}
.table-tkgdb th, .table-tkgdb td{
	text-align:center;
}
.table-tkgdb td:nth-child(even){
	font-weight:bold;
	font-size:2.2rem;
}


/* Thong ke giai dac biet theo tuan*/
.table-week th, .table-week td{
	text-align:center;
	font-weight:bold;
}
.table-week th, .table-week tr:nth-child(1) td, .table-week td:nth-child(1){
	padding:1rem;
	color:#c00;
	background-color:#fff;
	font-size:1.5rem;
}
.table-week th:nth-child(2){
	background-color:#c00;
	color:#fff;
}
.table-week tr:nth-child(1) td:nth-child(1){
	background-color:#c00;
	color:#fff;
}
.table-week td{
	position:relative;
	padding:2.5rem 1.5rem;
	background-color:#999;
	font-size:2rem;
}
.number-week{
	position:absolute;
    left:0.5rem;
    top:0.5rem;
    width:1.8rem;
    height:1.8rem;
    line-height:1.8rem;
    text-align:center;
    background-color:#fff;
    font-size:1.1rem;
    -webkit-border-radius:50%;
    border-radius:50%;
}
.contentmonthtk, .buttonpreviousnext{
	display:inline-block;
	vertical-align:middle;
	font-weight:bold;
}
.buttonpreviousnext {
	width:2rem;
	font-size:2rem;
	color:#fff;
}
.contentmonthtk{
	width:8rem;
	text-align:center;
}



/*Thong ke giai dac biet theo thang*/
.table-month th, .table-month td{
	text-align:center;
	font-weight:bold;
}
.table-month tr:nth-child(1) td, .table-month td:nth-child(1){
	padding:1rem;
	color:#c00;
	background-color:#fff;
	font-size:1.5rem;
}
.table-month th {
	background-color:#c00;
	color:#fff;
}
.table-month tr:nth-child(1) td:nth-child(1){
	background-color:#c00;
	color:#fff;
}
.table-month td{
	position:relative;
	background-color:#999;
	font-size:2rem;
}


/*Thong ke tansuat*/
.table-tansuat th{
	color:#900;
}
.table-tansuat th, .table-tansuat td{
	text-align:center;
}
.table-tansuat.spr-06 td:nth-child(odd){
	color:#1f10e2;
}
.table-tansuat.spr-03 td{
	vertical-align:top;
	width:33.3333%;
	text-align:left;
}


/*Thong ke 00-99*/
.table-chart th{
	padding:1rem 0;
}
.table-chart th, .table-chart td{
	font-weight:bold;
}
.table-chart td:nth-child(1){
	width:8.33333333%;
	text-align:center;
}
.table-chart td:nth-child(2){
	width:58.33333333%;
}
.table-chart td:nth-child(3), .table-chart td:nth-child(4){
	width:16.6666%;
}
.table-chart td:nth-child(1), .table-chart td:nth-child(2), .table-chart td:nth-child(3){
	border-right:none;
}
.progress{
	height:20px;
    background-color:#f5f5f5;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar{
	background-color:#c00;
	float:left;
    width:0;
    height:100%;
    -webkit-transition:width 0.4s linear;
	transition:width 0.4s linear;
}


/*Thong ke chu ky*/
.table-chuky th, .table-chuky td{
	text-align:center;
}
.table-chuky td{
	font-weight:bold;
}
.table-chuky tr:first-child td, .table-chuky td:first-child,
.table-chuky tr:last-child td, .table-chuky td:last-child{
	font-weight:normal;
}


.block-online{
	position:relative;
	width:100%;
	height:495px;
	overflow:hidden;
	margin-bottom:3rem;
}
.block-online::before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:5rem;
	z-index:10;
}
.block-online iframe{
	position:relative;
	top:-133px;
}


/*Cau Bach Thu*/
.link-default{
	position:relative;
	left:-0.5rem;
	display:inline-block;
	padding:0.5rem;
	font-size:1.5rem;
	text-decoration:underline;
}

.table-xsmb th, .table-xsmb td{
	text-align:center;
}
.table-xsmb th:nth-child(1), .table-xsmb td:nth-child(1){
	width:7rem;
}
.table-xsmb td span{
	display:inline-block;
	margin:0.5rem -0.5rem;
	font-size:3rem;
}

.ul-horizontal{
	overflow: hidden;
	margin-bottom:1.8rem;
}
.ul-horizontal li{
	float:left;
	margin:0 0 1.2rem 1.2rem;
	font-size:1.7rem;
	color:#c00;
	font-weight:bold;
	cursor:pointer;
}

.brief {
	line-height:1.6;
	margin-bottom:3rem;
}


@media screen and (min-width:1101px) {
	.main-menu > li:hover, .menu-lv2 li:hover{
		background-color:#900;
	}
	.main-menu > li:hover .menu-lv2{
		display:block;
	}
	.menu-lv2 li:hover a{
		color:#fff;
	}

	.side-detail li a:hover, .level2 li a:hover{
		color:#900;
	}
	.side-detail > ul > li > a:hover::before {
		background-color:#900;
	}
	.level2 li a:hover::before{
		color:#900;
	}
}




/*Clock*/
.clock-box{
    position:relative;
	width:100%;
	margin:0 auto 4.5rem 0;
	text-align:center;
	font-size:0;
}
.clock-title, .clock-inr{
	display:inline-block;
	vertical-align:middle;
}
.clock-title{
	font-size:3.4rem;
	color:#000;
}
.clock-inr{
	width:34rem;
	margin:0 0.5rem 0 1rem;
}
.flip-clock-wrapper * {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}
.flip-clock-wrapper a {
  cursor:pointer;
  text-decoration:none;
  color:#ccc;
}
.flip-clock-wrapper a:hover {
  color:#fff;
}
.flip-clock-wrapper ul {
  list-style:none;
}
.flip-clock-wrapper {
  -webkit-user-select:none;
}
.flip-clock-wrapper {
  text-align:center;
  position:relative;
  width:100%;
  margin:0;
}
.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content:" ";
    display:table;
}
.flip-clock-wrapper:after {
    clear:both;
}
.flip-clock-wrapper ul {
  position:relative;
  float:left;
  margin:3px;
  -webkit-border-radius:6px;
  border-radius:6px;
  background:#000;
}
.flip-clock-wrapper ul li {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
}
.flip-clock-wrapper ul li a div {
  position:absolute;
  left:0;
  width:100%;
  height:50%;
  overflow:hidden;
  z-index:1;
}
.flip-clock-wrapper ul li a div .shadow {
  position:absolute;
  width:100%;
  height:100%;
  z-index:2;
}
.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin:50% 100%;
  transform-origin:50% 100%;
  top:0;
}
.flip-clock-wrapper ul li a div.up:after {
  /* content:"";
  position:absolute;
  top:28px;
  left:0;
  z-index:5;
  width:100%;
  height:2px;
  background-color:#000; */
}
.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin:50% 0;
  transform-origin:50% 0;
  bottom:0;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.flip-clock-wrapper ul li a div div.inn {
  position:absolute;
  left:0;
  z-index:1;
  width:100%;
  height:200%;
  color:#fff;
  text-shadow:0 1px 2px #000;
  text-align:center;
  background-color:#333;
 -webkit-border-radius:6px; 
  border-radius:6px;
}
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-wrapper ul li a div.down {
  font-size:100px;
}
.flip-clock-wrapper ul li a div.up div.inn {
  top:0;
  color:#c0c1c4;
}
.flip-clock-wrapper ul li a div.down div.inn {
  bottom:0;
}
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index:3; 
}
.flip-clock-wrapper .flip {
  box-shadow:0 0 2px 1px rgba(0, 0, 0, 1);
}

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation:asd 0.01s 0.49s linear both;
  animation:asd 0.01s 0.49s linear both;
  z-index:5;
}
.flip-clock-dot {
    position:relative;
    display:block;
    margin:0 auto;
    background:#000;
    width:1rem;
    height:1rem;
    -webkit-border-radius:50%;
	border-radius:50%;
}
.flip-clock-dot.top{
    top:1rem;
}
.flip-clock-dot.bottom{
    top:1.8rem;
}
.flip-clock-wrapper{
  margin:0;
}
.flip-clock-wrapper ul{
  width:4rem;
  height:4rem;
}
.flip-clock-wrapper ul,
.flip-clock-wrapper ul li,
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-wrapper ul li a div.down{
  line-height:4rem;
}
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-wrapper ul li a div.down{
  font-size:3.6rem;
  font-weight:bold;
}
.flip-clock-divider{
  float:left;
  width:3rem;
}
.flip-clock-divider .flip-clock-label {
  position:absolute;
  top:4.8rem;
  font-size:1.4rem;
  color:#000;
}
.hours .flip-clock-label{
    left:3.2rem;
}
.minutes .flip-clock-label{
    left:15.4rem;
}
.seconds .flip-clock-label{
    left:27.5rem;
}

@-webkit-keyframes asd {
  0% {
    z-index:2; 
  }
  100% {
    z-index:4; 
  }
}
@keyframes asd {
  0% {
    z-index:2; 
  }
  100% {
    z-index:4; 
  } 
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index:2;
  -webkit-animation:turn 0.5s 0.5s linear both;
  animation:turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform:rotateX(90deg); 
  }
  100% {
    -webkit-transform:rotateX(0deg); 
  }
}
@keyframes turn {
  0% {
    transform:rotateX(90deg); 
  }
  100% {
    transform:rotateX(0deg); 
  }
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index:2;
  -webkit-animation:turn2 0.5s linear both;
  animation:turn2 0.5s linear both; 
}

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform:rotateX(0deg); 
  }
  100% {
    -webkit-transform:rotateX(-90deg); 
  } 
}
@keyframes turn2 {
  0% {
    transform:rotateX(0deg); 
  }
  100% {
    transform:rotateX(-90deg); 
  } 
}
.flip-clock-wrapper ul li.flip-clock-active {
  z-index:3; 
}

.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background:linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation:show 0.5s linear both;
  animation:show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background:linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation:hide 0.5s 0.3s linear both;
  animation:hide 0.5s 0.3s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background:linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation:show 0.5s linear both;
  animation:show 0.5s linear both;
}
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background:linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation:hide 0.5s 0.3s linear both;
  animation:hide 0.5s 0.2s linear both;
}
@-webkit-keyframes show {
  0% {
    opacity:0; 
  }
  100% {
    opacity:1;
   } 
}
@keyframes show {
  0% {
    opacity:0; 
  }
  100% {
    opacity:1; 
  } 
}
@-webkit-keyframes hide {
  0% {
    opacity:1; 
  }
  100% {
    opacity:0; 
  } 
}
@keyframes hide {
  0% {
    opacity:1; 
  }
  100% {
    opacity:0; 
  }
}




@media screen and (max-width:350px) {
	/*LAYOUT COMMON*/
}