@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
h1, h2, h3, h4, h5, h6 {
	line-height:1.2;
	font-size:100%;
}
p {
	line-height:1.4;
	font-size:100%;
}
img{
	border:none;
	outline:none;
}
a{
	text-decoration:none;
	color:#000;
}
button, input, textarea{
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
	font-family:inherit;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
html, body{
	background:#fff;
	color:#000;
	line-height:1.4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:62.5%;
	/* -webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:transparent;
	-webkit-user-select:none;
	user-select:none; */
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/*FONTS*/
@font-face {
	font-family:'FontAwesome';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src:local('FontAwesome'),
		url(../fonts/fontawesome-webfont.woff2) format('woff2');

}
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-home:before {
    content:'\f015';
}
.fa-user:before {
    content:'\f007';
}

.has-layout::after{
	content:'';
	position:relative;
	display:block;
	clear:both;
}

/*LAYOUT COMMON*/
.fs-page,
.fs-header,
.fs-footer,
.fs-container {
	position:relative;
	display:block;
	width:100%;
	height:auto;
}

.fs-header, .fs-container, .fs-footer {
	max-width:104rem;
	margin:0 auto;
}

/*Header*/
.main-menu{
	display:flex;
    width:100%;
    justify-content:space-between;
	background-color: #c00;
}
.main-menu > li {
	position:relative;
	padding:1.5rem 2rem;
	cursor:pointer;
}
.main-menu > li a{
	font-size:1.5rem;
	font-weight:bold;
	color:#fff;
}
.main-menu > li > a i{
	font-size:2.2rem;
}
.menu-lv2{
	position:absolute;
	left:0;
	top:100%;
	width:16rem;
	background-color:#fff;
	box-shadow:2px 6px 12px rgba(0,0,0,.175);
	display:none;
	z-index:10;
}
.menu-lv2 li{
	background-color:#f2f2f2;
	margin-bottom:1px;
	padding:0.7rem 1rem;
}
.menu-lv2 li:last-child{
	margin:0;
}
.menu-lv2 li a{
	color:#c00;
}


/*Footer*/
.ft-inr{
	padding:3rem 0 5rem 0;
	border-top:2px solid #c00;
	display:flex;
    width:100%;
    justify-content:space-between;
}
.ft-inr .col h3{
	font-size:1.7rem;
	margin-bottom:1rem;
}
.ft-inr .col li{
	margin-bottom:0.5rem;
}
.ft-inr .col a{
	background: url(../images/list-icon.png) no-repeat left center;
    font-size: 1.5rem;
    background-size: 1.3rem auto;
    padding: 0 0 0 2rem;
}




/*Container*/
.fs-container{
	padding:3rem 0;
}
.main-content{
	float:left;
	width:66.6666%;
}
.side-content{
	float:right;
	width:31.25%;
}

.item-menu, .title-item, .content-item{
	position:relative;
	width:100%;
	height:auto;
}
.item-menu{
	margin-bottom:1rem;
}
.title-item {
	padding:0.5rem 2.5rem;
	background-color:#e8e8e8;
	-webkit-border-radius:1.5rem;
	border-radius:1.5rem;
	cursor:pointer;
}
.title-item.active{
	-webkit-border-radius:1.5rem 1.5rem 0 0;
	border-radius:1.5rem 1.5rem 0 0;
}
.title-item h3{
	display:inline-block;
	padding:0.5rem;
	color: #900;
    font-weight:bold;
    font-size:1.8rem;
}
.content-item, .level2 {
	padding:1.5rem;
	background-color:#e8e8e8;
	border-top:1px solid #fff;
	-webkit-border-radius:0 0 1.5rem 1.5rem;
	border-radius:0 0 1.5rem 1.5rem;
	display:none;
}
.title-item.active + .content-item,
.title-item.active + .level2{
	display:block;
}
.content-item li, .level2 li{
	position:relative;
	display:block;
	margin-bottom:1px;
	padding:0.3rem 2rem;
}
.content-item li a, .level2 li a{
	position:relative;
	display:inline-block;
	padding:0.3rem 0.5rem;
	font-size:1.5rem;
	color:#444;
}
.content-item > ul > li > a::before{
	content:'';
	position:absolute;
	left:-1.5rem;
	top:1rem;
	width:6px;
	height:6px;
	background-color:#000;
}
.content-item > ul > li ul li{
	padding:0 2rem;
}
.content-item > ul > li ul a::before, .level2 li a::before{
	content:'-';
	position:absolute;
	top:0;
	left:-0.5rem;
}



@media screen and (min-width:1101px) {
	.main-menu > li:hover, .menu-lv2 li:hover{
		background-color:#900;
	}
	.main-menu > li:hover .menu-lv2{
		display:block;
	}
	.menu-lv2 li:hover a{
		color:#fff;
	}

	.content-item li a:hover, .level2 li a:hover{
		color:#900;
	}
	.content-item > ul > li > a:hover::before {
		background-color:#900;
	}
	.level2 li a:hover::before{
		color:#900;
	}
}


@media screen and (max-width:350px) {
	/*LAYOUT COMMON*/
}