/* Fixed menu */
.is-fixed .fs-container.is-game{
	padding-top: 115px;
}
/* Erorr */
.fs-error-txt{
	margin-bottom: 0;
}
.fs-error-txt p{
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	font-size: 0.8vw;
}
/* KV */
.is-kv{
	position: relative;
	display: block;
}
.is-kv .fs-section-inr{
	position: relative;
	display: block;
}
.fs-img-kv{
	position: relative;
	display: block;
	width: 52.96%;
	float: right;
	margin-right: 7.5%;
	padding: 1.95vw 0;
}
.fs-brief-kv .fs-box-but p{
	font-size: 1.041vw;
	font-family:'Montserrat';
	font-weight:700;
	font-style:normal;
	margin-bottom: 1.19vw;
}
.fs-brief-kv{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 4.89%;
	width: 31%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.fs-brief-kv .fs-area-pic{
	margin-bottom: 1.9vw;
}
.fs-brief-kv .fs-area-txt{
	margin-bottom: 5.9vw;
}
.fs-brief-kv .fs-area-txt p{
    font-family: 'Montserrat';
    font-weight: 500;
	font-style: normal;
	font-size: 1vw;
}
.fs-brief-kv .fs-area-txt p span{
	font-family: 'Montserrat';
    font-weight: bold;
	font-style: normal;
}

/* Product */
.is-product{
	position: relative;
	display: block;
	background-color: #000;
}
.is-product .fs-section-inr{
	position: relative;
	display: block;
	padding: 14.95% 4.98% 3.38% 4.98%;
}
.fs-main-product{
	margin-top: -3%;
}
.fs-main-product, .fs-buy-joy{
	position: relative;
	display: block;
	float: left;
	width: 50%;
}
.fs-main-product .fs-area-pic{
	text-align: center;
}
.fs-main-product .fs-area-pic img{
		position: absolute;
		right: 0;
    top: 0;
    height: 33.3vw;
    width: auto;
    opacity: 0;
}
.fs-main-product .fs-area-pic img.active{
	position: relative;
    opacity: 1;
}
.fs-color-box{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 2.39vw;
}
.fs-color-box li{
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-size: 0.885vw;
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	color: #fff;
	margin: 0 3%;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.fs-color-box li.active{
	opacity: 1;
}
.fs-color-box li::before{
	content: '';
    position: relative;
    display: inline-block;
    left: 0;
    top: 0.3vw;
    width: 1.3vw;
	height: 1.3vw;
	border: 2px solid #fff;
    background-color: #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 0.781vw 0 0;
}
.fs-brief-product{
	position: relative;
	display: block;
	text-align: center;
}
.fs-brief-product p{
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	color: #fff;
}
.fs-brief-product p span{
	font-family: 'Montserrat';
	font-weight: bold;
	font-style: normal;
}
.fs-brief-product p:first-child{
	font-size: 1.302vw;
	margin-bottom: 0.2vw;
}
.fs-brief-product p:last-child{
	font-size: 1.041vw;
}
.fs-buy-joy{
	text-align: center;
}
.fs-buy-joy .fs-title h2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    font-size: 3.489vw;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1vw;
}
.fs-buy-joy .fs-title{
	position: relative;
	display: block;
	margin-bottom: 3.125vw;
}
.fs-buy-joy .fs-title p{
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	font-size: 1.041vw;
	color: #fff;
	padding: 0 3.5vw;
}
.fs-buy-joy .fs-title p span{
	font-family: 'Montserrat';
	font-weight: bold;
	font-style: normal;
}
.fs-discount{
	position: relative;
	display: block;
	margin-bottom: 5vw;
}
.fs-discount ul{
	position: relative;
	display: block;
}
.fs-discount ul li{
	position: relative;
	display: inline-block;
}
.fs-discount ul li:nth-child(2){
	margin: auto 4vw 0 2.7vw;
}

.fs-discount ul li span{
	position: relative;
	display: block;
	font-size: 1.041vw;
	color: #fff;
	font-family: 'Montserrat';
	font-weight: bold;
	font-style: normal;
}

.fs-discount ul li span.fs-price{
	position: relative;
	font-size: 2.86vw;
	color: #fff;
	text-shadow: 0 0 0.5em #263197, 0 0 0.5em #263197, 0 0 0.5em #263197;
}
.fs-discount span.fs-arrow{
	position: absolute;
    display: inline-block;
}
.fs-discount span.fs-arrow img{
	width: 100%;
}
span.arrow-up{
	left: -2.5vw;
    top: 0.35vw;
    width: 1.822vw;
}
span.arrow-down{
    left: -2.5vw;
    top: 0.35vw;
    width: 1.822vw;
}
.fs-discount .fs-title-discount{
	margin-bottom: 1.041vw;
	text-align: left;
}

.fs-discount ul li span.fs-price sub{
	font-size: 60%;
}
.fs-btn-condition, .fs-share-text{
	position: relative;
	display: block;
}
.fs-buy-joy .fs-btn{
	border: 2px solid #fff;
}
.fs-buy-joy .fs-btn span{
	color: #fff;
}
.fs-buy-joy .fs-box-but{
	margin-bottom: 5.72vw;
}
.fs-btn-condition p{
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-top: 1.5vw;
	font-size: 1.04vw;
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	color: #e6e6e6;
	text-decoration: underline;

}
.fs-share-text p{
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-size: 1.04vw;
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	color: #fff;
}
.fs-share-text p::before{
    content: '';
    position: absolute;
    display: inline-block;
    left: -2.2vw;
    top: -0.6vw;
    width: 1.66vw;
    height: 1.66vw;
    background: url(../images/icon-share.png) no-repeat;
    background-size: contain;
    background-position: center center;
}
.fs-form-box {
	position: absolute;
	display: inline-block;
	top: 27.2%;
	left: 9.2%;
	width: 36.35%;
	background-color: rgba(0, 0, 0, 0.9);
	border: 1px solid #ffffff;
	box-shadow: 0 -1px 0 #f4f8ff, 0 1px 0 #b6c8f9, -1px 0 0 #f1f6ff, 
	1px 0 0 #e2e9fc, 0 -1px 0 #dde6fb inset, 0 1px 0 #ced8f5 inset, -1px 0 0 #97aef2 inset, 
	1px 0 0 #9fafeb inset, 0 -2px 0 #838fc8 inset, 0 2px 0 #717cbb inset, -2px 0 0 #5364bd inset, 
	2px 0 0 #4358ae inset, 0 0 30px 0 #4458a0 inset, 0 0 30px 0 #4458a0;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}
.fs-form-box.active{
	opacity: 1;
	visibility: visible;
}
.fs-close-form {
	position: absolute;
	width:2.65vw;
	height:2.65vw;
    right: 1.5vw;
    top: 1.5vw;
	background:url(../images/close.png) no-repeat center center;
	background-size:cover;
	cursor:pointer;
	z-index:1;
	font-size:0;
	-webkit-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.fs-close-form:hover {
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.fs-caption{
	font-size: 0.9375vw;
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	color: #fff;
	margin-bottom: 0;
}
.fs-form .fs-box-but{
	text-align: center
}
.fs-form .fs-box-but .fs-btn{
	border: 2px solid #fff;
}
.fs-form .fs-box-but .fs-btn span{
	color: #fff
}
.fs-form-box .fs-form {
	position: relative;
    display: block;
    padding: 5.2vw 10% 2% 10%;
}

/* Guess Price */
.is-guess{
	position: relative;
	display: block;
}
.is-guess .fs-section-inr{
	position: relative;
	display: block;
}
.is-guess .fs-title{
	position: absolute;
	display: block;
	width: 71.14%;
	top: 15.625vw;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}
.is-guess .fs-title h2{
	position: relative;
	display: block;
	width: 36vw;
	margin-bottom: 0.5vw;
	margin: 0 auto;
}
.is-guess .fs-title h2 img{
	width: 100%;

}
.is-guess .fs-title p{
	font-family:'Montserrat';
	font-weight:500;
	font-style:normal;
	color: #fff;
	font-size: 1.14vw;
}
.is-guess .fs-title p span{
	font-family: 'Montserrat';
	font-weight: bold;
	font-style: normal;
}
.fs-cnt-guess{
	position: relative;
	display: block;
	width: 71.14%;
	margin: 0 auto;
	padding: 30.46vw 0 3.2vw 0;
}
.fs-cnt-guess .fs-guess-price{
	position: absolute;
	display: inline-block;
	width: 21vw;
	top: 30.8vw;
	right: 6.927vw;
}
.fs-cnt-guess .fs-form{
	position: relative;
	display: block;
	width: 31.25vw;
	float: left;
	margin-left: 5vw;
}
.fs-form .fs-btn-condition p{
	margin-top: 0;
	padding-left: 3%;
}
.fs-guess-price{
	text-align: center;
}
.fs-form-guess .fs-caption{
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 0.88vw;
}
.fs-form-guess label{
		position: relative;
    display: inline-block;
		vertical-align: middle;
		margin-left: 8.8vw;
		width: 70%;
}
.fs-form-guess .fs-group input[type='text'], .fs-form-guess .fs-group input[type='password'],.fs-form-guess .fs-group input[type='color'], .fs-form-guess .fs-group textarea{
	border-bottom: none;
}
.fs-form-guess .fs-group{
	margin-bottom: 1.55vw;
}
.fs-form-guess .fs-group:nth-child(4)::before{
	display: none;
}
.fs-form-guess .fs-group::before{
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 100%;
	width: 100%;
	height: 2px;
	background: #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	opacity: 0.5;
}
.fs-form-guess .fs-group:last-child::before{
	display: none;
}
.fs-cnt-guess .fs-form .fs-group:last-child{
	margin-bottom: 0;
}
.input-guess-price{
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	font-size: 2.9vw;
	font-family: 'Montserrat';
	font-weight: bold;
	font-style: normal;
	color: #fff;
	opacity: 0.2;
	cursor: pointer;
	display: none;
}
.show .input-guess-price{
	display: block;
}
.input-guess-price sup{
	font-size: 60%;
    vertical-align: top;
    margin-left: -0.6vw;
}
.fs-pop-guess{
	position: absolute;
    display: block;
    width: 67.395%;
    height: auto;
    top: 52%;
    left: 19%;
    border: 1px solid #ffffff;
    box-shadow: 0 -1px 0 #f4f8ff, 0 1px 0 #b6c8f9, -1px 0 0 #f1f6ff, 1px 0 0 #e2e9fc, 0 -1px 0 #dde6fb inset, 0 1px 0 #ced8f5 inset, -1px 0 0 #97aef2 inset, 1px 0 0 #9fafeb inset, 0 -2px 0 #838fc8 inset, 0 2px 0 #717cbb inset, -2px 0 0 #5364bd inset, 2px 0 0 #4358ae inset, 0 0 30px 0 #4458a0 inset, 0 0 30px 0 #4458a0;
    -webkit-border-radius: 40px;
    border-radius: 40px;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 2;
}
.fs-pop-guess.active{
	opacity: 1;
	visibility: visible;
}
.pop-guess-inr {
	position: relative;
	display: block;
	text-align: center;
	padding: 6.458vw;
}
.pop-guess-inr .fs-area-txt p{
	font-size: 1.71875vw;
	color: #fff;
}
.pop-guess-inr .fs-area-txt p:first-child{
	font-family: 'Montserrat';
	font-weight: bold;
	font-style: normal;
}
.pop-guess-inr .fs-area-txt p:last-child{
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
}
.fs-item-pattern{
	position: absolute;
    height: auto;
}
.fs-item-pattern img{
	width: 100%;
}
.fs-pattern .fs-item-pattern:nth-child(1){
    width: 19.613%;
    top: -31%;
    left: -9%;
    z-index: 2;
}
.fs-pattern .fs-item-pattern:nth-child(2){
	width: 17.68%;
    top: -23%;
    left: -22%;
    z-index: 1;
}


/* List Customer */
.is-customer{
	position: relative;
	display: block;
}
.is-customer .fs-section-inr{
	position: relative;
	display: block;
}
.is-customer .fs-section-inr::before{
	content: '';
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding-top: 64%;
}
.is-customer .fs-title{
	position: absolute;
	display: block;
	top: 18%;
	left: 0;
	width: 100%;
	text-align: center;
}
.is-customer .fs-title h2{
	position: relative;
	display: block;
	font-size: 3.4375vw;
	font-family: 'Montserrat';
	font-weight: bold;
	font-style: normal;
	color: #fff;
	text-transform: uppercase;
}
.fs-customer-result{
	position: absolute;
	top: 36%;
	left: 50%;
	width: 71%;
	height: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: 0 5%;
}
.fs-customer-items{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.fs-customer-items ul{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0.3vw 2vw 0.3vw 0;
}
.fs-customer-items ul::after {
	content: '';
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}
.fs-customer-items li{
	position: relative;
	display: block;
	float: left;
	width: 33.3333%;
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	font-size: 1.04vw;
	color: #fff;
	word-break: break-all;
}
.fs-customer-items li:last-child {
	text-align: right;
}

/* Section mobile clock */
.is-clock-mobile{
	position: relative;
	background-color: #000;
}
.is-clock-mobile .fs-section-inr{
	position: relative;
	display: block;
	padding: 7vw 7.5vw 15vw;
}

/* Comment */
.is-comment{
	position: relative;
	display: block;
}
.is-comment .fs-section-inr{
	position: relative;
	display: block;
	padding: 0 14.5%;
}
.fs-comment-box{
	position: relative;
	display: block;
}




  


/*Clock*/
.fs-clock-box{
    position:fixed;
    width:90px;
	height:100vh;
	right: 0;
	top:0;
    margin:0 auto;
	background-color: #000;
    z-index:10;
    text-align:center;
}
.fs-clock-inr{
  position:absolute;
  width:72px;
  height:auto;
  left:9px;
  top:50%;
  margin-top:-40px;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
}

.fs-clock-top,
.fs-clock-bot {
  position:relative;
  display:block;
  top:-10px;
}
.fs-clock-top p,
.fs-clock-bot p {
  	font-size:14px;
    color:#fff;
	text-transform:uppercase;
	font-family:'Montserrat';
	font-weight:500;
	font-style:normal;
}
.fs-clock-top p span,
.fs-clock-bot p span{
  font-size:58.8%;
  display:block;
}
/* Reset */
.flip-clock-wrapper * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
}

.flip-clock-wrapper a {
  cursor:pointer;
  text-decoration:none;
  color:#ccc;
}

.flip-clock-wrapper a:hover {
  color:#fff;
}

.flip-clock-wrapper ul {
  list-style:none;
}

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content:" ";
  display:table;
}

.flip-clock-wrapper.clearfix:after {
  clear:both;
}

.flip-clock-wrapper.clearfix {
  *zoom:1;
}

/* Main */
.flip-clock-wrapper {
  font:normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select:none;
}

.flip-clock-meridium {
  background:none !important;
  box-shadow:0 0 0 !important;
  font-size:36px !important;
}

.flip-clock-meridium a { color:#313333; }

.flip-clock-wrapper {
  text-align:center;
  position:relative;
  width:100%;
  margin:0;
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content:" ";
    display:table;
}
.flip-clock-wrapper:after {
    clear:both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position:relative;
  float:left;
  margin:3px;
  width:34px;
  height:50px;
  border-radius:6px;
  background:#000;
}
.flip-clock-wrapper ul li {
  z-index:1;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
.flip-clock-wrapper ul li:first-child {
  z-index:2;
}
.flip-clock-wrapper ul li a {
  display:block;
  height:100%;
  -webkit-perspective:200px;
  -moz-perspective:200px;
  perspective:200px;
  margin:0 !important;
  overflow:visible !important;
  cursor:default !important;
}
.flip-clock-wrapper ul li a div {
  z-index:1;
  position:absolute;
  left:0;
  width:100%;
  height:50%;
  overflow:hidden;
  outline:1px solid transparent;
}
.flip-clock-wrapper ul li a div .shadow {
  position:absolute;
  width:100%;
  height:100%;
  z-index:2;
}
.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin:50% 100%;
  -moz-transform-origin:50% 100%;
  -ms-transform-origin:50% 100%;
  -o-transform-origin:50% 100%;
  transform-origin:50% 100%;
  top:0;
}
.flip-clock-wrapper ul li a div.up:after {
  content:"";
  position:absolute;
  top:44px;
  left:0;
  z-index:5;
  width:100%;
  height:3px;
  background-color:#000;
  background-color:rgba(0, 0, 0, 0.4);
}

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin:50% 0;
  -moz-transform-origin:50% 0;
  -ms-transform-origin:50% 0;
  -o-transform-origin:50% 0;
  transform-origin:50% 0;
  bottom:0;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.flip-clock-wrapper ul li a div div.inn {
  position:absolute;
  left:0;
  z-index:1;
  width:100%;
  height:200%;
  color:#ccc;
  text-shadow:0 1px 2px #000;
  text-align:center;
  background-color:#333;
  border-radius:6px;
}
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-wrapper ul li a div.down {
  font-size:70px;
}
.flip-clock-wrapper ul li a div.up div.inn {
  top:0;
}

.flip-clock-wrapper ul li a div.down div.inn {
  bottom:0;
}

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index:3; }

.flip-clock-wrapper .flip {
  box-shadow:0 0 2px 1px rgba(0, 0, 0, 1);
}

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation:asd 0.01s 0.49s linear both;
  -moz-animation:asd 0.01s 0.49s linear both;
  animation:asd 0.01s 0.49s linear both;
  z-index:5;
}

.flip-clock-dot {
  display:block;
  background:#323434;
  width:10px;
  height:10px;
  position:absolute;
  border-radius:50%;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
  left:5px;
}

.flip-clock-wrapper{
  margin:0;
}
.flip-clock-wrapper ul{
  width:30px;
  height:50px;
  margin-bottom:50px;
}
.flip-clock-wrapper ul,
.flip-clock-wrapper ul li,
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-wrapper ul li a div.down{
  line-height:47px;
}
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-wrapper ul li a div.down{
  font-size:40px;
}
.flip-clock-wrapper ul li a div.up:after{
  top:24px;
}
.flip-clock-divider{
  position:relative;
  display:block;
  width:100%;
  height:0;
  text-align:center;
  clear:both;
}
.flip-clock-divider .flip-clock-label {
  position:absolute;
  width:100%;
  height:auto;
  left:0;
  top:62px;
  font-family:'Montserrat';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#fff;
  text-transform:uppercase;
}
.flip-clock-dot.top, .flip-clock-dot.bottom {
  display:none;
}

  .nicescroll-cursors{
	box-shadow:0px -1px 15px #232c87, -7px 0px 10px #20287a, 3px 0px 7px #232c87;
  }

  /* popup TnC */
  /*Popup Condition*/
.fs-overlay-condition {
	position:fixed;
	left:0;
  top:0;
  display:block;
	width:100vw;
  height:100vh;
	background-color:rgba(0,0,0,0.9);
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  color:#000;
  text-align:center;
  overflow:hidden;
  overflow-y:auto;
  z-index:999;
}
.fs-overlay-condition::before, .fs-overlay-condition::after{
  content:'';
  position:relative;
  display:inline-block;
  width:0;
  height:100%;
  vertical-align:middle;
}
.fs-overlay-condition.active {
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}
.fs-overlay-inr-condition {
	position:relative;
	display:inline-block;
  width:90%;
  height:auto;
  min-height:100vh;
  max-width:960px;
  vertical-align:middle;
  background-color:#fff;
  padding:5% 5% 10%;
}
.fs-close-overlay-condition{
    position: fixed;
    top: 1%;
    right: 2.5%;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    z-index: 1;
}
.fs-close-overlay-condition::before, .fs-close-overlay-condition::after{
	content: '';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 2vw;
    height: 0.2vw;
    background-color: #fff;
}
.fs-close-overlay-condition::before{
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.fs-close-overlay-condition::after{
  -webkit-transform:translate(-50%, -50%) rotate(-45deg);
  transform:translate(-50%, -50%) rotate(-45deg);
}
.fs-overlay-condition-detail{
	position: relative;
	display: block;
}
.fs-overlay-condition h3{
	font-size: 1.5vw;;
  text-align:center;
  margin-bottom:5%;
  text-transform:uppercase;
  font-family:'Montserrat';
font-weight:500;
font-style:normal;
}
.fs-overlay-condition p {
  font-size:0.9375vw;
  margin-bottom:0.52vw;
  line-height:1.4;
  text-align:left;
  font-family:'Montserrat';
  font-weight:500;
  font-style:normal;
}
.fs-overlay-condition p a{
	color: #263197;
}
.fs-overlay-condition p strong{
	font-family:'Montserrat';
	font-weight:700;
	font-style:normal;
}
.fs-mini-cnt {
	padding-left: 1vw;
}
.fs-mini-cnt .fs-mini-cnt-inr{
	padding-left: 1.5vw;
}


@-webkit-keyframes Up{
	0%{
		top: 0.9vw;
	}
	100%{
		top: 0.4vw;
	}
}
@keyframes Up{
	0%{
		top: 0.9vw;
	}
	100%{
		top: 0.4vw;
	}
}

@-webkit-keyframes Down{
	0%{
		top: 0.9vw;
	}
	100%{
		top: 0.4vw;
	}
}

@keyframes Down{
	0%{
		top: 0.9vw;
	}
	100%{
		top: 0.4vw;
	}
}

.arrow-up{
	-webkit-animation:Up 0.5s infinite alternate;
	animation:Up 0.5s infinite alternate;
}

.arrow-down{
	-webkit-animation:Down 0.5s 1.5s infinite alternate;
	animation:Down 0.5s 1.5s infinite alternate;
}
  
  @-webkit-keyframes asd {
	0% {
	  z-index:2; }
  
	100% {
	  z-index:4; } }
  
  @-moz-keyframes asd {
	0% {
	  z-index:2; }
  
	100% {
	  z-index:4; } }
  
  @-o-keyframes asd {
	0% {
	  z-index:2; }
  
	100% {
	  z-index:4; } }
  
  @keyframes asd {
	0% {
	  z-index:2; }
  
	100% {
	  z-index:4; }
  }
  
  .flip-clock-wrapper ul.play li.flip-clock-active .down {
	z-index:2;
	-webkit-animation:turn 0.5s 0.5s linear both;
	-moz-animation:turn 0.5s 0.5s linear both;
	animation:turn 0.5s 0.5s linear both; }
  
  @-webkit-keyframes turn {
	0% {
	  -webkit-transform:rotateX(90deg); }
  
	100% {
	  -webkit-transform:rotateX(0deg); } }
  
  @-moz-keyframes turn {
	0% {
	  -moz-transform:rotateX(90deg); }
  
	100% {
	  -moz-transform:rotateX(0deg); } }
  
  @-o-keyframes turn {
	0% {
	  -o-transform:rotateX(90deg); }
  
	100% {
	  -o-transform:rotateX(0deg); } }
  
  @keyframes turn {
	0% {
	  transform:rotateX(90deg); }
  
	100% {
	  transform:rotateX(0deg); } }
  
  .flip-clock-wrapper ul.play li.flip-clock-before .up {
	z-index:2;
	-webkit-animation:turn2 0.5s linear both;
	-moz-animation:turn2 0.5s linear both;
	animation:turn2 0.5s linear both; }
  
  @-webkit-keyframes turn2 {
	0% {
	  -webkit-transform:rotateX(0deg); }
  
	100% {
	  -webkit-transform:rotateX(-90deg); } }
  
  @-moz-keyframes turn2 {
	0% {
	  -moz-transform:rotateX(0deg); }
  
	100% {
	  -moz-transform:rotateX(-90deg); } }
  
  @-o-keyframes turn2 {
	0% {
	  -o-transform:rotateX(0deg); }
  
	100% {
	  -o-transform:rotateX(-90deg); } }
  
  @keyframes turn2 {
	0% {
	  transform:rotateX(0deg); }
  
	100% {
	  transform:rotateX(-90deg); } }
  
  .flip-clock-wrapper ul li.flip-clock-active {
	z-index:3; }
  
  /* SHADOW */
  .flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
	background:linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
	-webkit-animation:show 0.5s linear both;
	-moz-animation:show 0.5s linear both;
	animation:show 0.5s linear both;
  }
  
  .flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
	background:linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
	-webkit-animation:hide 0.5s 0.3s linear both;
	-moz-animation:hide 0.5s 0.3s linear both;
	animation:hide 0.5s 0.3s linear both;
  }
  
  /*DOWN*/
  .flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
	background:linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
	-webkit-animation:show 0.5s linear both;
	-moz-animation:show 0.5s linear both;
	animation:show 0.5s linear both;
  }
  
  .flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
	background:linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
	-webkit-animation:hide 0.5s 0.3s linear both;
	-moz-animation:hide 0.5s 0.3s linear both;
	animation:hide 0.5s 0.2s linear both;
  }
  
  @-webkit-keyframes show {
	0% {
	  opacity:0; }
  
	100% {
	  opacity:1; } }
  
  @-moz-keyframes show {
	0% {
	  opacity:0; }
  
	100% {
	  opacity:1; } }
  
  @-o-keyframes show {
	0% {
	  opacity:0; }
  
	100% {
	  opacity:1; } }
  
  @keyframes show {
	0% {
	  opacity:0; }
  
	100% {
	  opacity:1; } }
  
  @-webkit-keyframes hide {
	0% {
	  opacity:1; }
  
	100% {
	  opacity:0; } }
  
  @-moz-keyframes hide {
	0% {
	  opacity:1; }
  
	100% {
	  opacity:0; } }
  
  @-o-keyframes hide {
	0% {
	  opacity:1; }
  
	100% {
	  opacity:0; } }
  
  @keyframes hide {
	0% {
	  opacity:1; }
  
	100% {
	  opacity:0; } }

	
  
  
  @media screen and (max-width:1800px) { 

  }
  
	  
  @media screen and (max-width:1600px) { 

  }
  
	  
  @media screen and (max-width:1500px) { 

  }
	  
  @media screen and (max-width:1400px) { 

  }



/*IPAD*/
@media screen and (max-width:1100px) { 
	/*LAYOUT COMMON*/
	.fs-pc {
		display:none !important;
	}
	.fs-sp {
		display:block;
	}
	.is-fixed .fs-container.is-game{
		padding-top: 0;
	}

	.fs-overlay-condition{
		-webkit-overflow-scrolling:touch;
		word-break:break-word;
	}
	.fs-overlay-condition h3{
		font-size: 2.6vw;
		margin-bottom: 3vw;
	}
	.fs-overlay-condition p{
		font-size: 2.25vw;
		margin-bottom: 2vw;
	}
	.fs-close-overlay-condition{
		width: 5vw;
		height: 5vw;
		top: 2%;
		right: 2.7%;
		background-color: rgba(54,53,255,0.8);
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}


	/* Clock */
	.is-kv .fs-clock-box{
		margin: 7vw auto 0 auto;
    background: none;
    width: 86%;
	}
	.is-kv .flip-clock-dot{
		background-color: #000;
	}
	.is-kv .fs-clock-top p, .is-kv .fs-clock-bot p{
		color: #000;
	}
	.is-kv .flip-clock-divider .flip-clock-label{
		color: #000;
	}
	.is-kv .fs-clock-inr, .is-product .fs-clock-inr, .is-clock-mobile .fs-clock-inr{
		right: 17%;
	}
	.is-product .fs-clock-box{
		top: 5vw;
	}
	.fs-clock-box{
		position: relative;
		left:0;
		top:0;
		width:100%;
		height:60px;
	}
	  .fs-clock-inr{
		left:auto;
		top:0;
		right:0;
		width:auto;
		height:auto;
		margin:0;
		-webkit-transform:none;
		transform:none;
	  }
	  .flip-clock-divider{
		float:left;
		width:14px;
		height:45px;
		clear:none;
	  }
	  .flip-clock-dot.top, .flip-clock-dot.bottom{
		display:block;
	  }
	  .flip-clock-dot{
		background-color:#fff;
		width:4px;
		height:4px;
		-webkit-border-radius:0;
		border-radius:0;
	  }
	  .flip-clock-wrapper ul{
		width:25px;
		height:30px;
		margin-bottom:0;
		-webkit-border-radius:0;
		border-radius:0;
		background-color:transparent;
	  }
	  .flip-clock-dot.top{
		top:12px;
	  }
	  .flip-clock-wrapper .flip{
		box-shadow:none;
	  }
	  .flip-clock-dot.bottom{
		bottom:18px;
	  }
	  .flip-clock-wrapper ul,
	  .flip-clock-wrapper ul li,
	  .flip-clock-wrapper ul li a div div.inn,
	  .flip-clock-wrapper ul li a div.down{
		line-height:32px;
	  }
	  .flip-clock-wrapper ul li a div div.inn,
	  .flip-clock-wrapper ul li a div.down{
		font-size:22px;
	  }
	  .flip-clock-wrapper ul li a div.up:after{
		top:14px;
	  }
	  .flip-clock-divider .flip-clock-label{
		font-size: 1.5vw;
		top: 5vw;
		left: 2.3vw;
	  }
	  .fs-clock-top,
	  .fs-clock-bot,
	  .flip-clock-wrapper{
		display:inline-block;
		width:auto;
		vertical-align:top;
	  }
	  .flip-clock-wrapper{
		top:5px;
	  }
	  .fs-clock-top{
		top: 1.6vw;
		margin-right:-7px;
	  }
	  .fs-clock-bot{
		top:13px;
		margin-left:7px;
	  }
	  .fs-clock-top p, .fs-clock-bot p{
		font-size:2vw;
	  }
	/* KV */
	/* .is-kv .fs-section-inr{
		padding: 0 7.5%;
	} */

	.fs-img-kv{
		float: none;
    display: block;
    width: 86vw;
    margin: 0 auto;
    padding: 15vw 0 7.4vw 0;
	}
	.fs-brief-kv{
		position: relative;
		display: block;
    left: auto;
		top: auto;
		width: 53%;
    -webkit-transform: none;
    transform: none;
	margin: 0 auto;
	text-align: center;
    
	}
	.fs-brief-kv .fs-btn{
		padding: 2vw 10vw;
		border: 1px solid #000;
	}
	.fs-brief-kv .fs-btn span{
		font-size: 3vw;
	}
	.fs-brief-kv .fs-box-but p{
		font-size: 2vw;
		margin-bottom: 3vw;
	}
	.fs-brief-kv .fs-area-pic {
		width: 53vw;
		margin: 0 auto 4.25vw auto;
	}
	.fs-brief-kv .fs-area-txt p{
		font-size: 1.9vw;
	}
	.fs-brief-kv .fs-area-txt p br{
		display: none;
	}
	.fs-brief-kv .fs-box-but{
		text-align: center;
		padding-bottom: 12.68vw;
	}
	.fs-btn span{
		font-size: 2.314vw;
	}

	/* Product */
	.is-product .fs-section-inr{
		padding: 0 7.5%;
	}
	.fs-main-product, .fs-buy-joy{
		float: none;
		width: 100%;
	}
	.fs-main-product{
		margin-top: 0;
		padding-top: 12vw;
	}
	.fs-main-product .fs-area-pic img{
		height: 60vw;
	}
	.fs-color-box li{
		font-size: 1.7vw;
	}
	.fs-color-box li::before{
		top: 0.4vw;
		width: 2.31vw;
		height: 2.31vw;
	}
	.fs-color-box{
		margin-bottom: 5.83vw;
	}
	.fs-brief-product p:first-child{
		font-size: 1.9vw;
		margin-bottom: 0.5vw;
	}
	.fs-brief-product p:last-child{
		font-size: 1.5vw;
    	margin-bottom: 10.64vw;
	}
	.fs-buy-joy .fs-title h2{
		font-size: 6.11vw;
	}
	.fs-buy-joy .fs-title p{
		font-size: 1.85vw;
	}
	.fs-discount ul li span{
		font-size: 1.85vw;
	}
	.fs-discount ul li span.fs-price{
		font-size: 5.09vw;
	}
	span.arrow-up{
		left: -4.5vw;
		top: 0.8vw;
		width: 3.05vw;
	}
	span.arrow-down{
		left: -4vw;
		top: 1vw;
		width: 3.05vw;
	}

	.fs-discount ul li:nth-child(2) {
		margin: auto 6vw auto 4vw;
	}
	.fs-btn-condition p{
		font-size: 1.85vw;
	}
	.fs-share-text p{
		font-size: 2.222vw;
	}
	.fs-share-text p::before{
		left: -4vw;
		width: 2.962vw;
		height: 2.962vw;
	}
	.fs-buy-joy .fs-title{
		margin-bottom: 5vw;
	}
	.fs-form-box{
		left: 50%;
		top: auto;
		bottom: 0;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 85.370%;
		-webkit-border-radius: 30px;
		border-radius: 30px;
	}
	.fs-caption{
		font-size: 1.85vw;
	}
	.fs-group input[type='text'], .fs-group input[type='password'], .fs-group input[type='color'], .fs-group textarea{
		font-size: 2.87vw;
	}
	.fs-group{
		margin-bottom: 4.629vw;
	}
	.fs-form .fs-group:nth-child(3) {
		margin-bottom: 5.5vw;
	}
	.fs-close-form{
		width: 4vw;
		height: 4vw;
		right: 2vw;
		top: 2vw;
	}
	.fs-form-box .fs-form{
		padding: 14.07vw 8.7vw 2% 8.7vw;
	}
	.fs-buy-joy .fs-title p br{
		display: none;
	}

	/* guess */

	.fs-cnt-guess{
		width: 85.15%;
		padding: 23.61vw 0 3vw 0;
	}
	.is-guess .fs-bg div{
		background-position: top center;
	}
	.is-guess .fs-title{
		top: 5.18vw;
	}
	.is-guess .fs-title h2{
		width: 63.8vw;
	}
	.is-guess .fs-title p{
		font-size: 1.85vw;
	}
	.fs-cnt-guess .fs-guess-price{
		position: relative;
		top: auto;
		right: auto;
		display: block;
		margin: 0 auto;
		width: 33.51vw;
	}
	.fs-cnt-guess .fs-form{
		float: none;
		width: 69.56%;
		margin: 0 auto;
	}
	.fs-error-txt p{
		font-size: 1.5vw;
	}
	.fs-form-guess .fs-caption{
		font-size: 1.851vw;
	}
	.fs-form-guess label{
		margin-left: 18.1vw;
	}
	.fs-form-guess .fs-group::before{
		-webkit-border-radius: 45%;
    	border-radius: 45%;
	}
	.fs-form-guess .fs-group{
		margin-bottom: 4vw;
	}
	.fs-form .fs-box-but .fs-btn{
		padding: 1.85vw 9vw;
	}
	.fs-pop-guess{
		top: 61%;
		left: 22%;
	}
	.is-guess .fs-title p br{
		display: none;
	}
	/* Custom */
	.is-customer .fs-section-inr::before{
		padding-top: 71.2%;
	}
	.is-customer .fs-title{
		top: 11.018vw;
	}
	.fs-customer-result{
		top: 26.018vw;
		width: 84.6%;
		height: 36%;
		padding: 0 4.7%;
	}
	.is-customer .fs-title h2{
		font-size: 4vw;
	}
	.fs-customer-items li{
		font-size: 1.6vw;
	}
	.fs-customer-items ul{
		padding: 0 2vw 1vw 0;
	}
	.fs-customer-items li:nth-child(1){
		width: 13%;
	}
	.fs-customer-items li:nth-child(2){
		width: 45%;
	}
	.fs-customer-items li:nth-child(3){
		width: 40%;
	}
	.fs-form-guess label{
		margin-left: 17vw;
		width: 75%;
	}
	.fs-group input[type='text'], .fs-group input[type='password'], .fs-group input[type='color'], .fs-group textarea{
		font-size: 2.5vw;
	}
	.fs-color-box li::before, .fs-form .fs-box-but .fs-btn, .fs-buy-joy .fs-btn{
		border: 1px solid #fff;
	}
	.fs-pattern .fs-item-pattern:nth-child(1){
		width: 23.5%;
		top: -40%;
		left: -14%;
	}
	.fs-pattern .fs-item-pattern:nth-child(2) {
		width: 21.2%;
		top: -23%;
		left: -26%;
	}
	.fs-error-txt{
		bottom: 0;
	}

}

/*IPAD Landscape*/
@media screen and  (max-width:1100px) and (orientation :landscape){
	/*LAYOUT COMMON*/
	.is-kv .fs-clock-inr, .is-product .fs-clock-inr, .is-clock-mobile .fs-clock-inr {
		right: 22%;
	}
}

/*IPAD Portrait*/
@media screen and  (max-width:1100px) and (orientation :portrait){
	/*LAYOUT COMMON*/
}

@media screen and (max-width:840px) {
	/*LAYOUT COMMON*/
}

@media screen and (max-width:740px) {
	/*LAYOUT COMMON*/
	.fs-form-guess .fs-group{
		margin-bottom: 2vw;
	}
	.is-kv .fs-clock-inr, .is-product .fs-clock-inr, .is-clock-mobile .fs-clock-inr{
		right: 13%;
	}
	.flip-clock-divider .flip-clock-label{
		top: 5.5vw;
	}
}

@media screen and (max-width:640px) {
	.is-kv .fs-clock-inr, .is-product .fs-clock-inr{
		right: 6%;
	}
	.is-clock-mobile .fs-clock-inr {
		right: 6%;
	}
	.flip-clock-divider .flip-clock-label{
		top: 7vw;
		left: 3vw;
	}
	.fs-clock-top{
		top: 3vw;
	}

}

@media screen and (max-width:520px) {
	/*LAYOUT COMMON*/

	/* clock */
	.is-kv .fs-clock-inr, .is-clock-mobile .fs-clock-inr, .is-product .fs-clock-inr{
		right: 4%;
	}

	.flip-clock-divider .flip-clock-label{
	font-size: 2.2vw;
	top: 10vw;
	left: 5vw;
	}
	.fs-clock-top,
	.fs-clock-bot,
	.flip-clock-wrapper{
	display:inline-block;
	width:auto;
	vertical-align:top;
	}
	.flip-clock-wrapper{
	top:5px;
	}
	.fs-clock-top{
	top: 0.6vw;
	margin-right:-7px;
	}
	.fs-clock-bot{
	top: 12px;
	margin-left: 7px;
	}
	.fs-clock-top p, .fs-clock-bot p{
	font-size:3.3vw;
	}

	/* popup TnC */
	.fs-overlay-inr-condition{
		padding: 5% 5% 150px;
	}
	.fs-overlay-condition h3 {
		font-size: 4vw;
		margin-bottom: 4vw;
	}
	.fs-overlay-condition p {
		font-size: 2.8vw;
		margin-bottom: 2.2vw;
	}
	.fs-close-overlay-condition {
		width: 7vw;
		height: 7vw;
		top: 2%;
		right: 1.5%;
	}

	.fs-brief-kv .fs-box-but p{
		font-size: 2.29vw;
	}
	.fs-brief-kv .fs-area-txt p{
		font-size: 2.5vw;
	}
	.fs-btn{
		border: 1px solid #000;
		padding: 0.78vw 6vw;
	}
	.fs-btn span{
		font-size: 2.5vw;
		top: -1px;
		line-height: 1;
	}
	.fs-color-box li{
		font-size: 2.5vw;
	}

	span.arrow-up{
		left: -3vw;
	}
	span.arrow-down{
		left: -4vw;
	}

	.fs-brief-product p:first-child{
		font-size: 2.8vw;
	}
	.fs-brief-product p:last-child{
		font-size: 2.5vw;
	}
	.fs-buy-joy .fs-title p, .is-guess .fs-title p, .fs-form-guess .fs-caption, .fs-discount ul li span, .fs-share-text p{
		font-size: 2.5vw;
	}
	.fs-discount ul li span.fs-price{
		font-size: 5.5vw;
	}
	.fs-btn-condition p{
		font-size: 2.6vw;
		margin-top: 3vw;
	}
	.fs-error-txt p {
		font-size: 2vw;
	}
	.pop-guess-inr .fs-area-txt p{
		font-size: 1.85vw;
	}
	.fs-pop-guess{
		-webkit-border-radius: 40px;
		border-radius: 10px;
		border: none;
	}
	.fs-close-form {
		width: 15px;
		height: 15px;
		right: 2vw;
		top: 2vw;
	}

	.pop-guess-inr .fs-area-txt p:first-child{
		margin-bottom: 0.8vw;
	}
	.fs-customer-items li{
		font-size: 2.25vw;
	}
	.fs-form-guess .fs-group{
		margin-bottom: 0;
	}
	.fs-cnt-guess {
		padding: 25.5vw 0 3vw 0;
	}
	.fs-group input[type='text'], .fs-group input[type='password'], .fs-group input[type='color'], .fs-group textarea {
		font-size: 2.8vw;
	}
	.fs-cnt-guess .fs-form {
		width: 80%;
	}
	.fs-color-box li::before{
		width: 3vw;
		height: 3vw;
	}
	.fs-customer-items ul{
		padding: 0 2vw 1.5vw 0;
	}
	.g-recaptcha{
		display: inline-block;
	}
	.g-recaptcha>div {
		position: relative;
		-webkit-transform: scale(.7);
		transform: scale(0.7);
		left: -10%;
	}
	.fs-form .fs-group:nth-child(3) {
		margin-bottom: 0;
	}

}

@media screen and (max-width:390px) {
	/*LAYOUT COMMON*/
	.flip-clock-wrapper ul{
		width: 20px;
	}
}

@media screen and (max-width:370px) {
	/*LAYOUT COMMON*/
}

@media screen and (max-width:350px) {

	.flip-clock-wrapper ul, .flip-clock-wrapper ul li, .flip-clock-wrapper ul li a div div.inn, .flip-clock-wrapper ul li a div.down{
		line-height: 28px;
	}
	.flip-clock-wrapper ul{
		width: 18px;
		height: 25px;
	}
	.fs-clock-bot{
		top: 8px;
	}

}

