@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

/*html5*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}

html, body{
	width:100%;
	height:auto;
	background-color:#fff;
	color:#000;
	line-height:1;
	font-family:'Times New Roman', Times, serif;
	font-size:100%;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:bold;
	line-height:1.3;
	
}
p {
	font-family:inherit;
	font-size:100%;
	line-height:1.3;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
img{
	border:none;
	outline:none;
}

a{
	text-decoration:none;
	color:#086035;
}

/*LAYOUT COMMON*/
.cnt-wrap, .cnt-inr{
	position:relative;
	display:block;
	width:100%;
	height:auto;
}

.cnt-inr {
	max-width:950px;
	margin:0 auto;
	overflow:hidden;
	background:url(../images/cnt_bg.jpg) repeat-y center top;
}

.section-box, .title, .section-inr {
	position:relative;
	display:block
}

.bg {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
}

.box, .box-inner {
	position:relative;
}

.size-01{width:8.3333%}
.size-02{width:16.6666%}
.size-03{width:25%}
.size-04{width:33.3333%}
.size-05{width:41.6666%}
.size-06{width:50%}
.size-07{width:58.3333%}
.size-08{width:66.6666%}
.size-09{width:75%}
.size-10{width:83.3333%}
.size-11{width:91.6666%}
.size-12{width:100%}

.area-bg,
.area-pic,
.area-txt {
	position:relative;
	display:block
}

.area-pic img {
	width:auto;
}

.area-bg::before{
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto
}

.no-scroll {
	overflow:hidden;
}

@-webkit-keyframes  moveX{
  0%{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
  100%{-webkit-transform:translate3d(10px, -3px, 0);transform:translate3d(10px, -3px, 0);}
}

@keyframes moveX{
  0%{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
  100%{-webkit-transform:translate3d(10px, -3px, 0);transform:translate3d(10px, -3px, 0);}
}

@-webkit-keyframes moveY{
  0%{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
  100%{-webkit-transform:translate3d(10px, -5px, 0);transform:translate3d(10px, -5px, 0);}
}

@keyframes moveY{
  0%{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
  100%{-webkit-transform:translate3d(10px, -5px, 0);transform:translate3d(10px, -5px, 0);}
}

.arrow_ultra {
	-webkit-animation:moveX 2s infinite alternate;
	animation:moveX 2s infinite alternate;
}

.arrow_powerful {
	-webkit-animation:moveY 2s infinite alternate 1s;
	animation:moveY 2s infinite alternate 1s;
}

.arrow_rare {
	-webkit-animation:moveY 2s infinite alternate 0.5s;
	animation:moveY 2s infinite alternate 0.5s;
}

.sp {
	display:none;
}

.title h2 {
	font-size:2.3125rem;
}

.recycle-rewarded, .participants, .conditions  {
	text-align:center;
}

.recycle-rewarded, .participants .box p {
	color:#1b532a;
}

.participants {
	color:#fff;
}

.recycle-rewarded p, .either, .participants p {
	font-family:'Gotham Book';
	font-weight:normal;
}

.recycle-rewarded p, .participants p, .either {
	font-size:1.5625rem;
}

.participants .box p {
	font-size:1.046875rem;
	letter-spacing:1.8px;
}

.participants .box p strong, .btn {
	font-family: 'Gotham Bold';
	text-transform:uppercase;
}

.btn {
	display:inline-block;
	margin:30px 0 67px 0;
	padding:23px 45px;
	background:#fff url(../images/steps_bg.jpg) no-repeat center center;
	background-size:cover;
	font-size:1.8125rem;
	-wenkit-border-radius:10px;
	border-radius:10px;
	box-shadow:2px 2px 20px rgba(0,0,0,1);
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}
.btn:hover {
	opacity:0.7;
}

.equal, .plus {
	font-family:'Gotham Medium';
	font-weight:normal;
}

.equal {
	font-size:3.365625rem;
}

.plus {
	font-size:3.709375rem;
}

.number {
	font-family:'Gotham Black';
	font-weight:normal;
	font-size:4.934375rem;
}

.logo, .slogan, .area-pic {
	line-height:0;
	overflow:hidden;
}

.title {
	margin-bottom:48px;
}

.leaf, .square {
	position:absolute;
}

.either, .plus, .equal {
	position:absolute;
}

.number {
	position:absolute;
	right:100%;
	bottom:0;
}

.line {
	position:relative;
	display:block;
	width:100%;
	height:auto;
}

.line img {
	width:auto;
	max-width:96%;
}

/*recycle & rewarded*/
.recycle-rewarded {
	padding:60px 0 50px 0;
}

.logo {
	margin-bottom:48px;
}

.logo img {
	width:auto;
	max-width:197px;
}

.slogan {
	margin-bottom:22px;
}

.slogan img {
	width:auto;
	max-width:660px;
}

.slogan + p {
	margin-bottom:78px;
}

.recycle-rewarded .leaf {
	top:52px;
	left:-3px;
}

.recycle-rewarded .square{
	top:218px;
	right:2px;
}

.promotions {
	position:relative;
	display:block;
	width:100%;
	margin-bottom:50px;
}

.promotions .box {
	display:inline-block;
	width:auto;
	height:auto;
	vertical-align:top;
}

.promotions .box:nth-child(2) {
	margin:0 95px 0 118px;
}

.promotions .area-pic {
	margin-bottom:26px;
}

.promotions .either, .promotions .equal {
	left:100%;
	top:50%;
	margin-top:-18px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}

.promotions .either {
	margin-left:40px;
}

.promotions .equal {
	margin-left:5px;
}
.recipes {
	padding:105px 0 0 0;
}

.recipe {
	position:relative;
	display:block;
	width:100%;
	margin-bottom:82px;
	padding-left:140px;
	text-align:left;
	
}

.recipe .box {
	display:inline-block;
	width:auto;
	height:auto;
	vertical-align:bottom;
}

.recipe .box:nth-child(2) {
	margin:0 77px 0 62px;
}

.recipe .box:nth-child(3) {
	margin:0 94px 0 0;
}

.recipe:last-child {
	margin-bottom:0;
}

.result {
	position:absolute;
	bottom:100%;
}

.ultra {
	right:110px;
}

.powerful {
	right:62px;
	margin-bottom:20px;
}

.rare {
	right:54px;
	margin-bottom:6px;
}

.recipe .equal, .recipe .plus {
	left:100%;
	bottom:16px;
}

.recipe .equal {
	font-size:3.709375rem;
	margin-left:11px;
}

.recipe .plus {
	margin-left:26px;	
}

.result p {
	font-family: 'Kiehls Hand Bold';
	font-size:0.78125rem;
	font-weight:normal;
	text-align:center;
	line-height:2.6;
}

.arrow {
	position:absolute;
}

.arrow_ultra{
	right:100%;
	top:42px;
	margin-right:10px;
}

.arrow_powerful {
	left:35px;
	top:67px;
}

.arrow_rare {
	right:28px;
	top:70px;
}

.recycle-rewarded .bg {
	background:url(../images/recycle_bg_pc.jpg) no-repeat center top;
	background-size:100% auto;
}


/*participants*/
.participants .bg {
	background:#26653d url(../images/participants_bg_pc.jpg) no-repeat center top;
	background-size:100% auto;
}

.participants .title{
	padding-top:60px;
}

.sun {
	position:absolute;
	left:-10px;
	top:29px;
}

.square_large_green {
	right:-27px;
	top:-66px;
}

.square_small_green {
	right:34px;
	top:94px;
}

.square_large_white {
	right:60px;
	top:30px;
}

.square_small_white {
	bottom:120px;
	left:102px;
}

.participants .leaf {
	bottom:10px;
	left:-6px;
}

.circle-arrow {
	position:absolute;
	right:-60px;
	bottom:51px;
}

.steps {
	font-size:0;
	margin-bottom:53px;
}

.steps .box {
	display:inline-block;
	width:260px;
	height:auto;
	min-height:351px;
	margin:0 6px;
	padding:42px 0 30px 0;
	vertical-align:top;
	background:url(../images/steps_bg.jpg) no-repeat center center;
	background-size:cover;
	box-shadow:2px 2px 6px rgba(0,0,0,1);
	-webkit-border-radius:6px;
	border-radius:6px;
}
.steps .box:last-child {
	width:368px;
}

.steps .area-pic{
	margin-bottom:30px;
}

.steps strong {
	display:block;
}

.notes {
	position:relative;
	display:block;
	width:90%;
	margin:0 auto;
}

.notes p:nth-child(2) {
	letter-spacing:1.2px;
}

.participants p span {
	position:relative;
	display:inline-block;
	font-family:'Gotham Medium Italic';
	font-size:88%;
}

.participants p span::after {
	content:'';
	display:block;
	width:100%;
	height:2px;
	background-color:#5e8e6e;
}


.conditions .bg {
	background:url(../images/conditions_bg_pc.jpg) no-repeat center top;
	background-size:100% auto;
}

.conditions {
	padding:54px 0;
}
.conditions .title {
	margin-bottom:25px;
}

.conditions h2 {
	font-weight:normal;
	line-height:1.2;

}

.conditions ul {
	position:relative;
	display:block;
	width:90%;
	max-width:720px;
	margin:0 auto;
}

.conditions li {
	position:relative;
	display:block;
	padding-left:18px;
	font-family: 'Gotham Light';
	font-weight:normal;
	font-size:1.301875rem;
	text-align:left;
	line-height:1.4;
}

.conditions li::before {
	content:'';
	position:absolute;
	top:12px;
	left:0;
	width:6px;
	height:6px;
	background-color:#000;
	-webkit-border-radius:50%;
	border-radius:50%;
}


@media screen and (max-width:949px) { 
	.sp {
		display:block;
	}
	.pc, .hide-sp {
		display:none;
	}

	.title {
		margin-bottom:4.6875vw;
	}
	
	.title h2 {
		font-size:5.9375vw;
	}
	
	.recycle-rewarded .bg {
		background: url(../images/recycle_bg_sp.jpg) no-repeat center top;
		background-size:cover;
	}
	
	.participants .bg {
		background: #26653d url(../images/participants_bg_sp.jpg) no-repeat center top;
		background-size:cover;
	}
	
	.conditions .bg {
		background: url(../images/conditions_bg_sp.jpg) no-repeat center top;
		background-size:cover;
	}
	
	.recycle-rewarded .leaf {
		top:7.1875vw;
		left:-0.9375vw;
	}
	
	.recycle-rewarded .leaf img {
		width:17.65625vw;
	}
	
	.recycle-rewarded .square {
		top:28.125vw;
		right:0;
	}
	
	.recycle-rewarded .square img {
		width:12.1875vw;
	}
	
	.sun {
		top:3px;
		left:-10.3125vw;
	}
	
	.sun img {
		width:23.4375vw;
		
	}
	
	.square_large_green {
		top:-10.78125vw;
		right:-3.28125vw;
	}
	
	.square_large_green img {
		width:13.4375vw;
	}
	
	.square_small_green {
		top:2.5vw;
		right:3.59375vw;
	}
	
	.square_small_green img {
		width:6.09375vw;
	}
	
	.square_large_white {
		top:-4.375vw;
		right:15.3125vw;
	}
	
	.square_large_white img {
		width:3.90625vw;
	}
	
	.participants .leaf {
		bottom:-2.65625vw;
		z-index:1;
	}
	
	.participants .leaf img {
		width:17.65625vw;
	}
	
	.circle-arrow {
		right:-8.90625vw;
		bottom:0.3125vw;
	}
	
	.circle-arrow img {
		width:22.96875vw;
	}
	
	
	/*recycle & rewarded*/
	.recycle-rewarded {
		padding:5.78125vw 0 8.4375vw 0;
	}
	
	.logo {
		margin-bottom:4.6875vw;
	}
	
	.logo img {
		width:31.4vw;
		max-width:201px;
	}
	
	.slogan {
		margin-bottom:1.5625vw;
	}
	
	.slogan img {
		width:86vw;
		max-width:550px;
	}
	
	.slogan + p {
		margin-bottom:9.375vw;
	}
	
	.recycle-rewarded p, .participants p, .either {
		font-size:3.58125vw;
	}
	
	.promotions {
		margin-bottom:4.6875vw;
	}
	
	.promotions .either {
		margin-left:0;
	}
	
	.promotions .equal {
		font-size:5.8640625vw;
		margin-left:-3.4375vw;
	}
	
	.promotions .area-pic {
		margin-bottom:14px;
	}
	
	.promotions .box img {
		width:auto;
		height:20vw;
	}
	
	.promotions .box:nth-child(2) {
		margin:0 6.25vw 0 4.69vw;
	}
	
	.recipes {
		padding-top:12vw;
	}
	
	.recipe {
		margin-bottom:12vw;
		padding-left:14.84375vw;
	}
	
	.recipe .box:nth-child(1) img {
		width:12.65625vw;
	}
	
	.recipe .box:nth-child(2) {
		margin:0 9.0625vw 0 6.875vw;
	}
	
	.recipe .box:nth-child(2) img {
		width:14.21875vw;
	}
	
	.recipe .box:nth-child(3) {
		margin:0 10vw 0 0;
	}
	
	.recipe .box:nth-child(3) img {
		width:6.5625vw;
	}
	
	.recipe .box:nth-child(4) img {
		width:15.15625vw;
	}
	
	.recycle-rewarded .result p {
		font-size:1.628125vw;
	}
	
	.number {
		font-size:8.746875vw;
	}
	
	.recipe .equal, .recipe .plus {
		font-size:6.575vw;
		bottom:1.5625vw;
	}
	
	.recipe .equal {
		margin-left:0.625vw;
	}
	
	.recipe .plus  {
		margin-left:3.59375vw;
	}
	
	.ultra {
		right:7vw;
	}
	
	.arrow_ultra {
		top:auto;
		bottom:0;
		margin-left:0;
	}
	
	.arrow_ultra img {
		width:6.25vw;
	}
	
	.powerful {
		right:3vw;
		margin-bottom:1.25vw;
	}
	
	.rare {
		right:1.09375vw;
		margin-bottom:1.25vw;
	}
	
	.arrow_powerful img, .arrow_rare img  {
		width:4.21875vw;
	}
	
	.arrow_powerful	 {
		left:30%;
		top:100%;
	}
	
	.arrow_rare {
		top:100%;
		right:5%;
		margin-top:0.9375vw;
	}
	
	.participants .title {
		padding:9.375vw 0 0 0;
		margin-bottom:6.09375vw;
	}
	
	.steps {
		margin-bottom:6.71875vw;
	}
	
	.btn {
		margin:4.0625vw 0 9.375vw 0;
		padding:2.34375vw 4.6875vw;
		font-size:4.896875vw;
		box-shadow:2px 2px 20px rgba(0,0,0,.5);
		-webkit-transition:none;
		transition:none;
	}
	.btn:hover {
		opacity:1;
	}
	
	.steps .box, .steps .box:last-child {
		display:block;
		width:91.875%;
		min-height:auto;
		margin:0 auto 3.4375vw auto;
		padding:4.6875vw 4.6875vw 4.6875vw 0;
		box-shadow:none;
		
	}
	
	.participants .box p {
		font-size:3.2546875vw;
	}
	
	.participants .box .area-pic {
		margin:0;
	}
	
	.participants .box .area-pic {
		display:inline-block;
		width:35.7%;
		vertical-align:middle;
	}
	
	.participants .box .area-txt {
		display:inline-block;
		width:64.3%;
		vertical-align:middle;
		text-align:left;
	}
	
	.participants .box:nth-child(1) img {
		width:18.59375vw;
	}
	
	.participants .box:nth-child(2) img {
		width:18.90625vw;
	}
	
	.participants .box:nth-child(3) img {
		width:23.75vw;
	}
	
	.steps .box p br {
		display:none;
	}
	
	.steps .box p strong {
		display:inline-block;
	}
	
	.conditions {
		padding:8.125vw 0;
	}
	
	.conditions .title {
		margin-bottom:3.90625vw;
	}
	
	.conditions li {
		font-size:2.65625vw;
	}
	
}

@media screen and (max-width:520px) {
	
	.arrow_powerful {
		left:35%;
	}
	
	.recycle-rewarded p, .participants p, .participants .box p, .conditions li {
		font-size:3.58125vw;
	}
	
	.conditions li {
		padding-left:12px;
	}
	
	.conditions li::before {
		top:6px;
		width:4px;
		height:4px;
	}
		
	
}



