/*@font-face{font-family:VL_Sofia;font-style:normal;font-weight:normal;font-display: swap;src:local('VL_Sofia'),url(../fonts/VL_Sofia_Pro_Soft_Light.otf) format("opentype")}@font-face{font-family:VL_SofiaB;font-style:normal;font-weight:normal;font-display: swap;src:local('VL_SofiaB'),url(../fonts/SofiaPro-Bold.otf) format("opentype"),url(../fonts/SofiaPro-Bold.ttf) format('truetype')}*/


@font-face {
    font-family: 'Roboto Condensed';
	font-display: swap;
    src: url('../fonts/RobotoCondensed-Light.eot');
    src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Light.woff') format('woff'),
        url('../fonts/RobotoCondensed-Light.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
	font-display: swap;
    src: url('../fonts/RobotoCondensed-LightItalic.eot');
    src: url('../fonts/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-LightItalic.woff') format('woff'),
        url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
	font-display: swap;
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
	font-display: swap;
    src: url('../fonts/RobotoCondensed-BoldItalic.eot');
    src: url('../fonts/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-BoldItalic.woff') format('woff'),
        url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-BoldItalic.svg#RobotoCondensed-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
	font-display: swap;
    src: url('../fonts/RobotoCondensed-Italic.eot');
    src: url('../fonts/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Italic.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Italic.woff') format('woff'),
        url('../fonts/RobotoCondensed-Italic.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Italic.svg#RobotoCondensed-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Slab';
	font-display: swap;
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
        url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
	font-display: swap;
    src: url('../fonts/RobotoSlab-Light.eot');
    src: url('../fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Light.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Light.woff') format('woff'),
        url('../fonts/RobotoSlab-Light.ttf') format('truetype'),
        url('../fonts/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
	font-display: swap;
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
        url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
	font-display: swap;
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype'),
        url('../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
	font-display: swap;
    src: url('../fonts/DancingScript-Bold.eot');
    src: url('../fonts/DancingScript-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DancingScript-Bold.woff2') format('woff2'),
        url('../fonts/DancingScript-Bold.woff') format('woff'),
        url('../fonts/DancingScript-Bold.ttf') format('truetype'),
        url('../fonts/DancingScript-Bold.svg#DancingScript-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
	font-display: swap;
    src: url('../fonts/DancingScript-Regular.eot');
    src: url('../fonts/DancingScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DancingScript-Regular.woff2') format('woff2'),
        url('../fonts/DancingScript-Regular.woff') format('woff'),
        url('../fonts/DancingScript-Regular.ttf') format('truetype'),
        url('../fonts/DancingScript-Regular.svg#DancingScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
	font-display: swap;
    src: url('../fonts/DancingScript-Bold_1.eot');
    src: url('../fonts/DancingScript-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DancingScript-Bold_1.woff2') format('woff2'),
        url('../fonts/DancingScript-Bold_1.woff') format('woff'),
        url('../fonts/DancingScript-Bold_1.ttf') format('truetype'),
        url('../fonts/DancingScript-Bold_1.svg#DancingScript-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
	font-display: swap;
    src: url('../fonts/DancingScript-Regular_1.eot');
    src: url('../fonts/DancingScript-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DancingScript-Regular_1.woff2') format('woff2'),
        url('../fonts/DancingScript-Regular_1.woff') format('woff'),
        url('../fonts/DancingScript-Regular_1.ttf') format('truetype'),
        url('../fonts/DancingScript-Regular_1.svg#DancingScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}