
.profile-title {
	padding:20px 0 10px 0;
}
.profile-content {
	padding:0 10px;
	margin-bottom:30px;
}

.mega-menu, .mega-content {
	position:relative;
	display:inline-block;
	vertical-align:top;
}

.mega-menu {
	width:20%;
}

.mega-menu ul {
	padding-right:40px;
	text-align:right;
}

.mega-menu li {
  margin-bottom:1px;
}

.mega-menu a {
	display:block;
	padding:10px 0;
	font-size:18px;
	-webkit-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
}

.mega-menu li:not(.active):hover a, .mega-menu li.active a {
	color:#1da6c0;
}

.mega-content {
	width:80%;
}

.mega-content .title {
	margin-bottom:0;
	padding:15px 0;
}

.mega-content .title h2 strong {
	font-weight:700;
}

.box-help{
	text-align:left;
	border-bottom:1px solid #d7d7d7;
}

.box-help .help-title{
	font-size:18px;
	font-weight:400;
	padding:15px 0;
	cursor:pointer;
	position:relative;
	text-transform:capitalize;
	line-height:1.3;
	padding-right:20px;
}

.box-help .help-title::before, .box-help .help-title::after {
	content:'';
	position:absolute;
	top:50%;
	right:5px;
	margin-top:-4px;
}

.box-help .help-title::before{
	border:8px solid #a05ea5;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:0;
	
}
.box-help .help-title::after{
	border-top:0;
	border-bottom:8px solid #a05ea5;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	display:none;
}
.help-detail{
	font-size:18px;
	padding:10px 0px 20px 0;
	line-height:1.4;
	font-weight:300;
}
.help-detail p{
	margin-bottom:20px;
}
.help-detail{
	display:none;
}

.box-help .help-title.active::before{
	display:none;
}

.box-help .help-title.active::after{
	display:block;
}

.help-content{
	min-height: calc(100vh - 380px);
}

.help-ncc {
	min-height:200px;
}

