@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/*html5*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}

html, body{
	width:100%;
	height:auto;
	background:#fff;
	color:#333;
	line-height:1;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:-moz-none;
	-ms-user-select:none;
	font-size:100%;
	font-family:'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Roboto Condensed', sans-serif;
	line-height:1.2;
}

button, input {
	font-family:'Roboto Condensed', sans-serif;
}

ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
img{
	border:none;
	outline:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
button, input{
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none
}
a{
	text-decoration:none;
	color:#333;
}
p a {
	color:#1da6c0;
	-webkit-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
}
p a:hover{
	color:#a05da6;
}
.clear::after{
	content:'';
	display:block;
	width:100%;
	height:0;
	clear:both
}
.page-wrap{opacity:0}
.hide-text{
	font-size:0;
}


/*LAYOUT COMMON*/
.page-wrap, .hdr-wrap, .cnt-wrap, .ftr-wrap {
	position:relative;
	display:block;
	width:100%;
	height:auto
}

.hdr-inr, .cnt-inr, .ftr-inr {
	position:relative;
	display:block;
	width:90%;
	height:auto;
	max-width:1010px;
	margin:0 auto;
	font-size:0
}

.hdr-wrap.ncc {
	position:fixed;
	left:0;
	top:0;
	background-color:#1da6c0;
	z-index:6;
}

.hdr-wrap.ncc + .cnt-wrap {
	padding-top:75px;
}

/*CONTAINER*/
.section-box, .title, .section-inr {
	position:relative;
	display:block
}

.section-box {
	width:100%
}

.box{
	position:relative;
	display:inline-block;
	width:100%;
	vertical-align:top
}

.box-inner, .box-inner > a {
	position:relative;
	display:block
}

.size-01{width:8.3333%}
.size-02{width:16.6666%}
.size-03{width:25%}
.size-04{width:33.3333%}
.size-05{width:41.6666%}
.size-06{width:50%}
.size-07{width:58.3333%}
.size-08{width:66.6666%}
.size-09{width:75%}
.size-10{width:83.3333%}
.size-11{width:91.6666%}
.size-12{width:100%}

.separate-2 .box{
	width:50%
}

.separate-3 .box {
	width:33.3333%
}

.separate-4 .box {
	width:25%
}

.separate-6 .box {
	width:16.6666%
}

.area-bg,
.area-pic,
.area-txt {
	position:relative;
	display:block
}
.area-pic img {
    display: block;
    width: 100%;
    height: auto;
}
 
.area-bg::before{
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto
}

.ratio-100 .area-bg::before{
	padding-top:100%
}

.ratio-56 .area-bg::before{
	padding-top:56.25%
}

.banner {
	width:100%
}

.banner .size-08{
	width:673px
}

.banner .box-inner {
	padding:0 10px
}

.banner-slider, .owl-stage-outer, .banner-item, .banner-pic{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	overflow:hidden;
	border-radius: 6px;
	-webkit-border-radius: 6px;
}

.banner-pic::before {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto;
	padding-top:56.3%
}


/*HEADER*/
.hdr-inr .box-inner {
	padding:20px 10px 0 10px
}

.logo, .logo a, .logo img {
	display:block;
	width:auto;
	height:auto;
}

.logo{
	position:relative;
	left:5px;
	display:inline-block;
	width:auto;
	min-height:54px;
	margin-bottom:35px;
	
}

.logo a, .logo img {
	display:block
}

.logo a{
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out
}

.logo:hover a{
	opacity:0.5;
}

.ncc .logo {
	min-height:44px;
	left:25px;
}

.navigation {
	position:relative;
	display:block;
	padding:0 0 10px 0;
}

.nav > ul {
	border-bottom:1px solid #e2e2e2;
}

.nav > ul > li {
	position:relative;
	display:inline-block;
	width:auto;
	height:auto;
	margin-right:10px;
	padding:0 10px;
}

.nav > ul > li:last-child{
	margin-right:0;
}

.nav > ul > li > a {
	position:relative;
	display:block;
	padding:5px 0 15px 0;
	color:#8c8c8c;
	font-size:15px;
	text-transform:uppercase;
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out;
}

.nav > ul > li > a::after {
	content:'';
	position:absolute;
	left:0;
	bottom:-1px;
	width:100%;
	height:1px;
	background-color:#a05da6;
	-webkit-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform:scale3d(0, 1, 1);
	transform:scale3d(0, 1, 1);
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.nav > ul > li:not(.active):hover > a {
	color:#a05da6;
}

.nav > ul > li:not(.active):hover > a::after {
	-webkit-transform:scale3d(1, 1, 1);
	transform:scale3d(1, 1, 1);
}

.nav > ul > li.active > a {
	color:#1da6c0;
}

.nav > ul > li.active > a::after {
	background-color:#1da6c0;
	-webkit-transform:scale3d(1, 1, 1);
	transform:scale3d(1, 1, 1);
}

.nav ul.sub-menu {
	position:absolute;
	top:100%;
	left:50%;
	width:178px;
	margin:2px 0 0 -90px;
	background-color:#fff;
	border:1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius:4px;
	border-radius:4px;
	z-index:10;
	visibility:hidden;
	opacity:0;
	-webkit-transform:translateY(-15px);
	transform:translateY(-15px);
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}

.nav > ul > li.has-sub:hover .sub-menu{
	opacity:1;
	visibility:visible;
	-webkit-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}

.nav ul.sub-menu li:first-child a {
	padding-top:12px;
}
.nav ul.sub-menu li:last-child a{
	padding-bottom:12px;
}

.nav ul.sub-menu a {
	position:relative;
	display:block;
	font-size:16px;
	padding:6px 20px;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.nav ul.sub-menu li:not(.active) a:hover, .nav ul.sub-menu li.active a {
	background-color:#d1e8eb;
	color:#000;
}

.search-box{
	position:absolute;
	right:152px;
	top:42px;
	width:268px;
	height:34px;
	background-color:#fff;
	border:1px solid #d7d7d7;
	-webkit-border-radius:4px;
	border-radius:4px
}

.search-txt {
	position:relative;
	display:block;
	width:100%;
	height:100%;
}

.search-txt label {
	display:block;
	padding:0 34px 0 15px;
	height:100%
}

.search-txt input {
	width:100%;
	height:100%;
	line-height:36px;
	font-size:14px;
	font-weight:300;
	color:#cdcdcd;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out
}

.search-txt input:focus {
	color:#333;
}

#search-but {
	position:absolute;
	right:0;
	top:0;
	width:42px;
	height:36px;
	cursor:pointer;
	-webkit-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out
}

#search-but:hover {
	opacity:0.5;
}

#search-but::before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	margin:-10px 0 0 -10px;
	width:20px;
	height:20px
}

#search-but::before {
	background:url(../images/icons/search-icon.png) no-repeat center top;
}

#member-but{
	position:absolute;
	top:42px;
	right:20px;
	display:inline-block;
	width:120px;
	height:36px;
	padding:0 12px 0 0;
	line-height:36px;
	border:1px solid #d7d7d7;
	color:#1da6c0;
	font-size:12px;
	font-weight:400;
	text-transform:uppercase;
	cursor:pointer;
	text-align:right;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

#member-but::before {
	content:'';
	position:absolute;
	left:14px;
	top:6px;
	width:20px;
	height:20px;
	background:url(../images/icons/user-icon.png) no-repeat center top;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

#member-but::after {
	content:'';
	position:absolute;
	left:14px;
	top:6px;
	width:20px;
	height:20px;
	background:url(../images/icons/user-icon.png) no-repeat center bottom;
	opacity:0;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

#member-but:hover {
	color:#fff;
	background-color:#a05ea5;
	border:1px solid #a05ea5;
}
#member-but:hover::before {
	opacity:0;
}

#member-but:hover::after {
	opacity:1;
}

/*popup video + gallery*/
.overlay-popup {
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.9);
	z-index:10;
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s
}

.overlay-inner {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:50px;
}

.overlay-popup.active {
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}

.box-pics, .box-comments {
	position:relative;
	display:block;
	height:100%;
}

.box-pics {
	float:left;
	width:70%;
	background-color:#000;
}

.box-comments {
	float:right;
	width:30%;
	padding:0;
	background-color:#fff;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
	overflow-y:auto;
	background-color: #f5f5f5;
}

.show-ad .pics-social, .show-ad .title-album, .show-ad .small-box, .show-ad .social-panel, .show-ad #pic-comments, .show-ad .center-box{
	display:none;	
}

.ad-content {
	padding:15px;
}

.ad-content h2 {
	margin-bottom:10px;
	font-size:18px;
	font-weight:400;
}

.ad-brief {
	font-size:18px;
	line-height:1.4;
	font-weight:300;
}

.ad-brief p {
	font-size:inherit;
	font-weight:inherit;
	line-height:inherit;	
}

.ad-content a{
	padding:10px 0;
	display:inline-block;
	color:#0056b3;
	font-size:18px;
	font-weight:300;
}

.ad-content a:hover {
	text-decoration:underline;	
}


.full-screen .overlay-inner {
	padding:0;
}

.full-screen .box-pics{
	width:100%;
}

.full-screen .box-comments {
	display:none;
}

.pic-view, .video-view {
	position:relative;
	display:block;
	width:100%;
	height:100%;
}
.video-view {
	top: 35px;
	height:calc(100% - 70px);
}

.video-view iframe {
	position:absolute;
	left:0;
	bottom:0;
	display:block;
	width:100%;
	height:100%;
}

.pic-view img {
	position:absolute;
	left:50%;
	top:50%;
	display:block;
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
}

.loading {
	background:#000 url(../images/icons/loading.gif) no-repeat center center;
}


/*popup video + gallery*/
.overlay-advertise {
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.9);
	z-index:10;
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}

.advertise-inner {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-align:center;
}

.advertise-inner::before, .advertise-inner::after {
	content:'';
	position:relative;
	display:inline-block;
	width:0;
	height:100%;
	vertical-align:middle;	
}

.overlay-advertise.active {
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}

.advertise-box {
	position:relative;
	display:inline-block;
	width:750px;
	height:auto;
	vertical-align:middle;
}

.advertise-pic, .advertise-pic a {
	position:relative;
	display:block;
	width:100%;
	height:auto;
	overflow:hidden;
}

.advertise-pic img {
	display:block;
	width:100%;
	height:auto;
}

.close-advertise {
	position:absolute;
	right:-45px;
	top:-20px;
	width:auto;
	height:auto;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

.close-advertise:hover {
	opacity:0.5;
}

.close-advertise img {
	display:block;
	width:20px;
	height:20px;
	margin:10px;
}




/*popup form*/
.overlay-form {
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.9);
	z-index:10;
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s
	
}

.overlay-form.active {
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}

.form-inner {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:50px;
	text-align:center;
}

.form-inner::before, .form-inner::after {
	content:'';
	position:relative;
	display:inline-block;
	width:0;
	height:100%;
	vertical-align:middle;
}

.overlay-panel, .panel-left, .panel-right {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.overlay-panel {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:90%;
	height:auto;
	background-color:#fff;
	font-size:0;
}

.panel-left, .panel-right{
	position:relative;
	display:inline-block;
	vertical-align:top;
}

.panel-left {
	width:200px;	
}

.panel-right {
	width:calc(100% - 200px);
}

/*SLIDER*/
.owl-item,.owl-wrapper{-webkit-backface-visibility:hidden}.owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-item,.owl-wrapper{-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-item{position:relative;min-height:1px;float:left;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.owl-dots.disabled,.owl-nav.disabled{display:none}.owl-dot,.owl-nav .owl-next,.owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-nav{position:static;width:100%;height:0}.owl-next,.owl-prev{position:absolute;top:50%;display:inline-block;padding:10px;margin:-20px 0 0;border:none;cursor:pointer;border-radius:0;-webkit-border-radius:0;-webkit-appearance:none;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:20px;color:#fff;z-index:100}.owl-next span,.owl-prev span{display:none}.owl-prev{left:5px}.owl-next{right:5px}.owl-next::before{content:"\e258"}.owl-prev::before{content:"\e257"}.owl-next:hover,.owl-prev:hover{opacity:.5}.owl-next.disabled,.owl-prev.disabled{pointer-events:none;opacity:.2}.owl-dots{position:absolute;left:0;bottom:10px;width:100%;height:auto;margin:0;text-align:center;z-index:2}.owl-dot{position:relative;width:auto;height:auto;display:inline-block;margin:0 4px;overflow:hidden}.owl-dot span{display:block;width:8px;height:8px;border:1px solid #a8adb0;background-color:rgba(255,255,255,0);-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-border-radius:50%;border-radius:50%}.owl-dot.active{pointer-events:none}.owl-dot.active span,.owl-dot:not(.active):hover span{border:1px solid #fff;background-color:rgba(255,255,255,1)}.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-grab{cursor:move;cursor:grab}.owl-rtl{direction:rtl}.owl-rtl .owl-item{float:right}.animated{animation-duration:1s;animation-fill-mode:both}
