html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
h1, h2, h3, h4, h5, h6 {
	line-height:1.2;
	font-size:100%;
}
p {
	line-height:1.4;
	font-size:100%;
}
img{
	border:none;
	outline:none;
}
a{
	text-decoration:none;
	color:#000;
}
html, body {
	padding:0;
	margin:0;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-style:normal;
}
.item{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:auto;
	visibility:hidden;
	opacity:0;
	-webkit-transition:opacity 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:opacity 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}
.item.active{
	position:relative;
	left:auto;
	top:auto;
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}
.item-title h2{
	font-weight:bold;
	font-style:normal;
	font-size:4.4444vw;
	color:#14338b;
	text-transform:uppercase;
}
  .item-title p {
	font-weight:normal;
	font-style:normal;
	font-size:1.52777vw;
	color:#14338b;
  }
  .item-title.size-large p{
	font-weight:500;
	font-style:normal;
	font-size:1.736vw;
  }
  .item-title.size-large p strong{
	font-weight:bold;
	font-style:normal;
  }
  .method-steps p strong{
	font-weight:bold;
	font-style:normal;
  }
  .brief-txt p {
	font-weight:500;
	font-style:normal;
	color:#fff;
	line-height:1.6;
	font-size:1.18vw;
	margin-bottom:1vw;
  }
  .step-04 .game-but p {
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	font-size:1.04vw;
	letter-spacing:4px;
	margin-bottom:0.5vw;
  }
  .btn-play-again{
	position:relative;
	padding:1vw;
	display:inline-block;
	width:auto;
	height:auto;
	font-weight:bold;
	font-style:normal;
	font-size:1.736vw;
	text-transform:uppercase;
	color:#fff;
	cursor:pointer;
  }
  .fs-caption{
	display:block;
	font-weight:normal;
	font-style:normal;
	color:#363636;
	font-size:13px;
	margin-bottom:7px;
  }
  .fs-error-txt p {
	max-width:100%;
	position:absolute;
	top:50%;
	left:15px;
	width:calc(100% - 30px);
	height:auto;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-weight:normal;
	font-style:normal;
	color:#f00;
	font-size:18px;
	-webkit-transform:translate(0,-50%);
	transform:translate(0,-50%);
  }
  .fs-checkbox label {
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight:normal;
	font-style:normal;
	padding:0 0 0 34px;
	font-size:11px;
	line-height:1.4;
	min-height:30px;
  }
  .fs-select-header span {
	display:inline-block;
	vertical-align:middle;
	width:auto;
	line-height:1.6;
	max-width:100%;
	font-weight:normal;
	font-style:normal;
	font-size:13px;
	color:#252525;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  }
  .fs-select-box li {
	position:relative;
	display:block;
	font-weight:normal;
	font-style:normal;
	font-size:13px;
	color:#252525;
	margin-bottom:1px;
	border-bottom:1px solid#ddd;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
  }
.fs-overlay-condition h3{
	font-weight:bold;
	font-style:normal;
	font-size:22px;
	text-align:center;
	margin-bottom:40px;
	text-transform:uppercase;
  }
  .fs-overlay-condition p {
	font-weight:normal;
	font-style:normal;
	font-size:15px;
	margin-bottom:10px;
	line-height:1.4;
  }
  .fs-overlay-condition p strong{
	font-weight:bold;
	font-style:normal;
  }
  
  .fs-overlay-condition p:last-child{
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	text-align:right;
  }
  .fs-overlay-condition p a{
	font-weight:500;
	font-style:normal;
	color:#14338b;
  }
  .game-content {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
  }
  .game-items{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
  }
  .fs-loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 3
  }
  .fs-loading::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-left: 5px solid #1a40a2;
	border-top: 5px solid #1a40a2;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: rotate360 1.5s infinite;
	animation: rotate360 1.5s infinite;
  }
  .item-title, .fs-form, .game-but, .main-box, .volume-but, .result-pic {
	opacity:0;
  }
  .item-01.active .item-title{-webkit-animation:fadeIn 1s forwards;animation:fadeIn 1s forwards;}
  @-webkit-keyframes rotate360 {
	0% {
	  -webkit-transform: rotate(0);
	  transform: rotate(0)
	}

	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg)
	}
  }
  @keyframes rotate360 {
	0% {
	  -webkit-transform: rotate(0);
	  transform: rotate(0)
	}

	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg)
	}
  }
  
@-webkit-keyframes fadeInUp {
	0%{
	  opacity:0;
	  -webkit-transform:translate3d(0,0,0) scale(1);
	  transform:translate3d(0,0,0) scale(1);
	}
	90% {
	  opacity:1;
	  -webkit-transform:translate3d(30px,-250px,0) scale(1.5);
	  transform:translate3d(30px,-250px,0) scale(1.5);
	}
	100% {
	  opacity:0;
	  -webkit-transform:translate3d(30px,-250px,0) scale(2);
	  transform:translate3d(30px,-250px,0) scale(2);
	}
  }
  @keyframes fadeInUp {
	0%{
	  opacity:0;
	  -webkit-transform:translate3d(0,0,0) scale(1);
	  transform:translate3d(0,0,0) scale(1);
	}
	90% {
	  opacity:1;
	  -webkit-transform:translate3d(30px,-250px,0) scale(1.5);
	  transform:translate3d(30px,-250px,0) scale(1.5);
	}
	100% {
	  opacity:0;
	  -webkit-transform:translate3d(30px,-250px,0) scale(2);
	  transform:translate3d(30px,-250px,0) scale(2);
	}
  }
  @-webkit-keyframes fadeInUp2 {
	0%{
	  opacity:0;
	  -webkit-transform:translate3d(0,0,0) scale(1);
	  transform:translate3d(0,0,0) scale(1);
	}
	90% {
	  opacity:1;
	  -webkit-transform:translate3d(-30px,-250px,0) scale(1.5);
	  transform:translate3d(-30px,-250px,0) scale(1.5);
	}
	100% {
	  opacity:0;
	  -webkit-transform:translate3d(-30px,-250px,0) scale(2);
	  transform:translate3d(-30px,-250px,0) scale(2);
	}
  }
  @keyframes fadeInUp2 {
	0%{
	  opacity:0;
	  -webkit-transform:translate3d(0,0,0) scale(1);
	  transform:translate3d(0,0,0) scale(1);
	}
	90% {
	  opacity:1;
	  -webkit-transform:translate3d(-30px,-250px,0) scale(1.5);
	  transform:translate3d(-30px,-250px,0) scale(1.5);
	}
	100% {
	  opacity:0;
	  -webkit-transform:translate3d(-30px,-250px,0) scale(2);
	  transform:translate3d(-30px,-250px,0) scale(2);
	}
  }
  @-webkit-keyframes Shake {
	0%{
	  transform:rotate(-5deg);
	}
	50%{
	  transform:rotate(0deg);
	}
	100%{
	  transform:rotate(5deg);
	}
  }
  @keyframes Shake {
	0%{
	  transform:rotate(-5deg);
	}
	50%{
	  transform:rotate(0deg);
	}
	100%{
	  transform:rotate(5deg);
	}
  }
  @-webkit-keyframes Light {
	100%{
	  -webkit-transform:rotate(4deg) scaleY(1.2);
	  transform:rotate(4deg) scaleY(1.2);
	}
  }
  @keyframes Light {
	100%{
	  -webkit-transform:rotate(4deg) scaleY(1.2);
	  transform:rotate(4deg) scaleY(1.2);
	}
  }
  @-webkit-keyframes MoveScale1 {
	form{
	  -webkit-transform:translate3d(0,0,0) scale(0.8);
	  transform:translate3d(0,0,0) scale(0.8);
	}
	to{
	  -webkit-transform:translate3d(15px,-20px,0) scale(1.02);
	  transform:translate3d(15px,-20px,0) scale(1.02);
	}
  }
  @keyframes MoveScale1 {
	form{
	  -webkit-transform:translate3d(0,0,0) scale(0.8);
	  transform:translate3d(0,0,0) scale(0.8);
	}
	to{
	  -webkit-transform:translate3d(15px,-20px,0) scale(1.02);
	  transform:translate3d(15px,-20px,0) scale(1.02);
	}
  }
  @-webkit-keyframes MoveScale2 {
	form{
	  -webkit-transform:translate3d(0,0,0) scale(0.8);
	  transform:translate3d(0,0,0) scale(0.8);
	}
	to{
	  -webkit-transform:translate3d(0,-15px,0) scale(1.02);
	  transform:translate3d(0,-15px,0) scale(1.02);
	}
  }
  @keyframes MoveScale2 {
	form{
	  -webkit-transform:translate3d(0,0,0) scale(0.8);
	  transform:translate3d(0,0,0) scale(0.8);
	}
	to{
	  -webkit-transform:translate3d(0,-15px,0) scale(1.02);
	  transform:translate3d(0,-15px,0) scale(1.02);
	}
  }
  
  @-webkit-keyframes Rotate {
	100%{
	  -webkit-transform:rotate(360deg);
	  transform:rotate(360deg);
	}
  }
  @keyframes Rotate {
	100%{
	  -webkit-transform:rotate(360deg);
	  transform:rotate(360deg);
	}
  }
  @-webkit-keyframes Rotate45 {
	0%{
	  -webkit-transform:rotate(45deg);
	  transform:rotate(45deg);
	}
	100% {
	  -webkit-transform:rotate(0deg);
	  transform:rotate(0deg);
	}
  }
  @keyframes Rotate45 {
	0%{
	  -webkit-transform:rotate(45deg);
	  transform:rotate(45deg);
	}
	100% {
	  -webkit-transform:rotate(0deg);
	  transform:rotate(0deg);
	}
  }
  @-webkit-keyframes fadeIn {
	0%{
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  @keyframes fadeIn {
	0%{
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  @-webkit-keyframes fadeOut {
	0%{
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }
  @keyframes fadeOut {
	0%{
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }
  @-webkit-keyframes scaleIn {
	0%{
	  opacity:0;
	  -webkit-transform:scale(2);
	  transform:scale(2);
	}
	20% {
	  opacity:1;
	  -webkit-transform:scale(1);
	  transform:scale(1);
	}
	40% {
	  opacity:1;
	  -webkit-transform:scale(1.1);
	  transform:scale(1.1);
	}
	60% {
	  opacity:1;
	  -webkit-transform:scale(1);
	  transform:scale(1);
	}
	80% {
	  opacity:1;
	  -webkit-transform:scale(1.1);
	  transform:scale(1.1);
	}
	100% {
	  opacity:1;
	  -webkit-transform:scale(1);
	  transform:scale(1);
	}
  }
  @keyframes scaleIn {
	0%{
	  opacity:0;
	  -webkit-transform:scale(2);
	  transform:scale(2);
	}
	20% {
	  opacity:1;
	  -webkit-transform:scale(1);
	  transform:scale(1);
	}
	40% {
	  opacity:1;
	  -webkit-transform:scale(1.1);
	  transform:scale(1.1);
	}
	60% {
	  opacity:1;
	  -webkit-transform:scale(1);
	  transform:scale(1);
	}
	80% {
	  opacity:1;
	  -webkit-transform:scale(1.1);
	  transform:scale(1.1);
	}
	100% {
	  opacity:1;
	  -webkit-transform:scale(1);
	  transform:scale(1);
	}
  }
  @-webkit-keyframes moneyCenter {
	0%{
	  opacity:0;
	  -webkit-transform:translateY(20px);
	  transform:translateY(20px);
	}
	100% {
	  opacity:1;
	  -webkit-transform:translateY(0px);
	  transform:translateY(0px);
	}
  }
  
  @keyframes moneyCenter {
	0%{
	  opacity:0;
	  -webkit-transform:translateY(20px);
	  transform:translateY(20px);
	}
	100% {
	  opacity:1;
	  -webkit-transform:translateY(0px);
	  transform:translateY(0px);
	}
  }
  @-webkit-keyframes moneyLeft {
	0%{
	  opacity:0;
	  -webkit-transform:scale(0.8) translateX(20px);
	  transform:scale(0.8) translateX(20px);
	}
	100% {
	  opacity:1;
	  -webkit-transform:scale(1) translateX(0);
	  transform:scale(1) translateX(0);
	}
  }
  @keyframes moneyLeft {
	0%{
	  opacity:0;
	  -webkit-transform:scale(0.8) translateX(20px);
	  transform:scale(0.8) translateX(20px);
	}
	100% {
	  opacity:1;
	  -webkit-transform:scale(1) translateX(0);
	  transform:scale(1) translateX(0);
	}
  }
  @-webkit-keyframes moneyRight {
	0%{
	  opacity:0;
	  -webkit-transform:scale(0.8) translateX(-20px);
	  transform:scale(0.8) translateX(-20px);
	}
	100% {
	  opacity:1;
	  -webkit-transform:scale(1) translateX(0);
	  transform:scale(1) translateX(0);
	}
  }
  @keyframes moneyRight {
	0%{
	  opacity:0;
	  -webkit-transform:scale(0.8) translateX(-20px);
	  transform:scale(0.8) translateX(-20px);
	}
	100% {
	  opacity:1;
	  -webkit-transform:scale(1) translateX(0);
	  transform:scale(1) translateX(0);
	}
  }
  
  @-webkit-keyframes whiteBoxAni {
	100%{
	  -webkit-transform:translate(100%,-25%) rotate(60deg);
	  transform:translate(100%,-25%) rotate(60deg);
	}
  }
  
  @keyframes whiteBoxAni {
	100%{
	  -webkit-transform:translate(100%,-25%) rotate(60deg);
	  transform:translate(100%,-25%) rotate(60deg);
	}
  }
  
  @-webkit-keyframes scaleOut {
	0%{
	  opacity:0;
	  -webkit-transform:scale(0.3);
	  transform:scale(0.3);
	}
	100% {
	  opacity:1;
	  -webkit-transform:scale(1);
	  transform:scale(1);
	}
  }
  
  @keyframes scaleOut {
	0%{
	  opacity:0;
	  -webkit-transform:scale(0.3);
	  transform:scale(0.3);
	}
	100% {
	  opacity:1;
	  -webkit-transform:scale(1);
	  transform:scale(1);
	}
  }
  
  @-webkit-keyframes scaleInPT {
	0%{
	  opacity:0;
	  -webkit-transform:scale(3);
	  transform:scale(3);
	}
	100% {
	  opacity:1;
	  -webkit-transform:scale(1);
	  transform:scale(1);
	}
  }
  
  @keyframes scaleInPT {
	0%{
	  opacity:0;
	  -webkit-transform:scale(3);
	  transform:scale(3);
	}
	100% {
	  opacity:1;
	  -webkit-transform:scale(1);
	  transform:scale(1);
	}
  }
  
  @-webkit-keyframes shadowAni{
	0%{
	  opacity:1;
	  box-shadow:0 0 500px 200px rgba(4,62,170,0.5) inset;
	}
	100% {
	  opacity:0;
	  box-shadow:0 0 500px 0px rgba(4,62,170,1) inset;
	}
  }
  @keyframes shadowAni{
	0%{
	  opacity:1;
	  box-shadow:0 0 500px 200px rgba(4,62,170,1) inset;
	}
	100% {
	  opacity:0;
	  box-shadow:0 0 500px 200px rgba(4,62,170,0) inset;
	}
  }
  .fs-overlay-condition{
	  display: none;
  }