
.fs_header {
   position:relative;
    background-color:#fff;
    border-bottom:1px solid #dadada;
}

.fs_header_inner {
	position:relative;
	max-width:1440px;
    min-width:320px;
    margin:0 auto;
    padding-left:24px;
    padding-right:24px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.fs_header_inner::after{
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}

.fs_main_menu, .fs_sub_menu{
	display:table;
	float:left;
}

.fs_main_menu {
    max-width:550px;
    height:64px;
}

.fs_main_menu li {
	display:table-cell;
	padding:0 11px;
}

.fs_main_menu li:first-child {
	padding-left:0;
}


.fs_main_menu li a {
    display:table-cell;
    position:relative;
    height:63px;
    padding-top:1px;
    font-weight:bold;
    font-size:14px;
    color:#363636;
    line-height:18px;
    vertical-align:middle;
    text-transform:uppercase;
    cursor:pointer;
    text-align:left;	
}


.fs_header_right {
	float:right;	
}

.fs_header_right .fs_sub_menu {
	display:table;
	float:left;
}

.fs_header_right .fs_sub_menu li {
	display:table-cell;
	padding:0 12px;
	vertical-align:top;
}

.fs_header_right .fs_sub_menu li a{
	 display:table-cell;
    position:relative;
    height:63px;
    padding-top:1px;
    font-weight:bold;
    font-size:14px;
    color:#363636;
    line-height:18px;
    vertical-align:middle;
    text-transform:uppercase;
    cursor:pointer;
    text-align:left;
}


.fs_header_tool {
	float:left;
}

.fs_header_tool li {
	position:relative;
	float:left;
	width:30px;
	height:64px;
	margin-left:7px;
}

.fs_header_tool li:nth-child(1), .fs_header_tool li:nth-child(3) {
	width:30px;	
}

.fs_header_tool li:nth-child(2) {
	width:37px;	
}

.fs_header_tool li:nth-child(1)::after {
	content:'';
	position:absolute;
    left:5px;
    top:50%;
    width:20px;
    height:20px;
	margin-top:-50%;
    background:url(../images/ico-new-gnb-logout.svg) 0 0 no-repeat;
    background-size:100% auto;
	display:inline-block;

}

.fs_header_tool li:nth-child(2)::after {
	content:'';
	position:absolute;
    left:5px;
    top:50%;
    width:27px;
    height:20px;
	margin-top:-10px;
    background:url(../images/ico-new-gnb-cart.svg) 0 0 no-repeat;
    background-size:100% auto;
	display:inline-block;

}

.fs_header_tool li:nth-child(3)::after {
	content:'';
	position:absolute;
	left:5px;
    top:50%;
    width:20px;
    height:20px;
	margin-top:-10px;
    background:url(../images/ico-new-gnb-searh.svg) 0 0 no-repeat;
    background-size:100% auto;
	display:inline-block;
}

.svg_logo {
	position:absolute;
	left:50%;
	top:22px;
	width:124px;
    height:22px;
	margin-left:-62px;
}

.svg_logo::after {
	content:'';
	position:relative;
	display:block;
    width:124px;
    height:22px;
	background:url(../images/svg-logo.svg) no-repeat center center;
	background-size:100% auto;
}

@media screen and (max-width:1100px) {
	.fs_header_inner {
		padding:0 20px;	
	}
	
	.fs_main_menu, .fs_header_right .fs_sub_menu, .fs_header_tool li:nth-child(1) {
		display:none;	
	}
	
	.fs_header_tool {
		margin-right:-5px;
	}
	
	.fs_header_tool li {
		margin:0;
		height:62px;
	}
	
	.fs_header_inner::before {
		content:'';
		position:absolute;
		top:21px;
		width:26px;
		height:20px;
		background-image:url(../images/ico-new-gnb-menu-mo.svg);
		background-position:0 0;
		background-size:100% auto;
	}
}



  


