html, body {
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
}

.no-scroll {
	overflow:hidden;
}

.func-class {
	font-size:18px;
}

/*LAYOUT COMMON*/
.ncc .hdr-inr{
	background-color:transparent;
}

.hdr-inr, .cnt-inr {
	background-color:#fff;	
}

.full-page {
	width:100%;
	max-width:inherit;
}

.full-page .section-inr {
	max-width:1010px;
	margin:0 auto;	
}

.full-page .post-box {
	max-width:inherit;	
}

.back-to-home {
	position:relative;
	display:inline-block;
	width:auto;
	height:auto;
	vertical-align:bottom;
	margin-left:24px;
	top:4px;
}

.back-to-home a {
	position:relative;
	display:block;
	width:126px;
	height:36px;
	padding:0 13px 0 0;
	line-height:40px;
	border:1px solid #d7d7d7;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-size:12px;
	color:#1da6c0;
	text-align:right;
	text-transform:uppercase;
	font-weight:400;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.back-to-home a::before {
	content:'';
	position:absolute;
	left:14px;
	top:4px;
	width:26px;
	height:26px;
	background:url(../images/icons/home-icon.png) no-repeat center top;
}

.back-to-home a::after {
	content:'';
	position:absolute;
	left:14px;
	top:4px;
	width:26px;
	height:26px;
	background:url(../images/icons/home-icon.png) no-repeat center bottom;
	opacity:0;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

.back-to-home a:hover {
	color:#fff;
	background-color:#916ea9;
	border:1px solid #916ea9;
}

.back-to-home a:hover::after {
	opacity:1;
}


.ncc .hdr-inr .box-inner {
	padding:14px 0 16px 0;
}

.ncc .logo img {
	width:212px;
}

.ncc .logo {
	margin:0;
}

.ncc .search-box {
	top:17px;
	width:366px;
	right:310px;
	background-color:transparent;
}

.ncc .search-txt {
	background-color:transparent;
}

.ncc .search-txt input, .ncc .search-txt input:focus{
	color:#fff;
}

.ncc .search-txt input::placeholder {
 color:#fff;
}

.ncc .search-txt input:-ms-input-placeholder { 
  color:#fff;
}

.ncc .search-txt input::-ms-input-placeholder { 
  color:#fff;
}

.ncc #search-but::before {
	opacity:0;
}

.ncc #search-but::after {
	opacity:1;
}

.ncc #member-but{
	top:17px;
	right:155px;
}

.ncc #member-but {
	color:#fff;
}

.ncc #member-but::before {
	opacity:0
}

.ncc #member-but::after{
	opacity:1
}

.hdr-inr .back-to-home {
	position:absolute;
	right:0;
	top:17px;	
}

.hdr-inr .back-to-home a{
	color:#fff;
}

.hdr-inr .back-to-home a::before {
	opacity:0
}

.hdr-inr .back-to-home a::after{
	opacity:1
}





/*CONTAINER*/
.title {
	margin-bottom:20px;
}

.title h2, .title h3{
	position:relative;
	display:inline-block;
}

.section-box:last-child .section-inr:last-child{
	margin:0 auto;
	padding-bottom:15px;
}

.title {
	text-align:center;
}

.title h2 {
	font-size:30px;
	font-weight:500;	
}

.title h3{
	padding:0 32px;
	font-size:30px;
	font-family:'Dancing Script', cursive;
	font-weight:normal;
	font-style:normal;
	line-height:1.1;
}

.title h3::before{
	content:url(../images/icons/icon-title1.png);
	position:absolute;
	top:5px;
	left:0;
}
.title h3::after{
	content:url(../images/icons/icon-title2.png);
	position:absolute;
	top:5px;
	right:0;
}


/*BOX*/
.box-inner {
	padding:0 10px;
}

.area-bg {
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:cover;
	background-size:cover;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
}

.area-bg::after, .banner-full .area-pic::after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(255, 255, 255, 0.2);
	-webkit-border-radius:4px;
	border-radius:4px;
}

.bg-gradient .area-bg::after {
	background:url(../images/gradient-carousel-type-1.png) no-repeat center bottom;
	-webkit-background-size:contain;
	background-size:contain;
}

.bg-color .area-bg::after {
	background-color:rgba(0, 0, 0, 0.2);
}

.text-separate .area-txt {
	padding:10px 0 0 0;
}

.area-txt h3, .area-txt p, .note {
	margin-bottom:5px;
}

.area-txt h3 {
	font-weight:400;
	font-size:18px;
	text-transform:capitalize;
	line-height:1.3;
}

.area-txt p {
	font-size:16px;
	font-weight:300;
	line-height:1.4;
}

.note {
	display:block;
	font-size:12px;
	color:#a0a0a0;
	font-weight:300;
	line-height:1.4;
}

.text-over .area-txt {
	position:absolute;	
	left:0;
	right:0;
	bottom:0;
	padding:0 15px 8px 15px;
}

.text-over .area-txt h3 {
	color:#fff;
}

.text-over .note {
	font-size:16px;
}

.has-box .box-inner a{
	box-shadow:0 0 4px rgba(0,0,0,0.2);
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
}

.has-box .area-bg {
	-webkit-border-radius:0;
	border-radius:0;
}

.has-box .area-txt {
	padding:15px;
}

.expired {
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	height:50px;
	margin-top:-25px;
	line-height:50px;
	font-size:24px;
	font-weight:300;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	background-color:rgba(160,102,171,0.7);
}

.post {
	margin-top:15px;
	font-size:0;
}

.price {
	color:#4aa0af;
	font-size:27px;
	font-weight:300;
	margin-bottom:15px;
}

.post-logo, .post-info {
	display:inline-block;
	vertical-align:bottom;
}

.post-logo{
	margin-right:10px;
}

.post-logo img {
	height:42px;
	width:auto;	
	opacity:0.7;
}

.post-info h5{
	font-size:12px;
}

.play-video {
	position:absolute;
	left:50%;
	top:50%;
	width:50px;
	height:50px;
	margin:-25px 0 0 -25px;
	line-height:0;
	overflow:hidden;
	z-index:1;
}

.play-video img {
	display:block;
	width:100%;
	height:auto;
}

.icon-video {
	position:absolute;
	left:0;
	bottom:0;
	padding:5px;
	line-height:0;
	overflow:hidden;
}

.icon-video img {
	display:inline-block;
	height:16px;
	width:auto;
	opacity:0.7;
}

.duration-time {
    position:absolute;
    right:5px;
    bottom:5px;
	padding:5px 10px;
    background-color:rgba(0, 0, 0, 0.5);
	font-family:'Roboto Slab', serif;
	font-size:15px;
    font-weight:400;
	color:#fff;
}

.area-bg::after, .play-video, .text-over .area-txt, .banner-full .area-pic::after {
	opacity:0;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

.box:hover .area-bg::after, .box:hover .play-video, .box:hover .post-logo, .box:hover .post-info, .text-over .box:hover .area-txt, .banner-full:hover .area-pic::after {
	opacity:1;
}

.text-separate .area-txt h3, .price {
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out;	
}

.text-separate .box:hover .area-txt h3, .box:hover .price {
	color:#a05da6;
}

.post-logo, .post-info {
	opacity:0.5;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

.service-section .post-logo, .service-section .post-info {
	-webkit-transition:none;
	transition:none;
	opacity:1;
}



/*BUTTON*/
.btn {
	position:relative;
	padding:0 12px;
	height:28px;
	font-size:16px;
	font-weight:300;
	background-color:#999;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	color:#fff;
	text-transform:uppercase;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	z-index:1;
}

.btn img {
	position:absolute;
	height:20px;
	top:50%;
	margin-top:-10px;
}

.bg-blue-light {
	background-color:#1da6c0
}

.bg-grey {
	background-color:#ddd;
	color:#666;
}

.icon-phone{
  position:absolute;
  top:50%;
  margin-top:-10px;
  font-family:'Glyphicons Halflings';
  font-style:normal;
  font-weight:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-size:17px;
}

.icon-phone:before {
	content:"\e182"
}

.btn:hover {
	background-color:#a05da6;
}

.bg-grey:hover {
	color:#fff;
}


/*FILTER BOX*/
.block-search {
	text-align:center;
	margin-bottom:20px
}

.block-search .box {
	float:none;
	display:inline-block;
	width:auto;
	height:auto;
	margin:0 5px;
	vertical-align:middle
}

.block-search .box-inner{
	padding:0
}

.block-search.one-box{
	text-align:right
}

.block-search.one-box .box{
	width:33.3333%;
	margin:0
}

.block-search.one-box .box-inner {
	padding:0 10px
}

.block-search.one-box .select-list{
	width:100%;
	text-align:center
}

.block-search span {
	font-weight:400;
	font-size:15px;
	color:#666
}

.select-list{
	position:relative;
	display:block;
	width:180px;
	height:auto;
	z-index:1
}

.select-header{
	position:relative;
	display:block;
	height:26px;
	padding:0 20px 0 10px;
	line-height:26px;
	border:1px solid #c5c6c8;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	z-index:2
}

.select-header h3{
	display:inline-block;
	width:auto;
	max-width:100%;
	vertical-align:middle;
	font-size:15px;
	color:#666;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}

.select-header::after{
	content:'';
	position:absolute;
	right:6px;
	top:50%;
	margin-top:-3px;
	display:block;
	border:6px solid #a066ab;
	border-right:4px solid transparent;
	border-left:4px solid transparent;
	border-bottom:0;
	opacity:0.6;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out
}

.select-box{
	position:absolute;
	top:100%;
	left:0;
	display:block;
	width:100%;
	height:auto;
	/*padding-top:26px;*/
	visibility:hidden;
	opacity:0;
	/*-webkit-transform:translateY(-30px);
	transform:translateY(-30px);*/
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s
}

.select-box ul{
	position:relative;
	display:block;
	border:1px solid rgba(0, 0, 0, 0.15);
	max-height:540px;
	text-align:left;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow-x:hidden;
	scroll-behavior:smooth
}

.select-box li:first-child {
	padding-top:12px
}
.select-box li:last-child {
	padding-bottom:12px
}

.select-box li {
	position:relative;
	display:block;
	font-size:14px;
	padding:6px 20px 6px 30px;
	white-space:nowrap;
	text-overflow:ellipsis;
	max-width:100%;
	overflow:hidden;
	cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out
}

.select-box li:hover {
	background-color:#d1e8eb
}

.select-box li.selected::before{
	content:'';
	position:absolute;
	top:50%;
	left:9px;
	margin-top:-6px;
	height:12px;
	width:13px;
	background:url("../images/icons/check-ico.png") no-repeat
}

.select-box ul {
	background-color:#fff
}
.open .select-header{
	border:1px solid #8c8c8c
}
.open .select-header::after{
	-webkit-transform:rotate(-180deg);
	transform:rotate(-180deg)
}
.open .select-box{
	opacity:1;
	visibility:visible;
	/*-webkit-transform:translateY(0);
	transform:translateY(0);*/
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}

.filter-but {
	padding:0 16px;
	height:27px;
	line-height:27px;	
	font-size:14px;
	font-weight:400;
	text-transform:initial
}


/*BREADCRUMB*/
.breadcrumb{
	position:relative;
	display:block;
	font-size:0;
	margin-bottom:20px;
	overflow:hidden
}

.breadcrumb li {
	position:relative;
	display:inline-block;
	width:auto;
	height:auto
	
}

.breadcrumb li a, .breadcrumb li{
	font-weight:400;
	color:#666;
	font-size:14px
}

.breadcrumb li a{
	display:inline-block;
	line-height:1.4;
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out
}

.breadcrumb li:not(.active):hover a {
	color:#1da6c0
}

.breadcrumb li:first-child:not(.active):hover a {
	color:#a05da6
}

.breadcrumb li::before{
	content:'> ';
	padding:0 5px;
	color:#666;
	font-family:inherit;
	font-size:inherit
}

.breadcrumb li:first-child::before{
	display:none
}

.breadcrumb li:first-child + li::before {
	content:'• '
}



/*PAGING*/
.page-controls{
	position:relative;
	display:block;
	padding:10px 0 30px 0;
	text-align:center
}

.page-num{
	position:relative;
	width:auto;
	max-width:180px;
	height:32px;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	margin:0 3px
}

.page-num ul{
	position:relative;
	display:inline-block;
}

.page-num li{
	position:relative;
	display:inline-block;
	margin:0 2px
}

.page-num li a {
	position:relative;

	display:block;
	width:32px;
	height:32px;
	line-height:32px;
	font-size:14px;
	font-weight:300;
	background-color:#999;
	color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out
}

.page-num li.active a {
	background-color:#1da6c0
}

.page-num li:not(.active):hover a {
	background-color:#a05da6
}

.first, .last, .page-num{
	display:inline-block;
	vertical-align:top
}

.first, .last{
	position:relative;
	width:32px;
	height:32px;
	background-color:rgba(212, 212, 212, 0.8);
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out
}

.first span, .last span {
	position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
	display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:22px;
	color:#fff;
	text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.last span::before {
  content:""
}

.first span:before {
    content:""
}

.first.disabled, .last.disabled{
	opacity:0.5;
	pointer-events:none
}

.last:not(.disabled):hover, .first:not(.disabled):hover{
	opacity:0.5
}



/*MAIN PC*/
.banner-collapse {
	margin-bottom:20px;
	min-height:92px
}

.big, .small{
	display:block;
	width:100%;
}

.big{
	opacity:0;
	height:90px;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out
}

.big.show {
	opacity:1;
	height:432px
}

.small {
	position:absolute;
	left:0;
	top:0
}

.adv-close {
	position:absolute;
	right:0;
	bottom:0;
	background-color:#fff;
	cursor:pointer;
	opacity:0;
	-webkit-transition:opacity 0.1s ease-in-out 0.2s;
	transition:opacity 0.1s ease-in-out 0.2s;
}

.adv-close img {
	display:block;
	width:47px;
	height:12px;
	margin:4px;
}

.big.show .adv-close {
	opacity:1;
}

.banner, .banner-full {
	margin-bottom:30px
}

.banner {
	z-index:1
}

.banner-full {
	padding:0 10px;
}

.banner-slider {
	-webkit-border-radius:6px;
	border-radius:6px
}

.banner-pic::before {
	background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.8) 100%);
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.8) 100%)
}

.banner-pic {
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:cover;
	background-size:cover
}

.banner-txt {
	position:absolute;
	left:0;
	right:0;
	bottom:30px;
	padding:0 30px
}

.banner-txt a {
	color:#fff;
	font-size:32px;
	font-weight:300;
	line-height:1.2;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
}




.news-home {
	margin-bottom:8px;	
}

.news-home .area-bg, .news-home .area-txt{
	display:inline-block;
	vertical-align:middle;
}

.news-home .area-bg {
	width:240px;
}

.news-home .box {
	margin-bottom:22px;
}

.news-home .area-txt {
    width:calc(100% - 260px);
    margin-left:20px;
	padding:0;
}

.news-home .area-txt h3 {
	max-height:100px;
	overflow:hidden;
}




.gallery-home {
	margin-bottom:10px;
}

.separate-3 .box {
	margin-bottom:20px;
}

.separate-6 .box {
	margin-bottom:18px;
}




.service-home {
	margin-bottom:12px;
}

.service-home {
	padding:0 1px;
}

.service-home .box-inner {
	padding:0 9px;
}

.service-home .area-txt {
	padding:0 10px 5px 10px;
	opacity:1;
	-webkit-transition:none;
	transition:none;
}
.service-home .area-txt h3 {
	font-size:17px;
	text-shadow:1px 1px 3px rgba(0,0,0,.75);
}

.service-home .area-bg::after {
	opacity:1;
	-webkit-transition:background-color 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

.service-home .box:hover .area-bg::after {
	background-color:rgba(0,0,0,0.5)
}

.album-home, .video-home {
	margin-bottom:10px;
}




.distributor-home {
	margin-bottom:12px;
	padding:10px 15px 0 15px;
	text-align:center;
}

.distributor-home .box-inner {
	padding:0 5px;
}

.distributor-home .area-pic {
	margin-bottom:6px;
	line-height:0;
	overflow:hidden
}

.distributor-home .area-pic img {
	display:inline-block;
	width:auto;
	height:80px;	
}

.distributor-home .area-txt h3 {
	font-size:15px;
}

.add-box {
	position:relative;
	margin-bottom:6px;
	display:inline-block;
	width:80px;
	height:80px;
	background-color:rgba(29, 166, 192,1);
	-webkit-border-radius:4px;
	border-radius:4px;
	
}

.icon-add {
	position:absolute;
	left:50%;
	top:50%;
	width:30px;
	height:30px;
	margin:-15px 0 0 -15px;
	text-align:center;
	line-height:30px;
	background-color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
	color:#9e6bab

}

.icon-add img{
	display:inline-block;
	width:auto;
	height:auto;
	max-width:12px;
	vertical-align:middle
}

.distributor-home .area-pic, .add-box {
	-webkit-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out	
}
.distributor-home .box:hover .area-pic, .box:hover .add-box {
	opacity:0.5
}




.register-home {
	margin-bottom:30px;
	text-align:center;
}

.register-home .area-txt p {
	margin-bottom:20px;
	font-size:20px;
}

.area-form{
	position:relative;
	display:inline-block;
	width:auto;
	height:auto;
}

#register-input {
	display:inline-block;
	vertical-align:top;
	width:376px;
	height:38px;
	margin-right:20px;
	padding:0 12px;
	line-height:38px;
	font-family:inherit;
	font-size:14px;
	font-weight:normal;
	color:#999;
	border:1px solid #c5c6c8;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

#register-input:focus {
	color:#333;
}

#register-but {
	display:inline-block;
	vertical-align:top;
	width:132px;
	height:40px;
	padding:0;
	font-weight:400;
	font-size:18px;
}


.distributor-section{
	counter-reset:section;
}

.supplier-box {
	position:relative;
	display:block;
	margin-bottom:30px;
	padding:0 70px;
}

.supplier-box::before {
	counter-increment:section;
	content:counters(section, ".");
	position:absolute;
	left:32px;
	top:50%;
	width:22px;
	height:34px;
	margin-top:-17px;
	line-height:28px;
	background:url(../images/icons/number-ico.png) no-repeat center center;
	color:#fff;
	font-size:12px;
	text-align:center;
	font-family:inherit;
}

.supplier{
	position:relative;
	display:block;
	padding:20px 20px 10px 20px;
	box-shadow:0 0 4px rgba(0,0,0,0.2);
	-webkit-border-radius:4px;
	border-radius:4px;
}

.about-supplier, .info-supplier {
	display:inline-block;
	vertical-align:top;
}

.about-supplier {
	width:180px
}

.about-supplier .box-inner {
	padding:0
}

.about-supplier .area-txt h3 {
	font-size:20px
}

.info-supplier {
	width:calc(100% - 195px);
	margin-left:15px
}

.gallery {
	margin-right:-5px
}

.gallery .box-inner{
	padding:0 5px
}

.gallery li {
	width:25%;
	display:inline-block
}

.gallery li a{
	display:block;
	padding:0 5px
}

.view-more .area-bg::after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:background-color .3s ease-in-out;
	transition:background-color .3s ease-in-out;
	opacity:1
}

.view-more:hover .area-bg::after {
	background-color:rgba(0,0,0,0.3)
}

.view-more span {
	position:absolute;
	left:0;
	top:50%;
	margin-top:-10px;
	width:100%;
	height:20px;
	line-height:20px;
	font-size:16px;
	color:#fff;
	font-weight:300;
	text-align:center;
	z-index:1
}

.contact {
	position:relative;
	padding:10px 0
}

.contact::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both
}

.menu {
	position:relative;
	top:2px;
	display:inline-block;
	width:auto;
	max-width:360px;
	vertical-align:middle;
	white-space:nowrap;
	overflow:hidden;
	overflow-x:auto
}

.menu li {
	display:inline-block;
	vertical-align:top
}

.menu a {
	position:relative;
	display:block;
	padding:5px 0;
	font-size:16px;
	text-transform:uppercase;
	font-weight:300;
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out
}

.menu li a::after {
	content:'•';
	font-family:inherit;
	font-size:inherit;
	padding:0 4px;
	color:#333
}

.menu li:not(.active):hover a {
	color:#a05da6;
}

.menu li.active a {
	color:#1da6c0;
}

.menu li:last-child a::after {
	display:none
}

.hotline {
	float:right;
	display:inline-block;
	vertical-align:middle
}

.hotline .btn{
	padding:0 12px 0 40px;
	height:28px;
	vertical-align:middle;
	margin-left:6px;
	overflow:visible;
}

.hotline .icon-phone, .hotline .btn img {
	left:12px;
}

.brief {
	position:absolute;
	left:50%;
	top:100%;
	width:280px;
	height:auto;
	margin:18px 0 0 -140px;
	padding:15px 20px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-align:center;
	border:1px solid rgba(0, 0, 0, 0.2);
	background-color:#fff;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	visibility:hidden;
	opacity:0;
	-webkit-transform:translateY(-10px);
	transform:translateY(-10px);
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s
}

.brief::before {
	content:'';
	position:absolute;
	left:50%;
	top:0;
	width:20px;
	height:20px;
	margin:-12px 0 0 -10px;
	background-color:#fff;
	border-left:1px solid rgba(0, 0, 0, 0.2);
	border-top:1px solid rgba(0, 0, 0, 0.2);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}

.brief p {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#333;
	font-weight:normal;
	text-transform:none;
	line-height:1.4
}

.btn:hover .brief {
	opacity:1;
	visibility:visible;
	-webkit-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}

.description {
	padding-top:10px;
	border-top:1px solid #ccc
}

.description p {
	font-size:18px;
	font-weight:300;
	line-height:1.4;
	margin-bottom:10px
}





/*NCC MAIN*/
.distributor-banner {
	padding-top:10px;
	border-bottom:1px solid #ebebeb;
}

.left-box {
	width:200px;
}

.right-box {
	width:calc(100% - 200px);
}

.right-box .box-inner {
	padding:0;
}

.right-box:only-child {
	width:100%;
	margin:0;
}

.left-box .area-txt h3 {
	font-size:20px;
	font-weight:700;
}

.left-box .area-txt .note {
	font-size:14px;
	color:#666;
	font-weight:400;
}

.distributor-link {
	position:relative;
	margin-bottom:20px;
	padding-left:200px;
	z-index:1;
}

.distributor-link::before {
	content:'';
	position:absolute;
	left:0;
	bottom:2px;
	width:100%;
	height:1px;
	background-color:#ebebeb;
}

.distributor-link::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	clear:both;
}

.distributor-link .menu {
	max-width:510px;
	margin-right:18px;
	top:auto;
}

.distributor-link .menu li {
	margin-right:18px;
}

.distributor-link .menu li a {
	padding:15px 0;
	font-weight:400;
}

.distributor-link .menu li a::after {
	content:'';
	position:absolute;
	left:0;
	bottom:2px;
	width:100%;
	height:2px;
	background-color:#a05da6;
	-webkit-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform:scale3d(0, 1, 1);
	transform:scale3d(0, 1, 1);
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.distributor-link .menu li:last-child a::after {
	display:block;
}

.distributor-link .menu li.active a::after {
	background-color:#1da6c0;
}

.distributor-link .menu li.active a::after, .distributor-link .menu li:not(.active):hover a::after {
	-webkit-transform:scale3d(1, 1, 1);
	transform:scale3d(1, 1, 1);
}

.distributor-link .hotline {
	float:none;
}

.post-box .box {
	display:block;
	width:auto;
	vertical-align:initial;
}

.post-box .box-inner{
	padding:0;
}

.post-title h3 {
	position:relative;
	margin-bottom:8px;
	font-size:30px;
	font-weight:700;
}

.post-title .note {
	margin-bottom:12px;
	font-size:14px;
}

.post-title .dots-box {
	top:7px;
	left:auto;
	right:20px;
	padding:10px !important;
}

.post-detail {
	font-size:24px;
	font-weight:400;
	color:#333;
}

.post-title > *, .social-panel > *, .post-detail > *, .wrap-tags > *, .contact-wrap > * {
	display:block;
	margin:0 auto;
	max-width:1010px;
	padding:0 150px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.comment-box {
	max-width:710px;
	margin:0 auto;
}

.contact-inner .box-inner{
	font-size:0;
}

.ncc .post-title > *, .ncc .social-panel > *, .ncc .post-detail > *, .ncc .wrap-tags > *, .ncc .contact-wrap > *, .ncc .comment-box {
	padding:0 100px 0 200px;
}

.post-box .box-inner.main-contact {
	padding:14px;
}

.post-detail h3, .post-detail h4, .post-detail h5 {
	margin-bottom:20px;
	font-size:100%;
	font-weight:400;
}

.auto-width {
	max-width:990px;
	padding:0 !important;
}

.full-page .auto-width {
	max-width:inherit;
}

.post-box img {
	display:block;
	width:auto;
	height:auto;
	max-width:100%;
	margin:0 auto;
}

.post-detail p, .post-detail span {
	margin-bottom:20px;
	font-size:75%;
	color:inherit;
	line-height:1.4;
	font-weight:300;
}

.post-detail p span {
	display:block;
	margin:-10px 0 0 0;
	text-align:center;
	font-size:12px;
}

.tag-brief {
	margin-bottom:10px;
}

.tag-brief h5{
	display:inline-block;
	font-size:18px;
	font-weight:400;
	margin-right:8px;
	vertical-align:top;
}

.tag-brief a {
	position:relative;
	display:inline-block;
	vertical-align:top;
	z-index:5;
}

.tag-brief .brief {
	margin:0 0 20px -140px;
	top:auto;
	bottom:100%;
	-webkit-transform:translateY(20px);
	transform:translateY(20px);
}

.tag-brief a:hover .brief {
	opacity:1;
	visibility:visible;
	-webkit-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}

.tag-brief .brief::before {
	top:100%;
	margin:-10px 0 0 -10px;
	-webkit-transform:rotate(225deg);
	transform:rotate(225deg)
}

.tag-list {
	margin-bottom:12px;
}

.tag-list a {
	display:inline-block;
	margin:0 2px 2px 0;
	padding:3px 15px 2px 15px;
    background-color:#dbecef;
	font-size:14px;
    font-weight:400;
   	vertical-align:top;
	-webkit-border-radius:4px;
	border-radius:4px;
	color:#333;
	line-height:1.4;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.tag-list a:hover {
	background-color:#a05da6;
	color:#fff;
}

.tag-list a:last-child {
	margin:0 0 2px 0;
}

.social-panel {
	margin-bottom:25px;	
}
.social-panel li {
	margin-right:3px;
	display:inline-block;
	vertical-align:top;
}

.go-to-list {
	position:relative;
	display:inline-block;
	margin:-15px 0 18px 10px;
	padding:5px 0 5px 32px;
	font-size:16px;
	color:#666;
	font-weight:400;
	line-height:1.4;
	-webkit-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
}

.box .go-to-list {
	margin:0 0 5px 10px;
}

.go-to-list::before {
	content:'';
	position:absolute;
	left:0;
	width:24px;
	height:19px;
	background:url(../images/icons/i-back.png) no-repeat left center;
	background-size:auto 14px;
}

.go-to-list::after {
	content:'';
	position:absolute;
	left:0;
	width:24px;
	height:19px;
	background:url(../images/icons/i-back.png) no-repeat right center;
	background-size:auto 14px;
	opacity:0;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

.go-to-list:hover {

	color:#996699;
}

.go-to-list:hover::after {
	opacity:1;
}


.extra-box {
	margin:20px 0;
	padding:0 150px;
}

.extra-box .box-inner {
	margin-bottom:10px;
	padding:10px;
	border:1px solid #c4e1e5;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.extra-box .area-bg {
	display:inline-block;
	width:30%;
	vertical-align:top;
}

.extra-box .area-txt {
	display:inline-block;
	width:calc(70% - 15px);
	margin-left:15px;
	vertical-align:top;
}

.source-box {
	position:relative;
	margin:20px 0;
	padding:0 150px;
	text-align:left;
}

.post-box .source-box .box-inner {
	max-width:710px;
	margin:0 auto;
}


.ncc .source-box {
	padding:0 100px 0 200px;
}

.source-box::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}

.source {
	position:relative;
	top:20px;
	float:right;
	font-size:18px;
	font-weight:300;
}

.chvn-logo {
	display:inline-block;
	width:auto;
	height:auto;
}

.chvn-logo a {
	display:block;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.chvn-logo a:hover {
	opacity:0.5;
}

.post-box .chvn-logo img {
	display:inline-block;
	width:auto;
	height:48px;
}


.contact-list {
	padding-left:200px;
	margin-bottom:10px;
}

.contact-list .box {
	max-width:710px;
}

.contact-item {
	position:relative;
	display:block;
	margin-bottom:20px;
	padding:8px 0 20px 0;
	border-bottom:1px solid #e2e2e2;
}

.contact-item  h3 {
	margin-bottom:5px;
	font-size:18px;
	font-weight:700;
	text-transform:uppercase
}

.contact-item  ul {
	display:block;
	margin-bottom:10px;
}

.contact-item  li {
	position:relative;
	margin-bottom:3px;
	padding-left:9px;
	font-size:18px;
	font-weight:300;
	line-height:1.4;
}

.contact-item  li::before {
	content:'•';
	position:absolute;
	left:0;
	top:0;
	font-size:inherit;
	font-weight:inherit;
	line-height:inherit;
}

.contact-item  li a {
	font-size:inherit;
	font-weight:inherit;
	line-height:inherit;
	-webkit-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
}

.contact-item  li a:hover {
	color:#1da6c0;
}

.main-contact {
	padding:14px;
	background-color:#eff7f8;
	border:1px solid #c4e1e5;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.main-contact .area-bg, .main-contact .area-txt {
	display:inline-block;
	vertical-align:top;
}

.main-contact .area-bg {
	display:inline-block;
	width:180px;
}

.main-contact .area-bg::after {
	display:none;
	-webkit-transition:none;
	transition:none;
}

.main-contact .area-txt {
	width:calc(100% - 205px);
	margin-left:25px;
}

.main-contact .area-txt h3 {
	font-size:20px;	
}

.main-contact .btn {
	height:36px;
	padding:0 15px;
	font-size:18px;
	text-transform:uppercase;
	font-weight:700;
	-webkit-border-radius:4px;
	border-radius:4px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.24);
}

.dots-box {
	position:absolute;
	top:4px;
	left:100%;
	margin-left:2px;
	padding:10px;
	cursor:pointer;
	white-space:nowrap;
	line-height:0;
}

.dots-box span {
	display:inline-block;
	width:8px;
	height:8px;
	margin:0 2px;
	-webkit-border-radius:50%;
	border-radius:50%;
	background-color:rgba(153,102,153,0.7);
	vertical-align:top;
	-webkit-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

.dots-box:hover span {
	background-color:rgba(153,102,153,1);
}


.supplier-block {
	padding-left:200px;
	font-size:16px;
}

.supplier-txt {
	max-width:710px;
}





.comment-box{
	margin-bottom:30px;
}

.center-box {
	position:relative;
	margin:20px 0 0 0;
	text-align:center;
	z-index:1;
}

.more-comment {
	padding:0 35px;
	height:42px;
	text-transform:initial;
	font-size:16px;
	font-weight:400;
}

.comment-number, .comment-label {
	position:absolute;
	
	font-size:16px;
	color:#999;
	font-weight:400;
}

.comment-number {
	left:0;
	top:8px;
}

.comment-label {
	right:140px;
	top:8px;
}

.ncc .comment-label {
	right:240px;
}

.ncc .comment-number {
	left:200px;
}

/*Gallery*/
.gallery-thumbs {
	position:relative;
	display:block;
	padding:0 10px;
	margin-bottom:20px;
	font-size:0;
}

.item {
	position:relative;
}

.item a{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.thumbnail-gallery, .tile-gallery {
	height:auto !important;
}

.thumbnail-gallery .item {
	position:relative !important;
	left:auto !important;
	top:auto !important;
	display:inline-block;
	width:calc(25% - 2px) !important;
	margin:0 1px 2px 1px !important;
	height:auto !important;
	overflow:hidden;
	vertical-align:top;
}

.thumbnail-gallery .item::before {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto;
	padding-top:100%;
}

.thumbnail-gallery img {
	position:absolute;
	left:50%;
	top:50%;
	width:auto !important;
	height:auto !important;
	min-width:100%;
	min-height:100%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
	margin:0 !important;
}

.tile-gallery {
	display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tile-gallery .item {
	display:inline-grid;
	width:calc(25% - 4px) !important;
	height:auto !important;
	top:auto !important;
	left:auto !important;
	margin:0 2px 4px 2px !important;
	padding:8px;
	background-color:#fff;
	border:1px solid rgba(138, 138, 138, 0.3);
    -webkit-border-radius:4px;
    border-radius:4px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.tile-gallery .item a {
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	left:auto;
	top:auto;
	right:auto;
	bottom:auto;
	display:block;
}

.tile-gallery .item a::before {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto;
	padding-top:80%;
}

.tile-gallery img {
	position:absolute;
	top:50%;
	left:50%;
	width:auto !important;
	height:auto !important;
	max-height:100%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
	margin:0 !important;
}

.tile-gallery .pic-txt {
	position:relative;
	left:auto;
	top:auto;
	padding:7px 0;
	-webkit-transition:none;
	transition:none;
	opacity:1;
}

.tile-gallery .pic-txt h3, .tile-gallery .pic-txt p {
	color:#333;
}

.tile-gallery .icons  {
	-webkit-transition:none;
	transition:none;
	opacity:1;
}

.tile-gallery .item a::after {
	background-color:rgba(0,0,0,0.1);
	-webkit-transition:none;
	transition:none;
	opacity:1;
}

.tile-gallery .icons span {
	color:#999;
}

.pic-txt {
	position:absolute;
	left:0;
	top:0;
	padding:7px;
}

.pic-txt h3,
.pic-txt p {
	color:#fff;
	font-weight:300;
	margin-bottom:5px;
}

.pic-txt h3 {
	font-size:13px;
	line-height:1.2;
}

.pic-txt p {
	font-size:11px;
}

.icons {
	position:absolute;
	right:0;
	bottom:5px;
	white-space:nowrap;
}

.icons span {
	margin-right:5px;
	font-size:12px;
	color:#fff;
}

.item a::after{
	content:'';
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,0.2);
}

.item a::after, .pic-txt, .icons {
	opacity:0;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

.item:hover a::after, .item:hover .pic-txt, .item:hover .icons {
	opacity:1;
}


.go-list {
	position:absolute;
	left:50px;
	top:20px;
	padding:5px 10px 5px 30px;
	font-size:18px;
	color:#fff;
	font-weight:400;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.go-list::before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:22px;
	height:100%;
	background:url(../images/icons/i-back-white.png) no-repeat left center;
}

.go-list:hover {
	opacity:0.5;
}

.view-controls {
	position:relative;
	float:right;
	padding:0 10px 0 0;
	top:7px;
}

.view-controls a {
	display:inline-block;
	vertical-align:top;
	height:20px;
	margin-left:8px;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.thumbnail-view {
	width:20px;
	background:url(../images/icons/thumbnail-view-icon.png) no-repeat center center;
	-webkit-background-size:auto 20px;
	background-size:auto 20px;
}

.justified-view {
	width:24px;
	background:url(../images/icons/justified-view-icon.svg) no-repeat center center;
	-webkit-background-size:auto 20px;
	background-size:auto 20px;
}

.tile-view {
	width:20px;
	background:url(../images/icons/tile-view-icon.svg) no-repeat center center;
	-webkit-background-size:auto 20px;
	background-size:auto 20px;
}

.thumbnail-view.active, .thumbnail-view:hover {
	background:url(../images/icons/thumbnail-view-icon-hover.png) no-repeat center center;
	-webkit-background-size:auto 20px;
	background-size:auto 20px;
}

.justified-view.active, .justified-view:hover {
	background:url(../images/icons/justified-view-icon-hover.svg) no-repeat center center;
	-webkit-background-size:auto 20px;
	background-size:auto 20px;
}

.tile-view.active, .tile-view:hover {
	background:url(../images/icons/tile-view-icon-hover.svg) no-repeat center center;
	-webkit-background-size:auto 20px;
	background-size:auto 20px;
}

.title-album {
	position:absolute;
	left:20px;
	top:20px;
	opacity:0;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
	z-index:1;
}

.title-album.on-video {
	left:auto;
	top:-38px;
	right:64px;
}

.title-album a{
	font-size:24px;
	font-weight:400;
	color:#fff;
}

.box-pics:hover .title-album {
	opacity:1;
}

.close-icon {
	position:absolute;
	right:0;
	top:11px;
}

.close-icon img {
	display:block;
	width:20px;
	height:auto;
	margin:10px;
}

.fullscreen-but {
	position:absolute;
	right:10px;
	top:10px;
	width:40px;
	height:40px;
	font-size:0;
	z-index:1;
}

.fullscreen-but.on-video {
	top:-40px;
}

.fullscreen-but::before, .fullscreen-but::after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%
	
}

.fullscreen-but::before {
	background:url(../images/icons/expand-arrow.png) no-repeat center center;
}

.fullscreen-but::after {
	display:none;
	background:url(../images/icons/close-icon.png) no-repeat center center;
}

.full-screen .fullscreen-but::before {
	display:none;
}

.full-screen .fullscreen-but::after {
	display:block;
}

.full-screen .fullscreen-but.on-video {
	top:10px;
}

.prev-pic, .next-pic {
	position:absolute;
	width:40px;
	height:40px;
	top:50%;
	margin-top:-20px;
	z-index:2;
	cursor:pointer;
}
.prev-pic.disabled, .next-pic.disabled {
	pointer-events:none;
	opacity:0.5;
}

.prev-pic {
	left:10px;
	background:url(../images/icons/prev.png) no-repeat center center;
}

.next-pic {
	right:10px;
	background:url(../images/icons/next.png) no-repeat center center;
}


.item-pic h3 {
	position:absolute;
	left:20px;
	top:20px;
	color:#fff;
	font-size:24px;
	font-weight:400;
	z-index:1;
}

.overlay-popup .box-inner {
	padding:0;
}

.overlay-popup .social-panel ul{
	padding:0;
}

.pics-social {
	position:absolute;
	bottom:-32px;
	right:0;
}

.pics-like, .pics-view {
	top:3px;
	position:relative;
	display:inline-block;
	margin-right:15px;
}

.pics-social .social-panel{
	display:inline-block;
	margin:0;
}

.pics-like a, .pics-view {
	color:#fff;
	font-size:18px;
	font-weight:300;
}

.pics-like img {
	margin-right:5px;
}



.small-box {
	font-size:0;
}

.small-item {
	margin-bottom:20px;
}

.small-pic {
	display:block;
	float:left;
	width:48px;
	height:auto;
	margin-right:10px;
}

.small-pic img {
	display:block;
	width:100%;
	height:auto;
}

.small-item h3 {
	font-size:18px;
	font-weight:400;
	line-height:1.4;
}

.small-item, .small-item p {
	font-size:18px;
	font-weight:300;
	line-height:1.4;
}


/*FUNC*/
.color-blue-light {
	color:#1da6c0;
}

.color-purple {
	color:#a05da6;
}

.color-red {
	color:#f00;
}

.form-box {
	padding:0 15px 0 140px;
	margin-bottom:40px;
}

.form-box * {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.form-box .title {
	text-align:left;
	margin-bottom:4px;
}

.form-box .title h2 {
	font-weight:700;
	margin-bottom:8px;
}

.form-box .title h4 {
	font-size:24px;
	font-weight:400;
	margin-bottom:24px;
}

.form-box .title p {
	font-size:18px;
	font-weight:400;
	margin-bottom:24px;
}

.form-box h3 {
	font-size:24px;
	font-weight:400;
	margin-bottom:5px;
}

.form-box form {
	display:block;
	max-width:560px;
}

.form-group, .link-list {
	max-width:430px;
}

.form-box .frm-distributor {
	width:100%;	
	max-width:inherit;
}

.frm-distributor .form-group {
	width:100%;
	max-width:inherit;
}


.note-help {
	position:absolute;
	display:block;
	margin-top:6px;
	font-size:13px;
	color:#999;
}

.form-box a {
	color:#007bff;
}

.form-box a.underline-link, .underline-link{
	color:#333;
	text-decoration:underline;
	font-weight:400;
}

.form-box .box a:hover, .form-box .box a.underline-link:hover, .underline-link:hover {
	color:#0056b3;
	text-decoration:underline;
}

.form-box p {
	font-size:18px;
	font-weight:300;
	margin-bottom:16px;
	line-height:1.4;
}

.form-box strong {
	font-weight:400;
}

.form-box .btn {
	min-width:130px;
	height:38px;
	font-weight:400;
	text-align:center;
	z-index:0;
}

.form-group .btn {
	width:100%;
	height:38px;
}

.form-box .btn.bg-grey {
	color:#666;
}

.social-login li, .form-group {
	position:relative;
	display:block;
	width:100%;
	margin-bottom:16px;
}

.form-group input[type="text"], .form-group input[type="password"] {
	display:block;
    width:100%;
    height:36px;
	padding:0 12px;
    font-size:16px;
    color:#999;
    background-color:#fff;
    border:1px solid #ced4da;
    -webkit-border-radius:4px;
	border-radius:4px;
	font-weight:400;
	font-family:inherit;
}

.form-group .mask-group {
	display: block;
	background-color: #fff;
    border: 1px solid #ced4da;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.mask-input {
	display:inline-block;
	vertical-align:top;
	padding:0 12px;
	font-size: 16px;
    color: #999;
	line-height:36px;
}

.form-group .mask-group input[type="text"], .form-group .mask-group  input[type="password"]{
	display:inline-block;
	padding:0;
	width:auto;
	border:none;
	background-color:transparent;
	-webkit-border-radius:0;
	border-radius:0;
}

.form-box textarea {
	display: block;
    width: 100%;
    height:auto;
    padding:12px;
	font-family:inherit;
	font-weight:400;
    font-size:16px;
    line-height:1.4;
    color:#999;
    border:1px solid #ced4da;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.has-warning::after {
	content:'';
	position:absolute;
	top:50%;
	left:100%;
	margin:-13px 0 0 -32px;
	width:26px;
	height:26px;
	background:url(../images/icons/warning-ico.png) no-repeat center center;
	opacity:0;
}

.has-warning.show-error::after {
	opacity:1;
}

.has-warning.show-error input {
	border:1px solid #a064a9;
}


.form-check {
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin-right:20px;
}

.form-check-input{
	position:absolute;
	width:16px;
	height:16px;
	left:0;
	top:0;
	opacity:0;
}

.form-check-label {
    display:block;
    position:relative;
    padding-left:22px;
    cursor:pointer;
	font-size:16px;
	line-height:18px;
}

.form-check-label:before {
    content:"";
    position:absolute;
    left:0;
	top:0;
    height:14px;
    width:14px;
    background-color:transparent;
    border:1px solid #666;
    -webkit-border-radius:50%;
	border-radius:50%;
}

.form-check-input:checked + .form-check-label:before {
    background-color:#1da6c0;
    border-color:#1da6c0;
}

.error-message {
	position:absolute;
	width:100%;
	left:100%;
	top:50%;
	margin-left:-4px;
	padding-left:12px;
	-webkit-transform:translateY(-50%);

	transform:translateY(-50%);
	
}

.error-inr {
	display:inline-block;
	width:auto;
	background-color:#a05da6;
	max-width:300px;
	padding:5px 12px;
	font-size:14px;
	color:#fff;
	line-height:1.4;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.form-box .error-inr a {
	color:#fff;
	display:block;
	text-decoration:underline;
}

.form-box .error-inr a:hover {
	color:#1da6c0;
}

.error-message::before {
	content:'';
	position:absolute;
	left:6px;
	top:50%;
	margin-top:-6px;
    border:6px solid #a05da6;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-left:0;
}

.link-list {
	position:relative;
	display:block;
}

.link-list.ta-r {
	text-align:right
}

.link-list.ta-r li {
	margin-right:0;
	margin-left:4px;
}

.link-list li {
	margin-right:4px;
	display:inline-block;
	vertical-align:top;
}

.link-list li .btn {
	display:block;
	padding:0 14px;
	line-height:38px;
	text-transform:initial;
	color:#fff;
}

.form-box .link-list li a.btn, .form-box .link-list li a.btn:hover {
	text-decoration:none;
}

.link-list a.btn:hover {
	color:#fff;
}

.col {
	display:inline-block;
	vertical-align:middle;
}

.col:nth-child(1){
	width:25%;
}

.col:nth-child(2){
	width:75%;
}

.col.size-full {
	display:none;
	width:100%;
}
.col.size-full.show-error {
	display:block;
}

.tag-brief strong {
	font-weight:600;
}

.col label {
	font-size:18px;
}

.col .tag-brief {
	display:inline-block;
	margin:0 8px;
	vertical-align:middle;
}

.col .tag-brief p {
	font-size:13px;
	margin-bottom:10px;
	text-align:left;
}

.outer {
	position:relative;
	display:block;
	width:100%;
}

.form-box .select-list {
	width:100%;
}

.form-box .select-list, .outer, .frm-distributor .btn {
	max-width:430px;
}

.form-box .select-header {
	height:36px;
	line-height:36px;
}

.form-box .select-header h3 {
	font-size:16px;
	margin:0;
	padding-top:0;
}


.has-item .title-default{
	display:none;
}

.form-box .limited3 .select-header {
	height:auto;
	min-height:36px;
}

.limited3 span:not(.title-default) {
	display:inline-block;
    margin:0 2px 2px 0;
    padding:3px 15px 2px 15px;
    background-color:#dbecef;
    font-size:14px;
    font-weight:400;
    vertical-align:top;
    -webkit-border-radius:4px;
    border-radius:4px;
    color:#333;
    line-height:1.4;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.limited3 .select-header h3 {
	padding:3px 0;
	white-space:normal;
	text-overflow:initial;
}


.level-2 {
	z-index:2;
}

.level-3 {
	z-index:3;
}

.text-muted {
	position:absolute;
	left:100%;
	top:12px;
	margin-left:10px;
	width:auto;
	height:14px;
	line-height:14px;
	font-size:13px;
	color:#999;
	white-space:nowrap;
}

.line-separate {
	position:relative;
	display:block;
	width:100%;
	height:1px;
	margin-bottom:16px;
	background-color:#e5e5e5;
}

.check-list .form-check{
	margin:0 0 10px 0;
}

.link-error {
	padding-top:16px;
}

.link-error label {
	font-size:14px;
}

.brand-logo-content {
	position:relative;
	display:block;
	width:100%;
	height:auto;
	padding:0 10px;
	background-color:#fff;
    border:1px solid #ced4da;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.no-file {
	height:38px;
	line-height:38px;
	font-size:18px;
	text-align:center;
	display:block;
	font-weight:300;
}

.no-file span {
	font-weight:400;
}

.has-file {
	position:relative;
	padding:8px 0;
	display:none;
}

.has-file::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}

.has-file img {
	float:left;
	display:block;
	width:90px;
	height:90px;
	margin-right:15px;
}

.has-file div {
	display:block;
	font-size:18px;
	font-weight:300;
}

.form-box .box .has-file div p {
	margin-bottom:10px;
}

.brand-logo-content input[type="file"] {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	cursor:pointer;
	opacity:0;
	z-index:2;	
}

.show-file input[type="file"] {
	left:10px;
	top:8px;
	width:90px;
	height:90px;
}

.show-file .no-file{
	display:none;
}

.show-file .has-file {
	display:block;
}




/*FORM POPUP*/
.overlay-panel {
	max-width:710px;
	padding:30px;
	text-align:left;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:none;
}

.overlay-panel.show {
	display:inline-block;
}

.error-login-pop {
	max-width:760px;
}

.confirm-delete-pop {
	max-width:590px;
}

.confirm-price-pop {
	max-width:900px;
}

.overlay-panel .form-box {
	padding:0;
	margin:0;
}

.overlay-panel * {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.overlay-panel .form-group {
	max-width:inherit;
}

.overlay-panel h3 {
	font-size:28px;
}

.panel-left h3 {
	margin:7px 0;
	color:#6f6b6b;
	font-size:20px;
}

.overlay-panel strong {
	font-weight:700;
}

.overlay-panel p {
	font-weight:400;
	font-size:16px;
}

.overlay-panel a.underline-link, .overlay-panel .underline-link {
	font-weight:700;
}

.panel-pic, .panel-pic img{
	display:block;
	width:100%;
	height:auto;
}

.panel-pic {
	text-align:right;
}

.slogan {
	display:inline-block;
	max-width:80%;
	margin:5px 0;
	font-size:16px;
	color:#666;
	font-weight:400;
	line-height:1.4;
}

.panel-right {
	padding-left:45px;
}

.close-popup {
	position:absolute;
	right:5px;
	top:5px;
	width:auto;
	height:auto;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

.close-popup:hover {
	opacity:0.5;
}

.close-popup img {
	display:block;
	width:20px;
	height:20px;
	margin:10px;
}









/*CALENDA*/
.ui-datepicker-inline .ui-datepicker .ui-widget .ui-widget-content .ui-helper-clearfix .ui-corner-all{}
.ui-datepicker{width:auto;min-width:270px;display:none;padding:10px;box-shadow:0 0px 8px rgba(3, 3, 3, 0.2);-webkit-border-radius:8px;border-radius:8px;background:#fff;margin:15px 0;z-index:10 !important}
.ui-datepicker .ui-datepicker-header{position:relative;padding:0;width:100%;height:auto}

.ui-datepicker-prev, .ui-datepicker-next {
	position:absolute;
	top:0;
	width:40px;
	height:30px;
	font-size:0;
	cursor:pointer;
}

.ui-datepicker-prev span, .ui-datepicker-next span{
	display:none;
}

.ui-datepicker-prev {
	left:0;
	background:url(../images/icons/chevron-left.png) no-repeat center center;
}

.ui-datepicker-next {
	right:0;
	background:url(../images/icons/chevron-right.png) no-repeat center center
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
	background-color:#f2f2f2;
}

.ui-datepicker-trigger {
	position:absolute;
	right:5px;
	top:4px;
	cursor:pointer;
}
	
thead tr{height:30px}

.ui-datepicker .ui-datepicker-title {
	margin:0 0 10px 0;
	font-size:16px;
	line-height:30px;
	text-align:center;
	font-weight:700;
}
.ui-datepicker table{width:100%;border-collapse:collapse;margin:0 0 6px;table-layout:inherit;min-width:inherit}
.ui-datepicker th{padding:8px;font-size:15px;background-color:transparent;color:#000}
.ui-datepicker th span{font-weight:700}
.ui-datepicker td{padding:1px;font-size:14px}
.ui-datepicker td span, .ui-datepicker td a{display:block;padding:3px;text-align:right;text-decoration:none;}
.ui-state-disabled{opacity:0.5}
.ui-datepicker .ui-datepicker-buttonpane{text-align:right}
.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:0;cursor:pointer;padding:5px 10px;width:auto;overflow:visible}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:none;display:inline-block;margin:0 auto;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{color:#000;text-align:center;font-size:16px}
.ui-widget-header .ui-state-default a:hover{border:0;background-color:#7fa92c;font-size:15px;color:#fff;text-align:center}
.ui-state-default a, .ui-state-default a:link,.ui-state-default a:visited{color:#1c94c4}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus{color:#000}
.ui-state-hover a, .ui-state-hover a:hover{color:#323232}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{color:#0093ff}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#0093ff}
.ui-datepicker-cover{position:absolute;z-index:-1;top:-4px;left:-4px;width:200px;height:200px}
.ui-datepicker-close{display:none}





/*BOTTOM*/
.ftr-top, .ftr-bot {
	position:relative;
	display:block;
}

.ftr-top {
	background-color:#fff;
}

.ftr-top .size-08 {
	width:54%;
}

.ftr-top .size-04 {
	width:46%;
}

.ftr-bot {
	background-color:#1da6c0;
}

.ftr-outer {
	padding:18px 13px;
}

.ftr-top .ftr-outer {
	padding:13px;
}

.ftr-inr p {
	color:#fff;
	font-size:12px;
	line-height:1.6;
	font-weight:400;
}

.ftr-inr span {
	position:relative;
	display:inline-block;
	font-size:14px;
	font-weight:300;
}

.ftr-logo a {
	display:inline-block;
	vertical-align:bottom;
	width:auto;
	height:auto;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out
}

.ftr-logo span {
	vertical-align:bottom;
	left:20px;
	top:-4px;
	color:#1da6c0
}

.ftr-logo a:hover {
	opacity:0.5
}

.social span {
	top:-4px;
	left:-10px;
	vertical-align:bottom;
	color:#666
}

.social {
	top:22px;
	position:relative;
	text-align:right
}

.social ul {
	display:inline-block;
	width:auto;
	height:auto;
	font-size:0;
	vertical-align:bottom
}

.social li {
	display:inline-block;
	width:32px;
	height:32px;
	margin:0 3px;
	vertical-align:top;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out
}

.social li a {
	display:block;
	line-height:0;
	overflow:hidden
}

.social li img {
	display:block;
	width:100%;
	height:auto
}

.social li:hover {
	opacity:0.5
}

.ncc .size-08 {
	width:48%;
}

.ncc .size-04 {
	width:52%;
	text-align:right;
}

.ncc .ftr-logo img {
	width:200px;	
}

.ncc .social {
	top:4px;
	display:inline-block;

	vertical-align:bottom;
}

.ncc .navigation {
	margin-bottom:-5px;
	padding:18px 0 0 0;
}

.ncc .nav > ul {
	border:none;
}

.ncc .nav > ul > li {
	margin-right:8px;
}

.ncc .nav > ul > li > a {
	padding:10px 0;
}

.ncc .nav > ul > li > a::after {
	bottom:2px;
}

#go-top{
	position:fixed;
	right:30px;
	bottom:30px;
	width:50px;
	height:50px;
	visibility:hidden;
	opacity:0;
	cursor:pointer;
	background:url(../images/icons/icon-top.png) no-repeat center center;
	background-size:cover;
	background-color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
	box-shadow:0 0 0 0 rgba(3,172,226,0.5);
	-webkit-transition:visibility, opacity, box-shadow 0.3s ease-in-out;
	transition:visibility, opacity, box-shadow 0.3s ease-in-out;
	z-index:10;
}

#go-top.show{
	visibility:visible;
	opacity:1;
}

#go-top.show:hover {
	box-shadow:0 0 30px 0 rgba(3,172,226,0.5);
}




