<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button>
      <ion-icon src="assets/icon/icon-music.svg"></ion-icon>
      <ion-label>Music</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="game">
      <ion-icon src="assets/icon/icon-cinema.svg"></ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cinema">
      <ion-icon src="assets/icon/icon-cinema.svg"></ion-icon>
      <ion-label>Cinema</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sport">
      <ion-icon src="assets/icon/icon-sport.svg"></ion-icon>
      <ion-label>Sport</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

