 @charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
h1, h2, h3, h4, h5, h6, p {
	font-size:100%;
}
img{
	border:none;
	outline:none;
}
a{
	text-decoration:none;
	color:#000;
}

button, input, textarea{
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
	font-family:inherit;
}

body {
  padding:0;
  margin:0;
  background-color:#a2d169;
  font-family:'Montserrat';
	font-weight:400;
  font-style:normal;
  color:#000;
  line-height:1.4;
  -webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:transparent;
	-webkit-user-select:none;
	user-select:none;
  overflow:hidden;
  overflow-y:auto;
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

.fs-pc{
  display:block;
}
.fs-sp {
  display:none;
}
.fs-not-psp{
  display:block;
}
.fs-psp {
  display:none;
}

/*Font*/

@font-face {
font-family:'Montserrat';
src:url('../fonts/Montserrat-Light.eot');
src:url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light.ttf') format('truetype'),
    url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight:300;
    font-style:normal;
    font-display:swap;
}

@font-face {
  font-family:'Montserrat';
  src:url('../fonts/Montserrat-Regular.eot');
  src:url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat-Regular.woff') format('woff'),
      url('../fonts/Montserrat-Regular.ttf') format('truetype'),
      url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
      font-weight:400;
  font-style:normal;
  font-display:swap;
}

@font-face {
font-family:'Montserrat';
src:url('../fonts/Montserrat-Medium.eot');
src:url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight:500;
    font-style:normal;
    font-display:swap;
}

@font-face {
font-family:'Montserrat';
src:url('../fonts/Montserrat-SemiBold.eot');
src:url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
    url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight:600;
    font-style:normal;
    font-display:swap;
}

@font-face {
  font-family:'Montserrat';
  src:url('../fonts/Montserrat-Bold.eot');
  src:url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../fonts/Montserrat-Bold.woff') format('woff'),
      url('../fonts/Montserrat-Bold.ttf') format('truetype'),
      url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
      font-weight:700;
      font-style:normal;
      font-display:swap;
}
  

/*Common*/
.fs-game{
  position:relative;
  display:block;
  width:100%;
  height:auto;
  overflow:hidden;
}
.fs-game::before{
  content:'';
  position:relative;
  display:block;
  width:100%;
  height:auto;
  padding-top:56.25%;
}
.fs-logo{
  position:absolute;
  left:5%;
  top:5%;
  width:100px;
  height:auto;
  display: block;
  cursor: pointer;
  z-index:3
}
.fs-logo img {
  width:100%;
}
.fs-nav{
  position: absolute;
  width:50px;
  height:auto;
  left:5%;
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  z-index:3;
}
.fs-nav ul{
  width:100%;
}
.fs-nav ul li, .fs-nav ul img{
  width:100%;
  display: block;
}
.fs-nav ul li{
  margin:10px auto;
  cursor: pointer;
}
.fs-game-items{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:2;
}
.fs-item{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  visibility:hidden;
	opacity:0;
}
.ready .fs-item{
  -webkit-transition:opacity 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:opacity 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}
.fs-item.current {
  opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}
.fs-footer{
  position: relative;
  display: none;
}

.fs-box, .fs-area-pic{
  position: relative;
  display: block;
}
.fs-area-pic img{
  display: block;
  width:100%;
}
.fs-but{
  padding:3% 5%;
  background-color:#166d0e;
  color:#fff;
  -webkit-border-radius:5px;
  border-radius:5px;
  font-weight:700;
  text-transform:uppercase;
  font-size:30px;
}
.fs-outer{
  position: absolute;
  left:0;
  top:10%;
  width:100%;
  height:auto;
  max-height:80vh;
  text-align: center;
}


/*step-01*/
.facts-box{
  display:inline-block;
  width:36%;
  height:auto;
}
.facts-box h1{
  margin-bottom:20px;
  font-size:60px;
  text-align:center;
  text-transform:uppercase;
  line-height:1.2;
}
.facts-box h1 span{
  display: block;
  font-size:62%;
}
.facts-box .fs-area-txt{
  padding:0 5%;
}
.facts-box p{
  margin-bottom:20px;
  font-size:26px;
  font-weight:500;
}
.fs-main-pics{
  position: absolute;
  right:12.5%;
  bottom:3.7%;
  width:26.5625%;
  height:auto;;
}
.fs-main-pics .fs-buts{
  position: absolute;
  left:0;
  top:0;
}


/*step-06*/
.confessions{
  width:64%;
  margin:0 auto;
}
.confessions h2{
  font-size:40px;
  text-transform: uppercase;
  margin-bottom:40px;
}
.fs-scroll-outer{
  position: absolute;
  left:0;
  top:5vw;
  display: block;
  width:100%;
  height:72vh;
}
.fs-scroll-box{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  padding:25px 0;
  overflow: hidden;
}
.fs-scroll-outer .nicescroll-rails {
  margin:30px 0 0 15px;
}
.fs-confession-item{
  position: relative;
  display: block;
  width:100%;
  padding:0 15px 15px 15px;
  background-color:#95c753;
  -webkit-border-radius:30px;
  border-radius:30px;
}
.user-icon{
  position: relative;
  top: -30px;
  display: block;
  width:60px;
  margin: -25px auto;
}
.fs-confession-item p{
  font-size:16px;
  color:#fff;
}
.confessions .fs-but {
  font-size:14px;
}



/*slider*/
.swiper-container {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  list-style:none;
  padding:0;
  z-index:1;
}
.swiper-wrapper {
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-transition-property:-webkit-transform;
  transition-property:-webkit-transform;
  -o-transition-property:transform;
  transition-property:transform;
  transition-property:transform, -webkit-transform;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform:translate3d(0px, 0, 0);
  transform:translate3d(0px, 0, 0);
}
.swiper-slide {
  -webkit-flex-shrink:0;
  -ms-flex-negative:0;
  flex-shrink:0;
  width:100%;
  height:100%;
  position:relative;
  -webkit-transition-property:-webkit-transform;
  transition-property:-webkit-transform;
  -o-transition-property:transform;
  transition-property:transform;
  transition-property:transform, -webkit-transform;
  background-color:#fff;
}
.swiper-button-prev,
.swiper-button-next {
  position:absolute;
  top:50%;
  width:1.04125vw;
  height:44px;
  margin-top:-22px;
  z-index:10;
  cursor:pointer;
  background-size:27px 44px;
  background-position:center;
  background-repeat:no-repeat;
}
.is-slider .swiper-button-prev,
.is-slider .swiper-button-next {
  height:auto;
}
.is-slider .swiper-button-prev::before,
.is-slider .swiper-button-next::before {
  content:'';
  position:relative;
  display:block;
  width:100%;
  height:auto;
  padding-top:190%;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image:url(../images/prev.png);
  left:20px;
  right:auto;
  background-size:cover;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image:url(../images/next.png);
  right:20px;
  left:auto;
  background-size:cover;
}
.swiper-pagination {
  position:absolute;
  text-align:center;
  -webkit-transition:300ms opacity;
  -o-transition:300ms opacity;
  transition:300ms opacity;
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  z-index:10;
}
.swiper-pagination-bullet {
  width:16px;
  height:16px;
  display:inline-block;
  -webkit-border-radius:50%;
  border-radius:50%;
  background:#e5e5e5;
  opacity:1;
  margin:0 5px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor:pointer;
}
.swiper-pagination-bullet-active {
  opacity:1;
  background:#e5e5e5;
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
.swiper-container-fade .swiper-slide {
  pointer-events:none;
  -webkit-transition-property:opacity;
  -o-transition-property:opacity;
  transition-property:opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events:none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events:auto;
}

.fs-banner{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 1;
}
.fs-banner .swiper-pagination{
  display: none;
}
.facts-box .swiper-slide{
  background-color:transparent;
}
.facts-box .swiper-pagination{
  position: relative;
  text-align:center;
  margin-bottom:20px;
}


/*Grid*/
.grid{position:relative;display:block;width:100%;height:auto}
.grid__loader{display:none;margin:0;}
.grid--loading .grid__loader {display:block;}
.grid:after {content:'';display:block;clear:both;}
.grid__sizer, .grid__item {position:relative;float:left;width:20%;padding:32px 5px}
.no-touch .grid__sizer, .no-touch .grid__item {padding:0}
.grid--loading .grid__item {visibility:hidden;}
.grid__item--size-a {width:66.6666%;}
.gallery-items img {
	width:100%;
	height:auto;
}
.grid__item {
	cursor: pointer;
}


/*By Height*/
.byHeight .fs-game{
  height:100vh;
  width:calc(100vh * 1920/1080);
  margin:0 auto;
}

/*KeyFrame*/
@-webkit-keyframes fadeIn {
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fadeIn {
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeOut {
  0%{
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes fadeOut {
  0%{
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

/*Animations*/
.bg div.off {
  -webkit-animation:fadeOut 1s forwards;
  animation:fadeOut 1s forwards;
}

@media screen and (max-width:1100px) {
  body{
    overflow-y:auto;
  }
  .fs-pc, .fs-not-psp{
    display:none;
  }
  .fs-sp, .fs-psp {
    display:block;
  }

  .isDesk .fs-game,
  .fs-game{
    position:relative;
    width:100%;
    height:auto;
    overflow:hidden;
  }
  .isDesk .fs-game::before,
  .fs-game::before{
    padding-top:177.7777777777778%;
  }
}

@media screen and (max-width:520px) and (orientation:portrait) {
  body:not(.isDesk){
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
  }
  body:not(.isDesk) .fs-game{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
  }
  body:not(.isDesk) .fs-game::before{
    display:none;
  }

}

/*IP Xplus*/
@media screen and (max-width:420px)  and (min-width:400px) and (min-height:700px) and (max-height:740px) and (orientation:portrait) { 
 
}

/*IP 6,7,8 Plus*/
@media screen and (max-width:420px)  and (min-width:400px) and (min-height:600px) and (max-height:630px) and (orientation:portrait) { 
 
}

/*GG*/
@media screen and (max-width:420px)  and (min-width:400px) and (min-height:600px) and (max-height:615px) and (orientation:portrait) { 
 
}

/*GG*/
@media screen and (max-width:390px)  and (min-width:380px) and (min-height:480px) and (max-height:510px) and (orientation:portrait) { 
 
}

/*GG*/
@media screen and (max-width:370px)  and (min-width:358px) and (min-height:540px) and (max-height:600px) and (orientation:portrait) { 
 
}

/*LG*/
@media screen and (max-width:370px)  and (min-width:358px) and (min-height:540px) and (max-height:594px) and (orientation:portrait) { 
 
}

/*GG*/
@media screen and (max-width:370px)  and (min-width:358px) and (min-height:500px) and (max-height:520px) and (orientation:portrait) { 
  
}

/*LG*/
@media screen and (max-width:370px)  and (min-width:358px) and (min-height:500px) and (max-height:510px) and (orientation:portrait) { 
 
}

/*SS S3  S4 S5 Note5*/
@media screen and (max-width:370px)  and (min-width:358px) and (min-height:550px) and (max-height:564px) and (orientation:portrait) { 
  
}

/*SS S8 S9 S9+*/
@media screen and (max-width:370px)  and (min-width:358px) and (min-height:580px) and (max-height:610px) and (orientation:portrait) { 
  
}

/*IP X XMAS*/
@media screen and (max-width:380px)  and (min-width:370px) and (min-height:580px) and (max-height:660px) and (orientation:portrait) { 
  
}

/*IP  6,7,8*/
@media screen and (max-width:380px)  and (min-width:370px) and (max-height:560px) and (orientation:portrait) { 
  
}

/*IP*/
@media screen and (max-width:350px) and (orientation:portrait) { 
  
}


/*FaceBook InAPP*/
@media screen and (max-width:520px) and (orientation:portrait) {
  body.isFace {
    position:relative;
    left:auto;
    top:auto;
    width:100%;
    height:auto;
    overflow:hidden;
    overflow-y:auto;
  }
  body.isFace .fs-game{
    position:relative;
    width:100%;
    height:auto;
    overflow:hidden;
  }
  body.isFace .fs-game::before{
    display:block;
    padding-top:177.7777777777778%;
  }
 
}

@media screen and (max-width:840px) and (orientation:landscape) {
  /*Common*/  
  .fs-pc{
    display:none;
  }
  .fs-sp {
    display:block;
  }
  body:not(.isDesk) .fs-game{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
  }
  body:not(.isDesk) .fs-game::before{
    display:none;
  }

}

@media screen and (max-width:840px) and (min-height:380px) and (max-height:420px) and (orientation:landscape),
screen and (max-width:700px) and (orientation:landscape) {
  
}
