@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*html5*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	width:100%;
	height:auto;
	background:#fff;
	color:#333;
	line-height:1;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:-moz-none;
	-ms-user-select:none;
	font-size:100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border:none;
	outline:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input {
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
}
a{
	text-decoration:none;
	color:#039fcf;
}
p a:hover {
	color:#fbd700;
}
.clear::after{
	content:'';
	display:block;
	width:100%;
	height:0;
	clear:both;
}

.hide-text {
	font-size:0;
	text-indent:150%;
	overflow:hidden;
}

#page-wrap,
#hdr-wrap,
#cnt-wrap,
#ftr-wrap,
.hdr-inr,
.cnt-inr,
.ftr-inr {
	display:block;
	width:100%;
	height:auto;
}

#hdr-wrap {
	position:fixed;
	left:0;
	top:0;
	z-index:2;
}

.hdr-inr{

}

#page-wrap {
	/*position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	overflow:hidden;
	overflow-y:auto;*/
}

.logo {
	position:absolute;
	left:50%;
	top:6px;
	width:70px;
	height:auto;
	margin-left:-35px;
}

.navigation, .nav {
	position:relative;
	display:block;
	height:auto;	
}

.nav ul {
	position:relative;
	display:inline-block;
	width:auto;
	height:70px;
	line-height:70px;
	vertical-align:top;	
}

#nav-but{
	position:absolute;
	width:40px;
	height:40px;
}

.section-box,
.section-inr {
	position:relative;
	display:block;
	width:100%;
	height:auto;
	min-height:15vh;
}

.title{}
.lvl-01{}
.lvl-02{}
.lvl-03{}

.lvl-01 h1{}
.lvl-01 h2{}
.lvl-01 h3{}
.lvl-01 h4{}

.lvl-02 h2{}
.lvl-02 h3{}
.lvl-02 h4{}

.lvl-03 h2{}
.lvl-03 h3{}
.lvl-03 h4{}

.box{
	position:relative;
	display:block;
	float:left;
}

.size-01{width:8.3333%}
.size-02{width:16.6666%}
.size-03{width:25%}
.size-04{width:33.3333%}
.size-05{width:41.6666%}
.size-06{width:50%}
.size-07{width:58.3333%}
.size-08{width:66.6666%}
.size-09{width:75%}
.size-10{width:83.3333%}
.size-11{width:91.6666%}
.size-12{width:100%}

.area-txt,
.area-pic,
.area-bg {
	display:block;
}

.area-pic img {
	display:block;
	width:auto;
	height:auto;
	max-width:100%;
	margin:0 auto;
}

.banner-box{
	width:100%;
	height:100vh;
}

.pcBg, .pcPic {
	display:block;
}

.spBg, .spPic {
	display:none;
}


/*home page*/
.article-box{
	position:relative;
	display:inline-block;
	width:90%;
	height:auto;
	max-width:1000px;
	margin-top:-13.125rem;
	padding-right:150px;
	text-align:center;
	overflow:hidden;
	z-index:1;
}

.article-slider{
	position:relative;
	display:block;
	width:100%;
	height:auto;
}


/*bottom*/
#go-top{
	position:fixed;
	right:30px;
	bottom:30px;
	width:50px;
	height:50px;
	visibility:hidden;
	opacity:0;
}


/*media*/
@media screen and (max-width:980px){
	/*reset*/
	html, body {
		font-size:81.25%;
	}
	
	.pcBg, .pcPic {
		display:none;
	}
	
	.spBg, .spPic {
		display:block;
	}
	
	
	/*header*/
	.hdr-inr {
		height:70px;	
	}
	
	/*home page*/
	.article-box {
		width:90%;
		margin:0;
		padding:0;
		
	}
	
	
}

@media screen and (max-width:520px) {
	
}